#set($totalPackets=$shippingManifest.manifestItems.size())
<table border="1">
	<tr style="font-size:9px;font-weight:bold;" cellpadding="0 1 2 1">
		<td>Manifest Number: ${shippingManifest.code}</td>
		<td>Courier Name: ${shippingManifest.shippingProvider}</td>
		#if(${shippingManifest.shippingMethod})
			#set($start = $shippingManifest.shippingMethod.indexOf("-") + 1)
			#set($end = $shippingManifest.shippingMethod.length())
			#set($paymentMethod=$shippingManifest.shippingMethod.substring($start,$end))
			<td>Payment Method: $paymentMethod</td>
		#end
		<td>Number of Packets: ${totalPackets}</td>
		<td>Date: ${dateutils.dateToString(${shippingManifest.created}, 'dd/MM/yyyy')}</td>
	</tr>
</table>
<br/>
<table style="font-size:7px" border="1">
    <tr valign="top">
    	<th width="3%">Serial<br/>No.</th>
        <th width="20%">Airwaybill</th>
        <th>Reference Number</th>
        <th>Company Name</th>
        <th width="5%">Attention</th>
        <th width="10%">Address1</th>
        <th>Address2</th>
        <th>Address3</th>
        <th width="4%">Pincode</th>
        <th>Tel Number</th>
        <th>Mobile Number</th>
        <th width="10%">Contents</th>
        <th width="4%">Weight<br/>(Kg)</th>
        <th>Declared Value</th>
        <th>Collectable</th>
        <th width="4%">Mode</th>
    </tr>
    #foreach($manifestItem in $shippingManifest.manifestItems)
    <tr>
    	<td border="0 0 1 1">${foreach.count}</td>
        <td border="0 0 1 0"><img src="https://dev.unicommerce.com/barcode/code128c/28/1/${manifestItem.trackingNumber}" /></td>
        <td>${manifestItem.shippingPackageCode}</td>
        <td></td>

        <td>${manifestItem.shippingAddress.name}</td>
        <td>$manifestItem.shippingAddress.addressLine1</td>
        <td>$manifestItem.shippingAddress.addressLine2</td>

        <td>$manifestItem.shippingAddress.city</td>
        <td>$manifestItem.shippingAddress.pincode</td>
        <td>$manifestItem.shippingAddress.phone</td>

        <td>$manifestItem.shippingAddress.phone</td>
        <td>${manifestItem.productDescription}</td>
        #set($weight = ${manifestItem.shippingPackageType.boxWeight} / 1000.0)
        <td>$weight</td>

        <td>${manifestItem.totalAmount}</td>
        <td>#if($manifestItem.cashOnDelivery)${manifestItem.totalAmount}#{else}0#{end}</td>
        <td>#if($manifestItem.cashOnDelivery)COD #else Prepaid #end</td>
    </tr>
    #end
</table>