<br />
<br />
<br />
<table border="0">
 <tr>
  <td align="left"><span
   style="font-size: 17px; font-weight: bold; color: maroon;">
    SNAPDEAL RETURN MANIFEST</span></td>
 </tr>
</table>
<table id="dataTable" border="0">
 <tr>
  <td>Return Manifest Number: <span style="font-weight: bold;">$returnManifest.id</span></td>
  <td>Shipping Provider: <br/><span style="font-weight: bold;">$returnManifest.shippingProvider</span></td>
  <td>User: <span style="font-weight: bold;">$returnManifest.username</span></td>
  <td>Date: <span style="font-weight: bold;">${dateutils.dateToString($returnManifest.created,'dd-MMM-yyyy')}</span></td>
  
 </tr>
</table>
   
<table id="dataTable" class="dataTable" border="1">
 <tr>
  <th width="10%" style="text-align:center; font-size:8px;">S.No</th>
  <th width="34%" style="text-align:center; font-size:8px;">Shipping Package Code</th>
  <th width="40%" style="text-align:center; font-size:8px;">Tracking Number</th>
  <th width="8%" style="text-align:center; font-size:8px;">No Of<br/>Products</th>
  <th width="5%" style="text-align:center; font-size:8px;">Weight</th>
  <th width="10%" style="text-align:center; font-size:8px;">Amount</th>
 </tr>
 #foreach($manifestItem in $returnManifest.manifestItems)
 <tr>
  <td style="text-align:center">${foreach.count}</td>
  <td>${manifestItem.shippingPackageCode}</td>
  <td>${manifestItem.trackingNumber}</td>
  <td style="text-align:center">${manifestItem.quantity}</td>
  <td style="text-align:center; font-size:6px;">${manifestItem.weight}</td>
  <td style="text-align:center; font-size:6px;">${manifestItem.totalAmount}</td>
 </tr>
 #end
</table>