#if($INVOICE_LABEL == 'Tax' || ($INVOICE_LABEL == 'Depends On Order' && $shippingPackage.saleOrder.customer && $shippingPackage.saleOrder.customer.registeredDealer))
    #if($DISPLAY_SELLER_LOGO == 'true')

    <table border="0">
        <tr>

            <td cellpadding="0 0 0 10">
                <img src="/object-store/view/$SELLER_LOGO" />
            </td>

        </tr>
    </table>
    #end
<br/>


<table border="0" style="font-size:9px;">
    #set($jabongCodeMap={})
    #foreach($saleOrderItem in $shippingPackage.saleOrderItems)
        #if(!$jabongCodeMap[$saleOrderItem.itemType.skuCode])
            #set($jabongCodeMap[$saleOrderItem.itemType.skuCode]=$saleOrderItem.channelSkuCode)
        #end
    #end
    <tr>
        <td valign="top" style="font-weight:bold;font-size:12px;" colspan="2" align="center">

            TAX INVOICE

        </td>
    </tr>
    <tr>
        <td colspan="2"> </td>
    </tr>

    <tr>
        <td valign="top" style="font-weight:bold;" width="55%">
            ${saleOrder.billingAddress.name}<br/>
            ${saleOrder.billingAddress.addressLine1}<br/>
            #if(${saleOrder.billingAddress.addressLine2})${saleOrder.billingAddress.addressLine2}<br/> #end
            ${cache.getCache("locationCache").getCountryByCode(${saleOrder.billingAddress.countryCode}).name},${cache.getCache("locationCache").getStateByCode(${saleOrder.billingAddress.stateCode}).name}<br/>
            ${saleOrder.billingAddress.city} - ${saleOrder.billingAddress.pincode}<br/>
            Phone:$saleOrder.billingAddress.phone<br/>
            #if($DISPLAY_BUYER_VAT_TIN_NUM == 'true' )
                VAT TIN Number:
                #if($saleOrder.customer.tin)
                    <b>$saleOrder.customer.tin</b>
                #end
            #else
                VAT TIN Number:

            #end
            <br/>
            #if($DISPLAY_BUYER_VAT_TIN_NUM == 'true' )

                CST TIN Number:
                #if($saleOrder.customer.cstNumber)
                    <b>$saleOrder.customer.cstNumber</b>
                #end

            #end
            <br/>
            Order Date: ${dateutils.dateToString($saleOrder.created,'dd-MMM-yyyy')}<br/>
            PO:${saleOrder.displayOrderCode}
            #if($DISPLAY_ORDER_NUM_BARCODE == 'true' )
                <span> #if($$saleOrder.displayOrderCode.contains("/"))<img align="center"  src="https://dev.unicommerce.com/barcode/code128c/26/.8/$saleOrder.displayOrderCode"/>#else
                    <img align="center"  src="https://dev.unicommerce.com/barcode/code128c/26/.8/$saleOrder.displayOrderCode"/> #end </span>
            #end


            #if($DISPLAY_CHANNEL_NAME == 'true' )
                Ordered Via: $shippingPackage.saleOrder.channel.code
            #end
        </td>
        <td valign="top">
            #set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('BILLING')})

            Invoice No.: $invoice.code<br/> #if($DISPLAY_INVOICE_BARCODE == 'true' )
            <img src="https://dev.unicommerce.com/barcode/code39/20/0.5/${invoice.code}"  />
        #end
            <br/>
            Invoice Date:${dateutils.dateToString($invoice.created,'dd-MMM-yyyy')}<br/>

            #if($DISPLAY_WAREHOUSE_NAME == 'true' || $DISPLAY_WAREHOUSE_ADDRESS == 'true' )
                #if($DISPLAY_WAREHOUSE_NAME == 'true' )
                    ${invoice.fromParty.name}
                #end
                #if($DISPLAY_WAREHOUSE_ADDRESS == 'true' )
                    $warehouseAddress.addressLine1 #if($warehouseAddress.addressLine2)$warehouseAddress.addressLine2<br/> #end
                    ${cache.getCache("locationCache").getCountryByCode(${warehouseAddress.countryCode}).name},
                    #if($shippingPackage.shippingAddress.countryCode=="IN")${cache.getCache("locationCache").getStateByCode(${warehouseAddress.stateCode}).name}
                    #else $warehouseAddress.stateCode #end<br/>
                    ${warehouseAddress.city} - ${warehouseAddress.pincode}  <br/>Ph No:  ${warehouseAddress.phone}<br/>
                #end
            #end

            #if($DISPLAY_SELLER_VAT_TIN_NUM == 'true' )
                VAT TIN Number:

                <b>#if($invoice.fromParty.tin)$invoice.fromParty.tin #end</b>
            #else
                VAT TIN Number:

            #end<br/>
            #if($DISPLAY_SELLER_CST_TIN_NUM == 'true' )
                CST TIN Number:

                <b>#if($invoice.fromParty.cstNumber)$invoice.fromParty.cstNumber #end</b>
            #else
                CST TIN Number:
            #end <br/>
            #if($DISPLAY_SELLER_CIN_NUM == 'true' )
                CIN Number:

                <b>#if($shippingPackage.facility.cin)$shippingPackage.facility.cin #end</b>
            #end
        </td>
    </tr>

</table>
<br/>
<table border="1" cellspacing="0">
    <tr style="font-size:9px;font-weight:bold;" cellpadding="0 0 2 2">
        <td  width="6%">Sr No.</td>
        #if($DISPLAY_PRODUCT_NAME == 'true' )
            #if($DISPLAY_PRODUCT_NAME == 'true' )
                <td  width="15%">Product Name</td>
            #end
        #else
        #end
        #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
            #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
                <td  width="10%">Product SKU</td>
            #end
        #else

        #end
        <td  width="15%">$saleOrder.channel.code Code</td>
        #if($DISPLAY_MRP == 'true' )
            #if($DISPLAY_MRP == 'true' )
                <td  width="7%" >MRP</td>
            #end
        #else
        #end
        <td  width="4%" >Units</td>
        <td  width="8%" >Rate</td>
        #if($DISPLAY_TAX == 'true' )
            #if($DISPLAY_TAX == 'true' )
                <td  width="6%" >Tax</td>
            #end
        #else
        #end
        #if($DISPLAY_DISCOUNT == 'true' )
            #if($DISPLAY_DISCOUNT == 'true' )
                <td  width="7%" >Discount</td>
            #end
        #else
        #end
        <td width="8%" >Amount</td>
    </tr>
    #set($finalTotal=$numberutils.newBigDecimal(0))
    #set($totalQty=0)
    #set($taxCform=$numberutils.newBigDecimal(0))
    #set($totalTax1=$numberutils.newBigDecimal(0))
    #set($totalTax2=$numberutils.newBigDecimal(0))
    #set($subTotal=$numberutils.newBigDecimal(0))
    #set($totalDisc=$numberutils.newBigDecimal(0))
    #set($prepaidAmount=$numberutils.newBigDecimal(0))
    #foreach($invoiceItem in $invoice.invoiceItems)
        #set($cstOrVat=$invoiceItem.vat.add($invoiceItem.cst))
        #set($totalQty = $totalQty+$invoiceItem.quantity)
        #set($finalTotal=$finalTotal.add($invoiceItem.total))
        #set($subTotal=$subTotal.add($invoiceItem.subtotal))
        #set($totalDisc=$totalDisc.add($invoiceItem.discount))
        #set($prepaidAmount=$prepaidAmount.add($invoiceItem.prepaidAmount))

        #if($invoiceItem.total.subtract($cstOrVat).intValue() == 0)
            #set($cstPercent = 0 )
        #else
            #set($cstPercent=$numberutils.divide($cstOrVat.multiply($numberutils.newBigDecimal(100)), $invoiceItem.total.subtract($cstOrVat)))
        #end
        #if($cstPercent.intValue()==2)
            #set($taxCform=$taxCform.add($invoiceItem.vat).add($invoiceItem.cst))
        #elseif($cstPercent.intValue()==5)
            #set($totalTax1=$totalTax1.add($invoiceItem.vat).add($invoiceItem.cst))
        #else
            #set($totalTax2=$totalTax2.add($invoiceItem.vat).add($invoiceItem.cst))
        #end
        <tr style="font-size:9px;" cellpadding="0 0 2 2">
            <td>$foreach.count</td>
            #if($DISPLAY_PRODUCT_NAME == 'true' )
                #if($DISPLAY_PRODUCT_NAME == 'true' )
                    <td>#if($DISPLAY_BRAND == 'true') #if($invoiceItem.itemType.brand) $invoiceItem.itemType.brand - #end #end #if($shippingPackage.saleOrder.productManagementSwitchedOff) $invoiceItem.description #else #if($invoiceItem.itemType.name) $invoiceItem.itemType.name #end #if($DISPLAY_COLOR == 'true' && $DISPLAY_SIZE == 'true') #if($invoiceItem.itemType.color) ($invoiceItem.itemType.color, #end #if($invoiceItem.itemType.size)$invoiceItem.itemType.size) #end #else #if ($DISPLAY_COLOR == 'true') #if($invoiceItem.itemType.color)($invoiceItem.itemType.color) #end #end #if ($DISPLAY_SIZE == 'true') #if($invoiceItem.itemType.size) ($invoiceItem.itemType.size) #end #end #end #end
                        <br/>
                        #if($skuToItemDetails[$invoiceItem.itemType.skuCode]) IMEI No:$skuToItemDetails[$invoiceItem.itemType.skuCode] #end<br/>
                        #if($skuToSerial[$invoiceItem.itemType.skuCode]) Serial No:$skuToSerial[$invoiceItem.itemType.skuCode] #end
                    </td>
                #end
            #else
            #end
            #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
                #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
                    <td>$invoiceItem.itemType.skuCode</td>
                #end
            #else
            #end
            <td>$jabongCodeMap[${invoiceItem.itemType.skuCode}]</td>

            #if($DISPLAY_MRP == 'true' )
                #if($DISPLAY_MRP == 'true' )
                    <td>#if($invoiceItem.itemType.maxRetailPrice) $invoiceItem.itemType.maxRetailPrice #end</td>
                #end
            #else
            #end
            <td ><b>$invoiceItem.quantity </b></td>
            #set($rate=$numberutils.divide($invoiceItem.subtotal.add($invoiceItem.discount), $invoiceItem.quantity))
            <td >$rate</td>
            #if($DISPLAY_TAX == 'true' )
                #if($DISPLAY_TAX == 'true' )
                    <td>$math.roundTo(3,$invoiceItem.taxPercentage) %</td>
                #end
            #else
            #end
            #if($DISPLAY_DISCOUNT == 'true' )
                #if($DISPLAY_DISCOUNT == 'true' )
                    <td align="right">$invoiceItem.discount</td>
                #end
            #else
            #end
            <td ><b>$invoiceItem.subtotal.add($invoiceItem.discount)</b></td>
        </tr>
    #end

    <tr style="font-size:9px;" cellpadding="0 2 2 2">
        <td></td>
        #if($DISPLAY_PRODUCT_NAME == 'true' )
            <td>Total</td>
        #else
        #end
        #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
            <td></td>
        #else
        #end
        #if($DISPLAY_PRODUCT_NAME != 'true' || $DISPLAY_PRODUCT_SKU_CODE != 'true' || $DISPLAY_MRP != 'true' || $DISPLAY_TAX != 'true' || $DISPLAY_DISCOUNT != 'true')
            <td>Total</td>
        #end
        #if($DISPLAY_MRP == 'true' )
            <td></td>
        #else
        #end
        <td align="center">$totalQty</td>
        <td></td>
        #if($DISPLAY_TAX == 'true' )
            <td></td>
        #else
        #end
        #if($DISPLAY_DISCOUNT == 'true' )
            <td></td>
        #else
        #end
        <td align="right">$subTotal.add($totalDisc)</td>
    </tr>

</table>
<br/>
    #if($DISPLAY_SIGNATURE == 'true')
    <table>


        #if($SIGNATURE_IMAGE)
        <tr>
            <td valign="top">
                <img  src="https://dev.unicommerce.com/object-store/view/${SIGNATURE_IMAGE}"/><br/>
                Authorised Signatory

            </td>


        #end


    </tr>

    </table>
    #end
<table border="0">
    <tr style="font-size:9px;">

        <td valign="top"  width="67%">

        </td>

        <td style="font-weight:bold;" width="20%" cellpadding="0 2 2 2" border="1 0 0 1">
            SUB TOTAL
        </td>
        <td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 0 0" align="right">
            $subTotal.add($totalDisc)
        </td>
    </tr>



    #set($taxDetails={})
    #foreach($invoiceItem in $invoice.invoiceItems)
        #if($invoiceItem.taxPercentage)
            #if(!$taxDetails[$invoiceItem.taxPercentage])
                #set($taxDetails[$invoiceItem.taxPercentage] = $invoiceItem.cst.add($invoiceItem.vat))

            #else
                #set($taxDetails[$invoiceItem.taxPercentage] = $taxDetails[$invoiceItem.taxPercentage].add($invoiceItem.cst.add($invoiceItem.vat)))
            #end
        #end

    #end

    #if($DISPLAY_TOTAL_VAT_CST == 'true' )
        #foreach( $key in $taxDetails.keySet())

            <tr style="font-size:9px;">
                <td valign="top"  width="67%">

                </td>
                <td style="font-weight:bold;" width="20%" cellpadding="0 2 2 2" border="1 0 0 1">
                    #if($shippingPackage.shippingAddress.stateCode==${warehouseAddress.stateCode})VAT #else CST #end #if($key==2) Against C form #end #if($key>0) $key.stripTrailingZeros() #else 0 #end%
                </td>
                <td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 0 0" align="right">
                    $taxDetails.get($key)
                </td>
            </tr>
        #end
    #end
    #if($DISPLAY_SHIPPING_CHARGES == 'true' )
        <tr style="font-size:9px;">
            <td valign="top"  width="67%">
                Authorised Signatory
            </td>
            <td style="font-weight:bold;" width="20%" cellpadding="0 2 2 2" border="1 0 0 1">
                Shipping Charges
            </td>
            <td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 0 0" align="right">
                $shippingPackage.shippingCharges
            </td>
        </tr>
    #end
    #if($DISPLAY_COD_CHARGES == 'true' )
        <tr style="font-size:9px;">
            <td valign="top"  width="67%">

            </td>
            <td style="font-weight:bold;" width="20%" cellpadding="0 2 2 2" border="1 0 0 1">
                COD Charges
            </td>
            <td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 0 0" align="right">
                $shippingPackage.cashOnDeliveryCharges
            </td>
        </tr>
    #end
    #if($DISPLAY_GIFT_WRAP_CHARGES == 'true' )
        <tr style="font-size:9px;">
            <td valign="top"  width="67%">

            </td>
            <td style="font-weight:bold;" width="20%" cellpadding="0 2 2 2" border="1 0 0 1">
                GiftWrap Charges
            </td>
            <td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 0 0" align="right">
                $shippingPackage.giftWrapCharges
            </td>
        </tr>
    #end
    #if($DISPLAY_TOTAL_DISCOUNT == 'true' )
        <tr style="font-size:9px;">
            <td valign="top"  width="67%">

            </td>
            <td style="font-weight:bold;" width="20%" cellpadding="0 2 2 2" border="1 0 0 1">
                Total Discount
            </td>
            <td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 0 0" align="right">
                (-)$totalDisc
            </td>
        </tr>
    #end
    #if($DISPLAY_PREPAID_AMOUNT == 'true' )
        <tr style="font-size:9px;">
            <td valign="top"  width="67%">

            </td>
            <td style="font-weight:bold;" width="20%" cellpadding="0 2 2 2" border="1 0 0 1">
                Prepaid Amount
            </td>
            <td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 0 0" align="right">
                $prepaidAmount
            </td>
        </tr>
    #end

    #set ($myMap1 = {})
    #set ($myMap2 = {})
    $myMap1.put("USD","Dollar")
    $myMap1.put("GBP","Pound")
    $myMap1.put("INR","Rupees")
    $myMap1.put("EUR","Euro")
    $myMap2.put("USD","Cents")
    $myMap2.put("GBP","Penny")
    $myMap2.put("INR","Paise")
    $myMap2.put("EUR","Euro Cents")





    <tr style="font-size:9px;">
        <td valign="bottom">

        </td>
        <td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 0 1 1">
            TOTAL
        </td>
        <td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 1 0" align="right">
            #set($charges=$shippingPackage.shippingCharges.add($shippingPackage.cashOnDeliveryCharges).add($shippingPackage.giftWrapCharges))
        #set($finalTotal=$finalTotal.add($charges).subtract($prepaidAmount))
            $finalTotal
        </td>
    </tr>
    #set($grandTotalInt = $finalTotal.intValue())
    #set($grandTotalFloat = $finalTotal.subtract($numberutils.newBigDecimal($grandTotalInt)))
    #set($grandTotalFloat = $grandTotalFloat.multiply($numberutils.newBigDecimal(100)))
    #if($DISPLAY_AMOUNT_IN_WORDS == 'true')
        <tr style="font-size:9px;">
            <td style="font-weight:bold;" colspan="3" cellpadding="0 2 2 2" align="right">
                Total Amount in Words: $saleOrder.currencyCode $numberutils.toWords($grandTotalInt) #if($myMap1.get(${saleOrder.currencyCode}))$myMap1.get(${saleOrder.currencyCode}) #end
                and $numberutils.toWords($grandTotalFloat.intValue()) #if($myMap2.get(${saleOrder.currencyCode}))$myMap2.get(${saleOrder.currencyCode}) #end Only
            </td>
        </tr>
    #end
</table>
    #if($DISPLAY_NOTES == 'true')
    <table>
        <tr>
            <td> Notes<br/>
                #if($NOTES)
                    $NOTES
                #end
            </td>
        </tr>
    </table>
    #end

    #if($DISPLAY_TERMS_AND_CONDITIONS == 'true')
    <table>
        <tr>
            <td> Terms & Condition<br/>
                #if($TERMS_AND_CONDITIONS)
                    $TERMS_AND_CONDITIONS
                #end
            </td>
        </tr>
    </table>
    #end


#else       <div>
    <style class="xl5" style="font-size:5px;"/>
    <style class="xl6" style="font-size:6px;"/>
    <style class="xl7" style="font-size:7px;"/>
    <style class="xl8" style="font-size:8px;"/>
    <style class="xl9" style="font-size:9px;"/>
    <style class="xl10" style="font-size:10px;"/>
    <style class="xl11" style="font-size:11px;"/>
    <style class="xl12" style="font-size:12px;"/>
    <style class="xl8b" style="font-size:8px;font-weight:bold;"/>
    <style class="xl9b" style="font-size:9px;font-weight:bold;" />
    <style class="xl12b" style="font-size:12px;font-weight:bold;"/>
    <style class="xl14" style="font-size:14px;font-weight:bold;"/>
</div>
    #set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('SHIPPING')})
    #set($warehouseContact = ${shippingPackage.facility.getPartyContactByType('PRIMARY')})
    #set($skuToSkuDetails = {})
    #set($taxDetails = {})
    #set($skuToItemDetails={})
    #set($skuToSerial={})
    #foreach($saleOrderItem in $shippingPackage.saleOrderItems)
        #if($saleOrderItem.itemDetails)
            #set($additionalInfo=$jsonutils.stringToJson($saleOrderItem.itemDetails))
            #set($imeiN0=$additionalInfo.get("imei"))

            #if(!$skuToItemDetails[$saleOrderItem.itemType.skuCode])
                #set($skuToItemDetails[$saleOrderItem.itemType.skuCode]=$imeiN0)
            #else
                #set($imei=$skuToItemDetails[$saleOrderItem.itemType.skuCode])
                #set($skuToItemDetails[$saleOrderItem.itemType.skuCode]=$imei+","+$imeiN0)
            #end
        #end
    #end

    #foreach($saleOrderItem in $shippingPackage.saleOrderItems)
        #if($saleOrderItem.itemDetails)
            #set($additionalInfo=$jsonutils.stringToJson($saleOrderItem.itemDetails))
            #set($serialN0=$additionalInfo.get("serialNumber"))

            #if(!$skuToSerial[$saleOrderItem.itemType.skuCode])
                #set($skuToSerial[$saleOrderItem.itemType.skuCode]=$serialN0)
            #else
                #set($sr=$skuToSerial[$saleOrderItem.itemType.skuCode])
                #set($skuToSerial[$saleOrderItem.itemType.skuCode]=$sr+","+$serialN0)
            #end
        #end
    #end

    #foreach($invoiceItem in $invoice.invoiceItems)
        #if($invoiceItem.taxPercentage)
            #if(!$taxDetails[$invoiceItem.taxPercentage])
                #set($taxDetails[$invoiceItem.taxPercentage] = $invoiceItem.cst.add($invoiceItem.vat))

            #else
                #set($taxDetails[$invoiceItem.taxPercentage] = $taxDetails[$invoiceItem.taxPercentage].add($invoiceItem.cst.add($invoiceItem.vat)))
            #end
        #end

    #end
    #set($noOfTaxLines=$taxDetails.size())

    #foreach($saleOrderItem in $saleOrder.saleOrderItems)
        #if(!$skuToSkuDetails[$saleOrderItem.itemType.skuCode])
            #set($skuToSkuDetails[$saleOrderItem.itemType.skuCode] = $saleOrderItem.item.code)

        #else
            #set($skuToSkuDetails[$saleOrderItem.itemType.skuCode] = $skuToSkuDetails[$saleOrderItem.itemType.skuCode]+"<br/>"+$saleOrderItem.item.code)
        #end

    #end
<div class="xl10">

<table>
    #if($DISPLAY_SELLER_LOGO == 'true')
        <tr>
            #if($DISPLAY_SELLER_LOGO == 'true')
                <td padding="0"><img src="/object-store/view/${SELLER_LOGO}"  /></td>
            #end
            <td  class="xl12b" valign="bottom" align="center">Retail Invoice</td>
            <td ></td>

        </tr>
    #else

        <tr>

            <td padding="0"><img src="/object-store/view/"  /></td>

            <td  class="xl12b" valign="bottom" align="center">Retail Invoice</td>
            <td ></td>

        </tr>


    #end
</table>

<table  border=".5">
<tr valign="top">
    <td  border=".5 0 0 .5" valign="top" cellpadding="-5 0 0 4"  rowspan="2">Sender<br/>
        #if($DISPLAY_WAREHOUSE_NAME == 'true' || $DISPLAY_WAREHOUSE_ADDRESS == 'true' )

            #if($DISPLAY_WAREHOUSE_NAME == 'true' )
                ${invoice.fromParty.name},
            #end
            <br/>
            #if($DISPLAY_WAREHOUSE_ADDRESS == 'true' )
                #set($senderAddress=${warehouseAddress.addressLine1})
                #if($warehouseAddress.addressLine2)
                    #set($senderAddress=$senderAddress + "," + $warehouseAddress.addressLine2)
                #{end}

                $senderAddress

                <br/>
                ${cache.getCache("locationCache").getCountryByCode(${warehouseAddress.countryCode}).name},
                #if($shippingPackage.shippingAddress.countryCode=="IN")${cache.getCache("locationCache").getStateByCode(${warehouseAddress.stateCode}).name}
                #else $warehouseAddress.stateCode #end<br/>
                ${warehouseAddress.city} - ${warehouseAddress.pincode}  <br/>Ph No:  ${warehouseAddress.phone}

            #end
        #else


        #end

    </td>
    <td border=".5 .5 0 .5" valign="top" cellpadding="-5 0 2 4">Invoice No.<br/><b>$invoice.code</b>
        #if($DISPLAY_INVOICE_BARCODE == 'true' ) <img src="https://dev.unicommerce.com/barcode/code39/20/0.5/${invoice.code}"  />#end</td>
    <td border=".5 .5 0 0" valign="top" cellpadding="-5 0 2 4">Dated <br/><b>${dateutils.dateToString($invoice.created, 'dd-MMM-yyyy')}</b></td>
</tr>
<tr>
    <td border=".5 .5 0 .5" valign="top" cellpadding="-5 0 2 4">Order No.<br/><br/>$saleOrder.displayOrderCode
        #if($DISPLAY_ORDER_NUM_BARCODE == 'true' )
            #if($$saleOrder.displayOrderCode.contains("/"))<img align="center"  src="https://dev.unicommerce.com/barcode/code128c/26/.8/$saleOrder.displayOrderCode"/>#else
                <img align="center"  src="https://dev.unicommerce.com/barcode/code128c/26/.8/$saleOrder.displayOrderCode"/> #end

        #end
    </td>
    <td border=".5 .5 0 0" valign="top" cellpadding="-5 0 2 4">
        Dated<br/>
        <b>
            ${dateutils.dateToString($saleOrder.created, 'dd-MMM-yyyy')}
        </b>
    </td>
</tr>

    #if($DISPLAY_CHANNEL_NAME == 'true' )


    <tr>
        <td border=".5 0 0 .5" valign="top" cellpadding="-5 0 2 4" rowspan="2">Buyer<br/>
            #if($shippingPackage.shippingAddress.addressLine1=="DUMMY ADDRESS")
                ${shippingPackage.shippingAddress.name},<br/>N.A,N.A,<br/> ${cache.getCache("locationCache").getCountryByCode(${shippingPackage.shippingAddress.countryCode}).name},
                #if($shippingPackage.shippingAddress.countryCode=="IN")${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name}
                #else $shippingPackage.shippingAddress.stateCode #end,${shippingPackage.shippingAddress.city}, ${shippingPackage.shippingAddress.pincode},<br/>
                Phone:N.A


            #elseif($shippingPackage.shippingAddress.phone=="9999999999")

                ${shippingPackage.shippingAddress.name},
                <br/>

                ${shippingPackage.shippingAddress.addressLine1}

                #if(${shippingPackage.shippingAddress.addressLine2})${shippingPackage.shippingAddress.addressLine2},
                    <br/>#end
                ${cache.getCache("locationCache").getCountryByCode(${shippingPackage.shippingAddress.countryCode}).name},
                #if($shippingPackage.shippingAddress.countryCode=="IN")${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name}
                #else $shippingPackage.shippingAddress.stateCode #end,
                ${shippingPackage.shippingAddress.city}, ${shippingPackage.shippingAddress.pincode},
                <br/>
                Phone:N.A

            #else
                ${shippingPackage.shippingAddress.name},
                <br/>

                ${shippingPackage.shippingAddress.addressLine1},

                #if(${shippingPackage.shippingAddress.addressLine2})${shippingPackage.shippingAddress.addressLine2},
                    <br/>#end
                ${cache.getCache("locationCache").getCountryByCode(${shippingPackage.shippingAddress.countryCode}).name},
                #if($shippingPackage.shippingAddress.countryCode=="IN")${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name}
                #else $shippingPackage.shippingAddress.stateCode #end,
                ${shippingPackage.shippingAddress.city}, ${shippingPackage.shippingAddress.pincode},
                <br/>
                Phone: ${shippingPackage.shippingAddress.phone}

            #end
        </td>
        #if($DISPLAY_CHANNEL_NAME == 'true' )
            <td border=".5 .5 0 .5" valign="top" cellpadding="-5 0 2 4">
                Channel Name<br/>
                #if($shippingPackage.saleOrder.channel.code)
                    <b>$shippingPackage.saleOrder.channel.code</b>
                #end
            </td>
        #else
            #if($shippingPackage.saleOrder.channel.code)
                <b>$shippingPackage.saleOrder.channel.code</b>
            #end
        #end
        <td border=".5 .5 0 0" valign="top" cellpadding="-5 0 2 4">
            Payment Mode<br/>
            <b>
                #if($saleOrder.cashOnDelivery)
                    COD
                #else
                    PREPAID
                #end
            </b>
        </td>

    </tr>
    <tr>

        <td border=".5 .5 0 .5" valign="top" cellpadding="-5 0 2 4"> Dispatch Through<br/><b>
            #if($shippingPackage.shippingProvider.name) $shippingPackage.shippingProvider.name #end
        </b>
        </td>


        <td  border=".5 .5 0 0" valign="top" cellpadding="-5 0 2 4">AWB No<br/>
            #if($shippingPackage.trackingNumber) $shippingPackage.trackingNumber #end</td>

    </tr>

    #else









    <tr>
        <td border=".5 0 0 .5" valign="top" cellpadding="-5 0 2 4" rowspan="2">Buyer<br/>
            #if($shippingPackage.shippingAddress.addressLine1=="DUMMY ADDRESS")
                ${shippingPackage.shippingAddress.name},<br/>N.A,N.A,<br/> ${cache.getCache("locationCache").getCountryByCode(${shippingPackage.shippingAddress.countryCode}).name},
                #if($shippingPackage.shippingAddress.countryCode=="IN")${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name}
                #else $shippingPackage.shippingAddress.stateCode #end,${shippingPackage.shippingAddress.city}, ${shippingPackage.shippingAddress.pincode},<br/>
                Phone:N.A


            #elseif($shippingPackage.shippingAddress.phone=="9999999999")

                ${shippingPackage.shippingAddress.name},
                <br/>

                ${shippingPackage.shippingAddress.addressLine1}

                #if(${shippingPackage.shippingAddress.addressLine2})${shippingPackage.shippingAddress.addressLine2},
                    <br/>#end
                ${cache.getCache("locationCache").getCountryByCode(${shippingPackage.shippingAddress.countryCode}).name},
                #if($shippingPackage.shippingAddress.countryCode=="IN")${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name}
                #else $shippingPackage.shippingAddress.stateCode #end,
                ${shippingPackage.shippingAddress.city}, ${shippingPackage.shippingAddress.pincode},
                <br/>
                Phone:N.A

            #else
                ${shippingPackage.shippingAddress.name},
                <br/>

                ${shippingPackage.shippingAddress.addressLine1},

                #if(${shippingPackage.shippingAddress.addressLine2})${shippingPackage.shippingAddress.addressLine2},
                    <br/>#end
                ${cache.getCache("locationCache").getCountryByCode(${shippingPackage.shippingAddress.countryCode}).name},
                #if($shippingPackage.shippingAddress.countryCode=="IN")${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name}
                #else $shippingPackage.shippingAddress.stateCode #end,
                ${shippingPackage.shippingAddress.city}, ${shippingPackage.shippingAddress.pincode},
                <br/>
                Phone: ${shippingPackage.shippingAddress.phone}

            #end
        </td>

        <td border=".5 .5 0 .5" valign="top" cellpadding="-5 0 2 4">
            Dispatch Through<br/><b>
            #if($shippingPackage.shippingProvider.name) $shippingPackage.shippingProvider.name #end
        </b>
        </td>



        <td border=".5 .5 0 0" valign="top" cellpadding="-5 0 2 4">
            Payment Mode<br/>
            <b>
                #if($saleOrder.cashOnDelivery)
                    COD
                #else
                    PREPAID
                #end
            </b>
        </td>

    </tr>
    <tr>

        <td border="0 .5 0 .5" valign="top" cellpadding="-5 0 2 4"><br/>
        </td>


        <td  border=".5 .5 0 0" valign="top" cellpadding="-5 0 2 4">AWB No<br/>
            #if($shippingPackage.trackingNumber) $shippingPackage.trackingNumber #end</td>

    </tr>





    #end

</table>



<table class="xl10">

<tr align="center" valign="top" >
    <td align="left" valign="top" cellpadding="-5 0 0 4" width="4%" border=".5 0 .5 .5">Sr No.</td>
    #if($DISPLAY_PRODUCT_NAME == 'true' )
        #if($DISPLAY_PRODUCT_NAME == 'true' )
            <td valign="top" cellpadding="-5 0 0 4" width="15%" border=".5 0 .5 .5">Product Name</td>
        #end
    #else

    #end
    #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
        #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
            <td valign="top" cellpadding="-5 0 0 4" width="10%" border=".5 0 .5 .5">Product SKU</td>
        #end
    #else

    #end
    #if($DISPLAY_MRP == 'true' )
        #if($DISPLAY_MRP == 'true' )
            <td valign="top" cellpadding="-5 0 0 4" width="8%" border=".5 0 .5 .5">MRP</td>
        #end
    #else
    #end
    <td valign="top" cellpadding="-5 0 0 4" width="6%" border=".5 0 .5 .5">Units</td>
    <td valign="top"  cellpadding="-5 0 0 4" width="8%" border=".5 0 .5 .5">Rate</td>
    #if($DISPLAY_TAX == 'true' )
        #if($DISPLAY_TAX == 'true' )
            <td valign="top"  cellpadding="-5 0 0 4" width="8%" border=".5 0 .5 .5">Tax</td>
        #end
    #else
    #end
    #if($DISPLAY_DISCOUNT == 'true' )
        #if($DISPLAY_DISCOUNT == 'true' )
            <td valign="top"  cellpadding="-5 0 0 4" width="8%" border=".5 0 .5 .5">Discount</td>
        #end
    #else
    #end
    <td border=".5" cellpadding="-5 0 0 4" valign="top"  width="8%" border=".5">Amount</td>
</tr>

    #set($totalInvoiceItem=$invoice.invoiceItems.size())
    #set($finalTotal=$numberutils.newBigDecimal(0))
    #set($totalQty=0)
    #set($totalDisc=$numberutils.newBigDecimal(0))
    #set($total=$numberutils.newBigDecimal(0))
    #set($subtotal=$numberutils.newBigDecimal(0))
    #set($additionalTax=$numberutils.newBigDecimal(0))
    #set($additionalTaxPer=$numberutils.newBigDecimal(0))
    #set($prepaidAmount=$numberutils.newBigDecimal(0))


    #foreach($invoiceItem in $invoice.invoiceItems)
        #set($additionalTax=$additionalTax.add($invoiceItem.additionalTax))
        #if($invoiceItem.additionalTaxPercentage)
            #set($additionalTaxPer=$invoiceItem.additionalTaxPercentage)
        #end
        #set($totalQty = $totalQty+$invoiceItem.quantity)
        #set($total=$total.add($invoiceItem.total))
        #set($subtotal=$subtotal.add($invoiceItem.subtotal))
        #set($prepaidAmount=$prepaidAmount.add($invoiceItem.prepaidAmount))


        #set($jabongCodeMap={})
        #foreach($saleOrderItem in $shippingPackage.saleOrderItems)
            #if(!$jabongCodeMap[$saleOrderItem.itemType.skuCode])
                #set($jabongCodeMap[$saleOrderItem.itemType.skuCode]=$saleOrderItem.channelSkuCode)
            #end
        #end



    <tr valign="top" align="center">
        <td valign="top" cellpadding="-5 0 1 0" border="0 0 0 .5">$foreach.count</td>
        #if($DISPLAY_PRODUCT_NAME == 'true' )
            #if($DISPLAY_PRODUCT_NAME == 'true' )
                <td border="0 0 0 .5" >#if($DISPLAY_BRAND == 'true') #if($invoiceItem.itemType.brand) $invoiceItem.itemType.brand - #end #end #if($shippingPackage.saleOrder.productManagementSwitchedOff) $invoiceItem.description #else #if($invoiceItem.itemType.name) $invoiceItem.itemType.name #end #if($DISPLAY_COLOR == 'true' && $DISPLAY_SIZE == 'true') #if($invoiceItem.itemType.color) ($invoiceItem.itemType.color, #end #if($invoiceItem.itemType.size)$invoiceItem.itemType.size) #end #else #if ($DISPLAY_COLOR == 'true') #if($invoiceItem.itemType.color)($invoiceItem.itemType.color) #end #end #if ($DISPLAY_SIZE == 'true') #if($invoiceItem.itemType.size) ($invoiceItem.itemType.size) #end #end #end #end
                    <br/>
                    #if($skuToItemDetails[$invoiceItem.itemType.skuCode]) IMEI No:$skuToItemDetails[$invoiceItem.itemType.skuCode] #end<br/>
                    #if($skuToSerial[$invoiceItem.itemType.skuCode]) Serial No:$skuToSerial[$invoiceItem.itemType.skuCode] #end
                </td>
            #end
        #else
        #end
        #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
            #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
                <td valign="top" cellpadding="-5 0 0 2" border="0 0 0 .5" align="left">
                    $invoiceItem.itemType.skuCode</td>
            #end
        #else
        #end
        #if($DISPLAY_MRP == 'true' )
            #if($DISPLAY_MRP == 'true' )
                <td valign="top" cellpadding="-5 0 0 2" border="0 0 0 .5">#if($invoiceItem.itemType.maxRetailPrice)$invoiceItem.itemType.maxRetailPrice#end</td>
            #end
        #else
        #end
        <td valign="top" cellpadding="-5 0 0 2" border="0 0 0 .5"><b>$invoiceItem.quantity </b></td>
        #set($rate=$numberutils.divide($invoiceItem.subtotal.add($invoiceItem.discount), $invoiceItem.quantity))
        <td valign="top" cellpadding="-5 2 0 2" border="-5 0 0 .5" align="right">$rate</td>
        #if($DISPLAY_TAX == 'true' )
            #if($DISPLAY_TAX == 'true' )
                <td valign="top" cellpadding="-5 2 0 2" border="-5 0 0 .5" align="right">$math.roundTo(3,$invoiceItem.taxPercentage)%</td>
            #end
        #else
        #end
        #if($DISPLAY_DISCOUNT == 'true' )
            #if($DISPLAY_DISCOUNT == 'true' )
                <td valign="top" cellpadding="-5 2 0 2" border="-5 0 0 .5" align="right">$invoiceItem.discount</td>
            #end
        #else
        #end
        <td valign="top" cellpadding="-5 2 0 2" border="-5 .5 0 .5" align="right"><b>$invoiceItem.subtotal.add($invoiceItem.discount)</b></td>
    </tr>
    #end
    #set($totaltax=$total.subtract($subtotal))
    #if($subtotal>0)
        #set($taxper=$numberutils.divide($totaltax.multiply($numberutils.newBigDecimal(100)), $subtotal))
    #else
        #set($taxper=0)
    #end
    #set($intValueOftotal=$total.intValue())
    #set($diff=$total.subtract($numberutils.newBigDecimal($intValueOftotal)))
    #if($diff <.5)
        #set($roundOffMin=$diff)

    #else
        #set($roundOffAdd=$numberutils.newBigDecimal(1).subtract($diff))

    #end


<tr valign="top">
    <td  border="0 0 0 .5"></td>
    #if($DISPLAY_PRODUCT_NAME == 'true' )
        <td border="0 0 0 .5" align="right"><br/></td>

    #else
    #end
    #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
        <td border="0 0 0 .5"></td>

    #else
    #end
    #if($DISPLAY_MRP == 'true' )
        <td border="0 0 0 .5" align="right"></td>
    #else
    #end
    <td  border="0 0 0 .5"></td>
    <td border="0 0 0 .5" align="right"><br/></td>
    #if($DISPLAY_TAX == 'true' )
        <td border="0 0 0 .5"></td>
    #else
    #end
    #if($DISPLAY_DISCOUNT == 'true' )
        <td border="0 0 0 .5"></td>
    #else
    #end
    <td border=".5 .5 0 .5" align="right">$subtotal.add($totalDisc)</td>
</tr>



    #if($DISPLAY_TOTAL_VAT_CST == 'true' )
        #foreach( $key in $taxDetails.keySet())
        <tr valign="top" cellpadding="-4 2 0 0">
            <td  border="0 0 0 .5"></td>
            #if($DISPLAY_PRODUCT_NAME == 'true' )
                <td border="0 0 0 .5" align="right"><b><i>#if($shippingPackage.shippingAddress.stateCode==${warehouseAddress.stateCode})VAT #else CST #end #if($key>0) $math.roundTo(3,$key) #else 0 #end%</i></b></td>
            #else
            #end
            #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
                <td border="0 0 0 .5"></td>
            #else
            #end
            #if($DISPLAY_MRP == 'true' )
                <td border="0 0 0 .5"></td>
            #else
            #end
            <td border="0 0 0 .5"></td>
            <td border="0 0 0 .5"></td>
            #if($DISPLAY_TAX == 'true' )
                <td border="0 0 0 .5"></td>
            #else
            #end
            #if($DISPLAY_DISCOUNT == 'true'  )
                <td border="0 0 0 .5" align="right">#if($key>0) $math.roundTo(3,$key) #else 0 #end%</td>
            #else
            #end
            <td border="0 .5 0 .5" align="right"><b>$taxDetails.get($key)</b></td>
        </tr>
        #end
    #end
    #if($DISPLAY_ADDITIONAL_TAX == 'true' )
    <tr valign="top" cellpadding="-4 2 0 0">
        <td  border="0 0 0 .5"></td>
        #if($DISPLAY_PRODUCT_NAME == 'true' )
            <td  border="0 0 0  .5" cellpadding="-4 2 0 0" align="right"><b><i>Output Additional Tax on #if($shippingPackage.shippingAddress.stateCode==${warehouseAddress.stateCode})VAT #else CST #end #if($additionalTaxPer>0)$math.roundTo(3,$additionalTaxPer) #else 0 #end %</i></b> </td>
        #else
        #end
        #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
            <td border="0 0 0 .5"></td>
        #else
        #end
        #if($DISPLAY_MRP == 'true' )
            <td border="0 0 0 .5"></td>
        #else
        #end
        <td border="0 0 0 .5"></td>
        <td border="0 0 0 .5"></td>
        #if($DISPLAY_TAX == 'true' )
            <td border="0 0 0 .5"></td>
        #else
        #end
        #if($DISPLAY_DISCOUNT == 'true' || $DISPLAY_ADDITIONAL_TAX == 'true' )
            <td border="0 0 0 .5" align="right">#if($additionalTaxPer>0)$math.roundTo(3,$additionalTaxPer) #else 0 #end %</td>
        #else
        #end
        <td border="0 .5 0 .5" align="right"><b>$additionalTax</b></td>
    </tr>
    #end

    #if($DISPLAY_SHIPPING_CHARGES == 'true' )
    <tr valign="top" cellpadding="-4 2 0 0">
        <td  border="0 0 0 .5"></td>
        #if($DISPLAY_PRODUCT_NAME == 'true' )
            <td cellpadding="-4 2 0 5" border="0 0 0 .5" align="right">Shipping Charges</td>


        #end

        #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
            <td border="0 0 0 .5"></td>
        #else
        #end
        #if($DISPLAY_MRP == 'true' )
            <td border="0 0 0 .5"></td>
        #else
        #end

        <td border="0 0 0 .5"></td>

        <td border="0 0 0 .5"></td>
        #if($DISPLAY_TAX == 'true' )
            <td border="0 0 0 .5"></td>
        #else
        #end
        #if($DISPLAY_DISCOUNT == 'true' )
            <td border="0 0 0 .5" align="right"></td>
        #else
        #end

        <td border="0 .5 0 .5" align="right"><b>$shippingPackage.shippingCharges</b></td>

    </tr>
    #end
    #if($DISPLAY_COD_CHARGES == 'true' )
    <tr valign="top" cellpadding="-4 2 0 0">
        <td  border="0 0 0 .5"></td>
        #if($DISPLAY_PRODUCT_NAME == 'true' )
            <td cellpadding="-4 2 0 5" border="0 0 0 .5" align="right"><b><i>COD Charges</i></b></td>
        #else
        #end
        #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
            <td border="0 0 0 .5"></td>
        #else
        #end
        #if($DISPLAY_MRP == 'true' )
            <td border="0 0 0 .5"></td>
        #else
        #end
        <td border="0 0 0 .5"></td>
        <td border="0 0 0 .5"></td>
        #if($DISPLAY_TAX == 'true' )
            <td border="0 0 0 .5"></td>
        #else
        #end
        #if($DISPLAY_DISCOUNT == 'true' )
            <td border="0 0 0 .5" align="right"></td>
        #else
        #end
        <td border="0 .5 0 .5" align="right"><b>$shippingPackage.cashOnDeliveryCharges</b></td>
    </tr>
    #end




    #if($DISPLAY_GIFT_WRAP_CHARGES == 'true' )
    <tr valign="top" cellpadding="-4 2 0 0">
        <td  border="0 0 0 .5"></td>
        #if($DISPLAY_PRODUCT_NAME == 'true' )
            <td cellpadding="-4 2 0 5" border="0 0 0 .5" align="right"><b><i>Gift-Wrap Charges</i></b></td>
        #else
        #end
        #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
            <td border="0 0 0 .5"></td>
        #else
        #end
        #if($DISPLAY_MRP == 'true' )
            <td border="0 0 0 .5"></td>
        #else
        #end
        <td border="0 0 0 .5"></td>
        <td border="0 0 0 .5"></td>
        #if($DISPLAY_TAX == 'true' )
            <td border="0 0 0 .5"></td>
        #else
        #end
        #if($DISPLAY_DISCOUNT == 'true' )
            <td border="0 0 0 .5" align="right"></td>
        #else
        #end
        <td border="0 .5 0 .5" align="right"><b>$shippingPackage.giftWrapCharges</b></td>
    </tr>
    #end

    #if($DISPLAY_PREPAID_AMOUNT == 'true' )
    <tr valign="top" cellpadding="-4 2 0 0">
        <td  border="0 0 0 .5"></td>
        #if($DISPLAY_PRODUCT_NAME == 'true' )
            <td cellpadding="-4 2 0 5" border="0 0 0 .5" align="right"><b><i>Prepaid Amounts</i></b></td>
        #else
        #end
        #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
            <td border="0 0 0 .5"></td>
        #else
        #end
        #if($DISPLAY_MRP == 'true' )
            <td border="0 0 0 .5"></td>
        #else
        #end
        <td border="0 0 0 .5"></td>
        <td border="0 0 0 .5"></td>
        #if($DISPLAY_TAX == 'true' )
            <td border="0 0 0 .5"></td>
        #else
        #end
        #if($DISPLAY_DISCOUNT == 'true' )
            <td border="0 0 0 .5" align="right"></td>
        #else
        #end
        <td border="0 .5 0 .5" align="right"><b>$prepaidAmount</b></td>
    </tr>
    #end



    #if($DISPLAY_TOTAL_DISCOUNT == 'true' )
    <tr valign="top" cellpadding="-4 2 0 0">
        <td  border="0 0 0 .5"></td>
        #if($DISPLAY_PRODUCT_NAME == 'true' )
            <td cellpadding="-4 2 0 5" border="0 0 0 .5" align="right"><b><i>Total Discount</i></b></td>
        #else
        #end
        #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
            <td border="0 0 0 .5"></td>
        #else
        #end
        #if($DISPLAY_MRP == 'true' )
            <td border="0 0 0 .5"></td>
        #else
        #end
        <td border="0 0 0 .5"></td>
        <td border="0 0 0 .5"></td>
        #if($DISPLAY_TAX == 'true' )
            <td border="0 0 0 .5"></td>
        #else
        #end
        #if($DISPLAY_DISCOUNT == 'true' )
            <td border="0 0 0 .5" align="right"></td>
        #else
        #end
        <td border="0 .5 0 .5" align="right"><b>$totalDisc</b></td>
    </tr>
    #end

    #set($padding=80-($noOfTaxLines*14)-($totalInvoiceItem*14))
    #if($padding < 0)
        #set($padding=10)
    #end
<tr valign="top">
    <td cellpadding="$padding 0 0 0" border="0 0 0 .5"><br/></td>
    #if($DISPLAY_PRODUCT_NAME == 'true' )
        <td border="0 0 0 .5" align="right"></td>
    #else
    #end
    #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
        <td border="0 0 0 .5"></td>
    #else
    #end
    #if($DISPLAY_MRP == 'true' )
        <td border="0 0 0 .5"></td>
    #else
    #end
    <td border="0 0 0 .5"></td>
    <td border="0 0 0 .5"></td>
    #if($DISPLAY_TAX == 'true' )
        <td border="0 0 0 .5"></td>
    #else
    #end
    #if($DISPLAY_DISCOUNT == 'true' )
        <td border="0 0 0 .5" align="right"></td>
    #else
    #end
    <td border="0 .5 0 .5" align="right"></td>
</tr>
<tr valign="top" cellpadding="-6 2 4 0" >
    <td border=".5 0 .5 .5"></td>
    #if($DISPLAY_PRODUCT_NAME == 'true' )
        <td border=".5 0 .5 .5" valign="top" align="right">Total</td>
    #else
    #end
    #if($DISPLAY_PRODUCT_SKU_CODE == 'true')
        <td border=".5 0 .5 .5"></td>
    #else
    #end
    #if($DISPLAY_MRP == 'true' )
        <td border=".5 0 .5 .5"></td>
    #else
    #end
    <td border=".5 0 .5 .5" valign="top" align="center"><b>$totalQty </b></td>
    <td border=".5 0 .5 .5"></td>
    #if($DISPLAY_TAX == 'true' )
        <td border=".5 0 .5 .5"></td>
    #else
    #end
    #if($DISPLAY_DISCOUNT == 'true' )
        <td border=".5 0 .5 .5"></td>
    #else
    #end
    <td  border=".5" valign="top" align="right"><b>
        #if($roundOffAdd) #set($finalTotal=$total.add($roundOffAdd)) #else #set($finalTotal=$total.subtract($roundOffMin)) #end
                    #set($charges=$shippingPackage.shippingCharges.add($shippingPackage.cashOnDeliveryCharges).add($shippingPackage.giftWrapCharges))
        #set($finalTotal=$finalTotal.add($charges).subtract($prepaidAmount))
            $finalTotal</b></td>
</tr>

</table>

    #set($grandTotalInt = $finalTotal.intValue())
    #set($grandTotalFloat = $finalTotal.subtract($numberutils.newBigDecimal($grandTotalInt)))
    #set($grandTotalFloat = $grandTotalFloat.multiply($numberutils.newBigDecimal(100)))
<table   border="0 .5 0 .5">
    #set ($myMap1 = {})
    #set ($myMap2 = {})
    $myMap1.put("USD","Dollar")
    $myMap1.put("GBP","Pound")
    $myMap1.put("INR","Rupees")
    $myMap1.put("EUR","Euro")
    $myMap2.put("USD","Cents")
    $myMap2.put("GBP","Penny")
    $myMap2.put("INR","Paise")
    $myMap2.put("EUR","Euro Cents")
    <tr valign="top">
        #if($DISPLAY_AMOUNT_IN_WORDS == 'true')
        <td cellpadding="-6 0 0 4" border="0 0 0 .5">Amount Chargeable (in words)<br/><b>$saleOrder.currencyCode $numberutils.toWords($grandTotalInt) #if($myMap1.get(${saleOrder.currencyCode}))$myMap1.get(${saleOrder.currencyCode}) #end
            and $numberutils.toWords($grandTotalFloat.intValue()) #if($myMap2.get(${saleOrder.currencyCode}))$myMap2.get(${saleOrder.currencyCode}) #end Only</b><br/><br/>
        #end
    </td>
        <td cellpadding="-6 2 0 0" valign="top" border="0 .5 0 0" align="right">E. & O.E</td>
    </tr>
</table>
<table class="xl10" border="0  .5 0 .5">
    <tr>
        <td cellpadding="5 0 0 4" border="0  0 0 .5" >
            #if($DISPLAY_SELLER_VAT_TIN_NUM == 'true' )
                Company VAT TIN:
                #if($invoice.fromParty.tin)$invoice.fromParty.tin #end
            #else
                Company VAT TIN:
            #end
            <br/>
            #if($DISPLAY_SELLER_CST_TIN_NUM == 'true' )
                Company CST No:#if($invoice.fromParty.cstNumber)$invoice.fromParty.cstNumber#end
            #else
                Company CST No:
            #end
            <br/>
            #if($DISPLAY_SELLER_CIN_NUM == 'true' )
                Company CIN :#if($shippingPackage.facility.cin)$shippingPackage.facility.cin #end #end
        </td>


        <td cellpadding="5 0 0 0" border="0  .5 0 0" ></td>


    </tr>
</table>
<table   border=".5">
    #if($DISPLAY_NOTES == 'true' || $DISPLAY_SIGNATURE == 'true')
        <tr valign="top">
            #if($DISPLAY_NOTES == 'true')
                <td valign="top" cellpadding="0 0 0 4" class="xl10" border="0  .5 .5 .5"> Notes<br/>
                    #if($NOTES)
                        $NOTES
                    #end
                </td>
            #end
            <td  valign="top" align="right">
                <table border="0">
                    <tr>
                        <td align="center" cellpadding="-10 0 0 0"> <b>For ${invoice.fromParty.name}</b><br/><br/></td>
                    </tr>
                    <tr>
                        #if($DISPLAY_SIGNATURE == 'true')
                            #if($SIGNATURE_IMAGE)
                                <td align="center" ><img align="center" cellpadding="6 2 4 9"  src="https://dev.unicommerce.com/object-store/view/${SIGNATURE_IMAGE}"/><br/><span align="center">Authorised Signatory </span>
                                </td>
                            #end
                        #end
                    </tr>

                </table>
            </td>
        </tr>
    #else


        <tr valign="top">

            <td valign="top" cellpadding="0 0 0 4" class="xl10" border="0  .5 .5 .5"> Notes<br/>

            </td>

            <td  valign="top" align="right">
                <table border="0">
                    <tr>
                        <td align="center" cellpadding="-10 0 0 0"> <b>For ${invoice.fromParty.name}</b><br/><br/></td>
                    </tr>
                    <tr>

                        <td align="center" ><img align="center" cellpadding="6 2 4 9"  src="https://dev.unicommerce.com/object-store/view/"/><br/><span align="center">Authorised Signatory </span>
                        </td>

                    </tr>

                </table>
            </td>
        </tr>



    #end

</table>
<table>
    #if($DISPLAY_TERMS_AND_CONDITIONS == 'true')
        <tr>

            <td cellpadding="5 0 0 0" border="0  .5 0 0" >Terms & Condition <br/>
                #if($TERMS_AND_CONDITIONS)
                    $TERMS_AND_CONDITIONS
                #end
            </td>

        </tr>

        <tr>
            <td></td>
        </tr>
    #end
</table>

<table class="xl10">
    <tr>
        <td Width="25%" cellpadding="-6 2 0 0" valign="top"><b>Prepared By</b></td>
        <td cellpadding="-6 2 0 0"><b>: $invoice.user.name</b></td>
    </tr>
    <tr>
        <td colspan="2"  align="center">This is a Computer Generated Invoice</td>
    </tr>
</table>
</div>
#end