<table border="0" style="font-size: 10px">
	<tr>
		<td align="left"><br /> <img width="80px" src="https://dev.unicommerce.com/object-store/view/${invoice.fromParty.binaryObject.id}" /> 
			<br /><br /><span style="font-weight: bold;">Billing Address:</span>
			<br />${saleOrder.billingAddress.name}
			<br />${saleOrder.billingAddress.addressLine1}
			#if($saleOrder.billingAddress.addressLine2)<br />${saleOrder.billingAddress.addressLine2}#{end}
			<br />${saleOrder.billingAddress.city}, ${saleOrder.billingAddress.state}
			<br />India ${saleOrder.billingAddress.pincode}
			<br />Phone: ${saleOrder.billingAddress.phone}
			<br /><span style="font-weight: bold;">Shipping Address:</span>
			#set($saleOrderItems = $shippingPackage.saleOrderItems)
			#set($shippingAddress = $saleOrderItems.iterator().next().getShippingAddress())
			<br />${shippingAddress.name}
			<br />${shippingAddress.addressLine1}
			#if($shippingAddress.addressLine2)<br />${shippingAddress.addressLine2}#{end}
			<br />${shippingAddress.city}, ${shippingAddress.state}
			<br />India ${shippingAddress.pincode}
			<br />Phone: ${shippingAddress.phone}</td>
		<td align="center" valign="top" style="font-weight: bold;">Tax Invoice</td>
		#set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('BILLING')})
		<td align="right">
			${invoice.fromParty.name}
			<br /> ${invoice.fromParty.website}
			<br /> ${warehouseAddress.addressLine1},
			#if($warehouseAddress.addressLine2)<br /> ${warehouseAddress.addressLine2},#{end}
			<br /> ${warehouseAddress.city}, ${warehouseAddress.state.name}
			<br /> India ${warehouseAddress.pincode}
			<br /> Phone: () ${warehouseAddress.phone}<br /> VAT/TIN : ${invoice.fromParty.tin}
			<br/> Order Date: ${dateutils.dateToString($saleOrder.displayOrderDateTime, 'yyyy-MM-dd HH:mm')}
			<br/> Order # ${saleOrder.displayOrderCode}
			<br/> Invoice No # ${invoice.code}
			<br/> Invoice Date: # ${dateutils.dateToString($invoice.created, 'yyyy-MM-dd HH:mm')}
			<br /> 
		</td>
	</tr>
</table>
<br />
<br />
<br />
<span>Invoice Details (${dateutils.dateToString($saleOrder.displayOrderDateTime, 'MMM d, yyyyy')})</span>
<br />
<br />
<table border="1" style="font-size: 10px">
	<tr style="font-weight: bold;">
		<th width="20">Product Type</th>
		<th width="50">Product</th>
		<th width="5">Qty</th>
		<th width="10">Price</th>
		<th width="15">SubTotal</th>
	</tr>
	#set($total = 0)
	#foreach($invoiceItem in $invoice.invoiceItems)
	<tr>
		<td>${invoiceItem.product}</td>
		<td>${invoiceItem.description}<br /> 
		#if($invoiceItem.vat > 0)<br/><span style="font-size: 6px">(price is inclusive of Rs. $invoiceItem.vat Intra State VAT)</span>#{end}
		#if($invoiceItem.cst > 0)<br/><span style="font-size: 6px">(price is inclusive of Rs. $invoiceItem.cst Inter State CST)</span>#{end}
		#if($invoiceItem.itemIds)<br />Item Ids:  ${invoiceItem.itemIds}#{end}
		</td>
		<td>${invoiceItem.quantity}</td>
		<td>Rs. ${invoiceItem.unitPrice}</td>
		<td>Rs. ${invoiceItem.total}</td>
	</tr>
	#set($total = $total + $invoiceItem.total.doubleValue())
	#end
	<tr>
		<td colspan="4">
		<span style="font-size: 8px">(price including all taxes)</span>
		</td>
		<td><span style="font-weight: bold;">Rs. $total </span></td>
	</tr>
	<tr>
		<td colspan="5" align="right">
			This is a computer generated receipt. No signature required.
		</td>
	</tr>
</table>
<br /> <br /><br /><span>Shipment: ${shippingPackage.id}  </span><img src="https://dev.unicommerce.com/barcode/code39/50/1/${shippingPackage.id}" />