<span style="font-size:9px;">
<span style="font-size:9px;">
<table border="1">
	<tr>
		<td border="1 0 1 1"><p><img src="/object-store/view/${purchaseOrder.fromParty.binaryObject.id}" width="210" height="35" /></p></td>
		<td border="1 1 1 0" align="right">
			#set($partyAddress=$purchaseOrder.fromParty.getPartyAddressByType('SHIPPING'))
			${purchaseOrder.fromParty.name}
			<br />
			$partyAddress.addressLine1
			$partyAddress.addressLine2
			<br />
			$partyAddress.city, $partyAddress.state.name - $partyAddress.pincode
			<br />
			Contact:011-30017621
		</td>
	</tr>
	<tr>
		<td colspan="2" cellpadding="5 5 5 5"></td>
	</tr>
</table>
<table border="1">
	<tr>
		<td>PO No. - &nbsp;$purchaseOrder.code
		</td>
		<td>Order
			Date :-&nbsp;
			${dateutils.dateToString($purchaseOrder.created, 'dd MMM yyyy')}
		</td>
	</tr>
	<tr>
		<td>
			#set($vendorAddress = $purchaseOrder.vendor.getPartyAddressByType('BILLING'))
			Vendor Address
			<br />
			$purchaseOrder.vendor.name
			<br />
			$vendorAddress.addressLine1
			#if($vendorAddress.addressLine2)$vendorAddress.addressLine2 #end
			<br />
			$vendorAddress.city, $vendorAddress.state.name - $vendorAddress.pincode
			<br />
			Contact:$vendorAddress.phone
		</td>
		<td>
			Supply To
			<br />
			#set($partyAddress=$purchaseOrder.fromParty.getPartyAddressByType('SHIPPING'))
			${purchaseOrder.fromParty.name}
			<br />
			$partyAddress.addressLine1
			$partyAddress.addressLine2
			<br />
			$partyAddress.city, $partyAddress.state.name - $partyAddress.pincode
			<br />
			Contact:$partyAddress.phone

		</td>
	</tr>
</span>
	<tr>
		<td>TIN:#if($purchaseOrder.vendor.tin)$purchaseOrder.vendor.tin #end</td>
		<td>TIN:#if($purchaseOrder.fromParty.tin)$purchaseOrder.fromParty.tin #end</td>
	</tr>
</table>
<table border="1">
	<tr>
		<td>
			Payment Terms :#if($purchaseOrder.payment_terms) $purchaseOrder.payment_terms #end
			<br />
			PO Expiry Date:#if($purchaseOrder.expiryDate) $purchaseOrder.expiryDate #end 
		</td>
	</tr>
</table>
<table border="1">
	<tr>
		<th width="6%" align="center">Sr.No</th>
		<th width="11%" align="center">Product Image</th>
		<th width="16%" align="center">Product Name</th>
		<th align="center">Product Description</th>
		<th width="8%" align="center">Unit Price</th>
		<th width="8%" align="center">Qty</th>
		<th width="8%" align="center">Subtotal</th>
	</tr>
	#set($totalQuantity=0) 
	#set($totalAmount=$numberutils.newBigDecimal(0)) 
	#set($totalCstOrVat = $numberutils.newBigDecimal(0)) 
	#set($finalAmount = $numberutils.newBigDecimal(0))
	#set($engravingCharges = $numberutils.newBigDecimal(0))
	#foreach($purchaseOrderItem in $purchaseOrder.purchaseOrderItems)
	#set($totalQuantity=$totalQuantity+$purchaseOrderItem.quantity)
	#set($totalAmount = $totalAmount.add($purchaseOrderItem.subtotal))
	#set($totalCstOrVat = $totalCstOrVat.add($purchaseOrderItem.vat).add($purchaseOrderItem.cst))
	<tr>
		<td align="center">$foreach.count</td>
		<td align="center"><img src="$purchaseOrderItem.itemType.imageUrl" width="50" /></td>
		<td align="center">$purchaseOrderItem.itemType.name<br/>$purchaseOrderItem.itemType.skuCode</td>
		<td align="center">
			<span style="font-size:9px;">
				#if($purchaseOrderItem.itemType.product_id)Product Id: $purchaseOrderItem.itemType.product_id<br/>#end
				#if($purchaseOrderItem.itemType.vendor_product_id)Vendor Product code: $purchaseOrderItem.itemType.vendor_product_id<br/>#end
				#if($purchaseOrderItem.itemType.primary_metal_name)Primary metal name: $purchaseOrderItem.itemType.primary_metal_name<br/>#end
				#if($purchaseOrderItem.itemType.accent_metal_name)Accent metal name: $purchaseOrderItem.itemType.accent_metal_name<br/>#end
				#if($purchaseOrderItem.itemType.metal_weight)Metal Weight (g): $purchaseOrderItem.itemType.metal_weight<br/>#end
				#if($purchaseOrderItem.itemType.primary_metal_weight)Primary Metal Weight: $purchaseOrderItem.itemType.primary_metal_weight<br/>#end
				
				#if($purchaseOrderItem.itemType.CENTER_STONE_stone_name)CS: stone name: $purchaseOrderItem.itemType.CENTER_STONE_stone_name<br/>#end				
				#if($purchaseOrderItem.itemType.CENTER_STONE_stone_shape_name)CS: stone shape name: $purchaseOrderItem.itemType.CENTER_STONE_stone_shape_name<br/>#end
				#if($purchaseOrderItem.itemType.CENTER_STONE_stone_size_code)CS: stone size (MM): $purchaseOrderItem.itemType.CENTER_STONE_stone_size_code<br/>#end
				#if($purchaseOrderItem.itemType.CENTER_STONE_stone_cut_name)CS: stone cut name: $purchaseOrderItem.itemType.CENTER_STONE_stone_cut_name<br/>#end
				#if($purchaseOrderItem.itemType.CENTER_STONE_stone_quantity)CS: stone quantity: $purchaseOrderItem.itemType.CENTER_STONE_stone_quantity<br/>#end
				#if($purchaseOrderItem.itemType.CENTER_STONE_stone_weight)CS Stone weight (Ct): $purchaseOrderItem.itemType.CENTER_STONE_stone_weight<br/>#end

				#if($purchaseOrderItem.itemType.ACCENT_STONE_stone_name)AS: stone name: $purchaseOrderItem.itemType.ACCENT_STONE_stone_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_stone_shape_name)AS: stone shape name: $purchaseOrderItem.itemType.ACCENT_STONE_stone_shape_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_stone_size_code)AS: stone size (MM): $purchaseOrderItem.itemType.ACCENT_STONE_stone_size_code<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_stone_cut_name)AS: stone cut name: $purchaseOrderItem.itemType.ACCENT_STONE_stone_cut_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_stone_quantity)AS: stone quantity: $purchaseOrderItem.itemType.ACCENT_STONE_stone_quantity<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_stone_weight)AS Stone weight (Ct): $purchaseOrderItem.itemType.ACCENT_STONE_stone_weight<br/>#end
				
				#if($purchaseOrderItem.itemType.ACCENT_STONE_1_stone_name)AS_1: stone name: $purchaseOrderItem.itemType.ACCENT_STONE_1_stone_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_1_stone_shape_name)AS_1: stone shape name: $purchaseOrderItem.itemType.ACCENT_STONE_1_stone_shape_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_1_stone_size_code)AS_1: stone size (MM): $purchaseOrderItem.itemType.ACCENT_STONE_1_stone_size_code<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_1_stone_cut_name)AS_1: stone cut name: $purchaseOrderItem.itemType.ACCENT_STONE_1_stone_cut_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_1_stone_quantity)AS_1: stone quantity: $purchaseOrderItem.itemType.ACCENT_STONE_1_stone_quantity<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_1_stone_weight)AS Stone weight 1 (Ct): $purchaseOrderItem.itemType.ACCENT_STONE_1_stone_weight<br/>#end
				
				#if($purchaseOrderItem.itemType.ACCENT_STONE_2_stone_name)AS_2: stone name: $purchaseOrderItem.itemType.ACCENT_STONE_2_stone_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_2_stone_shape_name)AS_2: stone shape name: $purchaseOrderItem.itemType.ACCENT_STONE_2_stone_shape_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_2_stone_size_code)AS_2: stone size (MM): $purchaseOrderItem.itemType.ACCENT_STONE_2_stone_size_code<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_2_stone_cut_name)AS_2: stone cut name: $purchaseOrderItem.itemType.ACCENT_STONE_2_stone_cut_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_2_stone_quantity)AS_2: stone quantity: $purchaseOrderItem.itemType.ACCENT_STONE_2_stone_quantity<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_2_stone_weight)AS Stone weight 2 (Ct): $purchaseOrderItem.itemType.ACCENT_STONE_2_stone_weight<br/>#end

				#if($purchaseOrderItem.itemType.ACCENT_STONE_3_stone_name)AS_3: stone name: $purchaseOrderItem.itemType.ACCENT_STONE_3_stone_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_3_stone_shape_name)AS_3: stone shape name: $purchaseOrderItem.itemType.ACCENT_STONE_3_stone_shape_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_3_stone_size_code)AS_3: stone size (MM): $purchaseOrderItem.itemType.ACCENT_STONE_3_stone_size_code<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_3_stone_cut_name)AS_3: stone cut name: $purchaseOrderItem.itemType.ACCENT_STONE_3_stone_cut_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_3_stone_quantity)AS_3: stone quantity: $purchaseOrderItem.itemType.ACCENT_STONE_3_stone_quantity<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_3_stone_weight)AS Stone weight 3 (Ct): $purchaseOrderItem.itemType.ACCENT_STONE_3_stone_weight<br/>#end

				#if($purchaseOrderItem.itemType.ACCENT_STONE_4_stone_name)AS_4: stone name: $purchaseOrderItem.itemType.ACCENT_STONE_4_stone_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_4_stone_shape_name)AS_4: stone shape name: $purchaseOrderItem.itemType.ACCENT_STONE_4_stone_shape_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_4_stone_size_code)AS_4: stone size (MM): $purchaseOrderItem.itemType.ACCENT_STONE_4_stone_size_code<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_4_stone_cut_name)AS_4: stone cut name: $purchaseOrderItem.itemType.ACCENT_STONE_4_stone_cut_name<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_4_stone_quantity)AS_4: stone quantity: $purchaseOrderItem.itemType.ACCENT_STONE_4_stone_quantity<br/>#end
				#if($purchaseOrderItem.itemType.ACCENT_STONE_4_stone_weight)AS Stone weight 4 (Ct): $purchaseOrderItem.itemType.ACCENT_STONE_4_stone_weight<br/>#end
				
				#if($purchaseOrderItem.itemType.additional_accent_metal)Additional accent metal: $purchaseOrderItem.itemType.additional_accent_metal<br/>#end
				#if($purchaseOrderItem.itemType.chain_style_name)Chain style name: $purchaseOrderItem.itemType.chain_style_name<br/>#end
				#if($purchaseOrderItem.itemType.chain_metal_name)Chain metal name: $purchaseOrderItem.itemType.chain_metal_name<br/>#end
				#if($purchaseOrderItem.itemType.chain_length_name)Chain length name: $purchaseOrderItem.itemType.chain_length_name<br/>#end
				
				#if($purchaseOrderItem.itemType.ring_size)Ringsize (MM): $purchaseOrderItem.itemType.ring_size<br/>#end
				#if($purchaseOrderItem.itemType.setting_metal_name)Setting metal name: $purchaseOrderItem.itemType.setting_metal_name<br/>#end
				#if($purchaseOrderItem.itemType.setting_metal_weight)Setting Metal Weight: $purchaseOrderItem.itemType.setting_metal_weight<br/>#end
				#if($purchaseOrderItem.itemType.backing_metal_weight)Backing Metal Weight: $purchaseOrderItem.itemType.backing_metal_weight<br/>#end
				#if($purchaseOrderItem.itemType.stone_quality)Stone quality: $purchaseOrderItem.itemType.stone_quality<br/>#end
				#if($purchaseOrderItem.itemType.engravingText)
					Engraving Text: $purchaseOrderItem.itemType.engravingText<br/>
					
					#set($engravingLength = $purchaseOrderItem.itemType.engravingText.length())
					#set($range = [1..$engravingLength])
					#set($size = 0)
					#foreach($i in $range)
						#if($purchaseOrderItem.itemType.engravingText[$i] != '')
							#set($size = $size+1)
						#end	
					#end
					#set($engravingCharges = $size * 10)
				#end
			</span>
		</td>
		<td align="center">$purchaseOrderItem.unitPrice</td>
		<td align="center">$purchaseOrderItem.quantity</td>
		<td align="center">$purchaseOrderItem.subtotal</td>
	</tr>
	#end
	<tr>
		<td colspan="5" align="right">Total</td>
		<td align="center">$totalQuantity</td>
		<td align="center">$totalAmount</td>
	</tr>
	<tr>
		<td colspan="5" align="right">CST/VAT</td>
		<td align="center">
			#if($totalAmount.intValue() == 0)
				1 %
			#else
				$numberutils.divide($totalCstOrVat,$totalAmount).multiply($numberutils.newBigDecimal(100)).intValue() %
			#end
		</td>
		<td align="center">$totalCstOrVat</td>
	</tr>
	#if($engravingCharges > 0)
		<tr>
			<td colspan="5" align="right">Engraving Text Charges</td>
			<td align="center">	</td>
			<td align="center">$engravingCharges</td>
		</tr>
	#end
	#set($finalAmount = $totalAmount.add($totalCstOrVat))
	#set($finalAmount = $finalAmount+$engravingCharges)
	</tr>
		<td align="right" colspan="5">Total Amount</td>
		<td></td>
		<td align="center">$math.round($finalAmount)</td>
	</tr>
</table>
<table border="1">
	<tr>
		<td>Total Amount In Words :<span style="font-weight:bold, "font-sizet:9px;">$numberutils.toWords($math.round($finalAmount)) only</span></td>
	</tr>
	<tr>
		<td cellpadding="10 10 10 2">
			BELOW MENTIONED INSTRUCTION MUST BE FOLLOWED AT THE TIME OF STOCK DELIVERY:
			<br />
			GOODS IN OUR WAREHOUSE ARE ACCEPTED BEFORE 6PM ON WORKING DAYS.
			<br />
			<br />
			DOCUMENTS REQUIRED:
			<br />
			PO COPY , TAX INVOICE , CERTIFICATE FROM IGI, (IF APPLICABLE)
			<br />
			<br />
			EXPECTED DELIVERY: 10 DAYS FROM PO DATE.
			<br />
		</td>
	</tr>
</table>
</span>
