<span style="font-size: 8px">
    <table border="1" width="100%">
        <tr>
            <td>PURCHASE ORDER</td>
        </tr>
    </table>
    <table border="0">
        <tr>
            <td width="1%"></td>
            <td>
                <table border="0">
                    <tr>
                        <td>$purchaseOrder.vendor.name<br /> P.O.
                            DATE:#if($purchaseOrder.approveTime)${dateutils.dateToString($purchaseOrder.approveTime, 'dd/MM/yyyy')} #end<br /> P.O. NO:$purchaseOrder.code<br /> Prepared By
                        </td>
                    </tr>
                </table>
                <table border="1">
                <tr>
	                <td colspan="9" border="0"></td>
	                <td colspan="3">Metal Details</td>
	                <td colspan="6">Diamond Details</td>
	                <td colspan="8">Color Stone Details</td>
				</tr>
                <tr>
                    <td align="center">Sr. No</td>
                    <td align="center">Sku Code</td>
                    <td align="center">Vendor Style No
                    </td>
                    <td align="center">Category/Size

                    </td>
                    <td width="10%" align="center">Image</td>
                    <td align="center">Order quantity</td>
                    <td>Ring Size</td>
                    <td>Finding Instruction</td>
                    <td>Special Instruction</td>

                    <td align="center">KT</td>
                    <td align="center">color</td>
                    <td align="center">G.Weight</td>
                    <td align="center">Diamond Shape</td>
                    <td align="center">No Of Diamonds</td>
                    <td align="center">Weight(Ct)</td>
                    <td>Sieve Size</td>

                    <td align="center">Type Of Setting</td>
                    <td align="center">Quality</td>
                    <td align="center">Type of Color Stone</td>
                    <td align="center">Stone Quality</td>
                    <td align="center">Shape Of Stone</td>
                    <td>Stone Color/Shade</td>

                    <td align="center">Type Of Setting</td>
                    <td align="center">Quantity</td>
                    <td align="center">Weight(ct)</td>
                    <td align="center">Size(mm)</td>
                </tr>
                    #set($count=0) 
                    #foreach($purchaseOrderItem in $purchaseOrder.purchaseOrderItems) 
	                    #if($purchaseOrderItem.itemType.features)
		                    #set($featuresJson = $jsonutils.stringToJson($purchaseOrderItem.itemType.features))
		                    #set($metalJson=$featuresJson.get("Metal").getAsString())
		                    #set($metals=$jsonutils.stringToJson($metalJson))
		                    #set($diamondJson=$featuresJson.get("Diamond").getAsString())
		                    #set($diamond=$jsonutils.stringToJson($diamondJson))
		                    #set($colorStoneJson=$featuresJson.get("Stone").getAsString())
		                    #set($colorStones=$jsonutils.stringToJson($colorStoneJson))	
		                    <tr>
		                        <td align="center">$foreach.count</td>
		                        <td align="center">$purchaseOrderItem.itemType.skuCode</td>
		
		                        <td></td>
		                        <td></td>
		
		                        <td align="center">
		                        	<img src="$purchaseOrderItem.itemType.imageUrl" width="50" />
		                        </td>
		                        <td align="center">$purchaseOrderItem.quantity</td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
								
		                        <td align="center">#if($metals.size() >
		                            0)$metals.get(0).get("Purity").getAsString()#end</td>
		                        <td align="center">#if($metals.size() >
		                            0)$metals.get(0).get("Color").getAsString()#end</td>
		                        <td align="center">#if($metals.size() >
		                            0)$metals.get(0).get("Weight").getAsString()#end</td>
		                        <td align="center">#if($diamond.size() >
		                            0)$diamond.get(0).get("Shape").getAsString()#end</td>
		                        <td align="center">#if($diamond.size() >
		                            0)$diamond.get(0).get("Quantity").getAsString()#end</td>
		                        <td align="center">#if($diamond.size() >
		                            0)$diamond.get(0).get("Weight").getAsString()#end</td>
		                            <td></td>
		
		                        <td align="center">#if($diamond.size() >
		                            0)$diamond.get(0).get("SettingType").getAsString()#end</td>
		                        <td align="center">#if($diamond.size() >
		                            0)$diamond.get(0).get("Shade").getAsString()#end</td>
		
		                        <td align="center">#foreach($colorStone in $colorStones)
		                            $colorStone.get("Type").getAsString()<br /> #end
		                        </td>
		                        <td align="center">#foreach($colorStone in $colorStones)
		                            $colorStone.get("Quality").getAsString()<br /> #end
		                        </td>
		                        <td align="center">#foreach($colorStone in $colorStones)
		                            $colorStone.get("Shape").getAsString()<br /> #end
		                        </td>
		                        <td></td>
		
		                        <td align="center">#foreach($colorStone in $colorStones)
		                            $colorStone.get("SettingType").getAsString()<br /> #end
		                        </td>
		                        <td align="center">#foreach($colorStone in $colorStones)
		                            $colorStone.get("Quantity").getAsString()<br /> #end
		                        </td>
		                        <td align="center">#foreach($colorStone in $colorStones)
		                            $colorStone.get("Weight").getAsString()<br /> #end
		                        </td>
		                        <td align="center">#foreach($colorStone in $colorStones)
		                            $colorStone.get("Size").getAsString()<br /> #end
		                        </td>
		
		                    </tr>
		            	#else
		                    <tr>
		                        <td align="center">$foreach.count</td>
		                        <td align="center">$purchaseOrderItem.itemType.skuCode</td>
		                        <td></td>
		                        <td></td>
		                        <td align="center">
		                        	<img src="$purchaseOrderItem.itemType.imageUrl" width="50" />
		                        </td>
		                        <td align="center">$purchaseOrderItem.quantity</td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                        <td></td>
		                    </tr>
		            	#end  
                    #end
                </table>
            </td>
        </tr>
    </table>
</span>