<table border="1">
	<tr>
		<td border="0 0 0 0" cellpadding="0 0 3 0">
			<span style="font-size:14px;font-weight:bold;text-align: center;text-decoration: underline;text-indent:em;">PURCHASE ORDER</span>		
		</td>
	</tr>
		
	<tr>
		<td align="center">
			<table border="0">
				<tr>
					<td colspan="2">
						<span style="font-size:10px;">
							<img src="/object-store/view/${purchaseOrder.fromParty.binaryObject.id}" width="140" height="30" /><br/>
							#set($fromPartyAddress=$purchaseOrder.fromParty.getPartyAddressByType('BILLING'))
							$purchaseOrder.fromParty.name<br/>
							$fromPartyAddress.addressLine1,<br/>
							$fromPartyAddress.addressLine2,<br/>
							$fromPartyAddress.city,$fromPartyAddress.state.name - $fromPartyAddress.pincode
						</span>
						<br /> 
						<span style="font-weight:bold; font-size:9px;">TIN NO: $purchaseOrder.fromParty.tin</span><br />
						<span style="font-size:9px;">(Under section 11 of the Haryana Value added Tax act, 2003)</span>
					</td>
				</tr>
				<br/>
				<tr>
				<br/>
					<td width="70%" align="left" valign="top">
						<span style="font-weight:bold; font-size:10px;" >Vendor<br/></span>
						<span style="font-size:9px;">
							$purchaseOrder.vendor.name<br />
							#set($vendorAddress=$purchaseOrder.vendor.getPartyAddressByType('BILLING'))
							$vendorAddress.addressLine1,#if($vendorAddress.addressLine2)$vendorAddress.addressLine2 #{end}<br/>
							$vendorAddress.city,$vendorAddress.state.name - $vendorAddress.pincode<br/>
							<span style="font-weight:bold;">TIN NO: $purchaseOrder.vendor.tin</span>
						</span>					
					</td>
					<td width="30%" align="left" valign="top">
						<span style="font-size:10px;">
							PO Date : #if($purchaseOrder.approveTime)${dateutils.dateToString($purchaseOrder.approveTime,'dd/MM/yyyy')} #end<br/>
							PO # : ${purchaseOrder.code}<br/>
							Terms: #if(${purchaseOrder.paymentTerms})${purchaseOrder.paymentTerms} #end
						</span>	
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr cellpadding="0">
		<td border="0">
			<table border="1">
				<tr style="font-weight:bold;font-size:10px;">
					<td width="5%" align="center">S.no</td>
					<td width="15%" cellpadding="0 0 0 2" align="center">STYLE&nbsp;#</td>
					<td width="13%" align="center">DESCRIPTION</td>
					<td width="6%" align="center">Color</td>
					<td width="6%" align="center">Size</td>
					<td width="10%" align="center">CATEGORY</td>
					<td width="12%" align="center">MRP</td>
					<td width="5%" align="center">QTY</td>
					<td width="11%" align="center">UNIT PRICE<br/>(Rs.)</td>
					<td width="11%" align="center">VALUE<br/>(Rs.)</td>
				</tr>
			#set($total=$numberutils.newBigDecimal(0)) 
			#set($totalQuantity=0) 
			#set($subtotal=$numberutils.newBigDecimal(0))
			#set($taxType="")
			#foreach($purchaseOrderItem in $purchaseOrder.purchaseOrderItems)
				<tr style="font-size:10px;">
					<td align="center">${foreach.count} </td>
					<td align="center">${purchaseOrderItem.vendorSkuCode}</td>
					<td align="center">${purchaseOrderItem.itemType.name}</td>
					<td align="center">#if($purchaseOrderItem.itemType.color)$purchaseOrderItem.itemType.color #end</td>
					<td align="center">#if($purchaseOrderItem.itemType.size)$purchaseOrderItem.itemType.size #end</td>
					<td align="center">#if($purchaseOrderItem.itemType.category.name)$purchaseOrderItem.itemType.category.name #end</td>
					<td align="center">#if(${purchaseOrderItem.itemType.maxRetailPrice})${purchaseOrderItem.itemType.maxRetailPrice} #end</td>
					<td align="center">${purchaseOrderItem.quantity}</td>
					<td align="center">${purchaseOrderItem.unitPrice}</td>
					<td align="center">${purchaseOrderItem.subtotal}</td>
					#set($total=$total.add($purchaseOrderItem.total))
					#set($subtotal=$subtotal.add($purchaseOrderItem.subtotal))
					#set($totalQuantity=$totalQuantity+$purchaseOrderItem.quantity)
					#if($purchaseOrderItem.vat.doubleValue() > 0)
						#set($taxType="VAT")
					#else
						#set($taxType="CST")
					#end
				</tr>
			#end
				<tr style="font-size:10px;">
					<td align="right" colspan="7" cellpadding="0 2 3 0">Total Quantity</td>
					<td align="center" style="font-weight:bold;">${totalQuantity}</td>
					<td align="center">SUBTOTAL</td>
					<td align="center" style="font-weight:bold;">${subtotal}</td>
				</tr>
				<tr style="font-size:10px;">
					<td align="right" colspan="9" cellpadding="0 3 2 0">$taxType</td>
					<td align="center">$total.subtract($subtotal)</td>
				</tr>
				<tr style="font-size:10px;">
					<td align="right" colspan="9" cellpadding="0 3 2 0">Total With Taxes</td>
					<td align="center">$total</td>
				</tr>
				<tr style="font-size:10px;">
					<td align="right" colspan="10" cellpadding="0 3 2 0">Rupees $numberutils.toWords($total.intValue()) Only</td>
				</tr>
			</table>
		</td>
	</tr>
	<br/>
	<tr border="1 1 0 1">
		<td style="font-size:10px;" cellpadding="0 0 0 2">
			<span style="font-weight:bold;">Special Instructions</span><br/>
			<em>${purchaseOrder.vendorAgreement.agreementText}</em>
		</td>
	</tr>
	<tr border="0 1 1 1">
		<td style="font-size:10px;" cellpadding="0 0 0 30">
			<span style="font-weight:bold;margin-left: 5px;">Authorised by:</span><br/>
			&nbsp;<br/>
			&nbsp;<br/>
		</td>
	</tr>
	
</table>

