<span style="font-size: 10px;">
	<table>
		<tr>
			<td align="center" border="1 1 0 1">
				#set($fromPartyAddress=$purchaseOrder.fromParty.getPartyAddressByType('BILLING'))
				<span style="font-weight:bold;">${purchaseOrder.fromParty.name.toUpperCase()}</span>
			</td>
		</tr>
		<tr>
			<td border="0 1 0 1" cellpadding="0 10 0 380"><img src="https://dev.uniware.com/barcode/code39/15/1/$purchaseOrder.id" /></td>
		</tr>
		<td align="center" border="0 1 0 1">
				<span style="font-weight:bold;">TIN No.&nbsp;&nbsp;&nbsp;$purchaseOrder.fromParty.tin<br /></span>
			</td>
		<tr>
			<td border="1" align="center"><span style="font-weight: bold;">PURCHASE ORDER</span></td>
		</tr>
	</table>

	<table border="1" cellpadding="0 0 0 2" valign="top" style="line-height: 12px;">
		<tr>
			<td  width="48%" border="0 1 1 1"> M/S</td>
			<td  width="0.5%" rowspan="9" border="0 1 0 0">&nbsp;</td>
			<td  width="12.5%"  valign="top" border="0 0 1 0"><span style="font-weight: bold;">PO Date</span></td>
			<td width="39%" valign="top" border="0 1 1 0">${dateutils.dateToString($purchaseOrder.created,
							'dd-MMM-yyyy')}</td>
		</tr>
					#set($vendorAddress=$purchaseOrder.vendor.getPartyAddressByType('BILLING'))
		<tr>
			<td border="0 1 1 1" >$purchaseOrder.vendor.name</td>
			<td valign="top" border="0 0 1 0"><span style="font-weight: bold;">PO No.</span></td>
			
			<td  valign="top" border="0 1 1 0">$purchaseOrder.code</td>
		</tr>
		<tr>
			<td  border="0 1 1 1">$vendorAddress.addressLine1,$vendorAddress.addressLine2</td>
			<td  valign="top" border="0 0 1 0"><span style="font-weight: bold;">Your Quotation Re</span></td>
					
			<td  border="0 1 1 0" valign="top">&nbsp;</td>
		</tr>
		<tr>
			<td  border="0 1 1 1">$vendorAddress.city</td>
			<td  border="0 0 1 0"><span style="font-weight: bold;">Currency Code</span></td>
			<td border="0 1 1 0" valign="top">&nbsp;</td>
		</tr>
		<tr>
			<td  border="0 1 1 1">$vendorAddress.state.name</td>
			<td  border="0 0 1 0"><span style="font-weight: bold;">Delivery Date</span></td>
			<td border="0 1 1 0" valign="top">#if($purchaseOrder.deliveryDate)${dateutils.dateToString($purchaseOrder.deliveryDate,'dd-MMM-yyyy')} #end</td>
		</tr>
		<tr>
			<td border="0 1 1 1">Kind Atten:</td>
			<td border="0 0 1 0"><span style="font-weight: bold;">Expiry Date </span></td>
			<td border="0 1 1 0" valign="top">#if($purchaseOrder.expiryDate)${dateutils.dateToString($purchaseOrder.expiryDate,'dd-MMM-yyyy')} #end</td>
		</tr>
		<tr>
			<td border="0 1 1 1">Mobile:$vendorAddress.phone</td>
			<td border="0 0 1 0"><span style="font-weight: bold;">Booked By: </span></td>
			<td border="0 1 1 0">$purchaseOrder.user.username</td>
		</tr>
		<tr>
			#set($vendorPrimaryContact=$purchaseOrder.vendor.getPartyContactByType('PRIMARY'))
			<td border="0 1 1 1">E-mail: ${vendorPrimaryContact.email}</td>
			<td border="0 0 1 0">&nbsp;</td>
			<td border="0 1 1 0">&nbsp;</td>
		</tr>
		<tr>
			<td border="0 1 1 1"><span style="font-weight: bold;">TIN No.</span>$purchaseOrder.vendor.tin</td>
			<td border="0 0 1 0">&nbsp;</td>
			<td border="0 1 1 0">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="4" cellpadding="0 10 0 640"><span
				style="font-weight: bold;">PO No.</span>$purchaseOrder.code<br /> 
			 </td>
		</tr>
	</table>
	<table border="1" style="line-height:12px;">
		<tr>
			<span style="font-weight: bold;">
				<td align="center" width="4%">Sr. No</td>
				<td align="center" width="7%">Item Code</td>
				<td align="center" width="6%">Supp. Color</td>
				<td align="center" width="6%">Brand</td>
				<td align="center" width="7%">Style No.</td>
				<td align="center" width="11%">Product</td>
				<td align="center" width="6%">Size</td>
				<td align="center" width="5%">Qty</td>
				<td align="center" width="6%">Unit</td>
				<td align="center" width="6%">Rate</td>
				<td align="center" width="5%">MRP</td>
				<td align="center"  width="5%">Tax %</td>
				<td align="center" width="6%">Discount</td>
				<td align="center" width="7%">Amount</td>
			</span>
		</tr>
		#set($sno=1) 
		#set($totalQuantity=0)
		#set($totalBeforTax=$numberutils.newBigDecimal(0))
		#set($totalAfterTax=$numberutils.newBigDecimal(0))
		#set($cstOrVat=$numberutils.newBigDecimal(0))
		#set($sortedPurchaseOrderItems = $sorter.sort($purchaseOrder.purchaseOrderItems, ["maxRetailPrice"]))
		#foreach($purchaseOrderItem in $sortedPurchaseOrderItems)
			#if($purchaseOrderItem.vat.doubleValue() > 0)
			#set($cstOrVat=$cstOrVat.add($purchaseOrderItem.vat))
			#set ($cstPercent=$numberutils.divide($purchaseOrderItem.vat.multiply($numberutils.newBigDecimal(100)), $purchaseOrderItem.total.subtract($purchaseOrderItem.vat)))
			#else
			#set($cstOrVat=$cstOrVat.add($purchaseOrderItem.cst))
			#set ($cstPercent=$numberutils.divide($purchaseOrderItem.cst.multiply($numberutils.newBigDecimal(100)), $purchaseOrderItem.total.subtract($purchaseOrderItem.cst)))
		    #end
			#set($totalAfterTax = $totalAfterTax.add($purchaseOrderItem.total) )
			#set($totalBeforTax = $totalBeforTax.add($purchaseOrderItem.total).subtract($purchaseOrderItem.vat).subtract($purchaseOrderItem.cst) )
		<tr>
			<td align="center">$sno</td>
			<td align="center">$purchaseOrderItem.itemType.skuCode</td>
			<td align="center">$purchaseOrderItem.itemType.suppColor</td>
			<td align="center">$purchaseOrderItem.itemType.brand</td>
			<td align="center">
				#if($purchaseOrder.vendor.code == 'V139')
					#if($purchaseOrderItem.itemType.vendorItemNumber)$purchaseOrderItem.itemType.vendorItemNumber#end
				#else 
					#if($purchaseOrderItem.itemType.styleNumber)$purchaseOrderItem.itemType.styleNumber#end
				#end
			</td>
			<td align="center">$purchaseOrderItem.itemType.name</td>	
			<td align="center">$purchaseOrderItem.itemType.size</td>
			<td align="center">$purchaseOrderItem.quantity</td>
			<td align="center">#if($purchaseOrderItem.itemType.unit) ${purchaseOrderItem.itemType.unit} #end</td>
			<td align="center">$purchaseOrderItem.unitPrice</td>
			<td align="center">$purchaseOrderItem.itemType.maxRetailPrice</td>
			<td align="center">$cstPercent</td>
			<td align="center"></td>
			<td align="center">$purchaseOrderItem.total</td>
		</tr>
		#set($sno=$sno+1) 
		#set($totalQuantity=$totalQuantity + $purchaseOrderItem.quantity)
		#end
		<tr><td cellpadding="0 0 9 0" colspan="11" border="1">&nbsp;</td></tr>
	</table>
	<table>
	<span style="font-weight:bold;">
		<tr>
			<td align="right" colspan="8" valign="top" border="1 0 1 1" cellpadding="0 4 0 0">$totalQuantity</td>
			<td align="right" colspan="2" valign="top"  border="1 0 1 0" cellpadding="0 0 0 0"> </td>
			<td align="right" colspan="2" border="1 0 1 0" cellpadding="0 8 0 0">Total<br/>#if($purchaseOrder.purchaseOrderItems.iterator().next().vat.doubleValue() > 0) VAT #else CST #end<br/>Excise<br/>Discount<br/>G.Total</td>
			<td align="right" border="1 1 1 0" colspan="2" valign="top" cellpadding="0 5 0 0">$totalBeforTax<br/>$cstOrVat<br/><br/>0.00<br/>$totalAfterTax.intValue()</td>
		</tr>
	</span>
		<tr>
			<td colspan="16" border="1" align="left"><span style="font-weight:bold;">Total (In Words):</span>
			&nbsp;&nbsp;*** $numberutils.toWords($totalAfterTax.intValue()) only</span></td>
		</tr>
		<tr>
			<td cellpadding="0 0 9 0" colspan="16" border="1">&nbsp;</td>
		</tr>
	</table>
	<table>
		<tr>
			<td widtd="80%" border="1 0 1 1"><span style="font-weight:bold; font-size:10px; text-decoration: underline;">Terms & Conditions</span><br/>
			<span style="font-size:10px;">(1) Payment Terms: &nbsp;&nbsp;&nbsp;$purchaseOrder.vendor.paymentTerms days from PO  date<br/>
			(2) Tax Invoice:#set($inPartyAddress=$purchaseOrder.fromParty.getPartyAddressByType('BILLING'))
			$inPartyAddress.addressLine1,$inPartyAddress.addressLine2,$inPartyAddress.city,$inPartyAddress.state.name,$inPartyAddress.pincode
			</span><br/>
			<span style="font-weight:bold; font-size:10px;">(3) Delivery Address:#set($partyAddress=$purchaseOrder.fromParty.getPartyAddressByType('SHIPPING'))
			$partyAddress.addressLine1,$partyAddress.addressLine2,$partyAddress.city,$partyAddress.state.name,$partyAddress.pincode
			</span><br/>
			</td>
			<td border="1 1 1 0" valign="top" align="right" width="20%">Against C Form (if applicable)</td>
			
		</tr>
	</table>
	<table>
	<tr>
	<td widtd="10%" border="1 0 0 1" valign="top" align="left">Others</span></td>
	<td border="1 1 0 0" align="left" cellpadding="1 1 1 10" width="90%"><span style="font-size:10px;">(a) DELIVERED MERCHANDISE SHOULD BE STRICTLY AS PER SPECIFICATIONS AND AS PER OUR ORDER.<br/>
(b) P.O Number TO BE MENTIONED IN THE INVOICE AND MADE STRICTLY AS PER OUR ORDER.<br/>
(c) P.O COPY / LR COPY / ORIGINAL INVOICE SHOULD BE COURIERED TO OUR WAREHOUSE AS SOON AS YOU DESPATCH THE GOODS.<br/>
(d) ALL DISPUTES SUBJECT TO DELHI JURISDICTION.<br/>
(e) DELIVERIES STRICTLY AS PER THE PURCHASE ORDER. ANY EXCESS QUANTITY SUPPLIED WILL BE RETURNED BACK TO THE<br/>
SUPPLIER AT THE SUPPLIER'S COST.<br/>
(f) ANY DELIVERY BEYOND THE EXPIRY DATE WILL NOT BE ACCEPTED AND WILL BE RETURNED BACK TO SUPPLIER</td>
	</tr>
	<tr>
	<td colspan="2" cellpadding="30 0 20 5" border="0 1 1 1">This is an approved electronically generated confirmed PO for execution of orders does not require any signature.</span></td>
	</tr>
	</table>
</span>