#set($finalTotal=0)
<table border="1">
	<tr>
		<td border="1 1 0 1" colspan="2" align="center">
			#set($fromPartyAddress=$purchaseOrder.fromParty.getPartyAddressByType('BILLING'))
			<span style="font-weight: bold; font-size: 11px;">$purchaseOrder.fromParty.name</span><br/>
			<span style="font-size: 9px;">$fromPartyAddress.addressLine1 $fromPartyAddress.addressLine2,$fromPartyAddress.city
			 - $fromPartyAddress.pincode</span><br/>
			 <span style="font-weight: bold; font-size: 10px; text-decoration: underline;">TIN Number - $purchaseOrder.fromParty.tin</span>
		</td>
	</tr>
	<tr cellpadding="17 0 0 0">
		<td border="0 1 0 1" colspan="2" align="center">
			<span style="font-weight: bold; font-size: 10px;">PURCHASE ORDER NUMBER- $purchaseOrder.code<br/>
			PO DATE - #if($purchaseOrder.created)(${dateutils.dateToString($purchaseOrder.created,'dd MMM yyyy')})#end<br/>
			PO DELIVERY DATE - #if($purchaseOrder.deliveryDate)(${dateutils.dateToString($purchaseOrder.deliveryDate,'dd MMM yyyy')})#end</span>
		</td>
	</tr>
	<tr>
		<td border="0 0 0 1" align="left" width="67%" valign="top">
			<span style="font-weight: bold; font-size: 10px;">Supplier Name & Address-
				<br/>$purchaseOrder.vendor.name.toUpperCase()<br />
				#set($vendorAddress=$purchaseOrder.vendor.getPartyAddressByType('BILLING'))
				$vendorAddress.addressLine1.toUpperCase() $vendorAddress.addressLine2.toUpperCase() <br />
				$vendorAddress.city.toUpperCase()
			</span>
			<br/><br/>
			#if($purchaseOrder.vendor.getPartyContactByType('PRIMARY'))
				#set($vendorPrimaryContact=$purchaseOrder.vendor.getPartyContactByType('PRIMARY'))
				<span style="font-size: 10px;">Contact Person-$vendorPrimaryContact.name<br />
			#else
				<span style="font-size: 10px;">Contact Person- Not Available<br />
			#end
				TIN Number-$purchaseOrder.vendor.tin
			</span>
		</td>
		<td border="0 1 0 0" align="left" valign="top">
			<span style="font-weight: bold; font-size: 10px;">Billing Address-</span>
			<br/>#set($fromPartyAddress=$purchaseOrder.fromParty.getPartyAddressByType('BILLING'))
			<span style="font-size: 10px;">
				$purchaseOrder.fromParty.name<br/>
				$fromPartyAddress.addressLine1 $fromPartyAddress.addressLine2,<br/>
				$fromPartyAddress.city - $fromPartyAddress.pincode
				<br/><br/>
			</span>
			<span style="font-size: 10px;">Phone No. - #if($purchaseOrder.user.mobile)${purchaseOrder.user.mobile} #end<br />
				Buyer - $purchaseOrder.user.username
			</span>
			<br/>
		</td>
	</tr>
	<tr cellpadding="20 0 0 0">
		<td border="0 1 1 1" colspan="2" align="center">
			<table border="1">
				<tr align="center">
					<span style="font-size: 9px; font-weight: bold;">
					<td width="4%" cellpadding="0 0 2 0">S.No</td>
					<td width="16%" cellpadding="0 0 2 0">SKU CODE</td>
					<td width="30%" cellpadding="0 0 2 0">Product Name</td>
					<td width="8%" cellpadding="0 0 2 0">Variation</td>
					<td width="8%" cellpadding="0 0 2 0">Brand</td>
					<td width="4%" cellpadding="0 0 2 0">Qty</td>
					<td width="5%" cellpadding="0 0 2 0">MRP</td>
					<td width="5%" cellpadding="0 0 2 0">Rate</td>
					<td width="6%" cellpadding="0 0 2 0">Vat/CST%</td>
					<td width="8%" cellpadding="0 0 2 0">TOTAL</td>
					</span>
				</tr>
				#foreach($purchaseOrderItem in $purchaseOrder.purchaseOrderItems)
					#set($finalTotal = $finalTotal+$purchaseOrderItem.total)
					<tr>
						<span style="font-size: 9px;" >
						<td align="center" cellpadding="0 0 2 0">$foreach.count</td>
						<td align="center" cellpadding="0 0 2 0">$purchaseOrderItem.itemType.skuCode</td>
						<td align="center" cellpadding="0 0 2 1">$purchaseOrderItem.itemType.name</td>
						<td align="center" cellpadding="0 0 2 0">#if($purchaseOrderItem.itemType.variation) $purchaseOrderItem.itemType.variation #end</td>
						<td align="center" cellpadding="0 0 2 1">#if($purchaseOrderItem.itemType.brand) $purchaseOrderItem.itemType.brand #end</td>
						<td align="center" cellpadding="0 0 2 0">$purchaseOrderItem.quantity</td>
						<td align="center" cellpadding="0 0 2 0">#if($purchaseOrderItem.itemType.maxRetailPrice) $purchaseOrderItem.itemType.maxRetailPrice #end</td>
						<td align="center" cellpadding="0 1 2 0">$purchaseOrderItem.unitPrice</td>
						<td align="center" cellpadding="0 0 2 0">$purchaseOrderItem.taxPercentage</td>
						<td align="center" cellpadding="0 1 2 0">$purchaseOrderItem.total</td>
						</span>
					</tr>
				#end
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td cellpadding="0 0 2 1" align="center" cellpadding="0 0 0 0"><span style="font-weight: bold;font-size:9px;">Amount</span></td>
					<td align="center" cellpadding="0 1 2 0"><span style="font-size: 9px;">$finalTotal</span></td>
				</tr>
			</table>
		</td>
	</tr>
	
	
	<tr cellpadding="20 0 0 0">
		<br/>
		<td border="0 0 0 1" align="left" cellpadding="0 0 0 1" valign="top">
			<span style="font-weight: bold; font-size: 10px;">Shipping Address-</span>
			<br/>#set($fromPartyAddress=$purchaseOrder.fromParty.getPartyAddressByType('BILLING'))
			<span style="font-size: 10px;">
			$purchaseOrder.fromParty.name<br/>
			$fromPartyAddress.addressLine1 $fromPartyAddress.addressLine2,<br/>
			$fromPartyAddress.city - $fromPartyAddress.pincode
			</span>
		</td>
		<td border="0 1 0 0" align="left" cellpadding="0 1 0 0" valign="top">
			<span style="font-weight: bold; font-size: 9px;">Logistics charges&nbsp;&nbsp;: #if($purchaseOrder.officeyesLogisticCharges)$purchaseOrder.officeyesLogisticCharges #end</span>
			<br/>
			#set($finalTotal=$finalTotal+$purchaseOrder.officeyesLogisticCharges)
			<span style="font-weight: bold; font-size: 9px;">TOTAL(Inclusive  of all Taxes)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$finalTotal</span>
		</td>
	</tr>
	
	<tr cellpadding="20 0 0 0">
		
		<td border="0 0 1 1" align="left" cellpadding="0 0 0 1">
			<span style="font-weight: bold; font-size: 9px;">Payment Terms- #if($purchaseOrder.vendor.paymentTerms)$purchaseOrder.vendor.paymentTerms
			#end
			<br/><br/>
			Additional Remark- #if($purchaseOrder.remarks) $purchaseOrder.remarks #end
			</span>
		</td>
		<td border="0 1 1 0" align="left" cellpadding="0 0 2 0">
			<span style="font-weight: bold; font-size: 9px;">For $purchaseOrder.fromParty.name</span>
			<br/><br/>
			<span style="font-size:9px;">Authorized Signatory</span>
		</td>
	</tr>
</table>