<div>
	<style class="xl9b" style="font-size:9px;font-weight:bold;" />
	<style class="xl9" style="font-size:9px;"/>
	<style class="xl11" style="font-size:11px;"/>
	<style class="xl11b" style="font-size:11px;font-weight:bold;"/>
	<style class="xl8" style="font-size:8px;"/>
	<style class="xl8b" style="font-size:8px;font-weight:bold;"/>
	<style class="xl14" style="font-size:14px;font-weight:bold;"/>
	<style class="xlb" style="font-weight:bold;"/>
</div>
<span style="font-size:11px;font-weight:bold;text-align:center;">PURCHASE ORDER</span>
<table border="0.7" class="xl9">
	<tr valign="top" cellpadding="2">
		<td rowspan="4" width="50%">
			Invoice To<br/>
			<b>$purchaseOrder.fromParty.name</b><br/>
			#set($fromPartyAddress = $purchaseOrder.fromParty.getPartyAddressByType('BILLING'))
			#set($fromPartyContact = $purchaseOrder.fromParty.getPartyContactByType('PRIMARY'))
			$fromPartyAddress.addressLine1
			#if($fromPartyAddress.addressLine2)$fromPartyAddress.addressLine2 #end <br/>
			$fromPartyAddress.city - $fromPartyAddress.pincode<br/>
			TIN NO - #if($purchaseOrder.fromParty.tin)$purchaseOrder.fromParty.tin #end<br/>
			E-Mail:  #if($fromPartyContact.email)$fromPartyContact.email #end
		</td>
		<td width="25%">
			Order No.<br/>
			<b>$purchaseOrder.code</b>
		</td>
		<td width="25%">
			Dated<br/>
			<b>${dateutils.dateToString($purchaseOrder.created,'dd-MMM-yyyy')}</b>
		</td>
	</tr>
	<tr valign="top" cellpadding="2">
		<td>
		</td>
		<td>
			Mode/Terms of Payment
		</td>
	</tr>
	<tr valign="top" cellpadding="2">
		<td>
			Supplier's Ref.<br/>
		</td>
		<td>
			Other Reference(s)
		</td>
	</tr>
	<tr valign="top" cellpadding="2">
		<td>
			Dispatch through<br/>
		</td>
		<td>
			Destination
		</td>
	</tr>
	<tr valign="top" cellpadding="2"> 
		<td>
			Supplier<br/>
			<b>$purchaseOrder.vendor.name</b><br/>
			#set($vendorAddress = $purchaseOrder.vendor.getPartyAddressByType('BILLING'))
			$vendorAddress.addressLine1
			#if($vendorAddress.addressLine2)$vendorAddress.addressLine2 #end <br/>
			$vendorAddress.city - $vendorAddress.pincode
		</td>
		<td colspan="2">
			Terms of Delivery
		</td>
	</tr>
</table>
<table border="0.5">
	<tr align="center" valign="top" class="xl9b" cellpadding="1">
		<td width="8%">S.No</td>
		<td width="20%">Description of Goods</td>
		<td width="15%">Due on</td>
		<td width="10%">Quantity</td>
		<td width="12%">Rate</td>
        <td width="8%">per</td>
		<td width="12%">Disc %</td>
		<td width="15%">Amount</td>
	</tr>
	#set($finalTotal=$numberutils.newBigDecimal(0))
 	#set($totalQty=0)
	#foreach($purchaseOrderItem in $purchaseOrder.purchaseOrderItems)
		#set($totalQty=$totalQty+$purchaseOrderItem.quantity)
		#set($finalTotal = $finalTotal.add($purchaseOrderItem.total))
		<tr class="xl9" valign="top" cellpadding="1">
			<td>$foreach.count</td>
			<td>$purchaseOrderItem.itemType.name</td>
			<td align="right">${dateutils.dateToString($purchaseOrder.expiryDate,'dd-MMM-yyyy')}</td>
			<td align="right">$purchaseOrderItem.quantity PCS</td>
			#set($rate = $numberutils.divide($purchaseOrderItem.total,$purchaseOrderItem.quantity))
			<td align="right">$rate</td>
			<td align="right">PCS</td>
			<td align="right"></td>
			<td align="right">$purchaseOrderItem.total</td>
		</tr>
	#end
	<tr class="xl9" valign="top" cellpadding="1">
		<td></td>
		<td align="right">Total</td>
		<td></td>
		<td align="center">$totalQty</td>
		<td></td>
		<td></td>
		<td></td>
		<td>$finalTotal</td>
	</tr>
</table>
<table border="0.5">
	<tr>
		<td cellpadding="0">
			<table border="0" class="xl9">
				<tr valign="top" cellpadding="1">
					<td>
						Amount Chargeable(in words)	
					</td>
					<td></td>
					<td></td>
				</tr>
				<tr valign="top" cellpadding="1">
					<td>
						<b>$numberutils.toWords($finalTotal.intValue()) only</b>	
					</td>
					<td></td>
					<td align="right"><b>For $purchaseOrder.fromParty.name</b></td>
				</tr>
				<tr valign="top" cellpadding="1">
					<td>
						Company's VAT TIN:	
					</td>
					<td><b>#if($purchaseOrder.fromParty.tin)$purchaseOrder.fromParty.tin #end </b></td>
					<td></td>
				</tr>
				<tr valign="top" cellpadding="1">
					<td>
						Company's CST No.:	
					</td>
					<td><b>#if($purchaseOrder.fromParty.cstNumber)$purchaseOrder.fromParty.cstNumber #end </b></td>
					<td align="right">Authorized Signatory</td>
				</tr>
			</table>
		</td>
	</tr>
</table>		