@import "compass";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700);
html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
body{
  > header{
    height: 70px;
    background: #000;
  }
}
%radius2px{
  @include border-radius(2px);
}
logo,content,box,left,right,form,inputs,tools,forgot,remember,.login-btn,login-with,google,overlay,des,msg,msg:before,.textfield,back{
  display: block;
  @include box-sizing(border-box);
}
logo{
  background: url("/img/loginframe/uniware.jpg") no-repeat left center;
  width: 89px;
  height: 100%;
  margin-left: 90px;
}
overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}


content{
  background: url("/img/loginframe/login-bg.jpg") no-repeat center top;
  height: calc(100% - 70px);
  height: -moz-calc(100% - 70px);
  height: -webkit-calc(100% - 70px);
  background-size: cover;
}
box{
  width: 650px;
  height: 390px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -195px auto auto -325px;
  background: #FFF;
  @include box-shadow(0 0 10px 0 #000);
  left{
    width: 290px;
    height: 100%;
    background: #9cc535;
    padding: 30px;
    float:left ;
    color: #fff;
    header{
      font-size: 29px;
      word-spacing: -3px;
      line-height: 30px;

    }
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 18px;
    }
    li{
      font-size: 16px;
      padding-top: 21px;
      position: relative;
      des{
        font-size: 13px;
      }
      &:before{
        position: absolute;
        width: 4px;
        height: 3px;
        background: #fff;
        display: block;
        left: -9px;
        content: "";
        top: 27px;
      }
    }
  }
  right{
    width: 360px;
    height: 100%;
    float:left ;
    form{
      margin: 0;
      padding: 30px;
      height: 280px;
    }
    header{
      font-size: 16px;
      line-height: 34px;
      color: #666;
      to{
        font-weight: 500;
        color: #333;
      }
    }
    des{
      font-size: 13px;
      color:#666;
    }
    msg{
      font-size: 12px;
      color:#e02727;
      line-height: 20px;
      position: relative;
      padding-left: 13px;
      &:before{
        content: "!";
        display: block;
        position: absolute;
        width:  20px;
        height: 20px;
        background: #e02727;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #fff;
        @include border-radius(100%);
        left: -5px;
        top: 0px;
        font-weight: 700;
        @include scale(0.5);
      }
    }
    inputs{
      width: 100%;
      position: relative;
      *{
        transition: all 0.2s, z-index 0s;
      }
    }
    .textfield {
      display: block;
      height: 60px;
      line-height: 60px;
      border: 1px solid;
      border: 1px solid #cccccc;
      width: 300px;
      outline: none;
      position: relative;
      z-index: 1;
      padding-left: 17px;
      color: #333333;
      background: transparent;
      font-size: 13px;
      &:nth-of-type(2) {
        top: -1px;
      }
      &:focus {
        z-index: 2;
        border-color: #4888ee;
      }
      &.error {
        z-index: 3;
        border-color: #e02727;
        background: #fdf4f4;
        + .email {
          color: #e02727;
        }
        + .password {
          color: #e02727;
        }
      }
      &[value=""] + label {
        position: absolute;
        z-index: 0;
        left: 17px;
        line-height: 14px;
        font-size: 14px;
        color: #666;
        &.email {
          top: 24px;
        }
        &.password {
          top: 84px;
        }
      }
      &:valid , &:focus, &.error{
        padding-top: 10px;
        & + label{
          z-index: 4;
          font-size: 11px;
          color: #4888ee;
          font-weight: 500;
          &.email {
            top: 11px;
          }
          &.password {
            top: 71px;
          }
        }
      }
      &:-webkit-autofill{
        padding-top: 10px;
        & + label{
          z-index: 4;
          font-size: 11px;
          color: #4888ee;
          font-weight: 500;
          &.email {
            top: 11px;
          }
          &.password {
            top: 71px;
          }
        }
      }
      &.error{
        & + label:before{
          content: attr(data-error);
          position: absolute;
          z-index: 5;
          padding: 0 10px;
          height: 24px;
          line-height: 24px;
          background: #383443;
          bottom: -59px;
          color: #fff;
          white-space: nowrap;
        }
        & + label:after{
          border: 10px solid transparent;
          border-bottom-color: #383443;
          position: absolute;
          content: "";
          bottom: -41px;
          left: 0;
        }
        &:valid + label:before, &:valid + label:after{
          display: none;
        }
      }
      &:invalid{
        outline: none;
        @include box-shadow(none)
      }
    }
    tools{
      position: relative;
      forgot,back{
        position: absolute;
        font-size: 12px;
        color: #4888ee;
        top: 15px;
        cursor: pointer;
      }
      back{
        top: 25px;
        &.disable{
          opacity: 0.6;
        }
      }
      remember{
        position: absolute;
        top: 34px;
        color: #666;
        font-size: 12px;
        input{
          margin: 0;
        }
      }
      .login-btn{
        position: absolute;
        width: 150px;
        height: 40px;
        background: #4888ee;
        font-size: 13px;
        color: #FFF;
        line-height: 35px;
        text-align: center;
        right: 0;
        top: 10px;
        cursor: pointer;
        @extend %radius2px;
        border: 0;
      }
    }
    login-with{
      height: 109px;
      background: #f5f4f4;
      border-top: 1px solid #ccc;
      position: relative;
      google{
        position: absolute;
        width: 300px;
        height: 40px;
        background: #dc4b39;
        font-size: 13px;
        color: #FFF;
        line-height: 40px;
        text-align: center;
        left: 31px;
        top: 39px;
        cursor: pointer;
        @extend %radius2px;
      }
      &:before{
        content: attr(data-title);
        position: absolute;
        left: 165px;
        top: 18px;
        font: 14px/1 'Roboto';
        color: #666;
        font-style: italic;
      }
    }
  }
  &.frame{
    @include box-shadow(none);
    width: 340px;
    height: 287px;
    position: relative;
    left: 0px;
    top: 0px;
    margin: 0;
    right{
      width: 100%;
      height: 100%;
      form{
        padding: 20px;
      }
      header{
        font-size: 18px;
        line-height: 20px;
        to{
          font-weight: 500;
          font-size: 14px;
        }
        change{
          font-size: 12px;
          color: #4888ee;
          cursor: pointer;
        }
      }
      tools{
        forgot,back{
          top: 11px;
          right: 0;
        }
        back{
          top: 69px;
          left: 114px;
          &.disable{
            opacity: 0.6;
          }

        }
        remember{
          top: 11px;
        }
        .login-btn{
          width: 100%;
          height: 40px;
          top: 37px;
        }
      }
      &.forgot{
        .login-btn{
          top: 10px;
        }
      }
      &.sent{
        .login-btn{
          top: 16px;
        }
      }
      login-with{
        height: 75px;
        background: transparent;
        border-top: 0 none;
        google{
          left: 20px;
          top: 15px;
        }
        &:before{
          left: 155px;
          top: -7px;
        }
      }
    }
    inputs{
      margin-top: 7px;
    }
  }
}

