.modal.fade.in{
	top:4%;
}


.round_top_l,.round_top,.round_left,.round_all {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
}

.round_top_r,.round_top,.round_right,.round_all {
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}

.round_bottom_l,.round_bottom,.round_left,.round_all {
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.round_bottom_r,.round_bottom,.round_right,.round_all {
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.round_top_b,.round_all_b {
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.round_bottom_b,.round_all_b {
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.round_top_s,.round_all_s {
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.round_bottom_s,.round_all_s {
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

a.nodecoration {
	text-decoration: none;
}

a.nodecoration:hover {
	text-decoration: none;
}

em {
	color: #AAA;
}

.lfloat,.lfloat5,.lfloat10,.lfloat20 {
	display: inline-block;
	float: left;
}

.lfloat5 {
	margin-left: 5px;
}

.lfloat10 {
	margin-left: 10px;
}

.lfloat20 {
	margin-left: 20px;
}

.rfloat,.rfloat5,.rfloat10,.rfloat20 {
	display: inline-block;
	float: right;
}

.rfloat5 {
	margin-right: 5px;
}

.rfloat10 {
	margin-right: 10px;
}

.rfloat20 {
	margin-right: 20px;
}

.link {
	cursor: pointer;
	font-size: 12px;
	text-decoration: underline;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.inactive {
	opacity: 0.7;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.ucase {
	text-transform: uppercase;
}

.lcase {
	text-transform: lowercase;
}

.rtextalign {
	text-align: right !important;
}

ul,ol,dir,menu {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
	font-size: 0;
	height: 1px;
	margin-top: -1px;
	overflow: hidden;
}

input
[
type
=
""
]
,
input
:not
 
(
[
type
]
 
)
{
display
:
 
inline-block
;

	
height
:
 
20
px
;

	
padding
:
 
4
px
 
6
px
;

	
font-size
:
 
14
px
;

	
line-height
:
 
20
px
;

	
color
:
 
#555555
;

	
-webkit-border-radius
:
 
4
px
;

	
-moz-border-radius
:
 
4
px
;

	
border-radius
:
 
4
px
;

	
vertical-align
:
 
middle
;

	
background-color
:
 
#ffffff
;

	
border
:
 
1
px
 
solid
 
#cccccc
;

	
-webkit-box-shadow
:
 
inset
 
0
1
px
 
1
px
 
rgba
(0
,
0,
0,
0
.075
);

	
-moz-box-shadow
:
 
inset
 
0
1
px
 
1
px
 
rgba
(0
,
0,
0,
0
.075
);

	
box-shadow
:
 
inset
 
0
1
px
 
1
px
 
rgba
(0
,
0,
0,
0
.075
);

	
-webkit-transition
:
 
border
 
linear
 
.2s
,
box-shadow
 
linear
 
.2s
;

	
-moz-transition
:
 
border
 
linear
 
.2s
,
box-shadow
 
linear
 
.2s
;

	
-o-transition
:
 
border
 
linear
 
.2s
,
box-shadow
 
linear
 
.2s
;

	
transition
:
 
border
 
linear
 
.2s
,
box-shadow
 
linear
 
.2s
;


}
input[type=""]:focus,input:not  ([type]  ):focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(82, 168, 236, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(82, 168, 236, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(82, 168, 236, .6);
}

textarea.view,input.view {
	border-color: transparent;
	box-shadow: none;
}

.textfield {
	font-size: 15px;
	padding: 7px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.textfield.datefield {
	background: url("/img/icons/calendar.png") no-repeat;
	background-position: 210px 3px;
}

.editable {
	background: url("/img/icons/edit.png") no-repeat;
	width: 12px;
	height: 12px;
	display: inline-block;
	cursor: pointer;
}

.formHeading {
	font-size: 18px;
	color: #333333;
}

.formLabel {
	font-size: 14px;
	color: #333333;
}

.formLeft,.formLeft150 {
	width: 200px;
	color: #666666;
	font-size: 12px;
	margin: 5px;
}

.formLeft150 {
	width: 150px;
}

.formRight {
	margin: 5px;
	max-width: 250px;
}

.searchHeading {
	font-size: 16px;
	color: #333333;
}

.searchLabel {
	font-size: 14px;
	color: #333333;
	margin-bottom: 4px;
}

.pageHeading {
	font-size: 16px;
	color: #333333;
}

.pageLabel {
	font-size: 14px;
	color: #333333;
	margin-bottom: 4px;
}

.address {
	font-size: 13px;
	line-height: 20px;
	margin-right: 20px;
	background: #F8F8F8;
	padding: 15px;
	box-shadow: 2px 2px 5px #DDD;
}

.errorField {
	font-size: 14px;
	color: red;
}

.sprite-bg-x,.btn-orange,.btn-orange-small,.btn-submit {
	background-color: transparent;
	background-image: url("/img/backgrounds/bg-x.png");
	background-repeat: repeat-x;
	overflow: hidden;
}

.btn-orange,.btn-orange-small,.btn-submit {
	border: 1px solid #C87109;
	box-shadow: 0 2px 4px #C5C5C5;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
	padding: 4px 12px 6px;
	text-shadow: 1px 1px 1px #D38C16;
	text-transform: lowercase;
}

.btn-submit {
	font-size: 16px;
	padding: 2px 12px 3px;
}

.btn-orange:hover,.btn-submit:hover {
	background-position: 0 -35px;
}

.btn-orange-small {
	background-position: 0 -10px;
	font-size: 12px;
	line-height: 12px;
	padding: 2px 8px 3px;
}

.btn-orange-small:hover {
	background-position: 0 0px;
}

.btn-grey-inactive {
	background: #f6f6f6 url("/img/backgrounds/button-inactive-bg-x.png")
		repeat-x;
	background-position: 0 100%;
	color: #111;
	font-size: 12px;
	line-height: 20px;
	padding: 0 6px;
	cursor: pointer;
	border: 1px solid #DDD;
	text-transform: lowercase;
	box-shadow: 1px 1px 2px #EEE;
}

.btn-grey-inactive:hover {
	background: url("/img/backgrounds/button-bg-x.png") repeat-x;
	border: 1px solid #999;
	color: #000;
}

.btn-grey {
	background: url("/img/backgrounds/button-bg-x.png") repeat-x;
	background-position: left bottom;
	color: #000;
	font-size: 12px;
	line-height: 20px;
	padding: 0 8px 1px;
	cursor: pointer;
	border: 1px solid #AAA;
	text-transform: lowercase;
	box-shadow: 1px 1px 2px #DDDDDD;
}

.btn-grey:hover {
	border: 1px solid #666;
	color: #000;
}

.update {
	float: left;
}

.cancel {
	margin-left: 10px;
	float: left;
}

.uniTip {
	border-color: #C0C0C0 transparent transparent;
	border-right: 5px dashed transparent;
	border-style: solid dashed dashed;
	border-width: 5px 5px 0;
	display: inline-block;
	font-size: 0;
	height: 0;
	left: 4px;
	line-height: 0;
	padding-top: 1px;
	position: relative;
	top: -1px;
	width: 0;
}

.handCrsr {
	cursor: pointer;
	*cursor: hand;
}
/************************/
/* TABLE CSS */
table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

table.uniTable {
	font-size: 11px;
}

table.uniTable th {
	background: #F6F6F6;
	text-align: left;
	padding: 2px;
	color: #555;
	font-weight: normal;
}

table.uniTable td {
	padding: 2px;
	border-left: 1px solid #e5e5e5;
}

.first-col {
	border-left: 0px solid #e5e5e5;
}

table.uniTable tr:hover {
	background: #F2F7FA;
}

.table-readonly,.table-editable {
	display: block;
	height: 1%;
	margin: 0;
	padding: 3px 5px;
	position: relative;
	line-height: 18px;
}

.table-editable:hover {
	background: url("/img/icons/edit.png") no-repeat #FDFCD1;
	background-position: 99% 50%;
	cursor: pointer;
}

td input.edit {
	width: 90%;
}

/* DATA TABLE */

/************************/
/* DATA TABLE PLUGIN CSS*/
.dataTables_wrapper {
	border-top: 1px solid #DDDDDD;
	box-shadow: 0 -8px 8px -8px #DDDDDD;
	padding: 15px;
	position: relative;
	min-height: 400px;
	clear: both;
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 40%;
	float: left;
}

.dataTables_paginate {
	width: 40%; *
	width: 50px;
	float: right;
	text-align: right;
}

div#dataTable_length select {
	width: 70px;
}

/* Pagination nested */
.paginate_disabled_previous,.paginate_enabled_previous,.paginate_disabled_next,.paginate_enabled_next
	{
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

tr.odd,tr.even {
	background-color: #FFFFFF;
}

tr.even:hover,tr.odd:hover {
	background-color: #F2F7FA;
}

.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}

.top,.bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}

.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers a.paginate_button,.paging_full_numbers a.paginate_active
	{
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 7px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #555;
	background: #fefefe;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe),
		to(#dfdfdf));
	background: -moz-linear-gradient(top, #fefefe, #dfdfdf);
	background: -o-linear-gradient(top, #fefefe, #dfdfdf);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',
		endColorstr='#dfdfdf');
	text-shadow: 1px 1px 1px #fff;
}

a.paginate_button_disabled {
	opacity: 0.5;
	cursor: default;
}

.paging_full_numbers a:active {
	outline: none
}

.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers a.paginate_active {
	background: #aaa;
	border-color: #888;
	color: #fff;
	text-shadow: none;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

table.dataTable {
	clear: both;
	margin: 10px auto;
	width: 100%;
	font-size: 11px;
	line-height: 18px;
}

table.dataTable thead th {
	padding: 5px;
	border-bottom: 1px solid #CCC;
	font-weight: normal;
	font-size: 12px;
	cursor: pointer; *
	cursor: hand;
	text-align: left;
}

table.dataTable td {
	line-height: 22px;
	padding: 2px;
	border-bottom: 1px solid #EEE;
}

/* DATA TABLE */

/* DATE RANGE PLUGIN CSS */
/*styles for jquery ui daterangepicker plugin */
.ui-daterangepickercontain {
	position: absolute;
	z-index: 999;
}

.ui-daterangepickercontain .ui-daterangepicker {
	float: left;
	padding: 5px !important;
	width: auto;
	display: inline;
	background-image: none !important;
	clear: left;
}

.ui-daterangepicker ul,.ui-daterangepicker .ranges,.ui-daterangepicker .range-start,.ui-daterangepicker .range-end
	{
	float: left;
	padding: 0;
	margin: 0;
}

.ui-daterangepicker .ranges {
	width: auto;
	position: relative;
	padding: 5px 5px 40px 0;
	margin-left: 10px;
}

.ui-daterangepicker .range-start,.ui-daterangepicker .range-end {
	margin-left: 5px;
}

.ui-daterangepicker button.btnDone {
	margin: 0 5px 5px 0;
	position: absolute;
	bottom: 0;
	right: 0;
	clear: both;
	cursor: pointer;
	font-size: 1.1em;
}

.ui-daterangepicker ul {
	width: 17.6em;
	background: none;
	border: 0;
}

.ui-daterangepicker li {
	list-style: none;
	padding: 1px;
	cursor: pointer;
	margin: 1px 0;
}

.ui-daterangepicker li.ui-state-hover,.ui-daterangepicker li.ui-state-active
	{
	padding: 0;
}

.ui-daterangepicker li.preset_0 {
	margin-top: 1.5em !important;
}

.ui-daterangepicker .ui-widget-content a {
	text-decoration: none !important;
}

.ui-daterangepicker li a {
	font-weight: normal;
	margin: .3em .5em;
	display: block;
}

.ui-daterangepicker li span {
	float: right;
	margin: .3em .2em;
}

.ui-daterangepicker .title-start,.ui-daterangepicker .title-end {
	display: block;
	margin: 0 0 .2em;
	font-size: 1em;
	padding: 0 4px 2px;
}

.ui-daterangepicker .ui-datepicker-inline {
	font-size: 1em;
}

.ui-daterangepicker-arrows {
	padding: 2px;
	width: 204px;
	position: relative;
}

.ui-daterangepicker-arrows input.ui-rangepicker-input {
	width: 158px;
	margin: 0 2px 0 20px;
	padding: 2px;
	height: 1.1em;
}

.ui-daterangepicker-arrows .ui-daterangepicker-prev,.ui-daterangepicker-arrows .ui-daterangepicker-next
	{
	position: absolute;
	top: 2px;
	padding: 1px;
}

.ui-daterangepicker-arrows .ui-daterangepicker-prev {
	left: 2px;
}

.ui-daterangepicker-arrows .ui-daterangepicker-next {
	right: 2px;
}

.ui-daterangepicker-arrows .ui-daterangepicker-prev:hover,.ui-daterangepicker-arrows .ui-daterangepicker-next:hover,.ui-daterangepicker-arrows .ui-daterangepicker-prev:focus,.ui-daterangepicker-arrows .ui-daterangepicker-next:focus
	{
	padding: 0;
}
/*styles for jquery ui daterangepicker plugin ends */
.greybor {
	border: 1px solid #F4F4F4;
}

.ovrhid {
	overflow: hidden;
}

.ovry {
	overflow-x: hidden;
	overflow-y: auto;
}

.ovrx {
	overflow-x: auto;
	overflow-y: hidden;
}

.overauto {
	overflow: auto;
}

.datefield {
	background: url("/img/icons/calendar-icon.jpg") no-repeat 98% 50%;
	background-size: 25px;
}

.field-width {
	width: 90%;
}

.f11 {
	font-size: 11px;
}

.f12 {
	font-size: 12px;
}

.f15 {
	font-size: 15px
}

.f18 {
	font-size: 18px;
}

.field-width_50 {
	width: 50%;
}

.pad-15 {
	padding: 15px !important;
}

.pad-10 {
	padding: 10px !important;
}

.pad-10-top {
	padding-top: 10px
}

.pad-15-top {
	padding-top: 15px !important;
}

.pad-15-left {
	padding-left: 15px !important;
}

.mar-5-top {
	margin-top: 5px;
}

.mar-5-bot {
	margin-top: 5px;
}

.mar-10-top {
	margin-top: 10px;
}

.mar-10-lft {
	margin-left: 10px;
}

.mar-10-rht {
	margin-right: 10px;
}

.mar-15-top {
	margin-top: 15px
}

.mar-15-bot {
	margin-bottom: 15px
}

.mar-15-rht {
	margin-right: 15px
}

.pad-35-bot {
	padding-bottom: 35px !important;
}

.height_300 {
	height: 300px;
}

.height_450 {
	height: 450px;
}

.height_150 {
	height: 150px;
}

.height_100 {
	height: 100px;
}

.width_20per {
	width: 20%;
}

.width_75per {
	width: 75%
}

.scroll-y {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 250px;
}

sup {
	font-size: 8px;
}

.imgHover {
	display: inline;
	position: relative;
}

.imgHover:hover {
	cursor: pointer;
}

.imgHover .hover {
	display: none;
	position: absolute;
	left: 20px;
	height: 400px;
	min-width: 300px;
	top: -100px;
	z-index: 2000;
	border: 1px solid #999;
	background: #FFF;
	padding: 5px;
}

.ui-effects-csv {
	background: url('/img/icons/CSV.png') no-repeat;
}

.ui-effects-transfer {
	border: 2px dotted grey;
}

.errorMessage {
	color: red;
}

.w300 {
	width: 300px;
}

.w400 {
	width: 400px;
}

.w250 {
	width: 250px;
}

.w50 {
	width: 50px;
}

.w200 {
	width: 200px;
}

.w130 {
	width: 130px;
}

.w100 {
	width: 100px;
}

.w108 {
	width: 108px;
}

.w150 {
	width: 150px;
}

.margin4 {
	margin-right: 4px
}

.bg-red {
	background: #C00909;
	background: -webkit-gradient(linear, left top, left bottom, from(#C00909),
		to(#6f0909));
	background: -moz-linear-gradient(top, #C00909, #6f0909);
	background: -o-linear-gradient(top, #C00909, #6f0909);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C00909',
		endColorstr='#6f0909');
}

.bg-yellow {
	background: #FADD39;
	background: -webkit-gradient(linear, left top, left bottom, from(#FADD39),
		to(#F09926));
	background: -moz-linear-gradient(top, #FADD39, #F09926);
	background: -o-linear-gradient(top, #FADD39, #F09926);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FADD39',
		endColorstr='#F09926');
}

.bg-green {
	background: #86BD00;
	background: -webkit-gradient(linear, left top, left bottom, from(#86BD00),
		to(#628900));
	background: -moz-linear-gradient(top, #86BD00, #628900);
	background: -o-linear-gradient(top, #86BD00, #628900);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#86BD00',
		endColorstr='#628900');
}

.bg-grey {
	background: #fefefe;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe),
		to(#dfdfdf));
	background: -moz-linear-gradient(top, #fefefe, #dfdfdf);
	background: -o-linear-gradient(top, #fefefe, #dfdfdf);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',
		endColorstr='#dfdfdf');
}

.item-detail {
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #BBB;
	padding: 2px;
}

.item-detail:hover {
	opacity: 0.7;
}

/* comment */
#commentsList {
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
}

#commentsList li {
	background: #edeff4;
	margin-bottom: 1px;
	padding: 5px;
}

#commentsList li:hover .deletecomment {
	display: block;
}

.deletecomment {
	background: url(/img/icons/comments-remove.gif) no-repeat;
	width: 15px;
	height: 15px;
	float: right;
	cursor: pointer;
	display: none;
}

.deletecomment:hover {
	background: url(/img/icons/comments-remove-hover.gif) no-repeat;
	display: block;
}

.commentsUserName strong {
	color: #3b59a8;
	font-size: 12px;
}

.commentsDate {
	color: #808080;
}

.commentsBox {
	background: #edeff4;
	padding: 5px;
}

#commentBox {
	width: 99%;
}

.btn {
	text-transform: lowercase;
}

.breakWord {
	word-wrap: break-word;
}

.hoverClass {
	position: relative;
}

.hoverClass:hover .channelHelpContent {
	display: inline-block !important;
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 4px;
	position: absolute;
}

.channelHelp {
	display: inline-block;
	width: 20px;
	height: 21px;
	background: url(/img/icons/sprite-icons.png?v=1) no-repeat 0 -19px;
	margin-left: 6px;
	margin-top: 0px;
}