/*
  Font Custom - icon webfonts made simple
*/

@font-face {
  font-family: "fontcustom";
  src: url("/font/fontcustom.eot?#iefix&v=1") format("embedded-opentype"),
       url("/font/fontcustom.woff?v=1") format("woff"),
       url("/font/fontcustom.ttf?v=1") format("truetype"),
       url("/font/fontcustom.svg#fontcustom?v=1") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
  Bootstrap Overrides
*/

[class^="iconu-"]:before, [class*=" iconu-"]:before {
  font-family: "fontcustom";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a [class^="iconu-"], a [class*=" iconu-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
.iconu-large:before {
  vertical-align: top;
  font-size: 1.333em;
}

/* keeps button heights with and without icons the same */
.btn [class^="iconu-"], .btn [class*=" iconu-"] {
  line-height: 0.9em;
}

li [class^="iconu-"], li [class*=" iconu-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

/* 1.5 increased font size for icon-large * 1.25 width */
li .icon-large[class^="iconu-"], li .icon-large[class*=" iconu-"] {
  width: 1.875em;
}

li[class^="iconu-"], li[class*=" iconu-"] {
  margin-left: 0;
  list-style-type: none;
}

li[class^="iconu-"]:before, li[class*=" iconu-"]:before {
  text-indent: -2em;
  text-align: center;
}

li[class^="iconu-"].icon-large:before, li[class*=" iconu-"].icon-large:before {
  text-indent: -1.333em;
}

/*
  Icon Classes
*/

.iconu-accounts:before { content: "\f100"; }
.iconu-channels:before { content: "\f101"; }
.iconu-customer:before { content: "\f102"; }
.iconu-dashboard:before { content: "\f103"; }
.iconu-dispatch:before { content: "\f104"; }
.iconu-fulfillment:before { content: "\f105"; }
.iconu-inbound:before { content: "\f106"; }
.iconu-material:before { content: "\f107"; }
.iconu-orders:before { content: "\f108"; }
.iconu-picking:before { content: "\f109"; }
.iconu-procure:before { content: "\f10a"; }
.iconu-products:before { content: "\f10b"; }
.iconu-reports:before { content: "\f10c"; }
.iconu-returns:before { content: "\f10d"; }
.iconu-settings:before { content: "\f10e"; }
.iconu-shipments:before { content: "\f10f"; }
.iconu-system:before { content: "\f110"; }
