html {
	color: #262C26;
	font-family: "ProximaNovaLight","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 11px;
	height: auto;
	margin: 0 0;
}


a#logo-link {
	background: url("/img/uniware.png") no-repeat;
	display: block;
	float: left;
	height: 35px;
	text-decoration: none;
	width: 160px;
	margin-left: 5px;
}

div#body-header {
	float: left;
	min-width: 950px;
	height: 73px;
	width: 100%;
	border-bottom: 1px solid #DDDDDD;
}

.headerLi {
	line-height:27px;
	padding: 0 15px;
	vertical-align: top;
	display: inline-block;
}

.bLabel {
	padding: 2px 10px;
}

.bLabel:hover {
	background: #DDEBE2;
}

.vLabel {
	line-height:24px;
	float:left;
	padding:0 10px;
	background:#DDD;
	margin:3px 20px 3px 0;
	text-transform:uppercase;
}

.vLabel:hover {
	background:#AAA;
}

.vLabel-close {
	float: right; 
	margin-top: 4px; 
	margin-left: 7px;
	cursor: pointer
}

.splitter {
	background: url("/img/backgrounds/splitter.gif") repeat scroll transparent;
    border: 0 none;
    font-size: 0;
    padding: 29px 0 0;
    width: 1px;
    display: inline-block;
}

div#body-main {
	min-width: 950px;
	width: 100%;
	min-height: 600px;
}

div#body-footer {
	clear: both;
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 10px;
	color: #888;
	text-align: center;
	height: 10px;
}

.menuItem {
	width: 80px;
	display: inline-block;
	line-height: 26px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #DDDDDD;
	border-bottom: none;
	cursor: pointer;
	margin: 0px 0px 1px;
	background: url("/img/backgrounds/tabs-bg.gif") repeat-x;
	-moz-border-radius: 10px 20px 0 0;
	-webkit-border-radius: 10px 20px 0 0;
	border-radius: 10px 20px 0 0;
}

.subMenuItem {
	background: none repeat scroll 0 0 #F6F6F6;
	border-color: #DDDDDD #DDDDDD -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    cursor: pointer;
    float: left;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    width: auto;
    padding: 4px;
    margin: 0 3px 0 0;
}

.menuItem:hover {
	opacity: 0.8;
}

.menuItemText {
	
}

.menuItemImage {
	float: left;
	margin: 6px 5px 0 15px;
}

div#menu {
	margin-top: 10px;
	margin-left: 10px;
}

div#menu a {
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 0px 1px #7fc115;
	display:inline-block;
	float:left;
}

.menuSelected,.menuSelected:hover {
	border-bottom: 0px;
	padding-bottom: 1px;
	color: #4e9f18;
	background: #F4F9F5;
	text-shadow: 1px 1px 0px #fff;
	box-shadow:0 2px 2px #A9A8A8 inset;
	-moz-box-shadow:0 2px 2px #A9A8A8 inset;
	-webkit-box-shadow:0 2px 2px #A9A8A8 inset;
}


.subMenuSelected,.subMenuSelected:hover {
	background: none;
	width: auto;
	padding: 4px;
}

ul#sideNav {
	margin-top: 15px;
	margin-left: 10px;
}

ul#sideNav li {
	color: #A7A7A8;
	margin-bottom: 30px;
	text-transform: uppercase;
}

ul#sideNav li ul {
	border-top: 1px solid #D7D2CB;
	clear: both;
	margin-top: 2px;
}

ul#sideNav li ul a {
	text-decoration: none;
	color: inherit;
}

ul#sideNav li li {
	border-bottom: 1px solid #E1E6DD;
	border-top: 1px solid #FEFFFD;
	margin-bottom: 0;
	padding: 5px 5px;
	text-transform: none;
	text-shadow: 1px 2px 1px #FFFFFF;
}

ul#sideNav li li:hover {
	background: #E8E8E8;
}

ul#sideNav h5 {
	float: left;
	margin-bottom: 2px;
	margin-left: 5px;
	font-size: 12px;
	text-shadow: 1px 1px 0 #FFFFFF;
}

ul#sideNav .selected,ul#sideNav .selected:hover {
	background: #FFFFFF;
	color: #888888;
	border-left: 1px solid #D7D2CB;
}

div#lightBox{
	display: none;
	background: none repeat scroll 0 0 #000000;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	opacity: 0.7;
}

.chartWidgetOverlay-block{
	display:block !important;
}	

div#lightBox.processing {
	background: #FFF;
}

div#actionInfo {
	margin:2px auto;
    padding: 5px 15px;
    text-align: center;
    top:0;
    left:50%;
    position: fixed;
    z-index: 1100;
}

div#processing {
	border: 1px solid green;
    color: green;
    font-size: 18px;
    height: 30px;
    left: 50%;
    margin-left: -100px;
    margin-top: -15px;
    padding: 20px;
    position: absolute;
    top: 50%;
    width: 170px;
    z-index: 10000;
}

.lb-over {
	display: none;
	left: 0;
	outline: medium none;
	overflow: visible;
	position: absolute;
	top: 75px;
	width: 100%;
	z-index: 10000;
}

.lb-over-inner {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #777777;
	box-shadow: 0 0 15px #EEEEEE;
	margin: auto;
	outline: medium none;
	overflow: visible;
	position: relative;
	width: 520px;
}

.lb-close {
	color: #888888;
	cursor: pointer;
	margin: 8px 15px 0 0;
}	

.chartZoom{
	background: #FEFEFE;
	background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#F2F7FA) );
	background: -moz-linear-gradient(top, #FEFEFE, #F2F7FA);
	background: -o-linear-gradient(top, #FEFEFE, #F2F7FA);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F2F7FA' );
	height:16px;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	overflow:hidden;
	visibility: hidden;
}
.chart:hover .chartZoom{
	visibility:visible;
}
.chartZoom span{
	display:block;
	width:14px;
	height:15px;
	float:right;
	margin:1px 2px 0 5px;
	cursor:pointer;
}
span.chartClose{
	background:url(/img/icons/chart-close.gif);
}

span.chartMaximise{
	background:url(/img/icons/chart-maximise.gif);
}

span.chartReferesh{
	background:url(/img/icons/chart-refresh.gif);
}	

#leftWidgetPreview{
	width:700px;
	position:fixed;
	bottom:128px;
	display:none;
	left:40px;
	z-index:10001
}

#widget-preview-add{
	position:absolute;
	z-index:10;
	margin:-30px 0 0 7px;
}	
	

#widget-preview-arrow{
	background:url(/img/icons/widget-preview-arrow.png) no-repeat center top;
	width:120px;
	height:11px;
	position:fixed;
	z-index:10002;
	display:none;
	bottom:119px;
	left:0px;
}	

#chartZoom{
	top:10px !important;
}	

#chartZoom, #chartPreview{
	width:700px;
	height:420px;
}

.chartZoomClose{
	width:700px;
	margin:0 auto;
	position:relative;
}

.chartZoomClose span{
	width:35px;
	background:url(/img/icons/close.png);
	height:35px;
	right:0px;
	position:absolute;
	margin:-8px -16px 0  0;
	z-index:10;
	cursor:pointer;
}	

div.chart {
	float:left; 
	margin:10px 0px 0px 10px;
	cursor:move;
}

.sprite-icons {
	background-color: transparent;
	background-image: url("/img/icons/sprite-icons.png");
	display: block;
	overflow: hidden;
}

.sprite-delete{ background-position: 0 0; width: 14px; height: 20px; } 
.sprite-home{ background-position: 0 -21px; width: 22px; height: 21px; } 
.sprite-report{ background-position: 0 -43px; width: 22px; height: 19px; } 
.sprite-admin{ background-position: 0 -63px; width: 28px; height: 18px; } 
.sprite-oms{ background-position: 0 -82px; width: 19px; height: 17px; } 
.sprite-edit{ background-position: 0 -100px; width: 19px; height: 17px; opacity: 0.5}
.sprite-edit:hover { opacity: 0.9}
.sprite-window{ background-position: 0 -118px; width: 21px; height: 18px; } 
.sprite-download{ background-position: 0 -137px; width: 21px; height: 21px; } 
.sprite-procure{ background-position: 0 -159px; width: 21px; height: 18px; } 
.sprite-barcode{ background-position: 0 -178px; width: 19px; height: 19px; } 
.sprite-warehouse{ background-position: 0 -198px; width: 19px; height: 19px; }

.ui-selectee {
	line-height:24px;
	padding:0 10px;
	background:#DFDFDF;
	margin:3px 20px 3px 0;
	cursor: pointer;
	display: inline-block;
}

.ui-selectee:hover {
	background:#AAA;
}
.sections .ui-selecting { background: #FECA40; }
.sections .ui-selected { background: #F39814; color: white; }

.categories .ui-selecting { background: #FECA40; }
.categories .ui-selected { background: #F39814; color: white; }

/* edit vendor */
.detailsbox {
	margin-bottom: 20px;
}

.headlable {
	padding: 5px;
}

h4.edithead {
	background: url("/img/icons/form-head.png") no-repeat 0px 50%;
	padding-left: 20px;
	margin: 0px;
	font-size: 14px;
	font-weight: normal;
	float: left;
}

.formedit {
	padding: 5px;
	font-size: 12px;
	height: 220px;
}

.vendorDetailEdit {
	padding: 5px;
	font-size: 12px;
}

.form-edit-table-cont {
	padding: 0px;
}

.address-box {
	font-size: 12px;
	background: #F8F8F8;
	box-shadow: 2px 2px 5px #DDD;
	margin: 10px;
}

.vendor-address-head {
	background: #dedede;
	text-transform: uppercase;
	font-weight: bold;
	padding: 3px 10px;
}

.vendor-add-cont {
	padding: 10px;
}

.lb-over-inner-head {
	background: #f6f6f6;
	padding: 8px 15px;
}

.lb-over-innder-cont {
	padding: 15px;
}

.lb-over-form-cont {
	padding: 5px 0
}

/* edit vendor ends */

/* facility nav info */
.facility-nav-info {
	display: none;
	background: #ddebe2;
	position: absolute;
	top:0;
	left: 0;
	padding: 10px 20px;
	z-index: 10;
}

.facility-nav-info .facility {
	padding: 5px 16px;
}

.facility-nav-info .facility:hover {
	cursor : pointer;
	background: #eff7f2;
}

/* facility nav info ends*/

/* customer nav info */
.customer-nav-info {
	display: none;
	background: #ddebe2;
	position: absolute;
	top:0;
	left: 0;
	padding: 10px 20px;
	z-index: 10;
	width: 210px;

}

.customer-nav-info a {
	display: block;
	padding: 1px 16px;
}

.customer-nav-info a:hover {
	background: #eff7f2;
}

.active-user-tab {
	background: #ddebe2;
}

/* customer nav info ends*/

/* admin index */
.admin-home-box {
	margin: 20px;
}

.main-box-head {
	padding: 6px;
	box-shadow: 1px 3px 3px #EAEAEA;
	-moz-box-shadow: 1px 3px 3px #EAEAEA;
	-webkit-box-shadow: 1px 3px 3px #EAEAEA;
}

h2.edithead {
	padding-left: 10px;
	margin: 0px;
	font-size: 16px;
	font-weight: normal;
	float: left;
	color: #333;
	text-shadow: 1px 1px #fff;
	line-height:25px;
}

.main-boform-cont {
	padding:10px 20px;
}

.users-role {
	margin: 3px 0;
}

.users-child-role {
	margin-left: 23px;
}

/* scn shipment */

.head-textfields{
	padding-right:50px;
}
	
table.fields-table{
	background:#f2f2f2;
	border-collapse:separate !important;
}	
	
table.fields-table td{
	background:#f9f9f9;
}

table.center-fields-table{
	background:#f2f2f2;
	border-collapse:separate !important;
}	

table.center-fields-table td{
	background:#f9f9f9;
	text-align:center;
}

.provider-box{
	width:49%;
}

.close-time{
	background:url(/img/icons/close-small.png) no-repeat 3px 0;
	width:15px;
	height:12px;
	display:inline-block
}

.close-time-mar{
	margin:0 -3px -1px 0
}

/* end of scn shipment */

/* invoice */

.subhead{
	padding-bottom:10px;
	font-size:14px;
}

.invoice_thumbs_cont{
	padding-left: 15px;
	width:140px;
}

.thumb-box{
	margin:0 15px 10px 0;
}

.thhumb{
	padding:5px;
	box-shadow: 0 0 5px #CCCCCC inset;
}

.invoive-print-toolbar{
	background:#f6f6f6;
	padding:3px 10px;
	
}

.ip-toolbar-cont{
	padding:3px 5px;
}

.slct-copies{
	font-size:11px;
}

.ip-edit-field{
	padding:15px 0 15px 15px
}

.ip-but-box{
	padding:15px;	
}

.ip-browse-temp-butt{
	color:#007934;
	text-decoration:underline;
	padding:5px 0;
	cursor:pointer;
	font-size:13px;
}

.ip-bigImage{
	float:none; 
	clear:both; 
	margin:0px !important; 
	overflow-y:auto;
	overflow-x:hidden; 
	height:525px
}

.drkgrey-bg{
	background:#e8e8e8
}

.activeThumb{
	box-shadow: 0 0 5px #fd910d inset;
}

/* generate picklist */

.sc-pic-box{
	font-size: 14px; 
	line-height: 18px; 
	padding: 10px; 
	border: 1px solid #CCC; 
	width: 210px; 
	height: 140px;
	background:#fff;
}

/* common icons*/

.common-head-ico{
	position:absolute;
	top:122px;
	overflow:hidden;
	right:3%
}

.common-head-ico span{
	width:18px;
	height:18px;
	display:inline-block;
	margin-right:15px;
	cursor:pointer;
}

span.print{
	background:url(/img/icons/sprite-icons.png?v=1) no-repeat;
	
}

span.help{
	background:url(/img/icons/sprite-icons.png?v=1) no-repeat 0 -19px;
}

span.refresh{
	background:url(/img/icons/sprite-icons.png?v=1) no-repeat 0 -39px;
}

/* edit item length & width */
.printBarcode{
	overflow:hidden;
	display:inline-block;
}

.printBarcode:hover{
	background:url(/img/icons/print.png) no-repeat center;
}

.printBarcodeCont:hover{
	opacity:0.1;
}

.minus-btn {
	background: #f7f7f7;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#dfdfdf) );
	background: -moz-linear-gradient(top, #f7f7f7, #dfdfdf);
	background: -o-linear-gradient(top, #f7f7f7, #dfdfdf);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#dfdfdf' );
	color: #AAA;
	text-shadow: 1px 1px #FFFFFF;
	padding: 0 6px;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	-moz-border-radius-topleft: 14px;
	-webkit-border-top-left-radius: 14px;
	-moz-border-radius-bottomleft: 14px;
	-webkit-border-bottom-left-radius: 14px;
	font-size: 22px;
	font-weight: bold;
}

.plus-btn {
	background: #f7f7f7;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#dfdfdf) );
	background: -moz-linear-gradient(top, #f7f7f7, #dfdfdf);
	background: -o-linear-gradient(top, #f7f7f7, #dfdfdf);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#dfdfdf' );
	color: #AAA;
	text-shadow: 1px 1px #FFFFFF;
	padding: 0 5px 0 3px;
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	-moz-border-radius-bottomright: 14px;
	-webkit-border-bottom-right-radius: 14px;
	-moz-border-radius-topright: 14px;
	-webkit-border-top-right-radius: 14px;
	font-size: 17px;
	font-weight: bold;
}

.minus-btn:hover, .plus-btn:hover {
	background: #EFEFEF;
	background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#CFCFCF) );
	background: -moz-linear-gradient(top, #EFEFEF, #CFCFCF);
	background: -o-linear-gradient(top, #EFEFEF, #CFCFCF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#CFCFCF' );
	cursor:pointer;
}

.editPicklistGroupRow {
	background:#EEE;
	font-weight:bold;
	color:#666;
}

#helpHeader {
	padding:5px;
	background: #8DC469;
	background: -webkit-gradient(linear, left top, left bottom, from(#8DC469), to(#578E34) );
	background: -moz-linear-gradient(top, #8DC469, #578E34);
	background: -o-linear-gradient(top, #8DC469, #578E34);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8DC469', endColorstr='#578E34' );	
	color:white;
	font-size:16px;
	font-weight:bold;
}

#helpClose {
	cursor:pointer;
}

#helpContent h1,#helpContent h2,#helpContent h3 {
	color : green;
	margin:0 0 10px 0;
}

.help-text{
	color:#666;
}

.help-text ul{
	margin:10px 0; 
}

.help-text ul li{
	padding:2px 0; 
}

.widgetBox-outer{
	position:fixed;
	bottom:0px;
	width:100%;
	left:0px;
	visibility:hidden;
	z-index:10000;
	
}

.widgetAction{
	background:rgba(0,0,0,0.8);
	padding:2px;
	border-radius:20px 20px 0 0;
	-moz-border-radius:20px 20px 0 0;
	-webkit-border-radius:20px 20px 0 0;
	overflow:hidden;
	float:left;
}

.widgetActionIcon{
	background:url(/img/icons/widget-add.png);
	width:34px;
	height:34px;
	display:block;
	float:left;
}

.widgetActionHoverText{
	float:left;
	font-size:16px;
	color:#fff;
	padding:6px 10px 0 10px;
	display:none;
}

.widgetAction:hover .widgetActionHoverText, .widgetActionActive{
	display:block;
}

.widget-close{
	background:url(/img/icons/widget-close.png);
}	

.widgetsBox{
	box-shadow:0 5px 5px #646464 inset;
	-moz-box-shadow:0 5px 5px #646464 inset;
	-webkit-box-shadow:0 5px 5px #646464 inset;
	background:#b4bbc2 url(/img/backgrounds/widgets-bg.gif) repeat-x 0 9px;
	padding-top:9px;
	border-top:1px solid #484b4e;
	display:none;
	height:120px;	
}

.widgets-bg{
	padding:5px 0 0 0;
	overflow:hidden;
	position:relative;
	left:0px;
	width:9999px;
}

.widget-icon-box{
	width:120px;
	float:left;
}

.widget-icon-box img{
	padding:3px;
}	

.widget-icon-box img:hover{
	border:3px solid #ef7d2b;
	border-radius:5px;
	padding:0px;
}	

.widget-icon-text{
	font-size:12px;
	font-weight:bold;
	color:#35393b;
	text-shadow:1px 1px #fff;
}

#clonePO-drop{
	position:absolute;
	background:#fafafa;
	right:10px;
	border:1px solid #AAAAAA;
	width:150px;
	padding:10px 5px;
	top:22px;
	font-size:13px;
	display:none;
}

#clonePO-drop label{
	display:block;
	padding:7px 10px;
	color:#000;
	cursor:pointer;
}

#clonePO-drop label:hover {
	background: #e8e8e8;
}

table.alert-table{
	background:#f9f7f1;
}

table.alert-table th{
	padding:8px 5px 2px 5px;
	font-weight:bold;
	text-align:left;
}

table.alert-table tr:nth-child(even){
	background: #f2f0eb
}
table.alert-table tr:nth-child(odd){
	
	background: #f9f7f1
}

table.alert-table td{
	padding:10px 5px;
}

table.alert-table .alert-head{
	font-size:13px;
	font-weight:bold;
}

table.alert-table .alert-small{
	font-size:11px;
	color:#a6948d;
}

tr.disabled {
	opacity : 0.5;
}
