@font-face {
	font-family: 'ProximaNovaLight';
	src: url("/font/proximanova-light-webfont.eot");
	src: url("/font/proximanova-light-webfont.eot") format("embedded-opentype"), url("/font/proximanova-light-webfont.woff") format("woff"), url("/font/proximanova-light-webfont.ttf") format("truetype"),
		url("/font/proximanova-light-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ProximaNovaRegular';
	src: url("/font/proximanova-reg-webfont.eot");
	src: url("/font/proximanova-reg-webfont.eot") format("embedded-opentype"), url("/font/proximanova-reg-webfont.woff") format("woff"), url("/font/proximanova-reg-webfont.ttf") format("truetype"),
		url("/font/proximanova-reg-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal
}
.font40{
	font-size: 40px;
	line-height: 50px;
	word-wrap: break-word;
}
a {
	text-decoration: none;
	color: #3084ca;
}

body {
	line-height: 18px;
	font-size: 13px;
	color: #444;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: auto;
	margin: 0 0;
	background-color: #FFF; 
}

#header {
	width: 100%;
	background: #191919;
	position: fixed;
	top: 0;
	left: 0;
	z-index:1000;
	min-width: 996px;
}

#wrapper {
	min-height:100%;
}

#content, .wrapper {
	position:relative;
}

#header .logo {
	background-image: url('/img/uniware.png?v=2');
	height: 100%;
	width: 145px;
	float: left;
	background-repeat: no-repeat;
	background-position: 15px 5px;
	padding: 0px 15px;
	height:40px;
}
#header .navbar{
	margin-bottom:0px;
}
#header .navbar .nav li.dropdown.open > .dropdown-toggle,#header .navbar .nav li.dropdown.active > .dropdown-toggle,#header .navbar .nav li.dropdown.open.active > .dropdown-toggle{
	background-color: #444444;
	color: #fff;
}
#header .navbar .nav{
	margin-right:0px;
}
#header .navbar .nav > li > a:focus,#header .navbar .nav > li > a:hover{
	color:#fff;
}
#header .navbar .nav > li > a{
	color:#aaa;
	text-shadow:none;
}
#header .navbar .nav > li > a i{
	vertical-align:text-bottom;
}
#header .navbar .nav > li > a i.icon-user{
	font-size:18px;
}

#sideBar {
	position: fixed;
	top: 40px;
	bottom: 0px;
	width: 178px;
	padding: 0;
	z-index: 220;
	overflow: hidden;
	background: #f2f7fa;
	border-right: 1px solid #dde2eb;
}

.nav-admin {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
}

ul.unstyled,ul.dropdown,ol.unstyled,ol.dropdown {
	margin: 0;
}

#sideBar li,#sideBar a {
	display: block;
}

#sideBar a {
	font-family: "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 8px 5px 7px 20px;
	color: #042333;
	font-weight: 400;
	cursor: pointer;
	line-height: 18px;
}

#sideBar a i {
	color: rgb(82, 96, 102);
	font-size: 16px;
	margin-right: 7px;
	vertical-align: top;
}

#sideBar a.selected {
	color: #fff;
	background-color: #479ccf !important;
}

#sideBar a.selected i {
	color: #FFF;
}

#sideBar a:hover {
	background-color: rgb(223, 234, 240);
	text-decoration: none;
}

#sideBar ol {
	padding: 0 0 5px 0;
}

#sideBar h2 {
	font-size: 10px;
	font-weight: 400;
	color: #aab6bd;
	text-transform: uppercase;
	padding: 8px 0 8px 20px;
	line-height: 20px;
}

h1,h2,h3,h4,h5,h6 {
	color: #000;
	margin: 0;
}
.radius_five{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.hide-global-nav .nav-admin {
	left: -178px;
	opacity: 0;
}

.pt {
	padding-top: 10px !important;
}

.nav-settings {
	position: absolute;
	top: 0;
	opacity: 1;
	left: 0;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	width: 100%
}
.hide-nav-settings {
	position: absolute;
	top: 0;
	opacity: 0;
	left: -178px;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	width: 100%
}

.hide-global-nav .nav-settings {
	left: 0;
	opacity: 1;
}

#content {
	width: 100%;
	min-width: 996px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#content .pageHeading{
	float:left;
	font-size:22px;
	padding: 10px 0;
	margin: 0 10px;
}
#content .pageHeading .subHeaded{
	color:#999;
}
#content .pageHeading .subHeaded .pipe{
	display:inline-block;
}
#content .pageHeading .pipe{
	margin:3px;
	display:none;
}
#content .pageControls{
	float: right;
	margin: 5px 1px 5px 5px;
	border-left: 2px solid #888;
	padding: 5px;
}
#content .pageControls a .icon-eye-open{
	font-size:16px;
	vertical-align:middle;
}
#content .pageControls .dropdown{
	float:right;
}
@media screen and (max-height: 816px) {
    #sideBar {
        position: absolute;
    }
}
#reloadBar {
	margin-bottom:0px;
	text-align:center;
}
#reloadBar .info{
	font-weight: bold;
	line-height:26px;
	display:inline-block;
}
#reloadBar .action{
	font-weight:normal;
	vertical-align:top;
	
}
#editRoleDiv .heading{
	border-bottom: 1px solid #999;
	padding: 5px;
	margin: 10px 0px 5px 0;
}



/***Modal CSS***/
#infoModal .alert{
	margin-bottom:0px;
}

.dropdown>.dropdown-menu:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0, 0, 0, 0.2);position:absolute;top:-7px;left:9px;}
.dropdown>.dropdown-menu:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #ffffff;position:absolute;top:-6px;left:10px;}
.dropdown>.dropdown-menu.pull-right:after{left: auto;right: 13px;}
.dropdown>.dropdown-menu.pull-right:before{left: auto;right: 12px;}
