body{
	color:#666;
}

.blueText{
	color:#009fcb;
}

#header, #leftMenuBar{
	background-color:#444444;
}

#header .logo{
	background:url(/img/uniTheme/logo.png?v=1) no-repeat center 2px;
	width:145px;
	height:50px;
}

#wrapper{
	background-color:#ffffff;
}

#leftMenuBar{
	top:50px;
	border-right:0px solid #dddddd;
	position: fixed;
	bottom: 0px;
	width: 184px;
	padding: 0;
	z-index: 220;
	overflow: visible;
}

#content{
	border-top:0px solid #dddddd;
	margin:1px 0 0 0px;
}	


#mainMenu ol{
	padding:0px;
}

#mainMenu li{
	margin:0;
	line-height:14pt;
	width:100%;
	height:39px;
}	

#mainMenu li a{
	color:#555;
	font-weight:bold;
	padding:0px;
	display:inline-block;
	background-color:#ccc;
	text-decoration:none;
	outline:none;
}

#mainMenu li a:hover{
	color:#d5d5d5;
	background-color:#888;
}

#mainMenu li a:hover i{
    color:#757575;
    background-color:#d5d5d5;
}

#mainMenu li .leftNavText{
	padding:8px 5px 8px 0px;
	text-align:right;
	width:135px;
	margin-right:1px;
	box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
	-wekbit-box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
	font-weight: normal;
	font-size: 16px;
}

#mainMenu li.selected a{
	color:#fff;
	box-shadow:6px -1px 5px rgba(0, 0, 0, 0.3) inset;
	font-size:16px;
	background-color:#009fcb;
}

#mainMenu li i{
	width:40px;
	height:35px;
	font-size:2em;
	line-height:27pt;
	letter-spacing:1px;
    background-color: #aaa;
    color: #555;
}

#mainMenu li.selected a i {
    background-color:#eee;
    color:#3084ca; 
}

.nav-admin{
	top:30px;
	background:#444444;
}

#tabMenu{
	left:44px;
	height:100%;
	width:140px;
}

.multipleWarehouse{
	border-top:2px solid #555555;
	box-shadow:0 0 1px rgba(0,0,0,0.2) inset;
	-moz-box-shadow:0 0 1px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow:0 0 1px rgba(0,0,0,0.2) inset;
}	

.navbar .nav{
	margin-right:0px;
}	

.navbar .nav, .navbar .nav > li{
	float:none;
}	

.navbar .nav > li > a{
	padding:3px 12px;
	text-shadow:0 0 0;
}

.multipleWarehouse .dropdown > .dropdown-menu:before{
	border-bottom:0px solid #fff !important ;
	border-left:0px solid #fff !important ;
	border-right:0px solid #fff !important ;
}	

.subMenu ol{
	background:#ddd;
	padding:5px 0px 0 2px;
	height:100%;
}

.subMenu .main-nav > li{
	padding-right:5px;
	padding-left:3px;
}

.subMenu .main-nav > li > a:hover{
	background:#eee;
}

.subMenu .main-nav > li > a.selected:hover{
	background:none;
}

.subMenu .main-nav > li.selected{
	box-shadow:3px -1px 3px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow:3px -1px 3px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow:3px -1px 3px rgba(0, 0, 0, 0.3) inset;
	font-size:14px;
	background-color:#009fcb;
}
.subMenu .main-nav > li > a.selected{
	color:#fff;
	font-weight:bold;
	border-bottom:0px solid #a1a1a1;
}	

.subMenu .main-nav > li >a{
	padding:4px 5px 4px 7px;
	color:#666;
	font-weight:normal;
	margin:0px;
	text-decoration:none;
	font-size:13px;
	border-bottom:1px solid #a1a1a1;
	display:block;
	outline:none;
}

.navAdminInner{
	left:-141px;
	z-index:100;	
}	

.navAdminInner #activeState{
	width:4px;
	height:35px;
	position:absolute;
	right:-1px;
	background:#009fcb;
	display:block !important;
	top:0px;
}	

.clrstyle{
	clear:both;
}

.header-user{
	width:20px;
	height:22px;
	margin:7px 5px 0 0;
	font-size:25px !important;
}

.headerNotification{
	background-color:#d93600;
	font-size:11px;
	color:#fff;
	text-align:center;
	line-height:14pt;
}	

.exportImport{
	background:#8d8d8d url(/img/uniTheme/headerSprite.png?v=5) no-repeat 0 0;
	margin:10px 0 0 5px;
}

#showImports, #showExports {
	width:27px;
	height:27px;
}	

#showImports{
	background:url(/img/uniTheme/headerSprite.png?v=5) no-repeat center -27px;
}

#showExports{
	background:url(/img/uniTheme/headerSprite.png?v=5) no-repeat center -54px;
}

#importDataLoader{
	background:url(/img/uniTheme/importDataLoader.gif) no-repeat center 0px;
	margin-top:20px;
	height:4px;
	display:none;
}	

#headerSearchField{
	width:90px;
	margin-top:10px;
	padding:2px 2px 2px 28px !important;
	background:#888 url(/img/uniTheme/headerSprite.png?v=5) no-repeat 3px -76px;
	border:1px solid #666666 !important;
	border-radius:15px !important;
	-moz-border-radius:15px !important;
	-wekkit-border-radius:15px !important;
	height: 23px;
	font-size:13px !important;
}

#headerSearchField:focus{
	background-color:#ffffff !important;
	color:#000;
	box-shadow:0 0 0 !important;
	-moz-box-shadow:0 0 0 !important;
	-webkit-box-shadow:0 0 0 !important;
}

#searchDropdown{
	background-color:#ffffff;
	width:227px;
	box-shadow:4px 3px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:4px 3px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:4px 3px 5px rgba(0, 0, 0, 0.4);
	margin-top:15px;
	position:absolute;
	display:none;
}

.searchOpen{
	background:#555555;
	height:50px;
}


.toolTipOuter{
	position:absolute;
	right:-15px;
	width:265px;
	left:auto;
	background:none;
	box-shadow:0 0 0;
	-moz-box-shadow:0 0 0;
	-wbkit-box-shadow:0 0 0;
	border:0px;
	margin:0px;
	padding:0px;
}	

.toolTipArrow{
	background:url(/img/uniTheme/toolTipArrow.png) no-repeat 0 0;
	width:27px;
	height:13px;
	position:absolute;
	right:15px;
}

.toolTipContWrapper{
	background:#eeeeee;
	border:1px solid #cdcdcd;
	padding:5px 10px 10px 10px;
	margin-top:10px;
	box-shadow:4px 3px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:4px 3px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:4px 3px 5px rgba(0, 0, 0, 0.4);
	color:#727271;
}

.toolTipCont{
	background:#fff;
	margin-top:5px;
}

.jobDataWrapper{
	padding:0px 5px;
	cursor:pointer;
}

.jobDataWrapper:hover{
	background:#eeeeee;
}

.jobDataWrapper:hover .jobRecords, .jobDownlaod{
	display:none;
}	

.jobData{
	border-bottom:1px solid #eee;
	padding:5px 0;
}

.jobDataWrapper:hover .jobDownlaod{
	display:block;
}

.jobDownlaod a{
	color:#fff; 
	text-decoration:none; 
	display:block;
}	

.smallText{
	color:#a7a7a6;
	font-size:10px
}	

.tickIco{
	background:url(/img/uniTheme/tickIco.png) no-repeat;
	width:18px;
	height:18px;
}

.infoIco{
	background:url(/img/uniTheme/infoIco.png) no-repeat left 1px;
	width:18px;
	height:18px;
}	

.jobLoader{
	height:7px;
	background:#727271;
	width:100px;
}

.jobLoaderStatus{
	background:#009fcb;
	width:10px;
	height:7px;
}	

/* channel page */

table.channelSourcesData{
	background-color:#fff;
	border-top:3px solid #7a7a7a;
}

.addChannelBox{
	background-color:#eeeeee;
}

table.channelSourcesData tr{
	cursor:pointer;
	border-bottom:1px solid #fff;
}

table.channelSourcesData tr th{
	padding:7px 0 10px 0;
	color:#fff;
	border-left:1px solid #444444;
	box-shadow:1px 0 0 #666666 inset;
}

table.channelSourcesData tr:nth-child(even) {
	background: #ffffff;
}

table.channelSourcesData tr:nth-child(odd) {
	background: #f6f6f6
}
	
table.channelSourcesData tr:hover{
	box-shadow:0px 1px 0px #80e1fe inset;
	border-bottom:1px solid #80e1fe;
}

table.channelSourcesData td{
	padding:15px;
	color:#646472;
	border-left:1px solid #dddddd;
}

tr.editChannelRow{
	display:table-row;
	visibility:visible;
	border-bottom:5px solid #FFFFFF !important;
}

tr.editChannelRow:hover{
	background-color:#eeeeee !important;
}

table.channelSourcesData tr:first-child{
	background:#7a7a7a;
	box-shadow:0px 0 0 #666666 inset;
	border-bottom:0px solid #fff;
}

table.channelSourcesData tr td:first-child, table.channelSourcesData tr th:first-child{
	border-left:0px solid #fff;
}

table.channelSourcesData tr td:first-child{
	padding-left:30px
}

.channelSourceLogoBg{
	box-shadow:0 0 7px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 7px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 0 7px rgba(0, 0, 0, 0.5);
	background-color:#fff;
}

img.channelSourceLogo{
	margin:2px auto;
	height:35px !important;
}

div.channelSourceImage{
	width:175px;
}

span.externalLinkIco{
	background:url(/img/uniTheme/externalLinkIco.png) no-repeat;
	width:25px;
	height:25px;
	display:inline-block;
	margin-top:7px;
}

.channelSourceRefresh{
	background:#009fcb url(/img/uniTheme/channelLogoImage-bg.gif) no-repeat;
	height:35px;
	width:35px;
	padding:4px 0 0 39px;
}

.channelMsjWrapper{
	width:80%;
	overflow:hidden;
	text-overflow:ellipsis;
}	

.channelMsj{
	font-size:11px;
	color:#ff8400;
	line-height:11pt;
}

.synMjs{
	font-size:12px;
	color:#535353;
}

.redText{
	color:#A71818;
}

.blueText{
	color:#009fcb;
}

.addChannelBox .heading{
	font-weight:bold;
	border-bottom:1px solid #ddd;
	padding:0 10px 10px 10px; 
}

.addChannelLogo{
	width:260px;
	margin:15px 0;
	height:50px;
}

.channelRadio{
	margin:0 !important;
}

img.editChannel{
	display:none;
}

table.channelSourcesData tr:hover img.editChannel{
	display:block;
}

.channelTab, .channelTabActive{
	margin-left:-15px;
}

.channelLeftTab, .channelRightTab{
	background-image:url(/img/uniTheme/channelTabSprite.png);
	background-repeat:no-repeat;
	background-position:0 -96px;
	height:32px;
	width:18px;
	position:relative;
}

.channelLeftTab{
	background-position:0 -64px;
	z-index:10;
}

.channelTabActive .channelLeftTab{
	background-position:0 0px !important;
}

.channelTabText{
	background:#bbb;
	height:19px;
	padding:6px 0px;
	box-shadow:0 -1px 2px rgba(0, 0, 0, 0.4);
	position:relative;
	margin-top:1px;
	width:120px;
	text-align:center;
}

.channelTabActive .channelLeftTab, .channelTabActive .channelRightTab{
	background:url(/img/uniTheme/channelTabSprite.png) no-repeat 0 -32px;
}

.channelTabActive .channelTabText{
	background:#eeeeee;
	font-weight:bold;
}	

/* head label */

.headlable{
	border-bottom:1px solid #CCC;
	box-shadow:0 0px 0 rgba(0, 0, 0, 0.2) !important;
	-moz-box-shadow:0 0px 0 rgba(0, 0, 0, 0.2) !important;
	-webkit-box-shadow:0 0px 0 rgba(0, 0, 0, 0.2) !important;
	margin:0;
	padding:5px 0 0 !important;
	border-left:0px;
	border-right:0px;
	border-top:0px
}

#content .pageHeading{
	padding:8px 0;
}

.headingActiveBreadTab{
	font-size:16px;
	color:#666;
}

h2.edithead{
	padding:5px 10px;
	font-size:22px;
	color:#666;
}

.pageHeading{
	color:#666;
}

#content .pageHeading .pipe{
	margin:0 3px;
}

.lightBoxClose{
	background:url(/img/icons/close.png);
	width:35px;
	height:35px;
	margin:-14px -14px 0 0;
	cursor:pointer;
}

/* templates*/

.pageSubHeading{
	font-size:20px;
	color:#666;
}

.templateDataBox, .templatesWrapper{
	background:#eee;
}

.templateDataBox:hover{
	background:#f6f6f6;
	box-shadow:0px 0px 3px rgba(0,0,0,0.3);
}

.tempType{
	width:150px;
}

img.tempIco{
	margin:3px 0;
}

.templateDataBox table td{
	padding:5px 10px;
}

.templateAction{
	display:none;
}

.templateDataBox:hover .templateAction{
	display:block
}	

.templateDesBox{
	border:1px solid #8b8b8b;
	box-shadow:0px 0px 10px rgba(0,0,0,0.2) inset;
	padding:25px 15px 15px 15px;
}

.templatesPrevContainer{
	background-color:#cccccc;
	border:2px solid #fff;
}

.templateDesWrapper{
	max-height:450px;
	overflow-y:auto;
}

.uploadButtonWrapper{
	padding:4px;
	margin:5px 0;
	border:1px dashed #D9D9D9 !important;
}

.importDragging{
	border:3px dashed #d9d9d9 !important;
	color:#d9d9d9;
	font-size:32px;
	text-align:center;
	padding-top:100px;
	border:3px dashed #fff;
	height:130px;
	margin:10px;
}

.importDragging span{
	display:block !important;
}	

.progress-container {
    width: 300px;
    display:none;
}

#progress {
    background: navy;
    height: 100%;
    width: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height:10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      background: #6f6f6f; 
}

.pageHeadBar{
	background:#ffffff;
}

.fixed{
	position:fixed;
	box-shadow:0 0 5px #999999 !important;
	top:51px;
}

/* view cart */

.custCheckBox{
	width:13px;
	height:13px;
	background:url(/img/uniTheme/checkboxSprite.gif) no-repeat 0 0;
	display:inline-block;
	cursor:pointer;
	_cursor:hand;
	vertical-align:text-top;
}

.custCheckBox-checked{
	background:url(/img/uniTheme/checkboxSprite.gif) no-repeat 0 -13px;
}

.vendorNameRow{
	background:#dddddd;
	padding:3px 8px;
	border-bottom:1px solid #cecece;
}

.venorNameText{
	padding-top:7px;
}

.venorNameText a{
	color:#2626ff;
}

table.vendorCartTable tr{
	border-top:1px solid #cccccc;
}

table.vendorCartTable tr:first-child{
	border-top:1px solid #999999;
}

table.vendorCartTable th.custCheckBoxWrapper{
	width:35px;
	border-left:1px solid #eeeeee;
}

table.vendorCartTable th{
	font-weight:normal;
	padding:10px 7px;
	background:#eeeeee;
	font-size:14px;	
	border-left:1px solid #cccccc;
}


table.vendorCartTable td{
	padding:7px;
	font-size:13px;	
}

.tooltip.in{
	opacity:0.8 !important;
}

/* maniFest Page */

#manifestDiv{
	border:1px solid #eeeeee;
	margin-bottom:7px;
	box-shadow:0px 1px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.3);
	padding-right:7px;
}

table.manifestHeadData tr:first-child td span{
	border-top:0px solid #CCC;
}

table.manifestHeadData td span{
	border-top:1px solid #CCC;
	padding:4px 10px;
	display:block;
}

table.manifestHeadData td span.leftFrstCol{
	margin-left:7px;
}

table.manifestHeadData td{
	padding:0px;
	font-size:14px;
	color:#444444;
	vertical-align:top;
}

table.manifestHeadData td.textHead{
	background:#f2f2f2;
	width:20%;
	color:#888888;
}

table.manifestDataTable {
	border:1px solid #888;
}

table.manifestDataTable tr, table.manifestOverlayTable tr{
	border-top:1px solid #CCC;
}

table.manifestDataTable tr:first-child, table.manifestOverlayTable tr:first-child{
	border-top:0px solid #CCC;
}

table.manifestDataTable tr:hover{
	background:#f7f7f7;
	cursor:pointer;
}	

table.manifestDataTable th{
	background:#888;
	text-align:left;
	padding:5px 8px;
	color:#ffffff;
	font-weight:normal;
	font-size: 13px;
}

table.manifestDataTable td {
	padding:3px 8px;
	font-size: 12px;
}

table.manifestOverlayTable{
	font-size:12px;
	color:#444444;
}

table.manifestOverlayTable th{
	text-align:left;
	padding:2px 5px;
	font-weight:bold;
}

table.manifestOverlayTable td {
	padding:2px 5px;
}

.removeItem .icon-trash{
	font-size:20px;
	color:#666666;
	border-left:1px solid #666666;
	padding-left:5px;
}

table.manifestDataTable tr:hover .removeItem .icon-trash{
	display:inline !important;
}	

#addPackageIco{
	font-size:20px;
	padding:2px 5px;
	color:#444;
}

.modal-footer{
	background:#fff;
}