@font-face {
	font-family: 'ProximaNovaLight';
	src: url("/font/proximanova-light-webfont.eot");
	src: url("/font/proximanova-light-webfont.eot") format("embedded-opentype"), url("/font/proximanova-light-webfont.woff") format("woff"), url("/font/proximanova-light-webfont.ttf") format("truetype"),
		url("/font/proximanova-light-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ProximaNovaRegular';
	src: url("/font/proximanova-reg-webfont.eot");
	src: url("/font/proximanova-reg-webfont.eot") format("embedded-opentype"), url("/font/proximanova-reg-webfont.woff") format("woff"), url("/font/proximanova-reg-webfont.ttf") format("truetype"),
		url("/font/proximanova-reg-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal
}	
html, body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height:18px;
    font-size:13px;
    font-size: 1.3rem;
    height: 100%;
    margin: 0 0;
    background: -webkit-radial-gradient(circle, #00b1b2, #0092b2);
    background: -moz-radial-gradient(circle, #00b1b2, #0092b2);
    background: -ms-radial-gradient(circle, #00b1b2, #0092b2);
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#00b1b2), to(#0092b2));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b1b2', endColorstr='#0092b2');
}


#body-login .row{
	width:80%;
	float:right;
	min-width:1020px;
}

div#body-header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 777;
	display: block;
	width: 100%;
	height: 70px;
	background: #444444;
	border-bottom: 1px solid #282828;
	-o-transition: none 0.3s ease-in-out 0s;
	-webkit-transition: none 0.3s ease-in-out 0s;
	-moz-transition: none 0.3s ease-in-out 0s;
}

a#logo-link {
    background:url(/img/uniTheme/logo.png?v=1) no-repeat center 5px;
    display: block;
    float: left;
    height: 70px;
    text-decoration: none;
    width: 76px;
    background-position-y:20px;
}

div#body-main {
	width:100%;
	overflow:hidden;
}

.content-wrapper{
	margin: 70px 0 10px;
}

.formBox{
	border:2px solid #00698c;
	border-right:0px;
	border-radius:30px 0 0 30px;
	padding:50px;
}

.loginPageHead{
	color:#fff;
	font-size:40px;
	text-align:center;
	padding:50px 0;
	font-weight:bold;
	text-shadow:0px 1px 3px rgba(0, 0, 0, 0.4);
}

.formLabel{
	display: block;
	font-size: 12px;
	margin: 15px 0 5px 0;
	color: #000;
	font-weight: bold;
	line-height:18px;
}
.login-form{
	padding : 0px;
	margin : 0;
}
div.form-heading{
	font-size: 21px;
	color:#ffffff;
	padding-bottom:10px;
	font-weight:bold;
}
.formProdInfoWrapper{
	width:330px;
	float:left;
	margin-left:-85px;
}
.formProdWrapper{
	margin-bottom:20px;
	overflow:hidden;
}
.formProdIco{
	background-color:#00698c;
	background-repeat:no-repeat;
	float:left;
	width:64px;
	height:64px;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
}
.formProdText{
	color:#fff;
	font-size:21px;
	margin:14px 0 0 20px;
	float:left;
}
.formProdText span{
	display:block;
	color:#004c66;
	font-size:14px;
	padding-top:5px;	
	font-weight:normal;
}	
.form-wrapper{
	width:300px;
	margin:30px auto 0 auto;
}
.info-wrapper{
	padding:25px 0 25px 35px;
	margin-top:40px;
	width:350px;
	border:1px solid #eee;
}
#body-login #body-main input.textfield{
	width: 100%;
	padding: 5px;
	margin:15px 0;
}
label.checkbox{
	display: block;
	margin: 10px 0  20px 15px;
	font-weight: normal;
	font-size: 13px;
	color:#004c66;
}
label.checkbox input{
	outline:none !important;
}
.loginarea{
	width: 765px;
	margin: auto;
	margin-top:-20px;
}
p.text-error{
	font-size:14px;
}
.saas{
	background-image:url(/img/uniTheme/loginSprite.png);
	background-position:0 0;
}
.multiChannel{
	background-image:url(/img/uniTheme/loginSprite.png);
	background-position:0 -64px;
}
.dashboard{
	background-image:url(/img/uniTheme/loginSprite.png);
	background-position:0 -128px;
}
.intShipping{
	background-image:url(/img/uniTheme/loginSprite.png);
	background-position:0 -192px;
}
.loginFooter{
	padding:10px 10px 0 0;
	color:#fff;
	font-size:12px;
	clear:both; 
}
.loginBtn{
	width:120px !important; 
	padding:10px; 
	text-transform:none
}
