#header {
	display: none;	
}

div#body-header {
	display: none;
}

div#leftMenuBar {
	display: none;	
}

div#body-footer {
	display: none;
}

td#leftPane {
	display: none;
}

div#rightPaneHeader {
	display: none;
}

.noprint {
	display: none;
}

div#sideBar {
	display: none;
}

div#content {
	padding: 0px;
}

.flexigrid .bDiv {
	height : auto !important;
}