<div style="width:600px; margin:0 auto; border:3px solid #cecece; padding:2px; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; ">
<style>
	.text{
	color:#3c3b3b; font-size: 12px; font-family:Lucida Grande,Helvetica,Arial,Verdana,sans-serif;
}
</style>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background:url(https://demo.unicommerce.com/img/backgrounds/bg-x.png) repeat-x scroll 0 -220px transparent">
	<tbody>
    	<tr>
        	<td style="padding:10px; border-bottom:1px solid #e6f0e9;"><img src="https://demo.unicommerce.com/img/uniware.png"></td>
        </tr>
		<tr>
			<td style="padding:20px 10px">
				<div align="left" style="color:#3c3c3c; font-size: 18px; font-family:Lucida Grande,Helvetica,Arial,Verdana,sans-serif; padding-bottom:10px">
					Task Result
				</div>
				<div style="border:1px solid #f0f0f0;">
                	<table width="100%" border="0" cellspacing="0" cellpadding="8">
                      <tr>
                        <td class="text"><strong>Task Run:</strong> $task.name</td>
                      </tr>
                      <tr>
                        <td bgcolor="#f2f2f2" class="text"><strong>Task status :</strong> #if($task.taskResult.failed)FAILED#{else}SUCCESSFUL#end</td>
                      </tr>
                      #if($task.taskResult.resultItems.failedImportCount > 0)
                      	<tr>
                        	<td class="text"><strong>Message:</strong> $task.taskResult.message</td>
                      	</tr>
	       	            <tr>
    	                	<td bgcolor="#f2f2f2" class="text"><strong>LogFile Path:</strong> $task.taskResult.resultItems.importLogFilePath</td>
	                    </tr>
                      #{end}
                      <tr>
                        <td bgcolor="#f2f2f2" class="text"><strong>Successful Imports:</strong> $task.taskResult.resultItems.successfulImportCount</td>
                      </tr>
                      <tr>
                        <td bgcolor="#f2f2f2" class="text"><strong>Failed Imports:</strong> $task.taskResult.resultItems.failedImportCount</td>
                      </tr>
                    </table>
			  </div>
			</td>
		</tr>
        <tr>
        	<td align="center" style="color:#bbbbbb; font-size: 11px; font-family:Lucida Grande,Helvetica,Arial,Verdana,sans-serif; padding-bottom:20px">© 2012 Unicommerce eSolutions Pvt. Ltd. India<br/>
All brands are trademarks of their respective owners. </td>
        </tr>
	</tbody>
</table>
</div>