<div align="left">
	<p align="left" style="color:#9A9661;font-size: 18px;font-weight: bold;line-height:24px;">
		<span>Channel Sync Result</span>
	</p>
	<p>
		<strong>Channel:</strong> $channel.source.name
	</p>
	<p>
		<strong>Sale Order Sync status :</strong>
		#if($channelStatus.successful)SUCCESSFUL#{else}FAILED#end
	</p>
	#if(!$channelStatus.successful)
		<p>
			<strong>Failed Orders:</strong>
		</p>
		<table>
			#foreach($error in $channelStatus.errors.entrySet())
			<tr>
				<td width="20%">$error.key</td>
				<td>$error.value</td>
			</tr>
			#end
		</table>
	#end
</div>