<div>
    <style class="xl9b" style="font-size:9px;font-weight:bold;" />
    <style class="xl9" style="font-size:9px;"/>
    <style class="xl11" style="font-size:11px;"/>
    <style class="xl12b" style="font-size:12px;font-weight:bold;"/>
    <style class="xl8" style="font-size:8px;"/>
    <style class="xl8b" style="font-size:8px;font-weight:bold;"/>
    <style class="xl14" style="font-size:14px;font-weight:bold;"/>
    <style class="xlb" style="font-weight:bold;"/>
</div>
<table border="1" class="xl9">
    <tr>
        <td>
            <table border="0">
                <tr>
                    <td class="xl11"align="center">
                        <b>
                            FORM 50 <br/>
                            {See rule 71}<br/>
                            Declaration <br/>
                            Under section 57 of the Chhattisgarh Vat Act, 2002 in respect of goods belonging to a <br/>
                            person. <br/>
                        </b>
                    </td>
                </tr>
            </table><br/>
            <table border="1">
                <tr>
                    <td border="0" rowspan="10" width="4%"></td>
                    <td width="5%">1.</td>
                    <td>(a) Name and complete address of the consignor</td>
                    <td>$shippingPackage.invoice.fromParty.name<br/>
						#set($fromPartyAddress = $shippingPackage.invoice.fromParty.getPartyAddressByType('BILLING'))
						$fromPartyAddress.addressLine1<br/>
						#if($fromPartyAddress.addressLine2)$fromPartyAddress.addressLine2 <br/>#end
						$fromPartyAddress.city - $fromPartyAddress.pincode
                    </td>
                    <td border="0" rowspan="10" width="4%"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>(b) Registration certificate No. under the State Sales Tax law of the appropriate State (if any)</td>
                    <td>#if($shippingPackage.invoice.fromParty.cstNumber) $shippingPackage.invoice.fromParty.cstNumber #end</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Name and complete address of the consignee</td>
                    <td>${shippingPackage.saleOrder.billingAddress.name}<br/>${shippingPackage.saleOrder.billingAddress.addressLine1}
						#if(${shippingPackage.saleOrder.billingAddress.addressLine2}) ,${shippingPackage.saleOrder.billingAddress.addressLine2} <br/>#end
						${shippingPackage.saleOrder.billingAddress.city}-${shippingPackage.saleOrder.billingAddress.pincode}, ${cache.getCache("locationCache").getStateByCode(${shippingPackage.saleOrder.billingAddress.stateCode}).name},India<br/></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Place from which the goods dispatched.</td>
                    <td>$fromPartyAddress.city</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Consignor's invoice No. and date</td>
                    <td>$shippingPackage.invoice.code,${dateutils.dateToString($shippingPackage.invoice.created, 'dd/MM/yyy')}</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Destination (including complete address) </td>
                    <td>$shippingPackage.shippingAddress.name<br/>
						$shippingPackage.shippingAddress.addressLine1
						#if($shippingPackage.shippingAddress.addressLine2) ,$shippingPackage.shippingAddress.addressLine2 <br/>#end
						$shippingPackage.shippingAddress.city - $shippingPackage.shippingAddress.pincode,
						${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name},India
                    </td>
                </tr>
				#set($totalQty=0)
				#set($finalTotal=$numberutils.newBigDecimal(0))
				#foreach($invoiceItem in $shippingPackage.invoice.invoiceItems)
					#set($totalQty = $totalQty+$invoiceItem.quantity)

					#set($finalTotal=$finalTotal.add($invoiceItem.total))

				#end
                <tr>
                    <td>6.</td>
                    <td>Brief description of goods </td>
                    <td>$shippingPackage.invoice.invoiceItems.iterator().next().itemType.name</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Total quantity or total weight </td>
                    <td>$totalQty</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>Total value</td>
                    <td>$shippingPackage.totalPrice</td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td>(a) name and address of the carrier (transport company or owner of the vehicle etc.) and vehicle number<br/>
                        (b) Bilty / LR No. and date</td>
                    <td></td>
                </tr>

            </table><br/><br/>
            <table border="0">
                <tr>
                    <td>I $shippingPackage.invoice.fromParty.name declare that to the best of my knowledge and belief the above statements are true and correct.
                    </td>
                </tr>
                <tr>
                    <td><br/>Place: $fromPartyAddress.city
                    </td>
                </tr>
                <tr>
                    <td>Date: ${dateutils.dateToString($shippingPackage.invoice.created, 'dd/MM/yyy')}
                    </td>
                </tr>
                <tr>
                    <td align="right">Seal and signature of the consignor of the goods
                    </td>
                </tr>
                <tr>
                    <td align="center">(To be completed in the office of the check post)
                    </td>
                </tr>

            </table>
            <br/>
            <table border="0">
                <tr>
                    <td rowspan="3" width="4%"></td>
                    <td>Date and time of arrival of the vehicle <br/>at the check post __________ </td>
                    <td rowspan="3">
                        <table>
                            <tr>
                                <td border="1"><br/><br/>Seal <br/>Date<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature and designation</td>
                            </tr>
                        </table>
                    </td>
                    <td rowspan="3" width="4%"></td>
                </tr>
                <tr>
                    <td>Date and time of departure of the vehicle  <br/>from the check post _______ </td>
                </tr>
                <tr>
                    <td>Reasons for abnormal detention of the vehicle <br/> at the check post ________<br/><br/>
                    </td>
                </tr>
            </table>
        </td><scraper>
    </tr>
</table>
