<div>
    <style class="xl9b" style="font-size:9px;font-weight:bold;" />
    <style class="xl9" style="font-size:9px;"/>
    <style class="xl9i" style="font-size:9px; font-style:italic;"/>
    <style class="xl11" style="font-size:10.5px;"/>
    <style class="xl11b" style="font-size:11px;font-weight:bold;"/>
    <style class="xl8" style="font-size:8px;"/>
    <style class="xl8b" style="font-size:8px;font-weight:bold;"/>
    <style class="xl14" style="font-size:14px;"/>
    <style class="xlb" style="font-weight:bold;"/>
    <style class="xl16" style="font-size:16px;font-weight:bold;"/>
</div>
<div class="xl11">
    <table>
        <tr>
            <td align="center" class="xl16">FORM 402<br/><span class="xl11">(see  rule 51)</span>
            </td>
        </tr>
        <tr class="xl11" align="center">
            <td>
                Declaration under Section 68 of the Gujarat Value Added Tax Act, 2003<br/>
                (For movement of goods within the State or goods moving outside the State)
            </td>
        </tr>
        <tr align="left" class="xl11">
            <td>
                To,<br/>The officer in charge<br/>Check post......

            </td>
        </tr>
    </table>
    #set($facilityAddress = $shippingPackage.invoice.fromParty.getPartyAddressByType('BILLING'))
    <table class="xl11">
        <tr>
            <td width="70%">
                (1) Place from which goods are dispatched:$shippingPackage.shippingAddress.city
            </td>
            <td>
                District:${cache.getCache("locationCache").getStateByCode($shippingPackage.shippingAddress.stateCode).name}
            </td>
        </tr>
        <tr>
            <td width="70%">
                (2) Place to which goods are dispatched:$facilityAddress.city
            </td>
            <td>
                District:${cache.getCache("locationCache").getStateByCode($facilityAddress.stateCode).name}
            </td>
        </tr>
        <tr>
            <td width="70%">
                (3) Details of goods invoice No:$shippingPackage.invoice.code
            </td>
            <td>
                Date:${dateutils.dateToString($shippingPackage.invoice.created,'dd-MMM-yyyy')}
            </td>
        </tr>
        <tr>
            <td width="70%">
                (4)  Consignor's details:-
            </td>
            <td></td>
        </tr>
    </table>
    <table class="xl11" border="1">
        <tr valign="top">
            <td width="20%">
                Name
            </td>
            <td width="35%" >
                $shippingPackage.invoice.fromParty.name
            </td>
            <td width="20%">
                State
            </td>
            <td>
                #set($facilityAddress = $shippingPackage.invoice.fromParty.getPartyAddressByType('BILLING'))
				 ${cache.getCache("locationCache").getStateByCode(${facilityAddress.stateCode}).name}
            </td>
        </tr>
        <tr valign="top">
            <td rowspan="2">
                Address
            </td>
            <td rowspan="2">$facilityAddress.addressLine1
                #if($facilityAddress.addressLine2)$facilityAddress.addressLine2 #end,
                $facilityAddress.city - $facilityAddress.pincode
            </td>
            <td>
                Registration Certificate No.
            </td>
            <td>

            </td>
        </tr>
        <tr valign="top">
            <td>
                Date
            </td>
            <td >
            </td>
        </tr>
        <tr valign="top">
            <td >Telephone</td>
            <td >$facilityAddress.phone</td>
            <td >CST registration No.</td>
            <td>#if($shippingPackage.invoice.fromParty.cstNumber)$shippingPackage.invoice.fromParty.cstNumber #end</td>
        </tr>
        <tr valign="top">
            <td >Fax No.</td>
            <td ></td>
            <td >Date</td>
            <td ></td>
        </tr>
    </table>
    <table>
        <tr>
            <td colspan="6">(5) Nature of transaction :</td>
        </tr>
        <tr style="margin:10px;">
            <td></td>
            <td width="35%">
                1. Inter state sale
            </td>
            <td border="1" height="50"></td>
            <td width="5%"></td>
            <td width="35%">2. Transfer of documents of title</td>
            <td border="1" height="50"></td>
        </tr>
        <tr>
            <td></td>
            <td>3. Depot Transfer</td>
            <td border="1"></td>
            <td></td>
            <td>4. Consignment to Branch/Agent</td>
            <td border="1"></td>
        </tr>
        <tr>
            <td></td>
            <td>5. For Job works/Works contract</td>
            <td border="1"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>6. For export</td>
            <td border="1"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>7. Any Other</td>
            <td border="1"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>
    <table border="1">
        <tr border="0">
            <td colspan="4">(6)  Consignee's details:
            </td>
        </tr>
        <tr valign="top">
            <td width="15%">
                Name
            </td>
            <td width="50%">
                $shippingPackage.shippingAddress.name
            </td>
            <td  rowspan="2">
                Registration Certificate No.
            </td>
            <td rowspan="2"></td>
        </tr>
        <tr valign="top">
            <td rowspan="2">
                Address
            </td>
            <td>
                $shippingPackage.shippingAddress.addressLine1
                #if($shippingPackage.shippingAddress.addressLine2)$shippingPackage.shippingAddress.addressLine2 #end,
            </td>
        </tr>
        <tr valign="top">

            <td>$shippingPackage.shippingAddress.city - $shippingPackage.shippingAddress.pincode,
                ${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name}</td>
            <td>
                Date
            </td>
            <td></td>
        </tr>
        <tr valign="top">
            <td>Telephone</td>
            <td>$shippingPackage.shippingAddress.phone</td>
            <td>CST registration No.</td>
            <td>#if($shippingPackage.facility.cstNumber)$shippingPackage.facility.cstNumber #end</td>
        </tr>
        <tr valign="top">
            <td >Fax No.</td>
            <td ></td>
            <td >Date</td>
            <td ></td>
        </tr>
    </table>
    <table border="1" >
        <tr border="0">
            <td colspan="6">Consigned Value Rs.________________</td>
        </tr>
        <tr align="center" valign="top">
            <td width="5%">Sr No.</td>
            <td width="35%">Description of Goods</td>
            <td>Commodity Code</td>
            <td>Unit Quantity</td>
            <td>Rate of Tax</td>
            <td>Value</td>
        </tr>
        #foreach($invoiceItem in $shippingPackage.invoice.invoiceItems)
            <tr valign="top">
                <td>$foreach.count</td>
                <td>$invoiceItem.itemType.name</td>
                <td>$invoiceItem.itemType.skuCode</td>
                <td>$invoiceItem.quantity</td>

                <td>#if($shippingPackage.shippingAddress.stateCode==${warehouseAddress.stateCode})VAT #else CST #end $invoiceItem.taxPercentage %</td>
                <td>$invoiceItem.total</td>
            </tr>
        #end

    </table>
    <table>
        <tr>
            <td width="30%">(7)  Transporter's  Details:</td>
            <td>(a) Name:_______________________</td>
        </tr>
        <tr>
            <td></td>
            <td>(b) Address_____________________<br/>________________</td>

        </tr>


        <tr>
            <td></td>
            <td>(c) Owner/Partner's Name_____________________</td>
        </tr>

    </table>
    <table>
        <tr>
            <td>(8) Vehicle No_______</td>
            <td>L.R.No__________</td>
            <td>Date__________</td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="20%">(9) Driver's Details</td>
            <td>(a) Name_____________________</td>
        </tr>
        <tr>
            <td></td>
            <td>(b) Address_____________________</td>
        </tr>
        <tr>
            <td></td>
            <td>_____________________</td>
        </tr>
        <tr>
            <td></td>
            <td>(c) Driving Licence No._____________________</td>
        </tr>
        <tr>
            <td></td>
            <td>(d) Licence issuing State_____________________<br/></td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td width="20%"></td>
            <td width="25%">(e) Driver's Signature:</td>
            <td border="1" width="30%"><br/><br/></td>
            <td></td>
        </tr>
    </table>
    <table >
        <tr>
            <td>(10) Name of the Address of person
                in charge of goods___________
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Seal<br/><br/><br/><br/></td>
            <td></td>
        </tr>
        #set($facilityAddress = $shippingPackage.invoice.fromParty.getPartyAddressByType('BILLING'))
        <tr><br/><br/>
            <td>Place :$facilityAddress.city</td>
            <td>Signature :$shippingPackage.invoice.user.name</td>
        </tr>
        <tr>
            <td>Date :${dateutils.dateToString($shippingPackage.invoice.created,'dd-MMM-yyyy')}</td>
            <td>Desigation :________</td>
        </tr>

    </table>
    <br/><br/>
    <table border="1">
        <tr border="0">
            <td colspan="5" class="xl14">For Commercial Tax Department/Check post</td>
        </tr><br/><br/>
        <tr valign="top">
            <td width="20%">Entry No.</td>
            <td colspan="2"></td>
            <td width="25%">Reason of abnormal stoppage</td>
            <td width="20%">Result if any</td>

        </tr>
        <tr valign="top">
            <td>Vehicle</td>
            <td>Date</td>
            <td>Time</td>
            <td></td>
            <td></td>
        </tr>
        <tr valign="top">
            <td>Arrival</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr valign="top">
            <td>Depart</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <br/><br/><br/>
    <table>
        <tr>
            <td>Date: ________</td>
            <td>Signature ________</td>
            <td>Designation ________</td>
        </tr><scraper>
    </table>
</div>
