<table>
    <tr>
        <td align="center">THE KERALA VALUE ADDED TAX RULES, 2005</td>
    </tr>
</table>

<table>
    <tr>
        <td align="center">FORM NO. 16<br/>
            CERTIFICATE OF OWNERSHIP<br/>
            [See Rules 58 (18)]</td>
    </tr>
</table>
#if($shippingPackage.invoice)
    #set($warehouseAddress = ${shippingPackage.invoice.fromParty.getPartyAddressByType('SHIPPING')})
#else
    #set($warehouseAddress = ${shippingPackage.facility.getPartyAddressByType('SHIPPING')})
#end
<table>
    <tr>


        <td>1. Full name and address of the person who owns the
            goods:<b>
                #if($shippingPackage.invoice)
            	${shippingPackage.invoice.fromParty.name}
            #else
                    ${shippingPackage.facility.displayName}
                #end
            </b>,
            #set($senderAddress=${warehouseAddress.addressLine1})
            #if($warehouseAddress.addressLine2)
                #set($senderAddress=$senderAddress + "," + $warehouseAddress.addressLine2)
            #{end}

            $senderAddress
            ${cache.getCache("locationCache").getStateByCode(${warehouseAddress.stateCode}).name},
            ${cache.getCache("locationCache").getCountryByCode(${warehouseAddress.countryCode}).name},
            ${warehouseAddress.city} - ${warehouseAddress.pincode} ,Ph No:  ${warehouseAddress.phone}
        </td>
    </tr>


</table>




#set($totalQty=0)
#set($total=$numberutils.newBigDecimal(0))
#foreach($invoiceItem in $shippingPackage.invoice.invoiceItems)
    #set($totalQty = $totalQty+$invoiceItem.quantity)
    #set($total=$total.add($invoiceItem.total))
#end
<table>
    <tr>

        <td>2. Details of the goods transported<br/>
            (a) Number of packages/ cases/ bundles/ bags etc.: $totalQty<br/>
            (b)Weight:$shippingPackage.actualWeight<br/>
            (c)The value of the goods estimated:$total
    </tr>

</table>

<table>
    <tr>
        <td>3. Extent of agricultural holdings with Survey No. of the<br/>
            person mentioned in item (1)
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>4. The name of the place to which the goods are transported.:<b>${shippingPackage.shippingAddress.name}</b>,

            #set($buyerAddress=${shippingPackage.shippingAddress.addressLine1})
            #if(${shippingPackage.shippingAddress.addressLine2})
                #set($buyerAddress=$buyerAddress + "," + ${shippingPackage.shippingAddress.addressLine2})
            #{end}

            $buyerAddress,

            #if($shippingPackage.shippingAddress.countryCode=="IN")
                ${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name}
            #else $shippingPackage.shippingAddress.stateCode #end,
            ${cache.getCache("locationCache").getCountryByCode(${shippingPackage.shippingAddress.countryCode}).name},

            ${shippingPackage.shippingAddress.city}-${shippingPackage.shippingAddress.pincode},
            T: ${shippingPackage.shippingAddress.phone}

        </td>
    </tr>
</table>

<table>
    <tr>
        <td>5. The name and the No. of the vehicle/ vessel<br/>
            through which the goods are transported.:

        </td>
    </tr>
</table>


<table>
    <tr>
        <td>6. The place from which the goods are transported:${cache.getCache("locationCache").getStateByCode(${warehouseAddress.stateCode}).name}

        </td>
    </tr>
</table>

<table>
    <tr>
        <td>7. The purpose for which the goods are transported:  #if($shippingPackage.shippingAddress.countryCode=="IN")
            ${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name}
        #else $shippingPackage.shippingAddress.stateCode #end


        </td>
    </tr>
</table>

<table>
    <tr>
        <td align="justify">8. If for sale the name and address of the person to whom he (the owner of the goods) usually sell goods (if the purchaser is a registered dealer, the
            registration certificate No. and the officer in which is registered should also be given):<b>
                #if($shippingPackage.invoice)
            	${shippingPackage.invoice.fromParty.name}
            #else
                    ${shippingPackage.facility.displayName}
                #end </b>,
            #set($senderAddress=${warehouseAddress.addressLine1})
            #if($warehouseAddress.addressLine2)
                #set($senderAddress=$senderAddress + "," + $warehouseAddress.addressLine2)
            #{end}

            $senderAddress
            ${cache.getCache("locationCache").getStateByCode(${warehouseAddress.stateCode}).name},
            ${cache.getCache("locationCache").getCountryByCode(${warehouseAddress.countryCode}).name},
            ${warehouseAddress.city} - ${warehouseAddress.pincode} ,Ph No:  ${warehouseAddress.phone}<br/>
            #if($shippingPackage.shippingAddress.tin) Tin No:$shippingPackage.shippingAddress.tin #end


        </td>
    </tr>
</table>

<table>
    <tr>
        <td align="center"><u>DECLARATION</u>

        </td>
    </tr>

    <tr>
        <td >I/We #if($shippingPackage.invoice)
            ${shippingPackage.invoice.fromParty.name}
        #else
            ${shippingPackage.facility.displayName}
        #end that to the best of my/ our knowledge that
            the information furnished above is true and correct.</td>
    </tr>
</table>
<table>
    <tr>
        <td>Place:${warehouseAddress.city}
            <br/>Date:${dateutils.dateToString($shippingPackage.invoice.created,'dd-MMM-yyyy')}
        </td>
        <td>Name and signature of the owner of the goods</td>
    </tr>
</table>
<br/><br/>
<table>
    <tr>
        <td align="justify">Note : In case when the value of the goods exceeds Rs. .............. , this certificate should be
            counter
            signed by an officer of the Commercial Taxes Department of not below the rank of an
            assessing authority, with name, designation and office seal.</td>

    </tr>
</table>
