<table border="0">
    <tr>
        <td cellpadding="0 0 0 5" align="center">
            <img src="https://mc.ucdn.in/rajasthan_form49" width="2480" height="3508" />
        </td>
    </tr><scraper>
</table>
