<table>
    <tr>
        <td align="center">SIKKIM VALUE ADDED TAX RULES, 2005</td>
    </tr>

    <tr>
        <td align="center">FORM 25A</td>
    </tr>

    <tr>
        <td align="center">[See rule 69 (11)(i)]<br/>
            REGISTER TO BE MAINTAINED UNDER RULE 69(11)(i) OF THE SIKKIM VALUE ADDED TAX RULES,<br/>2005</td>
    </tr>
</table>
<br/><br/>

<table>
    <tr>
        <td >1. Name of the transport organization:</td>
    </tr>

    <tr>
        <td >2. Address:</td>
    </tr>

    <tr>
        <td >3. Transport licence no.:</td>
    </tr>
</table>
<br/>
<table border="1">
    <tr valign="top">
        <td width="7%">Date</td>
        <td>Name & address of consignee </td>
        <td width="5%">TIN</td>
        <td>Name & address of consignor</td>
        <td width="5%">TIN</td>
        <td>Bill/cash memoNo. & date</td>
        <td>Class/classes of goods</td>
        <td>Quantity</td>
        <td>Value of the goods</td>
        <td>Transport Challan no.</td>
        <td>Vehicle no.</td>

    </tr>

    #set($finalTotal=$numberutils.newBigDecimal(0))
    #set($totalQty=0)
    #foreach($invoiceItem in $invoice.invoiceItems)
        #set($totalQty = $totalQty+$invoiceItem.quantity)
        #set($finalTotal=$finalTotal.add($invoiceItem.total))

        <tr>
            <td>${dateutils.dateToString($saleOrder.created,'dd-MMM-yyyy')}</td>
            <td>${saleOrder.billingAddress.name}<br/>
                ${saleOrder.billingAddress.addressLine1}<br/>
                #if(${saleOrder.billingAddress.addressLine2})${saleOrder.billingAddress.addressLine2}<br/> #end
                ${cache.getCache("locationCache").getCountryByCode(${saleOrder.billingAddress.countryCode}).name}<br/>
                #if($saleOrder.billingAddress.countryCode=="IN")
                    ${cache.getCache("locationCache").getStateByCode(${saleOrder.billingAddress.stateCode}).name}
                #else $shippingPackage.shippingAddress.stateCode <br/>
                #end
                ${saleOrder.billingAddress.city} - ${saleOrder.billingAddress.pincode}<br/>
                Phone:${saleOrder.billingAddress.phone}
            </td>
            <td>#if($saleOrder.customer.tin )$saleOrder.customer.tin #end</td>
            #set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('BILLING')})
            <td>${invoice.fromParty.name}<br/>
                ${warehouseAddress.addressLine1}<br/>
                #if(${warehouseAddress.addressLine2})${warehouseAddress.addressLine2}<br/> #end
                ${cache.getCache("locationCache").getCountryByCode(${warehouseAddress.countryCode}).name}<br/>
                #if($saleOrder.billingAddress.countryCode=="IN")
                    ${cache.getCache("locationCache").getStateByCode(${warehouseAddress.stateCode}).name}
                #else $warehouseAddress.stateCode <br/>
                #end
                ${warehouseAddress.city} - ${warehouseAddress.pincode}<br/>
                Phone:${saleOrder.billingAddress.phone}</td>
            <td>#if($invoice.fromParty.tin)$invoice.fromParty.tin#end</td>
            <td>$invoice.code ,${dateutils.dateToString($invoice.created,'dd-MMM-yyyy')}</td>
            <td>$invoiceItem.itemType.name</td>
            <td>$invoiceItem.quantity</td>
            <td>$invoiceItem.total</td>
            <td></td>
            <td></td>
        </tr>
    #end
</table>
<br/><br/>

<table>
    <tr>
        <td>Signature of proprietor/director/partner<br/> Name __________________________</td>
        <td>Signature of person maintaining register<br/> Name ____________________________</td>
    </tr>
</table>