<table>
    <tr>
        <td align="right">Original<br/>
            Duplicate<br/>
            Triplicate<br/>
            Quadruplicate </td>
    </tr>
</table>

<table>
    <tr>
        <td align="center"><b>FORM JJ</b> <br/>Delivery Note<br/>
            [See rule 15(3), 15(18), 15(19), 15(20), 15(21)   ]<br/>
            (for  sales / stock transfer / works contract / labour  )</td>
    </tr>
</table>

<table>
    <tr>

        <td>
            <table border="1" width="40%" align="right" >
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><br/></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>


                </tr>
            </table>
        </td>
    </tr>



    <tr>
        <td>TIN</td>
    </tr>

    <tr>
        <td align="right">Asst. Year ..................</td>
    </tr>
</table>
<br/>
<br/>
#set($warehouseAddress = ${shippingPackage.invoice.fromParty.getPartyAddressByType('SHIPPING')})
<table>
    <tr>
        <td>1. (a) Name and address of the consignor:&nbsp;<b>${shippingPackage.invoice.fromParty.name}</b>,
            #set($senderAddress=${warehouseAddress.addressLine1})
            #if($warehouseAddress.addressLine2)
                #set($senderAddress=$senderAddress + "," + $warehouseAddress.addressLine2)
            #{end}

            $senderAddress
            ${cache.getCache("locationCache").getStateByCode(${warehouseAddress.stateCode}).name},
            ${cache.getCache("locationCache").getCountryByCode(${warehouseAddress.countryCode}).name},
            ${warehouseAddress.city} - ${warehouseAddress.pincode} ,Ph No:${warehouseAddress.phone}

        </td>
    </tr>

    <tr>
        <td>(b) TIN:&nbsp;#if($shippingPackage.invoice.fromParty.tin)$shippingPackage.invoice.fromParty.tin #end</td>
    </tr>

    <tr>
        <td>(c) CST Registration No.:&nbsp;#if($shippingPackage.invoice.fromParty.cstNumber)$shippingPackage.invoice.fromParty.cstNumber #end</td>
    </tr>

</table>

<table>
    <tr>
        <td>2. (a) Name and address of the consignee/branch/agent:&nbsp;<b>${shippingPackage.shippingAddress.name}</b>,

            #set($buyerAddress=${shippingPackage.shippingAddress.addressLine1})
            #if(${shippingPackage.shippingAddress.addressLine2})
                #set($buyerAddress=$buyerAddress + "," + ${shippingPackage.shippingAddress.addressLine2})
            #{end}

            $buyerAddress,

            #if($shippingPackage.shippingAddress.countryCode=="IN")
                ${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name}
            #else $shippingPackage.shippingAddress.stateCode #end,
            ${cache.getCache("locationCache").getCountryByCode(${shippingPackage.shippingAddress.countryCode}).name},

            ${shippingPackage.shippingAddress.city}-${shippingPackage.shippingAddress.pincode},
            T:${shippingPackage.shippingAddress.phone}</td>
    </tr>

    <tr>
        <td>(b) TIN,if any.:&nbsp;#if($shippingPackage.saleOrder.customer.tin)$shippingPackage.saleOrder.customer.tin #end</td>
    </tr>

    <tr>
        <td>(c) CST Registration No..:&nbsp;#if($shippingPackage.saleOrder.customer.cstNumber)$shippingPackage.saleOrder.customer.cstNumber #end</td>
    </tr>


</table>


<table>
    <tr>
        <td>3. Address<br/>
            (i) from which goods are consigned.:&nbsp;${cache.getCache("locationCache").getStateByCode(${warehouseAddress.stateCode}).name}<br/>
            (ii) to which goods are consigned:#if($shippingPackage.shippingAddress.countryCode=="IN")
                ${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name}
            #else $shippingPackage.shippingAddress.stateCode #end</td>
    </tr>

</table>



#set($totalQty=0)
#set($total=$numberutils.newBigDecimal(0))
#foreach($invoiceItem in $shippingPackage.invoice.invoiceItems)
    #set($totalQty = $totalQty+$invoiceItem.quantity)
    #set($total=$total.add($invoiceItem.total))
#end
<table>
    <tr>

        <td>4. Description of goods consigned<br/>
            (a) Name of the goods.:&nbsp;#foreach($invoiceItem in $shippingPackage.invoice.invoiceItems)$invoiceItem.itemType.name <br/>#end
            (b) Quantity or weight:&nbsp;$totalQty,$shippingPackage.actualWeight<br/>
            (c) Value of the goods:&nbsp;$total
    </tr>

</table>

<table>
    <tr>
        <td>5. Purpose of transport <br/>
            (a) for sale/purchase <br/>
            (b) for shipment<br/>
            (c) transfer to branch/head office/Consignment agent<br/>
            (d) for execution of works contract<br/>
            (e) for labour work/processing

        </td>
    </tr>
</table>

<table>
    <tr>
        <td>6. To whom delivered for transport and vehicle no., if any/

        </td>
    </tr>
</table>

<table>
    <tr>
        <td>7. Remarks, if any.

        </td>
    </tr>
</table>

</pagebreak>
<table>
    <tr>
        <td>I/We certify that to the best of my/our knowledge the particulars are true, correct and
            complete.

        </td>
    </tr>
</table>
<br/><br/>


<table>
    <tr>
        <td>Name and signature of the person to<br/>
            whom the goods were delivered for <br/>
            transporting with status of person signing</td>
        <td>Name and signature of the consignor/ <br/>
            his employee/his representative</td>
    </tr>
</table>

<table>
    <tr>
        <td>Place:&nbsp;${warehouseAddress.city}</td>

    </tr>
    <tr>
        <td>Date:&nbsp;${dateutils.dateToString($shippingPackage.invoice.created,'dd-MMM-yyyy')}</td>

    </tr>
</table>
<br/><br/>
<table>
    <tr>
        <td align="justify">**Note (1) Original to be furnished to the officer in charge of the first check post or barrier, the
            second copy to such officer in the last check post or barrier and the third copy shall be retained by
            the owner or other person in charge of the goods vehicle or boat.</td>

    </tr>


    <tr>
        <td align="justify"> (2) The entries in this form should be made in ink or by copying pencil using double side
            carbon paper. In the case of delivery notes issued in respect of goods intended  to be transferred to
            a place outside the State of Tamil Nadu entries should be made in English.   In other cases of
            transport such entries may be made either in English or in the official regional language of the
            State, namely, Tamil.</td>

    </tr>

    <tr>
        <td align="justify"> (3) Any corrections made in the form should be duly attested by the person signing the
            form.
        </td>

    </tr>


    <tr>
        <td align="justify"> **(4) The original, duplicate, triplicate and quadruplicate copies are to be printed in white,
            blue, red and yellow colours respectively for easy identification.
        </td>

    </tr>
</table>