<font size="2">
    <table>
        <tr>

            <td align="center"><b>FORM-XVII</b><br/>
                Department of Commercial Taxes, Government of Uttar Pradesh <br/>
                [See sub-rule (9)(a) of rule-38 of the UPVAT Rules, 2008]<br/>
                <b>Declaration by the consigner to be obtained by a transporter,carrier or forwarding agent,<br/>
                    railway container contractor</b>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="50%" align="left">Declaration No.....................</td>
            <td width="50%" align="right">Date:    ${dateutils.dateToString($shippingPackage.invoice.created,'dd-MMM-yyyy')}
            </td>


        </tr>
    </table>
    <br/>

    #set($vendorAddress = $shippingPackage.invoice.fromParty.getPartyAddressByType('BILLING'))
    <table border="1">

        <tr>
            <td valign="top" cellpadding="-3 0 0 0" width="30%">Name & Address of Consigner</td>
            <td>$shippingPackage.invoice.fromParty.name ,$vendorAddress.addressLine1,#if($vendorAddress.addressLine2)$vendorAddress.addressLine2#end,$vendorAddress.city - $vendorAddress.pincode</td>
        </tr>

        <tr>
            <td>Phone No. if any</td>
            <td>$vendorAddress.phone</td>
        </tr>

    </table>

    <table border="1">
        <tr>
            <td width="8%">T.I.N</td>
            <td>#if($shippingPackage.invoice.fromParty.tin)$shippingPackage.invoice.fromParty.tin#end</td>
            <td  align="right" border="0 0 0 0">w.e.f. ${dateutils.dateToString($shippingPackage.invoice.created,'dd-MMM-yyyy')}</td>


        </tr>
    </table>
    <br/>
    <table border="1">

        <tr>
            <td valign="top" cellpadding="-3 0 0 0" width="30%">Name & Address of Consignee</td>
            <td>$shippingPackage.shippingAddress.name,$shippingPackage.shippingAddress.addressLine1,#if($shippingPackage.shippingAddress.addressLine2)$shippingPackage.shippingAddress.addressLine2#end,$shippingPackage.shippingAddress.city - $shippingPackage.shippingAddress.pincode</td>

        </tr>

        <tr>
            <td>Phone No. if any</td>
            <td>$shippingPackage.shippingAddress.phone</td>

        </tr>

    </table>
    <table border="1">
        <tr>
            <td width="8%">T.I.N</td>
            <td>#if($shippingPackage.invoice.fromParty.tin)$shippingPackage.invoice.fromParty.tin #end</td>

            <td align="right" border="0 0 0 0">w.e.f.: ${dateutils.dateToString($shippingPackage.invoice.created,'dd-MMM-yyyy')}</td>


        </tr>
    </table>
    <br/>
    #foreach($invoiceItem in $shippingPackage.invoice.invoiceItems)

        <table border="1">
            <tr>
                <b>
                    <td align="center" width="10%">SI.No.</td>
                    <td align="center">Detail of goods received for transportation</td>
                    <td align="center" width="18%">Number</td>
                    <td align="center" width="14%">Date</td>
                </b>
            </tr>

            <tr>
                <td>1.</td>
                <td>No. and date of tax invoice/sale invoice/bill/cash memo/Purchase Invoice/Transfer Challan-</td>
                <td>$shippingPackage.invoice.code</td>
                <td>${dateutils.dateToString($shippingPackage.invoice.created,'dd-MMM-yyyy')}</td>
            </tr>

            <tr>
                <td>2.</td>
                <td>Description of goods</td>
                <td>$invoiceItem.itemType.name</td>
                <td></td>
            </tr>

            <tr>
                <td>3.</td>
                <td>No.of packets / bags / case</td>
                <td>$invoiceItem.quantity</td>
                <td></td>
            </tr>

            #set($weight=$shippingPackage.actualWeight/1000)
            <tr>
                <td>4.</td>
                <td>Weight / measurement</td>
                <td>$weight</td>
                <td></td>
            </tr>

            <tr>
                <td>5.</td>
                <td>Value of goods</td>
                <td>$invoiceItem.total</td>
                <td></td>
            </tr>

            <tr>
                <td>6.</td>
                <td>Goods Receipt no.& date</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    #end
    <br/>
    <table border="1" style="border-collapse: collapse;">

        <tr>
            <td valign="top" cellpadding="-3 0 0 0" rowspan="3" width="30%">Name and Address of transporter,carrier or forwarding agent railway container contractor.</td>
            <td> <br></td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td></td>
        </tr>
        <tr>
            <td> <br></td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td></td>
        </tr>
        <tr>
            <td><br> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td></td>

        </tr>


        <tr>
            <td>Phone No. if any</td>
            <td> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td></td>

        </tr>

    </table>
    <br/>
    <table border="1">
        <tr>
            <td width="12%">Service Provider Number</td>
            <td width="2%"></td>
            <td width="2%"></td>
            <td width="2%"></td>
            <td width="2%"></td>
            <td width="2%"></td>
            <td width="2%"></td>
            <td width="2%"></td>
            <td width="2%"></td>
            <td width="2%"></td>
            <td width="2%"></td>
            <td width="2%"></td>
            <td width="4%" align="right" border="0 0 0 0">w.e.f.: ${dateutils.dateToString($shippingPackage.invoice.created,'dd-MMM-yyyy')}</td>


        </tr>
    </table>
    <table>
        <tr colspan="3">
            <td>I......................................s/o,d/o,w/o.................................................,(status).....................
                of the business,do hereby declare that particulars furnished above are true to the best of my knowledge.</td>

        </tr>

        <tr>
            <td></td>
            <td></td>
            <td align="center">Signature,Name & Status<br/>of the Authorized Person </td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td align="center">Seal of Consigner</td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td align="center">Date: ${dateutils.dateToString($shippingPackage.invoice.created,'dd-MMM-yyyy')}</td>
        </tr>
    </table>
</font>