<table border="0">
	<tr>
		<td valign="top">
			<p><img src="/object-store/view/${invoice.fromParty.binaryObject.id}" width="210" height="35" /></p>
			<p><span style="font-size:10px;font-weight:bold;">RETAIL INVOICE</span></p>
		</td>
		<td valign="top">
		</td>
		<td valign="top">
			#set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('BILLING')})
			<span style="font-size:9px;font-weight:bold;">${invoice.fromParty.name}</span><br/>
			<span style="font-size:9px;">$warehouseAddress.addressLine1<br/>
			$warehouseAddress.addressLine2<br/>
			$warehouseAddress.city<br/>
			$warehouseAddress.state.name - $warehouseAddress.pincode<br/>
			$warehouseAddress.phone<br/>
			TIN/CST No.: 06481833767<br/>
			PAN: AAKCA7374E<br/>
			Service Tax No.: AAKCA7374ESD001<br/>
			</span>
		</td>	
	</tr>
</table>
<br/>
<table border="1" cellpadding="0" cellspacing="0">
	<tr>
		<td width="30%" valign="top"  cellpadding="0 0 2 2"><span style="font-size:9px;font-weight:bold;">Name &amp; Delivery Address</span></td>
		<td width="25%" valign="top" cellpadding="0 0 2 2" ><span style="font-size:9px;font-weight:bold;">Invoice No.</span></td>
		<td width="20%" valign="top"  cellpadding="0 0 2 2"><span style="font-size:9px;font-weight:bold;">Order No.</span></td>
		<td width="25%" valign="top"  cellpadding="0 0 2 2"><span style="font-size:9px;font-weight:bold;">Payment Mode</span></td>
	</tr>
	<tr>
		<td valign="top"  cellpadding="0 0 2 2"><span style="font-size:9px;">${saleOrder.billingAddress.name}<br/>
			${saleOrder.billingAddress.addressLine1}<br/>
			${saleOrder.billingAddress.addressLine2}<br/>
			${saleOrder.billingAddress.city}-${saleOrder.billingAddress.pincode}<br/>
			Contact No.:${saleOrder.billingAddress.phone} 
			</span>
		</td>
		<td valign="top" cellpadding="0 0 2 2" ><span style="font-size:9px;">$invoice.code<br/><br/>
			Date<br/>
			${dateutils.dateToString($invoice.created,'dd-MM-yy')}
			</span>
		</td>
		<td valign="top"  cellpadding="0 0 2 2">
			<span style="font-size:9px;">${saleOrder.displayOrderCode}<br/>
			<br/>
			Date<br/>
			${dateutils.dateToString($saleOrder.created,'dd-MM-yy')}<br/>
				
			</span>
		</td>
		<td valign="top"  cellpadding="0 0 2 2">
			<span style="font-size:11px;font-weight:bold">
			#if($shippingPackage.shippingMethod.cashOnDelivery)
				COD
			#else
				Prepaid
			#end		
			</span>
		</td>
	</tr>
</table>
<br/>
<table border="1" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top" cellpadding="0 0 2 2" width="5%"><span style="font-size:9px;font-weight:bold;">NO.</span></td>
		<td valign="top" cellpadding="0 0 2 2" width="15%"><span style="font-size:9px;font-weight:bold;">Product Name</span></td>
		<td valign="top" cellpadding="0 0 2 2" width="15%"><span style="font-size:9px;font-weight:bold;">Product Image</span></td>
		<td valign="top" cellpadding="0 0 2 2"><span style="font-size:9px;font-weight:bold;">Product Description</span></td>
		<td valign="top" cellpadding="0 3 2 2" align="center" width="7%"><span style="font-size:9px;font-weight:bold;">Qty</span></td>
		<td valign="top" cellpadding="0 3 2 2" align="center" width="10%"><span style="font-size:9px;font-weight:bold;">Rate (INR)</span></td>
		<td valign="top" cellpadding="0 5 2 2" align="center" width="11%"><span style="font-size:9px;font-weight:bold;">Amount (INR)</span></td>
	</tr>
	#set($finalTotal=$numberutils.newBigDecimal(0))
	#set($totalDisc=$numberutils.newBigDecimal(0))
	#set($shippingCharges=$numberutils.newBigDecimal(0))
	#set($codCharges=$numberutils.newBigDecimal(0))
	#set($cstOrVat=$numberutils.newBigDecimal(0))
	#set($subTotal=$numberutils.newBigDecimal(0))
	#foreach($invoiceItem in $invoice.invoiceItems)
		#set($cstOrVat=$cstOrVat.add($invoiceItem.vat).add($invoiceItem.cst))
		#set($shippingCharges=$shippingCharges.add($invoiceItem.shippingCharges).add($invoiceItem.shippingMethodCharges))
		#set($totalDisc=$totalDisc.add(${invoiceItem.discount}))
		#set($codCharges=$codCharges.add(${invoiceItem.cashOnDeliveryCharges}))
		#set($finalTotal=$finalTotal.add($invoiceItem.total).add($invoiceItem.discount))
		#set($certificateNo=" ")
		#set($item_weight=" ")
		#set($additionalInfo=$jsonutils.stringToJson($invoiceItem.additionalInfo)) 
		#foreach($item in $additionalInfo) $item.itemCode.getAsString() 
			#if($item.get("customFields")) 
				#set($customFields=$jsonutils.stringToJson($item.get("customFields").getAsString()))
				#set($certificateNo=$certificateNo + $customFields.get("certificate").getAsString() + ",") 
				#set($item_weight=$item_weight + $customFields.get("weight").getAsString() + ",") 
			#end 
		#end
		#set($index = $certificateNo.length() - 1)
		#set($certificateNo = $certificateNo.substring(0, $index))
		#set($index = $item_weight.length() - 1)
		#set($item_weight = $item_weight.substring(0, $index))
	<tr>
		<td valign="top" cellpadding="0 0 2 2"><span style="font-size:9px;">$foreach.count</span></td>
		<td valign="top" cellpadding="0 0 2 2"><span style="font-size:9px;">$invoiceItem.itemType.name</span></td>
		<td cellpadding="0 0 2 2" align="center"><img src="$invoiceItem.itemType.imageUrl" width="50" /></td>
		<td valign="top" cellpadding="0 0 2 2">
			<span style="font-size:9px;">
				#if($invoiceItem.itemType.product_id)Product Id: $invoiceItem.itemType.product_id<br/>#end
				#if($invoiceItem.itemType.primary_metal_name)Primary metal name: $invoiceItem.itemType.primary_metal_name<br/>#end
				#if($invoiceItem.itemType.accent_metal_name)Accent metal name: $invoiceItem.itemType.accent_metal_name<br/>#end
				#if($invoiceItem.itemType.metal_weight)Metal Weight (g): $invoiceItem.itemType.metal_weight<br/>#end
				#if($invoiceItem.itemType.primary_metal_weight)Primary Metal Weight: $invoiceItem.itemType.primary_metal_weight<br/>#end

				#if($invoiceItem.itemType.CENTER_STONE_stone_name)Center Stone Name: $invoiceItem.itemType.CENTER_STONE_stone_name<br/>#end
				#if($invoiceItem.itemType.CENTER_STONE_stone_shape_name)Center Stone Shape: $invoiceItem.itemType.CENTER_STONE_stone_shape_name<br/>#end
				#if($invoiceItem.itemType.CENTER_STONE_stone_size_code)Center Stone Size (MM): $invoiceItem.itemType.CENTER_STONE_stone_size_code<br/>#end
				#if($invoiceItem.itemType.CENTER_STONE_stone_cut_name)Center Stone Cut: $invoiceItem.itemType.CENTER_STONE_stone_cut_name<br/>#end
				#if($invoiceItem.itemType.CENTER_STONE_stone_quantity)Center Stone Quantity: $invoiceItem.itemType.CENTER_STONE_stone_quantity<br/>#end
				#if($invoiceItem.itemType.CENTER_STONE_stone_weight)Center Stone Weight (KT): $invoiceItem.itemType.CENTER_STONE_stone_weight<br/>#end
			
				#if($invoiceItem.itemType.ACCENT_STONE_stone_name)Accent Stone Name: $invoiceItem.itemType.ACCENT_STONE_stone_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_stone_shape_name)Accent Stone Shape: $invoiceItem.itemType.ACCENT_STONE_stone_shape_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_stone_size_code)Accent Stone Size (MM): $invoiceItem.itemType.ACCENT_STONE_stone_size_code<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_stone_cut_name)Accent Stone Cut: $invoiceItem.itemType.ACCENT_STONE_stone_cut_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_stone_quantity)Accent Stone Quantity: $invoiceItem.itemType.ACCENT_STONE_stone_quantity<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_stone_weight)Accent Stone Weight (KT): $invoiceItem.itemType.ACCENT_STONE_stone_weight<br/>#end
				
				#if($invoiceItem.itemType.ACCENT_STONE_1_stone_name)Accent Stone 1 Name: $invoiceItem.itemType.ACCENT_STONE_1_stone_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_1_stone_shape_name)Accent Stone 1 Shape: $invoiceItem.itemType.ACCENT_STONE_1_stone_shape_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_1_stone_size_code)Accent Stone 1 Size (MM): $invoiceItem.itemType.ACCENT_STONE_1_stone_size_code<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_1_stone_cut_name)Accent Stone 1 Cut: $invoiceItem.itemType.ACCENT_STONE_1_stone_cut_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_1_stone_quantity)Accent Stone 1 Quantity: $invoiceItem.itemType.ACCENT_STONE_1_stone_quantity<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_1_stone_weight)Accent Stone 1 Weight (KT): $invoiceItem.itemType.ACCENT_STONE_1_stone_weight<br/>#end

				#if($invoiceItem.itemType.ACCENT_STONE_2_stone_name)Accent Stone 2 Name: $invoiceItem.itemType.ACCENT_STONE_2_stone_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_2_stone_shape_name)Accent Stone 2 Shape: $invoiceItem.itemType.ACCENT_STONE_2_stone_shape_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_2_stone_size_code)Accent Stone 2 Size (MM): $invoiceItem.itemType.ACCENT_STONE_2_stone_size_code<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_2_stone_cut_name)Accent Stone 2 Cut: $invoiceItem.itemType.ACCENT_STONE_2_stone_cut_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_2_stone_quantity)Accent Stone 2 Quantity: $invoiceItem.itemType.ACCENT_STONE_2_stone_quantity<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_2_stone_weight)Accent Stone 2 Weight (KT): $invoiceItem.itemType.ACCENT_STONE_2_stone_weight<br/>#end

				#if($invoiceItem.itemType.ACCENT_STONE_3_stone_name)Accent Stone 3 Name: $invoiceItem.itemType.ACCENT_STONE_3_stone_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_3_stone_shape_name)Accent Stone 3 Shape: $invoiceItem.itemType.ACCENT_STONE_3_stone_shape_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_3_stone_size_code)Accent Stone 3 Size (MM): $invoiceItem.itemType.ACCENT_STONE_3_stone_size_code<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_3_stone_cut_name)Accent Stone 3 Cut: $invoiceItem.itemType.ACCENT_STONE_3_stone_cut_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_3_stone_quantity)Accent Stone 3 Quantity: $invoiceItem.itemType.ACCENT_STONE_3_stone_quantity<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_3_stone_weight)Accent Stone 3 Weight (KT): $invoiceItem.itemType.ACCENT_STONE_3_stone_weight<br/>#end

				#if($invoiceItem.itemType.ACCENT_STONE_4_stone_name)Accent Stone 4 Name: $invoiceItem.itemType.ACCENT_STONE_4_stone_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_4_stone_shape_name)Accent Stone 4 Shape: $invoiceItem.itemType.ACCENT_STONE_4_stone_shape_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_4_stone_size_code)Accent Stone 4 Size (MM): $invoiceItem.itemType.ACCENT_STONE_4_stone_size_code<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_4_stone_cut_name)Accent Stone 4 Cut: $invoiceItem.itemType.ACCENT_STONE_4_stone_cut_name<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_4_stone_quantity)Accent Stone 4 Quantity: $invoiceItem.itemType.ACCENT_STONE_4_stone_quantity<br/>#end
				#if($invoiceItem.itemType.ACCENT_STONE_4_stone_weight)Accent Stone 4 Weight (KT): $invoiceItem.itemType.ACCENT_STONE_4_stone_weight<br/>#end
				
				#if($invoiceItem.itemType.additional_accent_metal)Additional Accent Metal: $invoiceItem.itemType.additional_accent_metal<br/>#end
				#if($invoiceItem.itemType.chain_style_name)Chain style name: $invoiceItem.itemType.chain_style_name<br/>#end
				#if($invoiceItem.itemType.chain_metal_name)Chain metal name: $invoiceItem.itemType.chain_metal_name<br/>#end
				#if($invoiceItem.itemType.chain_length_name)Chain length name: $invoiceItem.itemType.chain_length_name<br/>#end
				
				#if($invoiceItem.itemType.ring_size)Ringsize (MM): $invoiceItem.itemType.ring_size<br/>#end
				#if($invoiceItem.itemType.setting_metal_name)Setting metal name: $invoiceItem.itemType.setting_metal_name<br/>#end
				#if($invoiceItem.itemType.setting_metal_weight)Setting Metal Weight: $invoiceItem.itemType.setting_metal_weight<br/>#end
				#if($invoiceItem.itemType.backing_metal_weight)Backing Metal Weight: $invoiceItem.itemType.backing_metal_weight<br/>#end
				#if($invoiceItem.itemType.stone_quality)Stone quality: $invoiceItem.itemType.stone_quality<br/>#end

				Weight: $item_weight, Cert No.: $certificateNo
			</span>
		</td>
		<td valign="top" cellpadding="0 3 2 2"><span style="font-size:9px;" align="center">$invoiceItem.quantity</span></td>
		<td valign="top" cellpadding="0 3 2 2"><span style="font-size:9px;" align="center">$numberutils.divide($invoiceItem.total.add($invoiceItem.discount),$invoiceItem.quantity)</span></td>
		<td valign="top" cellpadding="0 5 2 2"><span style="font-size:9px;" align="center">$invoiceItem.total.add($invoiceItem.discount)</span></td>
	</tr>
	#end
	<tr>
		#if($shippingPackage.shippingMethod.cashOnDelivery)
		<td colspan="3" rowspan="6"></td>
		#else
		<td colspan="3" rowspan="5"></td>
		#end
		<td valign="top" cellpadding="0 0 2 2" colspan="3"><span style="font-size:9px;">Total</span></td>
		<td><span style="font-size:9px;" align="center">$finalTotal</span></td>
	</tr>
	<tr>
		<td valign="top" cellpadding="0 0 2 2" colspan="3"><span style="font-size:9px;">Discounts</span></td>
		<td><span style="font-size:9px;" align="center">$totalDisc</span></td>
	</tr>
	<tr>
		#if($finalTotal.subtract($totalDisc).intValue() == 0)
			#set($taxPercent = $numberutils.newBigDecimal(0))
		#else
			#set($taxPercent = $numberutils.divide($cstOrVat,$finalTotal.subtract($totalDisc)).multiply($numberutils.newBigDecimal(100)))
		#end
		<td valign="top" cellpadding="0 0 2 2" colspan="3"><span style="font-size:9px;">VAT/CST (1.05 %)</span></td>
		<td><span style="font-size:9px;" align="center">Inclusive</span></td>
	</tr>
	<tr>
		<td valign="top" cellpadding="0 0 2 2" colspan="3"><span style="font-size:9px;">Shipping &amp; Handling Charges(Service Tax Included)</span></td>
		<td><span style="font-size:9px;" align="center">$shippingCharges</span></td>
	</tr>
	#set($finalTotal=$finalTotal.subtract($totalDisc).add($shippingCharges))
	<tr>
		<td valign="top" colspan="3"><span style="font-size:9px;font-weight:bold;">Grand Total</span></td>
		<td><span style="font-size:9px;" align="center">$finalTotal</span></td>
	</tr>
</table>

<table border="0">
	<tr>
		<td width="80%">
			<span style="font-size:9px;">Amount Chargeable including Sale Tax / VAT (Rs. $math.round($cstOrVat)) as per VAT/CST law.</span>
		</td>
		<td align="center">
			<span style="font-size:9px;">E & O.E</span>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<span style="font-size:9px;font-weight:bold;">
			Total in Words</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span style="font-size:9px;">**** $numberutils.toWords($math.round($finalTotal))</span>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<br/>
			<br/>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="font-size:9px;font-weight:bold;">
			Terms & Conditions
		</td>
	</tr>
	<tr>
		<td colspan="2" style="font-size:9px;">
			1) This is a computer generated receipt and does not require signature.<br/>
			2) Pre-requisites for Return and Refund:<br/>
			  - Invoice and Packets of the product.<br/>
			  - Product must not be damaged & must be in a resalable condition.<br/>
			3) All dispute will be subject to Haryana Jurisdiction.
		</td>
	</tr>
</table>


<pagebreak/>
<br/>
<br/>
<br/>
<br/>
<table cellspacing="0" border="1">
	<tr>
		<td cellpadding="0 0 3 3">
			#if($shippingPackage.shippingMethod.cashOnDelivery)
				<span style="font-size: 15px;font-weight: bold;">COLLECT CASH ON DELIVERY Rs. $shippingPackage.collectableAmount</span>
			#else
				<span style="font-size: 15px;font-weight: bold;text-align: center;">PREPAID ORDER</span>
			#end
		</td>
	</tr>
	
	<tr cellpadding="0">
		<td>
			<table border="0">
				<tr>
					<td cellpadding="0 0 0 3" width="15%">
						<span style="font-size: 13px;font-weight: bold;">AWB NO#</span>
					</td>
					<td cellpadding="5 25 5 5" width="85%">
						#if($shippingPackage.trackingNumber)<span style="font-size: 13px;font-weight: bold;"><img src="https://dev.unicommerce.com/barcode/code39/30/1/${shippingPackage.trackingNumber}"/></span>#end
					</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr cellpadding="0">
		<td>
			<table>
				<tr>
					<td width="55%" cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">Name & Delivery Address</span>	
					</td>
					<td width="45%" cellpadding="10 0 2 3" border="0 1 1 1">
						<span style="font-size:8px;font-weight:bold;">Order no# - <img src="https://dev.unicommerce.com/barcode/code39/30/1/${saleOrder.displayOrderCode}"/></span>
					</td>
				</tr>
				<tr>
					<td cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">${shippingPackage.shippingAddress.name}</span>	
					</td>
					<td cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">Order Date - ${dateutils.dateToString($saleOrder.created,'dd/MM/yyyy')}</span>
					</td>
				</tr>
				<tr>
					<td cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">${shippingPackage.shippingAddress.addressLine1} ${shippingPackage.shippingAddress.addressLine2}</span>	
					</td>
					<td cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">Invoice no# - $invoice.code</span>
					</td>
				</tr>
				<tr>
					<td cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">${shippingPackage.shippingAddress.city},${shippingPackage.shippingAddress.stateCode}-${shippingPackage.shippingAddress.pincode}</span>	
					</td>
					<td cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">Invoice Date - ${dateutils.dateToString($invoice.created,'dd/MM/yyyy')}</span>
					</td>
				</tr>
				<tr>
					<td cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">Contact No.:${shippingPackage.shippingAddress.phone}</span>	
					</td>
					<td cellpadding="0 0 2 3">
						#set($weight = 0.0)
						#foreach($invoiceItem in $invoice.invoiceItems)
							#set($weight = $weight + $invoiceItem.quantity * $invoiceItem.itemType.metal_weight)
						#end
						#set($weight = $weight / 1000)
						<span style="font-size:8px;font-weight:bold;">Weight(Kg) - 0.20</span>
					</td>
				</tr>
				<tr>
					<td cellpadding="0 0 2 3"><span style="font-size:12px;font-weight:bold;">
						Routing Code:#if(${shippingLocation.routingCode}) ${shippingLocation.routingCode} #end</span>
					</td>
					<td cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">Courier name - ${shippingProvider.name}</span>
					</td>
				</tr>
				<tr>
					<td cellpadding="0 0 2 3"><span style="font-size:12px;font-weight:bold;">
						Dispatch Code:#if(${shippingPackage.dispatch_code}) ${shippingPackage.dispatch_code} #end</span>
					</td>
					<td cellpadding="0 0 2 3">
						#set($lengthCm = $shippingPackage.boxLength/ 10.0)
						#set($widthCm = $shippingPackage.boxWidth/ 10.0)
						#set($heightCm = $shippingPackage.boxHeight/ 10.0)
						<span style="font-size:8px;font-weight:bold;">Dimensions(cm) - ${lengthCm}x${widthCm}x${heightCm}</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr style="line-height: 7px;">
		<td>
			&nbsp;
		</td>
	</tr>
	<tr cellpadding="0">
		<td>
			<table>
				<tr>
					<td align="center" width="7%" cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">S.No.</span>	
					</td>
					<td align="center" width="50%" cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">Product Name</span>
					</td>
					<td width="10%" align="center" cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">Qty</span>	
					</td>
					<td align="center" width="33%" cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">Amount(Rs)</span>
					</td>
				</tr>
				#set($totalQty=0)#set($sno=1)
				#set($subTotal=0)
				#foreach($invoiceItem in $invoice.invoiceItems)
				#set($totalQty=$totalQty + ${invoiceItem.quantity})
				<tr>
					<td align="center" cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">$sno</span>	
					</td>
					<td align="center"  cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">${invoiceItem.itemType.skuCode}</span>
					</td>
					<td align="center" cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">${invoiceItem.quantity}</span>	
					</td>
					<td align="center" cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">${invoiceItem.total.add($invoiceItem.discount)}</span>
					</td>
				</tr>
				#set($sno=$sno+1)
				#end
				<tr>
					<td align="center" cellpadding="0 0 2 3" colspan="2">
						<span style="font-size:8px;font-weight:bold;">Total</span>	
					</td>
					<td align="center" cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">$totalQty</span>	
					</td>
					<td align="center" cellpadding="0 0 2 3">
						<span style="font-size:8px;font-weight:bold;">$shippingPackage.totalPrice.add($shippingPackage.discount)</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr cellpadding="0">
		<td>
			<table border="0">
				<tr>
					<td cellpadding="2 0 2 3" colspan="3">
						<span style="font-size:8px;font-weight:bold;">Company's VAT TIN ${invoice.fromParty.tin}</span>
					</td>
				</tr>
				<tr>
					<td cellpadding="0 0 2 3" valign="top" width="15%">
						<p><span style="font-size:8px;font-weight:bold;">Return to - </span></p>
					</td>
					<td cellpadding="0 0 2 3" width="55%" valign="top">
						<span style="font-size:8px;font-weight:bold;">${invoice.fromParty.name}<br/>
						#set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('BILLING')})
						$warehouseAddress.addressLine1,<br/>
						$warehouseAddress.addressLine2,<br/>
						$warehouseAddress.city,<br/>
						$warehouseAddress.state.name - $warehouseAddress.pincode<br/>
						$warehouseAddress.phone<br/>
						</span>
						<span style="font-size:10px;font-weight:bold;">
							#if($saleOrder.cashOnDelivery)
							GGN/ GGE/ 222333
							#{else}
							GGN/UDV
							#end
						</span>
					</td>
					<td valign="top" cellpadding="10">
						<span style="font-size:10px;font-weight:bold;">Shipment Id</span><br/>
						<img src="https://dev.unicommerce.com/barcode/code39/25/1/${shippingPackage.code}"/>
					</td>
				</tr>
			</table>
		</td>
	</tr>	
	<tr>
		<td cellpadding="0 0 3 0" align="center">
			<span style="font-size:8px;font-weight:bold;">Contains Precious Accessories. Not For Resale. HANDLE WITH CARE</span>
		</td>
	</tr>
</table>



#foreach($saleOrderItem in $shippingPackage.saleOrderItems)
	
	#set($certificateNo="")
	#set($item_weight="")
	#set($additionalInfo=$jsonutils.stringToJson($saleOrderItem.item.customFieldValues)) 
	
	#set($certificateNo=$certificateNo + $additionalInfo.get("certificate").getAsString()) 
	#set($item_weight=$item_weight + $additionalInfo.get("weight").getAsString()) 
	
	

	
	<pagebreak/>
	
	
	
	<table border="0">
		<tr>
			<td valign="top" colspan="2">
				<p><img src="/object-store/view/${invoice.fromParty.binaryObject.id}" width="190" height="30" /></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<span style="font-size:12px;font-weight:bold;">Thank You for Shopping with 21Diamonds.in!</span>	
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<br/>
			</td>
		</tr>
		<tr style="font-size:10px;">
			
			<td>
				Dear ${shippingPackage.shippingAddress.name}
			</td>
			<td align="right">
				Certificate No: #if($certificateNo)$certificateNo #end
			</td>
		</tr>
		<br/>
		<tr style="font-size:10px;">
			<td valign="top" colspan="2" style="text-align: justify;">
				We hope you had a pleasant experience shopping with us, 
				and enjoy wearing your jewellery as much as we enjoyed creating it for You!
			</td>
		</tr>	
		<br/>
		<tr style="font-size:10px;">
			<td valign="top" colspan="2" style="text-align: justify;">
				At 21Diamonds.in, product quality is of utmost importance, and thus every jewellery piece  goes through multiple quality checks, 
				before it's packed into an elegant box with a tamper proof outer cover - so that You receive your perfect 
				product in perfect condition.
			</td>
		</tr>
		<br/>
		<tr style="font-size:10px;">
			<td valign="top" colspan="2" style="text-align: justify;">
				Your jewellery has been crafted in accordance with the best of quality standards and is certified to meet the specifications below:
			</td>
		</tr>
	</table>
	<br/>
	<table border="1" cellpadding="0" cellspacing="0" align="center">
		<tr style="font-size:10px;font-weight:bold;" align="center">
			<td valign="top" cellpadding="0 0 1 2" width="20%">Product Image</td>
			<td valign="top" cellpadding="0 0 1 2" width="25%">Product Name</td>
			<td valign="top" cellpadding="0 0 1 2" width="55%">Product Description</td>
		</tr>
		<tr style="font-size:10px;"  valign="top">
			<td cellpadding="0 0 2 32" valign="middle" align="center"><img src="$saleOrderItem.itemType.imageUrl" width="50" /></td>
			<td cellpadding="0 0 1 2" align="center" valign="middle">$saleOrderItem.itemType.name</td>
			<td cellpadding="0 0 0 0">
				<table>
				#if($saleOrderItem.itemType.product_id)<tr><td cellpadding="0 0 1 2">Product Id</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.product_id</td></tr>#end
				#if($saleOrderItem.itemType.primary_metal_name)<tr><td cellpadding="0 0 1 2">Primary metal name</td><td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.primary_metal_name</td></tr>#end
				#if($saleOrderItem.itemType.accent_metal_name)<tr><td cellpadding="0 0 1 2">Accent metal name</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.accent_metal_name</td></tr>#end
				#if($saleOrderItem.itemType.metal_weight)<tr><td cellpadding="0 0 1 2">Metal Weight(gm) </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.metal_weight</td></tr>#end
				#if($saleOrderItem.itemType.primary_metal_weight)<tr><td cellpadding="0 0 1 2">Primary Metal Weight </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.primary_metal_weight</td></tr>#end
	
				#if($saleOrderItem.itemType.CENTER_STONE_stone_name)<tr><td cellpadding="0 0 1 2">Center Stone Name</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.CENTER_STONE_stone_name</td></tr>#end
				#if($saleOrderItem.itemType.CENTER_STONE_stone_shape_name)<tr><td cellpadding="0 0 1 2">Center Stone Shape </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.CENTER_STONE_stone_shape_name</td></tr>#end
				#if($saleOrderItem.itemType.CENTER_STONE_stone_size_code)<tr><td cellpadding="0 0 1 2">Center Stone Size (MM) </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.CENTER_STONE_stone_size_code</td></tr>#end
				#if($saleOrderItem.itemType.CENTER_STONE_stone_cut_name)<tr><td cellpadding="0 0 1 2">Center Stone Cut </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.CENTER_STONE_stone_cut_name</td></tr>#end
				#if($saleOrderItem.itemType.CENTER_STONE_stone_quantity)<tr><td cellpadding="0 0 1 2">Center Stone Quantity </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.CENTER_STONE_stone_quantity</td></tr>#end
				#if($saleOrderItem.itemType.CENTER_STONE_stone_weight)<tr><td cellpadding="0 0 1 2">Center Stone Weight (KT)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.CENTER_STONE_stone_weight</td></tr>#end
			
				#if($saleOrderItem.itemType.ACCENT_STONE_stone_name)<tr><td cellpadding="0 0 1 2">Accent Stone Name </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_stone_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_stone_shape_name)<tr><td cellpadding="0 0 1 2">Accent Stone Shape </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_stone_shape_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_stone_size_code)<tr><td cellpadding="0 0 1 2">Accent Stone Size (MM)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_stone_size_code</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_stone_cut_name)<tr><td cellpadding="0 0 1 2">Accent Stone Cut </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_stone_cut_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_stone_quantity)<tr><td cellpadding="0 0 1 2">Accent Stone Quantity </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_stone_quantity</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_stone_weight)<tr><td cellpadding="0 0 1 2">Accent Stone Weight (KT) </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_stone_weight</td></tr>#end
				
				#if($saleOrderItem.itemType.ACCENT_STONE_1_stone_name)<tr><td cellpadding="0 0 1 2">Accent Stone 1 Name </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_1_stone_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_1_stone_shape_name)<tr><td cellpadding="0 0 1 2">Accent Stone 1 Shape </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_1_stone_shape_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_1_stone_size_code)<tr><td cellpadding="0 0 1 2">Accent Stone 1 Size (MM)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_1_stone_size_code</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_1_stone_cut_name)<tr><td cellpadding="0 0 1 2">Accent Stone 1 Cut </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_1_stone_cut_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_1_stone_quantity)<tr><td cellpadding="0 0 1 2">Accent Stone 1 Quantity </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_1_stone_quantity</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_1_stone_weight)<tr><td cellpadding="0 0 1 2">Accent Stone 1 Weight (KT)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_1_stone_weight</td></tr>#end
	
				#if($saleOrderItem.itemType.ACCENT_STONE_2_stone_name)<tr><td cellpadding="0 0 1 2">Accent Stone 2 Name</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_2_stone_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_2_stone_shape_name)<tr><td cellpadding="0 0 1 2">Accent Stone 2 Shape</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_2_stone_shape_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_2_stone_size_code)<tr><td cellpadding="0 0 1 2">Accent Stone 2 Size (MM)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_2_stone_size_code</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_2_stone_cut_name)<tr><td cellpadding="0 0 1 2">Accent Stone 2 Cut </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_2_stone_cut_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_2_stone_quantity)<tr><td cellpadding="0 0 1 2">Accent Stone 2 Quantity </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_2_stone_quantity</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_2_stone_weight)<tr><td cellpadding="0 0 1 2">Accent Stone 2 Weight (KT)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_2_stone_weight</td></tr>#end
	
				#if($saleOrderItem.itemType.ACCENT_STONE_3_stone_name)<tr><td cellpadding="0 0 1 2">Accent Stone 3 Name</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_3_stone_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_3_stone_shape_name)<tr><td cellpadding="0 0 1 2">Accent Stone 3 Shape </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_3_stone_shape_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_3_stone_size_code)<tr><td cellpadding="0 0 1 2">Accent Stone 3 Size (MM) </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_3_stone_size_code</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_3_stone_cut_name)<tr><td cellpadding="0 0 1 2">Accent Stone 3 Cut </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_3_stone_cut_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_3_stone_quantity)<tr><td cellpadding="0 0 1 2">Accent Stone 3 Quantity </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_3_stone_quantity</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_3_stone_weight)<tr><td cellpadding="0 0 1 2">Accent Stone 3 Weight (KT)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_3_stone_weight</td></tr>#end
	
				#if($saleOrderItem.itemType.ACCENT_STONE_4_stone_name)<tr><td cellpadding="0 0 1 2">Accent Stone 4 Name </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_4_stone_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_4_stone_shape_name)<tr><td cellpadding="0 0 1 2">Accent Stone 4 Shape </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_4_stone_shape_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_4_stone_size_code)<tr><td cellpadding="0 0 1 2">Accent Stone 4 Size (MM)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_4_stone_size_code</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_4_stone_cut_name)<tr><td cellpadding="0 0 1 2">Accent Stone 4 Cut</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_4_stone_cut_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_4_stone_quantity)<tr><td cellpadding="0 0 1 2">Accent Stone 4 Quantity </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_4_stone_quantity</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_4_stone_weight)<tr><td cellpadding="0 0 1 2">Accent Stone 4 Weight (KT)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_4_stone_weight</td></tr>#end
	
				#if($saleOrderItem.itemType.additional_accent_metal)<tr><td cellpadding="0 0 1 2">Additional Accent Metal </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.additional_accent_metal</td></tr>#end
				#if($saleOrderItem.itemType.chain_style_name)<tr><td cellpadding="0 0 1 2">Chain style name</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.chain_style_name</td></tr>#end
				#if($saleOrderItem.itemType.chain_metal_name)<tr><td cellpadding="0 0 1 2">Chain metal name </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.chain_metal_name</td></tr>#end
				#if($saleOrderItem.itemType.chain_length_name)<tr><td cellpadding="0 0 1 2">Chain length name </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.chain_length_name</td></tr>#end
				
				#if($saleOrderItem.itemType.ring_size)<tr><td cellpadding="0 0 1 2">Ringsize (MM)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ring_size</td></tr>#end
				#if($saleOrderItem.itemType.setting_metal_name)<tr><td cellpadding="0 0 1 2">Setting metal name</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.setting_metal_name</td></tr>#end
				#if($saleOrderItem.itemType.setting_metal_weight)<tr><td cellpadding="0 0 1 2">Setting Metal Weight </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.setting_metal_weight</td></tr>#end
				#if($saleOrderItem.itemType.backing_metal_weight)<tr><td cellpadding="0 0 1 2">Backing Metal Weight</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.backing_metal_weight</td></tr>#end
				#if($saleOrderItem.itemType.stone_quality)<tr><td cellpadding="0 0 1 2">Stone quality</td><td cellpadding="0 0 1 2" align="center" align="center">$saleOrderItem.itemType.stone_quality</td></tr>#end
	
				#if($item_weight)<tr><td cellpadding="0 0 1 2">Weight(gm)</td><td cellpadding="0 0 1 2" align="center">$item_weight </td></tr>#end
				</table>
			</td>
		</tr>
	</table>
	<br/><br/>
	<table style="font-size:10px;" width="98%">
		<tr>
			<td align="right">
				Verified By ___________________
			</td>
		</tr>
		<br/><br/>
		<tr>
			<td style="text-align: justify;">
				We would love to hear what you thought of the product, and the overall 21Diamonds.in experience. 
				Please share your thoughts with us at care@21diamonds.in , or call us on 011-30017621, or leave a note on Facebook or Twitter.
			</td>
		</tr>
		<tr>
			<td>
				Keep Shining!
			</td>
		</tr>
		</tr>
		<tr>
			<td>
				Team 21Diamonds
			</td>
		</tr>
		<tr border="0 0 1 0" align="center">
			<td align="center" cellpadding="0 0 5 240" border="0 0 1 0">
				<br/><br/>
				<p><img src="/object-store/view/16" width="70" height="55" /></p>
			</td>
		</tr>
	</table>
	
	<p align="center" style="font-size: 10px;">
		Axel Retail Private Limited<br/>
		1st Floor, 521, Udyog Vihar Phase 3 , Gurgoan (Haryana) 122016<br/>
		<span style="text-decoration: underline;text-shadow: blue;">www.21diamonds.in</span>, <span style="text-decoration: underline;text-shadow: blue;">Care@21diamonds.in</span>
	</p>
#end









