#foreach($saleOrderItem in $shippingPackage.saleOrderItems)
	
	#set($certificateNo="")
	#set($item_weight="")
	#set($additionalInfo=$jsonutils.stringToJson($saleOrderItem.item.customFieldValues)) 
	
	#set($certificateNo=$certificateNo + $additionalInfo.get("certificate").getAsString()) 
	#set($item_weight=$item_weight + $additionalInfo.get("weight").getAsString()) 
	
	

	
	<pagebreak/>
	
	
	
	<table border="0">
		<tr>
			<td valign="top" colspan="2">
				<p><img src="/object-store/view/${invoice.fromParty.binaryObject.id}" width="190" height="30" /></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<span style="font-size:12px;font-weight:bold;">Thank You for Shopping with 21Diamonds.in!</span>	
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<br/>
			</td>
		</tr>
		<tr style="font-size:10px;">
			
			<td>
				Dear ${shippingPackage.shippingAddress.name}
			</td>
			<td align="right">
				Certificate No: #if($certificateNo)$certificateNo #end
			</td>
		</tr>
		<br/>
		<tr style="font-size:10px;">
			<td valign="top" colspan="2" style="text-align: justify;">
				<p style="font-size: 10px;">
					We hope you had a pleasant experience shopping with us, 
					and enjoy wearing your jewellery as much as we enjoyed creating it for You!
				</p>
				<br/>
				<p style="font-size: 10px;">
					At 21Diamonds.in, product quality is of utmost importance, and thus every jewellery piece  goes through multiple quality checks, 
					before it's packed into an elegant box with a tamper proof outer cover - so that You receive your perfect 
					product in perfect condition.
				</p>
				<br/>
				<p style="font-size: 10px;">
					Your jewellery has been crafted in accordance with the best of quality standards and is certified to meet the specifications below:
				</p>
			</td>
		</tr>
	</table>
	<br/>
	<table border="1" cellpadding="0" cellspacing="0" align="center">
		<tr style="font-size:10px;font-weight:bold;" align="center">
			<td valign="top" cellpadding="0 0 1 2" width="20%">Product Image</td>
			<td valign="top" cellpadding="0 0 1 2" width="25%">Product Name</td>
			<td valign="top" cellpadding="0 0 1 2" width="55%">Product Description</td>
		</tr>
		<tr style="font-size:10px;"  valign="top">
			<td cellpadding="0 0 2 32" valign="middle" align="center"><img src="$saleOrderItem.itemType.imageUrl" width="50" /></td>
			<td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.name</td>
			<td cellpadding="0 0 0 0">
				<table>
				#if($saleOrderItem.itemType.product_id)<tr><td cellpadding="0 0 1 2">Product Id</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.product_id</td></tr>#end
				#if($saleOrderItem.itemType.primary_metal_name)<tr><td cellpadding="0 0 1 2">Primary metal name</td><td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.primary_metal_name</td></tr>#end
				#if($saleOrderItem.itemType.accent_metal_name)<tr><td cellpadding="0 0 1 2">Accent metal name</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.accent_metal_name</td></tr>#end
				#if($saleOrderItem.itemType.metal_weight)<tr><td cellpadding="0 0 1 2">Metal Weight(gm) </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.metal_weight</td></tr>#end
				#if($saleOrderItem.itemType.primary_metal_weight)<tr><td cellpadding="0 0 1 2">Primary Metal Weight </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.primary_metal_weight</td></tr>#end
	
				#if($saleOrderItem.itemType.CENTER_STONE_stone_name)<tr><td cellpadding="0 0 1 2">Center Stone Name</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.CENTER_STONE_stone_name</td></tr>#end
				#if($saleOrderItem.itemType.CENTER_STONE_stone_shape_name)<tr><td cellpadding="0 0 1 2">Center Stone Shape </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.CENTER_STONE_stone_shape_name</td></tr>#end
				#if($saleOrderItem.itemType.CENTER_STONE_stone_size_code)<tr><td cellpadding="0 0 1 2">Center Stone Size (MM) </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.CENTER_STONE_stone_size_code</td></tr>#end
				#if($saleOrderItem.itemType.CENTER_STONE_stone_cut_name)<tr><td cellpadding="0 0 1 2">Center Stone Cut </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.CENTER_STONE_stone_cut_name</td></tr>#end
				#if($saleOrderItem.itemType.CENTER_STONE_stone_quantity)<tr><td cellpadding="0 0 1 2">Center Stone Quantity </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.CENTER_STONE_stone_quantity</td></tr>#end
				#if($saleOrderItem.itemType.CENTER_STONE_stone_weight)<tr><td cellpadding="0 0 1 2">Center Stone Weight (KT)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.CENTER_STONE_stone_weight</td></tr>#end
			
				#if($saleOrderItem.itemType.ACCENT_STONE_stone_name)<tr><td cellpadding="0 0 1 2">Accent Stone Name </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_stone_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_stone_shape_name)<tr><td cellpadding="0 0 1 2">Accent Stone Shape </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_stone_shape_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_stone_size_code)<tr><td cellpadding="0 0 1 2">Accent Stone Size (MM)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_stone_size_code</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_stone_cut_name)<tr><td cellpadding="0 0 1 2">Accent Stone Cut </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_stone_cut_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_stone_quantity)<tr><td cellpadding="0 0 1 2">Accent Stone Quantity </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_stone_quantity</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_stone_weight)<tr><td cellpadding="0 0 1 2">Accent Stone Weight (KT) </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_stone_weight</td></tr>#end
				
				#if($saleOrderItem.itemType.ACCENT_STONE_1_stone_name)<tr><td cellpadding="0 0 1 2">Accent Stone 1 Name </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_1_stone_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_1_stone_shape_name)<tr><td cellpadding="0 0 1 2">Accent Stone 1 Shape </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_1_stone_shape_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_1_stone_size_code)<tr><td cellpadding="0 0 1 2">Accent Stone 1 Size (MM)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_1_stone_size_code</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_1_stone_cut_name)<tr><td cellpadding="0 0 1 2">Accent Stone 1 Cut </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_1_stone_cut_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_1_stone_quantity)<tr><td cellpadding="0 0 1 2">Accent Stone 1 Quantity </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_1_stone_quantity</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_1_stone_weight)<tr><td cellpadding="0 0 1 2">Accent Stone 1 Weight (KT)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_1_stone_weight</td></tr>#end
	
				#if($saleOrderItem.itemType.ACCENT_STONE_2_stone_name)<tr><td cellpadding="0 0 1 2">Accent Stone 2 Name</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_2_stone_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_2_stone_shape_name)<tr><td cellpadding="0 0 1 2">Accent Stone 2 Shape</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_2_stone_shape_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_2_stone_size_code)<tr><td cellpadding="0 0 1 2">Accent Stone 2 Size (MM)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_2_stone_size_code</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_2_stone_cut_name)<tr><td cellpadding="0 0 1 2">Accent Stone 2 Cut </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_2_stone_cut_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_2_stone_quantity)<tr><td cellpadding="0 0 1 2">Accent Stone 2 Quantity </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_2_stone_quantity</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_2_stone_weight)<tr><td cellpadding="0 0 1 2">Accent Stone 2 Weight (KT)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_2_stone_weight</td></tr>#end
	
				#if($saleOrderItem.itemType.ACCENT_STONE_3_stone_name)<tr><td cellpadding="0 0 1 2">Accent Stone 3 Name</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_3_stone_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_3_stone_shape_name)<tr><td cellpadding="0 0 1 2">Accent Stone 3 Shape </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_3_stone_shape_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_3_stone_size_code)<tr><td cellpadding="0 0 1 2">Accent Stone 3 Size (MM) </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_3_stone_size_code</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_3_stone_cut_name)<tr><td cellpadding="0 0 1 2">Accent Stone 3 Cut </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_3_stone_cut_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_3_stone_quantity)<tr><td cellpadding="0 0 1 2">Accent Stone 3 Quantity </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_3_stone_quantity</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_3_stone_weight)<tr><td cellpadding="0 0 1 2">Accent Stone 3 Weight (KT)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_3_stone_weight</td></tr>#end
	
				#if($saleOrderItem.itemType.ACCENT_STONE_4_stone_name)<tr><td cellpadding="0 0 1 2">Accent Stone 4 Name </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_4_stone_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_4_stone_shape_name)<tr><td cellpadding="0 0 1 2">Accent Stone 4 Shape </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_4_stone_shape_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_4_stone_size_code)<tr><td cellpadding="0 0 1 2">Accent Stone 4 Size (MM)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_4_stone_size_code</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_4_stone_cut_name)<tr><td cellpadding="0 0 1 2">Accent Stone 4 Cut</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_4_stone_cut_name</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_4_stone_quantity)<tr><td cellpadding="0 0 1 2">Accent Stone 4 Quantity </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_4_stone_quantity</td></tr>#end
				#if($saleOrderItem.itemType.ACCENT_STONE_4_stone_weight)<tr><td cellpadding="0 0 1 2">Accent Stone 4 Weight (KT)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ACCENT_STONE_4_stone_weight</td></tr>#end
	
				#if($saleOrderItem.itemType.additional_accent_metal)<tr><td cellpadding="0 0 1 2">Additional Accent Metal </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.additional_accent_metal</td></tr>#end
				#if($saleOrderItem.itemType.chain_style_name)<tr><td cellpadding="0 0 1 2">Chain style name</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.chain_style_name</td></tr>#end
				#if($saleOrderItem.itemType.chain_metal_name)<tr><td cellpadding="0 0 1 2">Chain metal name </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.chain_metal_name</td></tr>#end
				#if($saleOrderItem.itemType.chain_length_name)<tr><td cellpadding="0 0 1 2">Chain length name </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.chain_length_name</td></tr>#end
				
				#if($saleOrderItem.itemType.ring_size)<tr><td cellpadding="0 0 1 2">Ringsize (MM)</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.ring_size</td></tr>#end
				#if($saleOrderItem.itemType.setting_metal_name)<tr><td cellpadding="0 0 1 2">Setting metal name</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.setting_metal_name</td></tr>#end
				#if($saleOrderItem.itemType.setting_metal_weight)<tr><td cellpadding="0 0 1 2">Setting Metal Weight </td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.setting_metal_weight</td></tr>#end
				#if($saleOrderItem.itemType.backing_metal_weight)<tr><td cellpadding="0 0 1 2">Backing Metal Weight</td> <td cellpadding="0 0 1 2" align="center">$saleOrderItem.itemType.backing_metal_weight</td></tr>#end
				#if($saleOrderItem.itemType.stone_quality)<tr><td cellpadding="0 0 1 2">Stone quality</td><td cellpadding="0 0 1 2" align="center" align="center">$saleOrderItem.itemType.stone_quality</td></tr>#end
	
				#if($item_weight)<tr><td cellpadding="0 0 1 2">Weight(gm)</td><td cellpadding="0 0 1 2" align="center">$item_weight </td></tr>#end
				</table>
			</td>
		</tr>
	</table>
	<br/><br/>
	<table style="font-size:10px;" width="98%">
		<tr>
			<td align="right">
				Verified By ___________________
			</td>
		</tr>
		<br/><br/>
		<tr>
			<td>
				<p  style="text-align: justify;">
					We would love to hear what you thought of the product, and the overall 21Diamonds.in experience. 
					Please share your thoughts with us at care@21diamonds.in , or call us on 011-30017621, or leave a note on Facebook or Twitter.
				</p>
				<br/>
				Keep Shining! <br/><br/>Team 21Diamonds			
			</td>
		</tr>
		<tr border="0 0 1 0" align="center">
			<td align="center" cellpadding="0 0 5 240" border="0 0 1 0">
				<br/><br/>
				<p><img src="/object-store/view/16" width="70" height="55" /></p>
			</td>
		</tr>
	</table>
	
	<p align="center" style="font-size: 10px;">
		Axel Retail Private Limited<br/>
		1st Floor, 521, Udyog Vihar Phase 3 , Gurgoan (Haryana) 122016<br/>
		<span style="text-decoration: underline;text-shadow: blue;">www.21diamonds.in</span>, <span style="text-decoration: underline;text-shadow: blue;">Care@21diamonds.in</span>
	</p>
#end



