<div>
	<style class="xl9b" style="font-size:9px;font-weight:bold;" />
	<style class="xl9" style="font-size:9px;"/>
	<style class="xl11" style="font-size:11px;"/>
	<style class="xl11b" style="font-size:11px;font-weight:bold;"/>
	<style class="xl8" style="font-size:8px;"/>
	<style class="xl8b" style="font-size:8px;font-weight:bold;"/>
	<style class="xl14" style="font-size:14px;font-weight:bold;"/>
	<style class="xlb" style="font-weight:bold;"/>
</div>
#set($facility=${cache.getCache('facilityCache').currentFacility})
#set($facilityAddress=$facility.getPartyAddressByType('SHIPPING'))

#set($copyFor = ['CONSIGNEE COPY','ACCOUNTS COPY','SHIPPERS COPY'])
#set($range = [0..2])
#foreach($i in $range)
	<table border=".7">
		<tr>
			<td>
				<table border="0">
					<tr>
						<td valign="top" width="40%" cellpadding="5 5 5 10">
							<img src="/object-store/view/${invoice.fromParty.binaryObject.id}" height="30" width="130"/>
						</td>
						<td width="30%" class="xl9b">CONSIGNEE INFORMATION</td>
						<td width="30%" class="xl9b" bgcolor="#C0C0C0">$copyFor[$i]</td>
					</tr>
				</table>
				<table border="0">
					<tr valign="top" cellpadding="3">
						<td width="15%" class="xl8b">NAME:</td>
						<td width="55%" class="xl8">${shippingPackage.shippingAddress.name}</td>
						<td width="30%" class="xl8" rowspan="3" bgcolor="#C0C0C0">
							<span class="xl8b">SHIPPER INFORMATION</span><br/>
							$facility.name.toUpperCase()<br/>
							$facilityAddress.addressLine1 #if($facilityAddress.addressLine2)$facilityAddress.addressLine2 #end, 
							$facilityAddress.city, ${facilityAddress.stateCode}
						</td>
					</tr>
					<tr valign="top" cellpadding="3">
						<td class="xl8b">ADDRESS:</td>
						<td class="xl8">
							${shippingPackage.shippingAddress.addressLine1}
							#if(${shippingPackage.shippingAddress.addressLine2})${shippingPackage.shippingAddress.addressLine2}, #end
							${shippingPackage.shippingAddress.city}, ${shippingPackage.shippingAddress.stateCode}, 
							${cache.getCache("locationCache").getCountryByCode(${shippingPackage.shippingAddress.countryCode}).name}
						</td>
					</tr>
					<tr valign="top" cellpadding="3">
						<td class="xl8b">PHONE:</td>
						<td class="xl8">
							${shippingPackage.shippingAddress.phone},
							&nbsp;&nbsp;&nbsp; 
							<span class="xl8b">Mobile</span>: 
							#if($saleOrder.noficationMobile)$saleOrder.notificationMobile #end
						</td>
					</tr>			
				</table>
				<table border="0">
					<tr valign="top" cellpadding="3" class="xl9b">
						<td width="20%">CONSIGNMENT#</td>
						<td width="30%">
							#if($shippingPackage.trackingNumber)
								<img src="https://dev.unicommerce.com/barcode/code128c/22/1/${shippingPackage.trackingNumber}"/>
							#end		
						</td>
						<td width="20%" class="xl9b">ORDER # ${saleOrder.displayOrderCode}</td>
						<td width="30%" valign="bottom" bgcolor="#C0C0C0">PACKAGE#</td>
					</tr>
				</table>
				<table border="0">
					<tr valign="top" align="center" cellpadding="3" class="xl8" bgcolor="#C0C0C0">
						<td width="15%">
							<span class="xl9b">DATE</span><br/>
							${dateutils.dateToString($shippingPackage.created,'dd/MM/yyyy')}
						</td>
						<td width="15%">
							<span class="xl9b">ORDER STATUS</span><br/>
							#if($saleOrder.saleOrderItems.size() > $shippingPackage.noOfItems)
								PARTIAL
							#else
								COMPLETE
							#end			
						</td>
						<td width="10%">
							<span class="xl9b">PIECES</span><br/>
							$shippingPackage.noOfItems
						</td>
						<td width="15%">
							<span class="xl9b">WEIGHT(kg)</span><br/>
							#set($weight = $shippingPackage.actualWeight / 1000.0)
							$weight
						</td>
						<td width="15%">
							<span class="xl9b">ORIGIN</span><br/>
							$facilityAddress.city
						</td>
						<td width="30%" cellpadding="5">
							<img src="https://dev.unicommerce.com/barcode/code128c/22/1/${shippingPackage.code}"/>
						</td>
					</tr>
				</table>
				#if($copyFor[$i] == 'SHIPPERS COPY')
					<table border="0">
						<tr valign="top" cellpadding="3">
							<td width="15%" class="xl9b">PRODUCT SKU:</td>
							<td class="xl9">
								#foreach($invoiceItem in $invoice.invoiceItems)
									$invoiceItem.itemType.skuCode,
								#end
							</td>
						</tr>
					</table>
				#end
				<table border="0.5 0 0 0">
					<tr valign="top" cellpadding="3" class="xl9">
						<td width="25%">
							<span class="xl9b">PAYMENT METHOD</span><br/>
							#if($saleOrder.cashOnDelivery)
								CASH ON DELIVERY
							#else
								PREPAID
							#end		
						</td>
						<td width="25%" align="center">
							<span class="xl9b">DESTINATION</span><br/>
							$shippingPackage.shippingAddress.city			
						</td>
						<td width="20%" align="center">
							<span class="xl9b">DELIVERY</span><br/>
							#if($shippingProvider.name)$shippingProvider.name #end
						</td>
						<td width="30%" class="xl11b">
							CASH ON DELIVERY<br/>
							#if ($finalTotal < 0)
								#set($finalTotal=0)
							#end
							#if($saleOrder.cashOnDelivery) 
								Rs.$math.round($shippingPackage.collectableAmount)
							#else
								Rs.0
							#end
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<br/>
#end

<pagebreak/>

#if($shippingProvider.code.toUpperCase() == 'SELF')
	<table border="0" style="font-size:10px;">
		<tr valign="top">
			<td  width = "50%" style="font-size:18px;font-weight:bold;">
				RETURNS FORM
			</td>
			<td cellpadding="5 0 5 120">
				<img src="/object-store/view/${invoice.fromParty.binaryObject.id}"  height="35" width="140"/>
			</td>
		</tr>
		<tr valign="top">
			<td colspan="2" border = "0 0 .6 0">
				WE CARE ABOUT YOUR SATISFACTION. IN THE EVENT THAT YOU NEED TO RETURN A PRODUCT. PLEASE FILL THIS FORM
			</td>
		</tr>
		<tr valign="top">
			<td colspan="2" border="0 0 0.6 0">
				<span style="font-weight:bold;">Product Returns must meet FOUR simple requirements</span><br/><br/>
				1. The Product is in unused condition. (Tried only for fit and size)<br/>
				2. All the tags and packaging accompanying the product are intact<br/>
				3. The product was delivered to you in last 7 days<br/>
				4. The product is not specified as Non-Returnable on the product page on Daraz.pk
				<br/><br/>
			</td>
		</tr>
		<tr valign="top">
			<td colspan="2">
				IF ALL OF THE ABOVE REQUIREMENTS ARE MET, PLEASE FOLLOW THE STEPS BELOW:
			</td>
		</tr>
		<tr valign="top">
			<td cellpadding="2" colspan="2">
				<table style="font-size:9px;" border="0">
					<tr>
						<td style="font-size:10px;font-weight:bold;" colspan="3">1. PLEASE TICK THE PRODUCT YOU WOULD LIKE TO RETURN</td>
					</tr>
					<tr>
						<td class="xl9" colspan="3" cellpadding="0 0 0 10">State the reason for return(Size issue, Quality issue, Any other issue)<br/><br/></td>
					</tr>
					#foreach($invoiceItem in $invoice.invoiceItems)
						<tr cellpadding="3">
							<td border=".7" width="3%" cellpadding="0 0 0 2"></td>
							<td width="47%">$invoiceItem.itemType.skuCode</td>
							<td width="50%">Reason:________________________</td>
						</tr>
						<tr>
							<td> </td>
							<td> </td>
							<td> </td>
						</tr>
					#end
					<br/>
				</table>
			</td>
		</tr>
		<tr cellpadding="20 0 0 3">
			<td style="font-size:10px;font-weight:bold;" colspan="2">2. RETURNING THE PRODUCT</td>
		</tr>
		<tr>
			<td colspan="2">
				<img src="/object-store/view/30" height="105" width="500"/>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="font-size:11px;" align="center">
				PLEASE CUT THE RETURN LABEL BELOW & PASTE IT ON PARCEL<br/>
			</td>
		</tr>
		<tr valign="top">
			<td cellpadding="2" colspan="2" border="0.6">
				<table border="0">
					<tr valign="top" bgcolor="#C0C0C0">
						<td width="35%">
							 <img src="/object-store/view/${invoice.fromParty.binaryObject.id}"  height="27" width="90"/>
						</td>
						<td style="font-weight:bold;font-size:10px;" width="65%">
							RETURN TO SHIPPER
						</td>
					</tr>
					<tr valign="top" class="xl9">
						<td colspan="2">
							#set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('SHIPPING')})
							<b>SHIPPER INFORMATION</b><br/>
							$warehouseAddress.addressLine1 <br/>
							#if($warehouseAddress.addressLine2)$warehouseAddress.addressLine2 #end 
							$warehouseAddress.city, $warehouseAddress.stateCode,  (021)-11-11-32729 
						</td>
					</tr>
				</table>
				<table border="0">
					<tr class="xl9">
						<td width="33%" valign="middle">
							Return Request # &nbsp; ________________
						</td>
						<td width="33%" valign="top">
							Order # <br/> <img src="https://dev.unicommerce.com/barcode/code128c/20/1/${saleOrder.displayOrderCode}"/>
						</td>
						<td width="34%" valign="top">
							Package # <br/> <img src="https://dev.unicommerce.com/barcode/code128c/20/1/${shippingPackage.code}"/>
						</td>
					</tr>
				</table>
				<table border="0">
					<tr valign="top" class="xl9" align="center" bgcolor="#C0C0C0">
						<td width="20%">
							PICKUP DATE<br/>
							________
						</td>
						<td width="20%">
							PICKUP BY<br/>
							Self
						</td>
						<td width="20%">
							ORDER STATUS<br/>
							Return
						</td>
						<td width="20%">
							PIECES RETURNED<br/>
							____
						</td>
					</tr>
				</table>
			</td>
		</tr>	
	</table>
#else	
	<table border="0" style="font-size:10px;">
		<tr valign="top">
			<td  width = "50%" style="font-size:18px;font-weight:bold;">
				RETURNS FORM
			</td>
			<td cellpadding="5 0 5 120">
				<img src="/object-store/view/${invoice.fromParty.binaryObject.id}"  height="35" width="140"/>
			</td>
		</tr>
		<tr valign="top">
			<td colspan="2" border = "0 0 .6 0">
				WE CARE ABOUT YOUR SATISFACTION. IN THE EVENT THAT YOU NEED TO RETURN A PRODUCT. PLEASE FILL THIS FORM
			</td>
		</tr>
		<tr valign="top">
			<td colspan="2" border="0 0 0.6 0">
				<span style="font-weight:bold;">Product Returns must meet FOUR simple requirements</span><br/><br/>
				1. The Product is in unused condition. (Tried only for fit and size)<br/>
				2. All the tags and packaging accompanying the product are intact<br/>
				3. The product was delivered to you in last 7 days<br/>
				4. The product is not specified as Non-Returnable on the product page on Daraz.pk
				<br/><br/>
			</td>
		</tr>
		<tr valign="top">
			<td colspan="2">
				IF ALL OF THE ABOVE REQUIREMENTS ARE MET, PLEASE FOLLOW THE STEPS BELOW:
			</td>
		</tr>
		<tr valign="top">
			<td cellpadding="2" colspan="2"> 
				<table style="font-size:9px;" border="0">
					<tr>
						<td style="font-size:10px;font-weight:bold;" colspan="3">1. PLEASE TICK THE PRODUCT YOU WOULD LIKE TO RETURN</td>
					</tr>
					<tr>
						<td class="xl9" colspan="3" cellpadding="0 0 0 10">State the reason for return(Size issue, Quality issue, Any other issue)<br/><br/></td>
					</tr>
					#foreach($invoiceItem in $invoice.invoiceItems)
						<tr cellpadding="3">
							<td border=".7" width="3%" cellpadding="0 0 0 2"></td>
							<td width="47%">$invoiceItem.itemType.skuCode</td>
							<td width="50%">Reason:________________________</td>
						</tr>
						<tr>
							<td> </td>
							<td> </td>
							<td> </td>
						</tr>
					#end
					<br/>
				</table>
			</td>
		</tr>
		<tr cellpadding="20 0 0 2">
			<td style="font-size:10px;font-weight:bold;" colspan="2">3. RETURNING THE PRODUCT</td>
		</tr>
		<tr>
			<td colspan="2">
				<img src="/object-store/view/31" height="110" width="560"/>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="font-size:11px; font-weight:bold;" align="center">
				CUT THE ADDRESS GIVEN BELOW AND PASTE IT ON THE RETURN BOX<br/><br/>
			</td>
		</tr>
		<tr valign="top">
			<td cellpadding="4" colspan="2" border="0.6">
				<table style="font-size:11px;" border="0">
					<tr valign="top">
						#set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('SHIPPING')})
						<td style="text-align:justified;" width="70%">
							<b>DARAZ RETURNS ORDER # ${saleOrder.displayOrderCode}</b><br/>
							${invoice.fromParty.name}<br/> 
							$warehouseAddress.addressLine1 #if($warehouseAddress.addressLine2)$warehouseAddress.addressLine2, #end 
							$warehouseAddress.city<br/>
							<b>Phone: </b>(021)-11-11-32729 
						</td>
						<td style="font-weight:bold;">
							TCS ACCOUNT # 880289
						</td>
					</tr>
				</table>
			</td>
		</tr>	
	</table>
#end