#set($start = 1)
#if($shippingPackage.numBoxes)
	#set($bags = $shippingPackage.numBoxes)
#else
	#set($bags = 1)
#end
#set($myHashMap = {})
#set($myHashMap = $myHashMap.put("02",""))
#set($myHashMap = $myHashMap.put("01",""))
#set($range = [$start..$bags])
#foreach($i in $range)
	<table border="0" align="center">
		<tr align="center">
			<td  style="font-weight:bold;font-size:10px;" colspan="2">RETAIL INVOICE<br/></td>
		</tr>
		<tr>
			<td style="font-weight:bold;font-size:13px;" width="40%">
				JABONG.COM
			</td>
			<td cellpadding="2 10 2 10">
				#if($shippingPackage.trackingNumber)
					<img src="https://dev.uniware.com/barcode/code128c/24/1/${shippingPackage.trackingNumber}"/>
				#else
					<img src="https://dev.uniware.com/barcode/code128c/24/1/${shippingPackage.code}"/>
				#end
			</td>
		</tr>
		#if($saleOrder.cashOnDelivery)
		<tr align="center">
			<td  style="font-weight:bold;font-size:11px;" colspan="2" cellpadding="0 0 5 0">COLLECT CASH ON DELIVERY RS. $math.ceil($shippingPackage.collectableAmount) ONLY</td>
		</tr>
		#end
	</table>
	<table border="1" cellpadding="0 2 2 2" cellspacing="0 0 0 0" valign="middle" align="center">
		<tr height="10" style="font-weight:bold;font-size:9px;" cellpadding="2 2 2 2">
			<td width="45%">
				Name &amp; Delivery Address
			</td>
			<td>
				#if($saleOrder.cashOnDelivery)
					COD 
				#else
					Prepaid 
				#end
				- $shippingProvider.name
			</td>
		</tr>
		<tr style="font-size:8px;">
			<td border="1 1 0 1">
				${shippingPackage.shippingAddress.name}<br/>
			</td>
			<td style="font-weight:bold;">
				Order No.
			</td>
		</tr>
		<tr style="font-size:8px;">
			<td border="0 0 0 1">
				${shippingPackage.shippingAddress.addressLine1}<br/>
				#if($shippingPackage.shippingAddress.addressLine2)${shippingPackage.shippingAddress.addressLine2} <br/>#{end}
				${shippingPackage.shippingAddress.city.toUpperCase()} - ${shippingPackage.shippingAddress.pincode}
				#if(${shippingLocation.routingCode} && ${shippingLocation.routingCode} != '')
					 - ${shippingLocation.routingCode}<br/>
				#end
			</td>		
			<td cellpadding="5 5 5 0" border="1 1 1 0">
				<img src="https://dev.uniware.com/barcode/code128c/26/1/${saleOrder.displayOrderCode}"/>
			</td>
		</tr>
		<tr height="5" style="font-size:8px;">
			<td border="0 1 1 1">
				${shippingPackage.shippingAddress.stateCode} - ${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name}<br/>
				Mob. No.: ${shippingPackage.shippingAddress.phone}<br/>
			</td>
			#set($weight = $shippingPackage.actualWeight / 1000.0)
			<td cellpadding="2 2 2 4">
				Invoice no: ${invoice.code}<br/>
				Weight: $weight(Kg.) 
			</td>
		</tr>
	</table>
	<table border="1">
		<tr style="font-weight:bold;font-size:9px;" cellpadding="0 2 2 2" align="center">
			<td>S No.</td>
			<td>Description</td>
			<td>Qty</td>
			<td>Rate</td>
			<td>Disc.<br/>Amt.</td>
			<td>Amt.</td>
			<td>Ship.<br/>Chgs.</td>
			<td>Total</td>
		</tr>
		#set($finalTotal=$numberutils.newBigDecimal(0))
		#set($grandTotal=$numberutils.newBigDecimal(0))
		#set($totalQty = 0)
		#foreach($invoiceItem in $invoice.invoiceItems)
			#set($additionalInfo=$jsonutils.stringToJson($invoiceItem.additionalInfo))
			#set($totalQty = $totalQty + $invoiceItem.quantity)
			#set($finalTotal=$finalTotal.add($invoiceItem.total).subtract($invoiceItem.prepaidAmount))
			#set($grandTotal=$grandTotal.add($invoiceItem.total).add($invoiceItem.shippingCharges).subtract($invoiceItem.prepaidAmount))
			#set($additionalInfo=$jsonutils.stringToJson($invoiceItem.additionalInfo))
			<tr  style="font-size:8px;" align="center" cellpadding="0 2 2 2">
				<td width="7%">${foreach.count}</td>
				<td width="20%">
					${invoiceItem.itemType.skuCode}#foreach($item in $additionalInfo) - $item.itemCode.getAsString()#end<br/>
				</td>
				<td width="7%">${invoiceItem.quantity}</td>
				<td>$numberutils.divide($invoiceItem.total, $invoiceItem.quantity)</td>
				<td>$invoiceItem.prepaidAmount</td>
				<td>$invoiceItem.total.subtract($invoiceItem.prepaidAmount)</td>
				<td>$invoiceItem.shippingCharges</td>
				<td>$invoiceItem.total.add($invoiceItem.shippingCharges).subtract($invoiceItem.prepaidAmount)</td>
			</tr>
		#end
		#if ($shippingPackage.cashOnDeliveryCharges > 0)
			#set($grandTotal=$grandTotal.add($shippingPackage.cashOnDeliveryCharges))
			<tr height="10" style="font-size:9px;" align="center" cellpadding="0 2 2 2">
				<td colspan="7" aligh="right">COD Charges</td>
				<td>$shippingPackage.cashOnDeliveryCharges</td>
			</tr>	
		#end
		<tr height="10" style="font-size:8px;" align="center" cellpadding="0 2 2 2">
			<td> </td>
			<td style="font-weight:bold;" align="right">Total</td>
			<td>$totalQty</td>
			<td> </td>
			<td> </td>
			<td>$finalTotal</td>
			<td> </td>
			<td>$math.ceil($grandTotal)</td>
		</tr>
		<tr style="font-size:8px;">
			#set($warehouseAddress=${invoice.fromParty.getPartyAddressByType('BILLING')})
			<td cellpadding="0 2 2 2" colspan="4" valign="top" border="1 0 1 1">
				Company's VAT/TIN: ${invoice.fromParty.tin}<br/>
				${invoice.fromParty.name}<br/>
				${warehouseAddress.addressLine1}
				#if($warehouseAddress.addressLine2)${warehouseAddress.addressLine2} <br/>#{end} 
				${warehouseAddress.city} - ${warehouseAddress.pincode}
				#if($shippingProvider.code.toUpperCase() == 'BLUEDART')
					#if($myHashMap.get($invoice.fromParty.code)) $myHashMap.get($invoice.fromParty.code) #end
				#end
			</td>
			<td cellpadding="2" colspan="4" valign="top" border="1 1 1 0">
				<br/>
				<img src="https://dev.uniware.com/barcode/code128c/22/1/${shippingPackage.code}"/>
			</td>
		</tr>
	</table>
	<table border="0">
		<tr>
			<td style="font-size:7px;font-weight:bold;"><em>* Prices are inclusive of all the taxes</em></td>
		</tr>
	</table>
	
	<table border="0">
		#if($bags > 1)
			<tr style="font-size:7px;">
				<td align="center">$i of $bags</td>
			</tr>
		#end
	</table>
	<pagebreak/>
	#end	
