#set($Sno=1) #set($totalQty=0) #set($finalTotal=0)
<div style="font-size:7.8pt;font-weight:400;">
	<style class="xl67" style="font-size:6.4pt;" border="1 1 0 0" valign="middle" />
	<style class="xl68" style="font-size:7.8pt;font-weight:400;" valign="middle" />
	<style class="xl69" style="font-size:6.4pt;" valign="middle" />
	<style class="xl70" style="font-size:6.4pt;" border="0 0 0 0" valign="middle" />
	<style class="xl71" style="font-size:6.4pt;" border="0 0 0 1" valign="middle" />
	<style class="xl72" style="font-size:6.4pt;font-weight:700;" border="1 0 0 1" valign="middle" />
	<style class="xl73" style="font-size:6.4pt;font-weight:700;" border="1 0 0 0" valign="middle" />
	<style class="xl74" style="font-size:6.4pt;font-weight:700;" valign="middle" />
	<style class="xl75" style="font-size:6.4pt;font-weight:700;" align="right" border="0 0 1 0" valign="middle" />
	<style class="xl76" style="font-size:6.4pt;" border="0 0 1 0" valign="middle" />
	<style class="xl77" style="font-size:6.4pt;font-weight:700;" border="1 0 1 1" valign="middle" />
	<style class="xl78" valign="middle" />
	<style class="xl79" style="font-size:7.1pt;font-family:Verdana, sans-serif;" align="right" border=".5 .5 .5 1" valign="middle" />
	<style class="xl80" style="font-size:7.1pt;font-family:Verdana, sans-serif;" align="center" border=".5" valign="middle" />
	<style class="xl81" style="font-size:7.1pt;font-family:Verdana, sans-serif;" align="right" border=".5" valign="middle" />
	<style class="xl82" style="font-size:6.4pt;" border="2 0 2 1" valign="middle" />
	<style class="xl83" style="font-size:6.4pt;font-weight:700;" align="right" border="2 0 2 0" valign="middle" />
	<style class="xl84" style="font-size:6.4pt;font-weight:700;" align="center" border="2 0 2 0" valign="middle" />
	<style class="xl85" style="font-size:6.4pt;font-weight:700;" border="2 0 2 0" valign="middle" />
	<style class="xl86" style="font-size:6.4pt;font-weight:700;" align="right" valign="middle" />
	<style class="xl87" style="font-size:6.4pt;font-weight:700;" align="center" valign="middle" />
	<style class="xl88" style="font-size:7.1pt;font-weight:700;font-family:Verdana, sans-serif;" align="right" valign="middle" />
	<style class="xl89" style="font-size:7.1pt;font-weight:700;font-family:Verdana, sans-serif;" align="right" border="0 1 0 0" valign="middle" />
	<style class="xl90" style="font-size:7.1pt;font-family:Verdana, sans-serif;" align="left" border=".5 0 .5 .5" white-space="normal" valign="middle" />
	<style class="xl91" style="font-size:7.1pt;font-family:Verdana, sans-serif;" align="left" border=".5 .5 .5 0" white-space="normal" valign="middle" />
	<style class="xl92" style="font-size:7.1pt;font-family:Verdana, sans-serif;" align="right" border=".5 1 .5 .5" valign="middle" />
	<style class="xl93" style="font-size:7.1pt;font-family:Verdana, sans-serif;" align="right" border=".5 1 .5 0" valign="middle" />
	<style class="xl94" style="font-size:7.1pt;font-weight:700;font-family:Verdana, sans-serif;" align="right" border="2 1 2 0" valign="middle" />
	<style class="xl95" style="font-size:7.1pt;font-weight:700;font-family:Verdana, sans-serif;" align="right" border="2 1 2 0" valign="middle" />
	<style class="xl96" style="font-size:7.1pt;" align="left" border="1 1 1 1" valign="middle" />
	<style class="xl97" style="font-size:7.1pt;" align="left" border="1 0 1 0" valign="middle" />
	<style class="xl98" style="font-size:7.1pt;" align="left" border="1 1 1 0" valign="middle" />
	<style class="xl99" style="font-size:7.1pt;font-weight:700;" align="left" border="0 0 0 1" valign="middle" />
	<style class="xl100" style="font-size:7.1pt;font-weight:700;" align="left" valign="middle" />
	<style class="xl101" style="font-size:8.5pt;font-weight:700;" align="left" border="0 1 0 1" valign="middle" />
	<style class="xl102" style="font-size:8.5pt;font-weight:700;" align="center" valign="middle" />
	<style class="xl103" style="font-size:8.5pt;font-weight:700;" align="center" border="0 1 0 0" valign="middle" />
	<style class="xl104" style="font-size:6.4pt;font-weight:700;" align="left" border="0 0 1 1" valign="middle" />
	<style class="xl105" style="font-size:6.4pt;font-weight:700;" align="left" border="0 0 1 0" valign="middle" />
	<style class="xl106" style="font-size:8.5pt;font-weight:700;" align="right" border="1 1 1 0" valign="middle" />
	<style class="xl107" style="font-size:8.5pt;font-weight:700;" align="right" border="1 1 1 0" valign="middle" />
	<style class="xl108" style="font-size:6.4pt;font-weight:700;" align="center" border="1 .5 .5 1" valign="middle" />
	<style class="xl109" style="font-size:6.4pt;font-weight:700;" align="center" border=".5 .5 .5 1" valign="middle" />
	<style class="xl110" style="font-size:6.4pt;font-weight:700;" align="center" border="1 .5 .5 .5" valign="middle" />
	<style class="xl111" style="font-size:6.4pt;font-weight:700;" align="center" border=".5" valign="middle" />
	<style class="xl112" style="font-size:6.4pt;font-weight:700;" align="center" border="1 1 0 .5" valign="middle" />
	<style class="xl113" style="font-size:6.4pt;" border="0 0 .5 .5" valign="middle" />
	<style class="xl114" style="font-size:6.4pt;" border="0 1 .5 0" valign="middle" />
	<style class="xl115" style="font-size:9.9pt;font-weight:700;" align="left" border="0 0 0 1" valign="middle" />
	<style class="xl116" style="font-size:9.9pt;font-weight:700;" align="left" valign="middle" />
	<style class="xl117" style="font-size:9.9pt;font-weight:700;" align="left" border="0 1 0 0" valign="middle" />
	<style class="xl118" style="font-size:8.5pt;" align="left" border="0 0 0 1" white-space="normal" valign="middle" />
	<style class="xl119" style="font-size:8.5pt;" align="left" white-space="normal" valign="middle" />
	<style class="xl120" style="font-size:8.5pt;" align="left" border="0 1 0 0" white-space="normal" valign="middle" />
	<style class="xl121" style="font-size:15.6pt;" align="center" vertical-align="top" border="0 1 0 1" valign="middle" />
	<style class="xl122" style="font-size:15.6pt;" align="center" vertical-align="top" valign="middle" border="0 1 0 0"/>
	<style class="xl123" style="font-size:15.6pt;" align="center" vertical-align="top" border="0 1 0 0" valign="middle" />
	<style class="xl124" style="font-size:8.5pt;" align="left" border="0 0 0 1" valign="middle" />
	<style class="xl125" style="font-size:8.5pt;" align="left" valign="middle" />
	<style class="xl126" style="font-size:8.5pt;" align="left" border="0 1 0 0" valign="middle" />
	<style class="xl127" style="font-weight:700;" align="left" border="0 0 0 1" valign="middle" />
	<style class="xl128" style="font-weight:700;" align="left" valign="middle" />
	<style class="xl129" style="font-weight:700;" align="right" valign="middle" />
	<style class="xl130" style="font-weight:700;" align="right" border="0 1 0 0" valign="middle" />
	<style class="xl131" style="font-size:9.9pt;font-weight:700;" align="center" valign="middle" />
	<style class="xl132" style="font-family:Verdana, sans-serif;" vertical-align="top" valign="middle" />
	<style class="xl133" style="font-family:Verdana, sans-serif;" vertical-align="top" border="0 1 0 0" valign="middle" />
	<style class="xl134" style="font-size:8.5pt;font-weight:700;" align="center" border="0 1 0 0" valign="middle" />
	<style class="xl135" style="font-size:8.5pt;font-weight:700;" align="center" border="0 1 2 0" valign="middle" />
	<style class="xl136" color="windowtext" style="font-size:8.5pt;font-weight:700;font-family:Calibri;" align="center" border="2 1 2 1" bgcolor="#D9D9D9" valign="middle" />
	<style class="xl137" color="windowtext" style="font-size:8.5pt;font-weight:700;font-family:Calibri;" align="center" border="2 0 2 0" bgcolor="#D9D9D9" valign="middle" />
	<style class="xl138" style="font-size:8.5pt;font-weight:700;font-family:Calibri;" align="center" border="2 1 2 0" bgcolor="#D9D9D9" valign="middle" />
	<style class="xl139" style="font-size:7.1pt;font-weight:700;" align="left" border="0 1 0 0" valign="middle" />
	<style class="xl140" style="font-size:7.1pt;font-weight:700;" align="left" border="0 0 1 1" valign="middle" />
	<style class="xl141" style="font-size:7.1pt;font-weight:700;" align="left" border="0 0 1 0" valign="middle" />
	<style class="xl142" style="font-size:7.1pt;font-weight:700;" align="left" border="0 1 1 0" valign="middle" />
	<style class="xl143" style="font-size:11.3pt;font-weight:700;" align="right" border="1 1 0 0" valign="middle" />
	<style class="xl144" style="font-size:11.3pt;" align="right" border="2 1 0 0" valign="middle" />
	<style class="xl145" style="font-size:11.3pt;" align="right" valign="middle" />
	<style class="xl146" style="font-size:11.3pt;" align="right" border="0 1 0 0" valign="middle" />
	<style class="xl147" style="font-size:11.3pt;" align="right" border="0 0 1 0" valign="middle" />
	<style class="xl148" style="font-size:11.3pt;" align="right" border="0 1 1 0" valign="middle" />
	<style class="xl149" style="font-size:6.4pt;" border="1 0 0 1" valign="middle" />
	<style class="xl150" border="1 0 0 0" valign="middle" />
	<style class="xl151" border="0 0 0 1" valign="middle" />
	<style class="xl152" border="0 0 2 1" valign="middle" />
	<style class="xl153" border="0 0 2 0" valign="middle" />
	<style class="xl154" border="1 1 0 0" valign="middle" />
	<style class="xl155" style="font-family:Verdana, sans-serif;" border="1 1 0 1" valign="middle" />
	<style class="xl156" border="0 0 1 1" valign="middle" />
	<style class="xl157" border="0 0 1 0" valign="middle" />
	<style class="xl158" border="0 1 1 0" valign="middle" />
	<style class="xl159" style="font-size:6.4pt;font-weight:700;" border="0 1 0 1" valign="middle" />
	<style class="xl160" border="0 1 0 0" valign="middle" />
	<style class="xl161" style="font-size:6.4pt;" border="1 1 0 0" valign="middle" />
	<style class="xl162" style="font-weight:700;" border="0 1 1 1" valign="middle" />
	<style class="xl163" border="0 0 1 0" valign="middle" />
	<style class="xl164" border="0 1 1 0" valign="middle" />
	<style class="xl165" style="font-weight:700;" border="1 1 0 1" valign="middle" />
	<style class="xl166" border="1 0 0 0" valign="middle" />
	<style class="xl167" border="1 1 0 0" valign="middle" />

	#set ($myHashMap = {})
	$myHashMap.put("Salt99","HYD/BJH")
	$myHashMap.put("Artj99","HYD/BPL")
	$myHashMap.put("Sare99","CCU/BMB")
	$myHashMap.put("Done99","GGN/DCC")
	$myHashMap.put("Indu99","JOD/JOD")
	$myHashMap.put("Atho99","BOM/SPZ")
	$myHashMap.put("Step99","DEL/MOC")
	$myHashMap.put("Spac99","NGP/NGP")
	$myHashMap.put("Sunb99","DEL/RMR")
	$myHashMap.put("Vivi99","BOM/GHT")
	$myHashMap.put("Cele99","CJB/RPM")
	$myHashMap.put("Skip99","CCU/BMB")
	$myHashMap.put("Basi99","MAA/ANR")
	$myHashMap.put("Mehr99","DEL/PSV")
	
	
	<table border="0" align="center">
		<tr align="center">
			<td  style="font-weight:bold;font-size:11px;"> </td>
		</tr>
	</table>
	<br/>
	<table border="0" cellpadding="0 2 2 2" cellspacing="0" width="493" valign="middle" align="center">
		<tr height="10">
			<td colspan="4" rowspan="4" height="73" width="245" align="left" valign="middle" border="1 0 0 1" cellpadding="2 2 2 10">
				<span>
					<img src="https://dev.unicommerce.com/object-store/view/${invoice.fromParty.binaryObject.id}" height="40" width="175">
				</span>
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td colspan="4" rowspan="5" height="73" class="xl149" border="0" width="245">&nbsp;
						</td>
					</tr>
				</table>
			</span>
			</td>
			<td colspan="4" class="xl161" width="249">&nbsp;
			</td>
		</tr>
		<tr height="13">
			<td height="13" class="xl69"></td>
			<td colspan="2" class="xl131">$shippingProvider.name</td>
			<td class="xl70" border="0 1 0 0">&nbsp;</td>
		</tr>
		<tr height="20">
			<td colspan="4" rowspan="2" height="40" class="xl122" cellpadding="0 0 3 50">
				#if($shippingPackage.trackingNumber)
					<img src="https://dev.uniware.com/barcode/code39/28/1/${shippingPackage.trackingNumber}"/>
				#end
			</td>
		</tr>
		<tr height="20">
		</tr>
		#if($saleOrder.cashOnDelivery)
		<tr height="12">
			<td colspan="8" height="12" class="xl136" style="font-size:11pt;">COLLECT CASH ON DELIVERY RS. $shippingPackage.totalPrice ONLY</td>
		</tr>
		#{end}
		<tr height="6">
			<td colspan="4" rowspan="3" height="17" class="xl99" border="1 0 0 1">Name &amp; Delivery Address</td>
			<td colspan="2" rowspan="3" class="xl99" border="1 0 0 1">Payment Mode</td>
			<td colspan="2" rowspan="3" class="xl143">#if($saleOrder.cashOnDelivery)COD#{else}PREPAID#{end}</td>
		</tr>
		<tr height="6">
		</tr>
		<tr height="6">
		</tr>
		<tr height="11">
			<td colspan="4" height="11" class="xl115" border="1 0 0 1">${shippingPackage.shippingAddress.name}</td>
			<td class="xl72">Order No:</td>
			<td class="xl73">&nbsp;</td>
			<td class="xl73">&nbsp;</td>
			<td class="xl67">${saleOrder.displayOrderCode}</td>
		</tr>
		<tr height="13">
			<td colspan="4" height="13" class="xl118" width="245">${shippingPackage.shippingAddress.addressLine1} </td>
			<td colspan="4" rowspan="3" class="xl121" cellpadding="0 0 0 80">
				<span class="xl131">Order Id</span><br/>
				<img src="https://dev.uniware.com/barcode/code39/30/1/${shippingPackage.code}"/>
			</td>
		</tr>
		<tr height="13">
			<td colspan="4" height="13" class="xl124">#if($shippingPackage.shippingAddress.addressLine2)${shippingPackage.shippingAddress.addressLine2}#{end}</td>
		</tr>
		<tr height="13">
			<td colspan="2" height="13" class="xl127">${shippingPackage.shippingAddress.city.toUpperCase()}</td>
			<td colspan="2" class="xl129">
				${shippingPackage.shippingAddress.pincode}
				#if($shippingLocation.routingCode && $shippingLocation.routingCode !='')
				 - $shippingLocation.routingCode
				#end
			</td>
		</tr>
		<tr height="13">
			<td colspan="2" height="13" class="xl99" valign="top">${shippingPackage.shippingAddress.stateCode}</td>
			<td class="xl74"></td>
			<td class="xl70">&nbsp;
			</td>
			<td colspan="4" class="xl101">
				AWB No: #if($shippingPackage.trackingNumber)${shippingPackage.trackingNumber} #end<br/>
				Order Date: ${dateutils.dateToString(${saleOrder.created},'dd/MM/yyyy')}<br/>
				Pieces: ${shippingPackage.noOfItems}<br/>
				#set($weight = $shippingPackage.actualWeight / 1000.0)
				#if($shippingProvider.code.toUpperCase() == 'BLUEDART')
					#set($lengthCm = $shippingPackage.boxLength/ 10.0)
					#set($widthCm = $shippingPackage.boxWidth/ 10.0)
					#set($heightCm = $shippingPackage.boxHeight/ 10.0)
					Weight(Kg): $weight, Dimension(Cms): $lengthCm x $widthCm x $heightCm<br/> 
				#end
			</td>
		</tr>
		<tr class="xl78" height="11">
			<td colspan="2" height="11" class="xl104">Contact Number:</td>
			<td class="xl75">${shippingPackage.shippingAddress.phone}</td>
			<td class="xl76">&nbsp;
			</td>
			<td class="xl77">Invoice No</td>
			<td colspan="3" class="xl106">$invoice.code</td>
		</tr>
		<tr height="6">
			<td colspan="8" rowspan="2" height="40" class="xl155">&nbsp;
			</td>
		</tr>
		<tr height="6">
		</tr>
		<tr height="10">
			<td rowspan="2" height="20" class="xl108">S No.</td>
			<td colspan="2" rowspan="2" class="xl110">Description</td>
			<td rowspan="2" height="20" class="xl110">Brand</td>
			<td rowspan="2" class="xl110">Qty</td>
			<td rowspan="2" class="xl110">Rate</td>
			<td rowspan="2" class="xl110">Discount</td>
			<td colspan="2" rowspan="2" class="xl112">Amount</td>
		</tr>
		<tr height="10">
		</tr>
		#set($finalTotal=$numberutils.newBigDecimal(0))
		#foreach($invoiceItem in $invoice.invoiceItems)
		#set($additionalInfo=$jsonutils.stringToJson($invoiceItem.additionalInfo))
		<tr class="xl78" height="23">
			<td height="23" class="xl79">${foreach.count}</td>
			<td colspan="2" class="xl90" width="189">${invoiceItem.description} ${invoiceItem.itemType.skuCode}#foreach($item in $additionalInfo) - $item.itemCode.getAsString()#end</td>
			<td class="xl80">#if(${invoiceItem.itemType.brand})${invoiceItem.itemType.brand}#end</td>
			<td class="xl80">${invoiceItem.quantity}</td>
			<td class="xl81">$numberutils.divide($invoiceItem.total.add($invoiceItem.discount), $invoiceItem.quantity)</td>
			<td class="xl81">$invoiceItem.discount</td>
			<td colspan="2" class="xl92">$invoiceItem.total</td>
		</tr>
		#set($finalTotal=$finalTotal.add($invoiceItem.total)) #set($totalQty=$totalQty+${invoiceItem.quantity}) 
		#{end}
		<tr height="11" valign="middle">
			<td height="11" class="xl82">&nbsp;</td>
			<td class="xl83">&nbsp;</td>
			<td class="xl84">Total</td>
			<td class="xl84">$totalQty</td>
			<td class="xl85">&nbsp;</td>
			<td class="xl85">&nbsp;</td>
			<td colspan="2" class="xl94">$finalTotal</td>
		</tr>
		<tr height="11">
			<td height="11" class="xl71" colspan="3">
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				Prices are inclusive of all applicable taxes
			</td>
			<td class="xl87"></td>
			<td class="xl74"></td>
			<td class="xl74"></td>
			<td class="xl88"></td>
			<td class="xl89">&nbsp;
			</td>
		</tr>
		<tr height="11">
			<td height="11" class="xl71">&nbsp;
			</td>
			<td class="xl86"></td>
			<td class="xl87"></td>
			<td class="xl87"></td>
			<td class="xl74"></td>
			<td class="xl74"></td>
			<td class="xl88"></td>
			<td class="xl89">&nbsp;
			</td>
		</tr>
		<tr height="11">
			#set($facility = $cache.getCache('facilityCache').currentFacility)
			<td colspan="8" height="11" class="xl96">If Undelivered, please return to:</td>
		</tr>
		<tr height="17">
			#set($warehouseAddress=${invoice.fromParty.getPartyAddressByType('BILLING')})
			<td colspan="8" height="17" class="xl162">
				${invoice.fromParty.name}<br/>
				${warehouseAddress.addressLine1} #if($warehouseAddress.addressLine2)${warehouseAddress.addressLine2} #{end} ${warehouseAddress.city} - ${warehouseAddress.pincode}
				#if($shippingProvider.code.toUpperCase() == 'BLUEDART')
					#if($myHashMap.get($facility.code)), $myHashMap.get($facility.code) #end
				#end
				
			</td>
		</tr>
	</table>
</div>