#set($prepaidAmount=$numberutils.newBigDecimal(0))
#foreach($saleOrderItem in $shippingPackage.saleOrderItems)
	#set($prepaidAmount=$prepaidAmount.add($saleOrderItem.prepaidAmount))
#end

#set($finalTotal=$numberutils.newBigDecimal(0))
#set($shippingCharges = $shippingPackage.saleOrderItems.iterator().next().shippingCharges)
#foreach($invoiceItem in $invoice.invoiceItems)
	#if($saleOrder.sez_cst && $invoiceItem.cst > 0)
		#set($finalTotal=$finalTotal.add($invoiceItem.subtotal))
	#elseif($saleOrder.sez_vat && $invoiceItem.vat > 0)
		#set($finalTotal=$finalTotal.add($invoiceItem.subtotal))
	#else
		#set($finalTotal=$finalTotal.add($invoiceItem.total))
	#end
#end
#set($finalTotal=$finalTotal.add($shippingCharges).subtract($prepaidAmount))

#set($lengthCm = $shippingPackage.boxLength/ 10.0)
#set($widthCm = $shippingPackage.boxWidth/ 10.0)
#set($heightCm = $shippingPackage.boxHeight/ 10.0)
#if($saleOrder.is_corporate)
	#if($shippingProvider.code.toUpperCase() == 'BLUEDART')
		<table cellspacing="0"  border="0 0 0 0">
			<tr style="font-size:10px;font-weight:bold;">
				<td  cellpadding="2 2 2 2" valign="top" align="right" colspan="2">CATALOGUE: #if($saleOrder.company_name)$saleOrder.company_name #end</td>
			</tr>
			<tr style="font-size:10px;font-weight:bold;">
				<td  cellpadding="0 0 0 0" width="20%" valign="top">Shipment Id:</td>
				<td  cellpadding="0 0 0 0" valign="top"><img src="https://dev.unicommerce.com/barcode/code128c/30/1.5/${shippingPackage.code}"/></td>
			</tr>
			<tr>
				<td  cellpadding="3 0 0 0" valign="top" style="font-size:10px;font-weight:bold;">
					AWB:
				</td>
				<td  cellpadding="3 0 0 0" align="right" valign="top">
					<img src="https://dev.unicommerce.com/barcode/code128c/30/1.5/${shippingPackage.trackingNumber}"/>
				</td>
			</tr>
			<tr style="font-size:12px;font-weight:bold;">
				<td  cellpadding="0 0 0 0" valign="top">
					${shippingProvider.name}
				</td>
				<td  cellpadding="0 0 0 0" align="right">
					#if($shippingLocation.routingCode && $shippingLocation.routingCode != '')
						Destination Routing Code: $shippingLocation.routingCode
					#end
				</td>
			</tr>
		</table>
		<table cellspacing="0" width="100%" border="0 0 0 0">
			<tr>
				<td colspan="2" cellpadding="0 0 0 0">
				<span style="font-weight: bold; font-size:14px;">OfficeYes</span>
				</td>
			</tr>
			<tr>
				#set($warehouseAddress=${invoice.fromParty.getPartyAddressByType('BILLING')})
				<td valign="top">
					<span style="font-size: 10px;">
					${shippingPackage.shippingAddress.name}<br/>
					${shippingPackage.shippingAddress.addressLine1}<br/>
					#if($shippingPackage.shippingAddress.addressLine2)${shippingPackage.shippingAddress.addressLine2}<br/>#{end}
					${shippingPackage.shippingAddress.city}, ${cache.getCache("locationCache").getStateByCode($shippingPackage.shippingAddress.stateCode).name}, ${shippingPackage.shippingAddress.pincode}<br />
					T:${shippingPackage.shippingAddress.phone}
					</span>
				</td>
				<td align="right" valign="top">
					<span style="font-size: 10px; font-weight: bold;">
						<span style="font-size: 14px;">$saleOrder.payment_type</span><br/>
						No. of Packets: #if($shippingPackage.num_boxes)$shippingPackage.num_boxes#{else}1#{end}<br/>
						#set($weight = $shippingPackage.actualWeight / 1000.0)
						Weight: $weight(Kgs)<br/>
						Dimensions(Cms): $lengthCm x $widthCm x $heightCm
					</span>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<span style="font-size:9px;"><em>DO NOT ACCEPT PACKAGE IF SEAL IS BROKEN</em></span><br/>
					<span style="font-size:12px;font-weight:bold;">Order No. - $saleOrder.displayOrderCode</span>
				</td>
			</tr>
		</table>
		<table border="1 1 1 1">
			<tr>
				<td width="30%" cellpadding="2">
					<span style="font-size:9px; font-weight:bold;">Style #</span>
				</td>
				<td width="48%" cellpadding="2">
					<span style="font-size:9px; font-weight:bold;">Description</span>
				</td>
				<td width="10%" cellpadding="2" align="center">
					<span style="font-size:9px; font-weight:bold;">Qty.</span>
				</td>
				<td width="12%" cellpadding="2" align="right">
					<span style="font-size:12px; font-weight:bold;">Total</span>
				</td>
			</tr>
			#set($totalQty=0)
			#foreach($invoiceItem in $invoice.invoiceItems)
				<tr>
					<td cellpadding="2">
						<span style="font-size:9px">$invoiceItem.itemType.skuCode</span>
					</td>
					<td cellpadding="2" valign="top">
						<span style="font-size:9px">${invoiceItem.itemType.name}</span>
					</td>
					<td cellpadding="2" align="center">
						<span style="font-size:9px">${invoiceItem.quantity}</span>
					</td>
					#set($totalQty=$totalQty+$invoiceItem.quantity)
					<td cellpadding="2" align="right">
						<span style="font-size:9px">${invoiceItem.total}</span>
					</td>
				</tr>
			#{end}
			<tr>
				<td cellpadding="0 2 2 0" colspan="2" align="right">
					<span style="font-size:10px;">Shipping</span>
				</td>
				<td cellpadding="0 0 2 0" align="center">
					<span style="font-size:9px;"></span>
				</td>
				<td cellpadding="0 4 2 0">
					<span style="font-size:9px" align="right">
						#if($shippingCharges.intValue() > 0)
							$shippingCharges
						#else
							Free
						#end
					</span>
				</td>
			</tr>
			#if($prepaidAmount > 0)
				<tr>
					<td cellpadding="0 2 2 0" colspan="2" align="right">
						<span style="font-size:10px;">Prepaid Amount</span>
					</td>
					<td cellpadding="0 0 2 0" align="center">
						<span style="font-size:9px;"></span>
					</td>
					<td cellpadding="0 4 2 0">
						<span style="font-size:9px" align="right">
							$prepaidAmount
						</span>
					</td>
				</tr>
			#end
			<tr>
				<td cellpadding="0 2 2 0" colspan="2" align="right">
					<span style="font-size:10px;">Total</span>
				</td>
				<td cellpadding="0 0 2 0" align="center">
					<span style="font-size:9px;">$totalQty</span>
				</td>
				<td cellpadding="0 4 2 0">
					<span style="font-size:9px" align="right">$math.round($finalTotal)</span>
				</td>
			</tr>
		</table>
		<table border="0 0 0 0" align="center" cellspacing="0">
			<tr>
				<td border="0 0 0 0" align="center" valign="top" cellpadding="1 1 1 1">
					<span style="font-size: 14px; font-weight: bold;">
						#if($saleOrder.payment_type == 'Cash on Delivery')
							Cash on Delivery<br/>
							Collectable amount  of Rs. $finalTotal/-
						#elseif($saleOrder.payment_type == 'Cheque on Delivery')
							Cheque on Delivery Amount - Rs. $finalTotal/- <br/>
							Cheque payable in the name of Sagitarius eServices Pvt. Ltd.
						#else
							$saleOrder.payment_type
						#end
					</span>
				</td>
			</tr>
			<tr>
				<td align="center" valign="top" cellpadding="1 1 1 1">
					<span style="font-size: 14px; font-weight: bold;">
						IF UNDELIVERED PLEASE RETURN TO:  
						#if($saleOrder.payment_type == 'Prepaid CC' || $saleOrder.payment_type == 'Prepaid Bank Transfer')
							Origin Routing Code: DEL/OKH
						#elseif($saleOrder.payment_type == 'Cash on Delivery')
						
						#else
							Origin Routing Code: DEL/OHK
						#end
					</span><br/>
		 			<span style="font-size: 10px;">
					${invoice.fromParty.name},${warehouseAddress.addressLine1}
					#if($warehouseAddress.addressLine2)
					${warehouseAddress.addressLine2},#{end}
					${warehouseAddress.city} 
					#if($saleOrder.payment_type == 'Cash on Delivery')
						DEL/HPW - 111116
					#else
						${warehouseAddress.pincode}
					#end 
					</span>
				</td>
			</tr>
		</table>
	#else
		<table cellspacing="0"  border="0 0 0 0">
			<tr style="font-size:10px;font-weight:bold;">
				<td  cellpadding="2 2 2 2" valign="top" align="right" colspan="2">CATALOGUE: #if($saleOrder.company_name)$saleOrder.company_name #end</td>
			</tr>
			<tr style="font-size:10px;font-weight:bold;">
				<td  cellpadding="0 0 0 0" width="20%" valign="top">Shipment Id:</td>
				<td  cellpadding="0 0 0 0" valign="top"><img src="https://dev.unicommerce.com/barcode/code128c/30/1.5/${shippingPackage.code}"/></td>
			</tr>
			<tr>
				<td  cellpadding="3 0 0 0" valign="top" style="font-size:10px;font-weight:bold;">
					AWB:
				</td>
				<td  cellpadding="3 0 0 0" align="right" valign="top">
					<img src="https://dev.unicommerce.com/barcode/code128c/30/1.5/${shippingPackage.trackingNumber}"/>
				</td>
			</tr>
			<tr style="font-size:12px;font-weight:bold;">
				<td  cellpadding="0 0 0 0" valign="top">
					${shippingProvider.name}
				</td>
				<td  cellpadding="0 0 0 0" align="right">
					#if($shippingLocation.routingCode && $shippingLocation.routingCode != '')
						Destination Routing Code: $shippingLocation.routingCode
					#end
				</td>
			</tr>
		</table>
		<table cellspacing="0" width="100%" border="0 0 0 0">
			<tr>
				<td colspan="2" cellpadding="0 0 0 0">
				<span style="font-weight: bold; font-size:14px;">OfficeYes</span>
				</td>
			</tr>
			<tr>
				#set($warehouseAddress=${invoice.fromParty.getPartyAddressByType('BILLING')})
				<td valign="top">
					<span style="font-size: 10px;">
					${shippingPackage.shippingAddress.name}<br/>
					${shippingPackage.shippingAddress.addressLine1}<br/>
					#if($shippingPackage.shippingAddress.addressLine2)${shippingPackage.shippingAddress.addressLine2}<br/>#{end}
					${shippingPackage.shippingAddress.city}, ${cache.getCache("locationCache").getStateByCode($shippingPackage.shippingAddress.stateCode).name}, ${shippingPackage.shippingAddress.pincode}<br />
					T:${shippingPackage.shippingAddress.phone}
					</span>
				</td>
				<td align="right" valign="top">
					<span style="font-size: 10px; font-weight: bold;">
						<span style="font-size: 14px;">$saleOrder.payment_type</span><br/>
						No. of Packets: #if($shippingPackage.num_boxes)$shippingPackage.num_boxes#{else}1#{end}<br/>
					</span>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<span style="font-size:9px;"><em>DO NOT ACCEPT PACKAGE IF SEAL IS BROKEN</em></span><br/>
					<span style="font-size:12px;font-weight:bold;">Order No. - $saleOrder.displayOrderCode</span>
				</td>
			</tr>
		</table>
		<table border="1 1 1 1">
			<tr>
				<td width="30%" cellpadding="2">
					<span style="font-size:9px; font-weight:bold;">Style #</span>
				</td>
				<td width="48%" cellpadding="2">
					<span style="font-size:9px; font-weight:bold;">Description</span>
				</td>
				<td width="10%" cellpadding="2" align="center">
					<span style="font-size:9px; font-weight:bold;">Qty.</span>
				</td>
				<td width="12%" cellpadding="2" align="right">
					<span style="font-size:12px; font-weight:bold;">Total</span>
				</td>
			</tr>
			#set($totalQty=0)
			#foreach($invoiceItem in $invoice.invoiceItems)
				<tr>
					<td cellpadding="2">
						<span style="font-size:9px">$invoiceItem.itemType.skuCode</span>
					</td>
					<td cellpadding="2" valign="top">
						<span style="font-size:9px">${invoiceItem.itemType.name}</span>
					</td>
					<td cellpadding="2" align="center">
						<span style="font-size:9px">${invoiceItem.quantity}</span>
					</td>
					#set($totalQty=$totalQty+$invoiceItem.quantity)
					<td cellpadding="2" align="right">
						<span style="font-size:9px">${invoiceItem.total}</span>
					</td>
				</tr>
			#{end}
			<tr>
				<td cellpadding="0 2 2 0" colspan="2" align="right">
					<span style="font-size:10px;">Shipping</span>
				</td>
				<td cellpadding="0 0 2 0" align="center">
					<span style="font-size:9px;"></span>
				</td>
				<td cellpadding="0 4 2 0">
					<span style="font-size:9px" align="right">
						#if($shippingCharges.intValue() > 0)
							$shippingCharges
						#else
							Free
						#end
					</span>
				</td>
			</tr>
			#if($prepaidAmount > 0)
				<tr>
					<td cellpadding="0 2 2 0" colspan="2" align="right">
						<span style="font-size:10px;">Prepaid Amount</span>
					</td>
					<td cellpadding="0 0 2 0" align="center">
						<span style="font-size:9px;"></span>
					</td>
					<td cellpadding="0 4 2 0">
						<span style="font-size:9px" align="right">
							$prepaidAmount
						</span>
					</td>
				</tr>
			#end
			<tr>
				<td cellpadding="0 2 2 0" colspan="2" align="right">
					<span style="font-size:10px;">Total</span>
				</td>
				<td cellpadding="0 0 2 0" align="center">
					<span style="font-size:9px;">$totalQty</span>
				</td>
				<td cellpadding="0 4 2 0">
					<span style="font-size:9px" align="right">$math.round($finalTotal)</span>
				</td>
			</tr>
		</table>
		<table border="0 0 0 0" align="center" cellspacing="0">
			<tr>
				<td border="0 0 0 0" align="center" valign="top" cellpadding="1 1 1 1">
					<span style="font-size: 14px; font-weight: bold;">
						#if($saleOrder.payment_type == 'Cash on Delivery')
							Cash on Delivery<br/>
							Collectable amount  of Rs. $finalTotal/-
						#elseif($saleOrder.payment_type == 'Cheque on Delivery')
							Cheque on Delivery Amount - Rs. $finalTotal/- <br/>
							Cheque payable in the name of Sagitarius eServices Pvt. Ltd.
						#else
							$saleOrder.payment_type
						#end
					</span>
				</td>
			</tr>
			<tr>
				<td align="center" valign="top" cellpadding="1 1 1 1">
					<span style="font-size: 11px; font-weight: bold;">
						IF UNDELIVERED PLEASE RETURN TO:
					</span><br/>
		 			<span style="font-size: 10px;">
					${invoice.fromParty.name},${warehouseAddress.addressLine1}
					#if($warehouseAddress.addressLine2)
					${warehouseAddress.addressLine2},#{end}
					${warehouseAddress.city} ${warehouseAddress.pincode}  
					</span>
				</td>
			</tr>
		</table>
	#end
#else
	#if($shippingProvider.code.toUpperCase() == 'BLUEDART')
		<table cellspacing="0"  border="0 0 0 0">
			<tr style="font-size:10px;font-weight:bold;">
				<td  cellpadding="0 0 0 0" width="20%" valign="top">Shipment Id:</td>
				<td  cellpadding="0 0 0 0" valign="top"><img src="https://dev.unicommerce.com/barcode/code128c/30/1.5/${shippingPackage.code}"/></td>
			</tr>
			<tr>
				<td  cellpadding="3 0 0 0" valign="top" style="font-size:10px;font-weight:bold;">
					AWB:
				</td>
				<td  cellpadding="3 0 0 0" align="right" valign="top">
					<img src="https://dev.unicommerce.com/barcode/code128c/30/1.5/${shippingPackage.trackingNumber}"/>
				</td>
			</tr>
			<tr style="font-size:12px;font-weight:bold;">
				<td  cellpadding="0 0 0 0" valign="top">
					${shippingProvider.name}
				</td>
				<td  cellpadding="0 0 0 0" align="right">
					#if($shippingLocation.routingCode && $shippingLocation.routingCode != '')
						Destination Routing Code: $shippingLocation.routingCode
					#end
				</td>
			</tr>
		</table>
		<table cellspacing="0" width="100%" border="0 0 0 0">
			<tr>
				<td colspan="2" cellpadding="0 0 0 0">
				<span style="font-weight: bold; font-size:14px;">OfficeYes</span>
				</td>
			</tr>
			<tr>
				#set($warehouseAddress=${invoice.fromParty.getPartyAddressByType('BILLING')})
				<td valign="top">
					<span style="font-size: 10px;">
					${shippingPackage.shippingAddress.name}<br/>
					${shippingPackage.shippingAddress.addressLine1}<br/>
					#if($shippingPackage.shippingAddress.addressLine2)${shippingPackage.shippingAddress.addressLine2}<br/>#{end}
					${shippingPackage.shippingAddress.city}, ${cache.getCache("locationCache").getStateByCode($shippingPackage.shippingAddress.stateCode).name}, ${shippingPackage.shippingAddress.pincode}<br />
					T:${shippingPackage.shippingAddress.phone}
					</span>
				</td>
				<td align="right" valign="top">
					<span style="font-size: 10px; font-weight: bold;">
						<span style="font-size: 14px;">$saleOrder.payment_type</span><br/>
						No. of Packets: #if($shippingPackage.num_boxes)$shippingPackage.num_boxes#{else}1#{end}<br/>
						#set($weight = $shippingPackage.actualWeight / 1000.0)
						Weight: $weight(Kgs)<br/>
						Dimensions(Cms): $lengthCm x $widthCm x $heightCm
					</span>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<span style="font-size:9px;"><em>DO NOT ACCEPT PACKAGE IF SEAL IS BROKEN</em></span><br/>
					<span style="font-size:12px;font-weight:bold;">Order No. - $saleOrder.displayOrderCode</span>
				</td>
			</tr>
		</table>
		<table border="1 1 1 1">
			<tr>
				<td width="30%" cellpadding="2">
					<span style="font-size:9px; font-weight:bold;">Style #</span>
				</td>
				<td width="48%" cellpadding="2">
					<span style="font-size:9px; font-weight:bold;">Description</span>
				</td>
				<td width="10%" cellpadding="2" align="center">
					<span style="font-size:9px; font-weight:bold;">Qty.</span>
				</td>
				<td width="12%" cellpadding="2" align="right">
					<span style="font-size:12px; font-weight:bold;">Total</span>
				</td>
			</tr>
			#set($totalQty=0)
			#foreach($invoiceItem in $invoice.invoiceItems)
				<tr>
					<td cellpadding="2">
						<span style="font-size:9px">$invoiceItem.itemType.skuCode</span>
					</td>
					<td cellpadding="2" valign="top">
						<span style="font-size:9px">${invoiceItem.itemType.name}</span>
					</td>
					<td cellpadding="2" align="center">
						<span style="font-size:9px">${invoiceItem.quantity}</span>
					</td>
					#set($totalQty=$totalQty+$invoiceItem.quantity)
					<td cellpadding="2" align="right">
						<span style="font-size:9px">${invoiceItem.total}</span>
					</td>
				</tr>
			#{end}
			<tr>
				<td cellpadding="0 2 2 0" colspan="2" align="right">
					<span style="font-size:10px;">Shipping</span>
				</td>
				<td cellpadding="0 0 2 0" align="center">
					<span style="font-size:9px;"></span>
				</td>
				<td cellpadding="0 4 2 0">
					<span style="font-size:9px" align="right">
						#if($shippingCharges.intValue() > 0)
							$shippingCharges
						#else
							Free
						#end
					</span>
				</td>
			</tr>
			#if($prepaidAmount > 0)
				<tr>
					<td cellpadding="0 2 2 0" colspan="2" align="right">
						<span style="font-size:10px;">Prepaid Amount</span>
					</td>
					<td cellpadding="0 0 2 0" align="center">
						<span style="font-size:9px;"></span>
					</td>
					<td cellpadding="0 4 2 0">
						<span style="font-size:9px" align="right">
							$prepaidAmount
						</span>
					</td>
				</tr>
			#end
			<tr>
				<td cellpadding="0 2 2 0" colspan="2" align="right">
					<span style="font-size:10px;">Total</span>
				</td>
				<td cellpadding="0 0 2 0" align="center">
					<span style="font-size:9px;">$totalQty</span>
				</td>
				<td cellpadding="0 4 2 0">
					<span style="font-size:9px" align="right">$math.round($finalTotal)</span>
				</td>
			</tr>
		</table>
		<table border="0 0 0 0" align="center" cellspacing="0">
			<tr>
				<td border="0 0 0 0" align="center" valign="top" cellpadding="1 1 1 1">
					<span style="font-size: 14px; font-weight: bold;">
						#if($saleOrder.payment_type == 'Cash on Delivery')
							Cash on Delivery<br/>
							Collectable amount  of Rs. $finalTotal/-
						#elseif($saleOrder.payment_type == 'Cheque on Delivery')
							Cheque on Delivery Amount - Rs. $finalTotal/- <br/>
							Cheque payable in the name of Sagitarius eServices Pvt. Ltd.
						#else
							$saleOrder.payment_type
						#end
					</span>
				</td>
			</tr>
			<tr>
				<td align="center" valign="top" cellpadding="1 1 1 1">
					<span style="font-size: 14px; font-weight: bold;">
						IF UNDELIVERED PLEASE RETURN TO:  
						#if($saleOrder.payment_type == 'Prepaid CC' || $saleOrder.payment_type == 'Prepaid Bank Transfer')
							Origin Routing Code: DEL/OKH
						#elseif($saleOrder.payment_type == 'Cash on Delivery')
						
						#else
							Origin Routing Code: DEL/OHK
						#end
					</span><br/>
		 			<span style="font-size: 10px;">
					${invoice.fromParty.name},${warehouseAddress.addressLine1}
					#if($warehouseAddress.addressLine2)
					${warehouseAddress.addressLine2},#{end}
					${warehouseAddress.city} 
					#if($saleOrder.payment_type == 'Cash on Delivery')
						DEL/HPW - 111116
					#else
						${warehouseAddress.pincode}
					#end 
					</span>
				</td>
			</tr>
		</table>
	#else
		<table cellspacing="0"  border="0 0 0 0">
			<tr style="font-size:10px;font-weight:bold;">
				<td  cellpadding="0 0 0 0" width="20%" valign="top">Shipment Id:</td>
				<td  cellpadding="0 0 0 0" valign="top"><img src="https://dev.unicommerce.com/barcode/code128c/30/1.5/${shippingPackage.code}"/></td>
			</tr>
			<tr>
				<td  cellpadding="3 0 0 0" valign="top" style="font-size:10px;font-weight:bold;">
					AWB:
				</td>
				<td  cellpadding="3 0 0 0" align="right" valign="top">
					<img src="https://dev.unicommerce.com/barcode/code128c/30/1.5/${shippingPackage.trackingNumber}"/>
				</td>
			</tr>
			<tr style="font-size:12px;font-weight:bold;">
				<td  cellpadding="0 0 0 0" valign="top">
					${shippingProvider.name}
				</td>
				<td  cellpadding="0 0 0 0" align="right">
					#if($shippingLocation.routingCode && $shippingLocation.routingCode != '')
						Destination Routing Code: $shippingLocation.routingCode
					#end
				</td>
			</tr>
		</table>
		<table cellspacing="0" width="100%" border="0 0 0 0">
			<tr>
				<td colspan="2" cellpadding="0 0 0 0">
				<span style="font-weight: bold; font-size:14px;">OfficeYes</span>
				</td>
			</tr>
			<tr>
				#set($warehouseAddress=${invoice.fromParty.getPartyAddressByType('BILLING')})
				<td valign="top">
					<span style="font-size: 10px;">
					${shippingPackage.shippingAddress.name}<br/>
					${shippingPackage.shippingAddress.addressLine1}<br/>
					#if($shippingPackage.shippingAddress.addressLine2)${shippingPackage.shippingAddress.addressLine2}<br/>#{end}
					${shippingPackage.shippingAddress.city}, ${cache.getCache("locationCache").getStateByCode($shippingPackage.shippingAddress.stateCode).name}, ${shippingPackage.shippingAddress.pincode}<br />
					T:${shippingPackage.shippingAddress.phone}
					</span>
				</td>
				<td align="right" valign="top">
					<span style="font-size: 10px; font-weight: bold;">
						<span style="font-size: 14px;">$saleOrder.payment_type</span><br/>
						No. of Packets: #if($shippingPackage.num_boxes)$shippingPackage.num_boxes#{else}1#{end}<br/>
					</span>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<span style="font-size:9px;"><em>DO NOT ACCEPT PACKAGE IF SEAL IS BROKEN</em></span><br/>
					<span style="font-size:12px;font-weight:bold;">Order No. - $saleOrder.displayOrderCode</span>
				</td>
			</tr>
		</table>
		<table border="1 1 1 1">
			<tr>
				<td width="30%" cellpadding="2">
					<span style="font-size:9px; font-weight:bold;">Style #</span>
				</td>
				<td width="48%" cellpadding="2">
					<span style="font-size:9px; font-weight:bold;">Description</span>
				</td>
				<td width="10%" cellpadding="2" align="center">
					<span style="font-size:9px; font-weight:bold;">Qty.</span>
				</td>
				<td width="12%" cellpadding="2" align="right">
					<span style="font-size:12px; font-weight:bold;">Total</span>
				</td>
			</tr>
			#set($totalQty=0)
			#foreach($invoiceItem in $invoice.invoiceItems)
				<tr>
					<td cellpadding="2">
						<span style="font-size:9px">$invoiceItem.itemType.skuCode</span>
					</td>
					<td cellpadding="2" valign="top">
						<span style="font-size:9px">${invoiceItem.itemType.name}</span>
					</td>
					<td cellpadding="2" align="center">
						<span style="font-size:9px">${invoiceItem.quantity}</span>
					</td>
					#set($totalQty=$totalQty+$invoiceItem.quantity)
					<td cellpadding="2" align="right">
						<span style="font-size:9px">${invoiceItem.total}</span>
					</td>
				</tr>
			#{end}
			<tr>
				<td cellpadding="0 2 2 0" colspan="2" align="right">
					<span style="font-size:10px;">Shipping</span>
				</td>
				<td cellpadding="0 0 2 0" align="center">
					<span style="font-size:9px;"></span>
				</td>
				<td cellpadding="0 4 2 0">
					<span style="font-size:9px" align="right">
						#if($shippingCharges.intValue() > 0)
							$shippingCharges
						#else
							Free
						#end
					</span>
				</td>
			</tr>
			#if($prepaidAmount > 0)
				<tr>
					<td cellpadding="0 2 2 0" colspan="2" align="right">
						<span style="font-size:10px;">Prepaid Amount</span>
					</td>
					<td cellpadding="0 0 2 0" align="center">
						<span style="font-size:9px;"></span>
					</td>
					<td cellpadding="0 4 2 0">
						<span style="font-size:9px" align="right">
							$prepaidAmount
						</span>
					</td>
				</tr>
			#end
			<tr>
				<td cellpadding="0 2 2 0" colspan="2" align="right">
					<span style="font-size:10px;">Total</span>
				</td>
				<td cellpadding="0 0 2 0" align="center">
					<span style="font-size:9px;">$totalQty</span>
				</td>
				<td cellpadding="0 4 2 0">
					<span style="font-size:9px" align="right">$math.round($finalTotal)</span>
				</td>
			</tr>
		</table>
		<table border="0 0 0 0" align="center" cellspacing="0">
			<tr>
				<td border="0 0 0 0" align="center" valign="top" cellpadding="1 1 1 1">
					<span style="font-size: 14px; font-weight: bold;">
						#if($saleOrder.payment_type == 'Cash on Delivery')
							Cash on Delivery<br/>
							Collectable amount  of Rs. $finalTotal/-
						#elseif($saleOrder.payment_type == 'Cheque on Delivery')
							Cheque on Delivery Amount - Rs. $finalTotal/- <br/>
							Cheque payable in the name of Sagitarius eServices Pvt. Ltd.
						#else
							$saleOrder.payment_type
						#end
					</span>
				</td>
			</tr>
			<tr>
				<td align="center" valign="top" cellpadding="1 1 1 1">
					<span style="font-size: 11px; font-weight: bold;">
						IF UNDELIVERED PLEASE RETURN TO:
					</span><br/>
		 			<span style="font-size: 10px;">
					${invoice.fromParty.name},${warehouseAddress.addressLine1}
					#if($warehouseAddress.addressLine2)
					${warehouseAddress.addressLine2},#{end}
					${warehouseAddress.city} ${warehouseAddress.pincode}  
					</span>
				</td>
			</tr>
		</table>
	#end
#end