<table border=".5" align="center">
	<tr>
		<td valign="middle" cellpadding="5 5 3 5" align="center">
			<table border="0 0 0 0" style="font-weight:bold;">
				<tr>
					<td valign="middle" width="48%" cellpadding="0 5 0 10">
						<img src="/object-store/view/${invoice.fromParty.binaryObject.id}" width="100" height="30" />
					</td>
					<td width="1%" border="0 .5 0 0"></td>
					<td style="font-size:20px;" align="left" cellpadding="0 0 5 5">Feel Special</td>
				</tr>
				<tr>
					<td colspan="3" align="center" style="font-size:8px;">www.Rooja.com</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table border=".5" align="center">
	<tr>
		<td>
			<table border="0 0 0 0" style="font-size:8px;" valign="top">
				<tr>
					<td rowspan="3" style="font-weight:bold;" width="11%">
						FROM: 
					</td>
					<td rowspan="3" width="45%">
						#set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('BILLING')}) 
						${invoice.fromParty.name}<br/>
						${warehouseAddress.addressLine1} #if($warehouseAddress.addressLine2)${warehouseAddress.addressLine2} #{end} 
						${warehouseAddress.city} - ${warehouseAddress.pincode} India 
					</td>
					<td style="font-weight:bold;" width="13%">TIN:</td>
					<td width="31%">${invoice.fromParty.tin}</td>
				</tr>
				<tr>
					<td style="font-weight:bold;">PH:</td>
					<td>${warehouseAddress.phone}</td>
				</tr>
				<tr>
					<td style="font-weight:bold;">EMAIL:</td>
					<td>support@rooja.com</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table border=".5" align="center">
	<tr style="font-size:12px;" align="center" cellpadding="0 2 4 2">
		<td>
			#if($saleOrder.cashOnDelivery)
				<b>COD SHIPMENT</b><br/>
				COLLECT CASH ONLY
			#else
				<b>PREPAID SHIPMENT</b>
			#end
		</td>
		<td>
			#set($finalTotal=$numberutils.newBigDecimal(0))
			#foreach($invoiceItem in $invoice.invoiceItems)
				#set($finalTotal=$finalTotal.add($invoiceItem.total))
				#set($finalTotal=$finalTotal.add($invoiceItem.cashOnDeliveryCharges))
				#set($finalTotal=$finalTotal.add($invoiceItem.shippingCharges))
			#end
			TOTAL COLLECTABLE<br/>
			#if($saleOrder.cashOnDelivery)
				<b>Rs. $finalTotal</b>
			#else
				<b>Rs. 0.0</b>
			#end
		</td>
	</tr>
</table>

<table border=".5" align="center">
	<tr style="font-size:9px;font-weight:bold;" cellpadding="0 2 4 4">
		<td>
			SHIP TO DELIVERY NAME AND ADDRESS:
		</td>
	</tr>
	<tr style="font-size:9px;" align="center" cellpadding="0 2 10 4">
		<td>
			<span style="font-size:10px;font-weight:bold;">${saleOrder.billingAddress.name}</span><br/>
			${shippingPackage.shippingAddress.addressLine1} 
			#if($shippingPackage.shippingAddress.addressLine2)${shippingPackage.shippingAddress.addressLine2} #{end}<br/>
			${shippingPackage.shippingAddress.city} - ${shippingPackage.shippingAddress.pincode}<br/>
			India<br/>
			T: ${shippingPackage.shippingAddress.phone}<br/>
		</td>
	</tr>
</table>

<table border="1" align="center">
	<tr style="font-size:9px;" cellpadding="0 2 2 2">
		<td cellpadding="2 4 2 20" align="center" valign="top" width="60%">
			<div>Provider: $shippingProvider.name</div><br/>
			#if(${shippingPackage.trackingNumber})	
				<img src="https://dev.unicommerce.com/barcode/code128c/22/0.8/${shippingPackage.trackingNumber}"/>
			#end
		</td>
		<td align="right" cellpadding="2 4 2 10">
			<div>
			Order# $saleOrder.displayOrderCode<br/>
			Shipping# $shippingPackage.code<br/>
			Order Date: ${dateutils.dateToString($saleOrder.created, 'dd/MM/yyyy')}
			</div>
			<br/>
			<img src="https://dev.unicommerce.com/barcode/code128c/25/1/${shippingPackage.code}"/>
		</td>
	</tr>
	<tr style="font-size:7px;font-weight:bold;">
		<td colspan="2" cellpadding="2 2 2 2">
			PLEASE DON'T ACCEPT THE SHIPMENT IF IT HAS BEEN TAMPERED WITH.
		</td>
	</tr>
</table>