<div>
	<style class="xl6b" style="font-size:6px;font-weight:bold;" />
	<style class="xl6" style="font-size:6px;"/>
	<style class="xl6i" style="font-size:6px; font-style:italic;"/>
	<style class="xl7.5" style="font-size:7.5px;"/>
	<style class="xl8b" style="font-size:8px;font-weight:bold;"/>
	<style class="xl5" style="font-size:5px;"/>
	<style class="xl5b" style="font-size:5px;font-weight:bold;"/>
	<style class="xl10" style="font-size:10px;"/>
	<style class="xlb" style="font-weight:bold;"/>
	<style class="xl12" style="font-size:12px;font-weight:bold;"/>
</div>
<table class="xl7.5">
	<tr>
		<td width="30%"><img src="/object-store/view/${invoice.fromParty.binaryObject.id}" height="50" width="150" /></td>
		<td width="35%"></td>
		<td align="center">
			$shippingPackage.shippingProvider.name<br/>
			#if($shippingPackage.trackingNumber)
				<img src="https://dev.uniware.com/barcode/code39/28/.8/${shippingPackage.trackingNumber}" />
			#end
		</td>
	</tr>
</table>
<table border=".5" class="xl7.5">
	<tr>
		<td border=".5 0 0 0" colspan="5">Name and Delivery Address:</td>
	</tr>
	<tr>
		<td border=".5 .5 0 0" rowspan="3" colspan="3">
			<b>$shippingPackage.shippingAddress.name</b><br/>
			Address:<br/>
			<b>$shippingPackage.shippingAddress.addressLine1#if($shippingPackage.shippingAddress.addressLine2), $shippingPackage.shippingAddress.addressLine2 #end
			$shippingPackage.shippingAddress.city -$shippingPackage.shippingAddress.pincode, ${cache.getCache("locationCache").getStateByCode($shippingPackage.shippingAddress.stateCode).name}</b><br/>
			Ph. <b>$shippingPackage.shippingAddress.phone</b>
		</td>
		<td border=".5 0 0 0" align="left">Order Date:</td>
		<td border=".5 0 0 0" align="right"><b>$dateutils.dateToString($saleOrder.created, 'dd/MM/yyyy')</b></td>
	</tr>
	<tr>
		<td border=".5 0 0 0" align="left">
			Pieces:
		</td>
		<td border=".5 0 0 0" align="right"><b>$shippingPackage.noOfItems</b></td>
	</tr>
	<tr>
		<td border=".5 0 0 0" align="left">
			Weight:
		</td>
		#set($weight = $shippingPackage.actualWeight / 1000.0)	
		<td border=".5 0 0 0" align="right" ><b>$weight KGS</b></td>
	</tr>
	<tr>
		<td colspan="2" border=".5 0 0 0">Payment Mode:</td>
		<td border=".5 0 0 0"><b>$saleOrder.paymentMethod.code</b></td>
		<td border=".5 0 0 .5" align="left">
			Order Id No:
		</td>
		<td border=".5 0 0 0" align="right"><b>$shippingPackage.saleOrder.displayOrderCode</b></td>
	</tr>
	<tr>
		<td class="xl12" colspan="3" border=".5 .5 0 0" align="center">
			<b>Collect Cash On Delivery 
			Rs.#if($saleOrder.cashOnDelivery)$shippingPackage.collectableAmount Only #else 0 #end</b>
		</td>
		<td border=".5 0 0 0" valign="top" colspan="2" cellpadding="1">
			<table border="0">
				<tr><td>Package No:</td></tr>
				<tr>
					<td cellpadding="0">
    					<img align="center" src="https://dev.uniware.com/barcode/code39/28/1/${shippingPackage.code}"/>
     				</td>
  				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="xl7.5">
	<tr>
		<td width="75%" align="right" border=".5 0 0 0"></td>
		<td align="right" border=".5 0 0 0"></td>
	</tr>
</table>
<table class="xl7.5">
	<tr>
		<td align="right" border=".5 0 0 0">***<em>Do not accept package if seal is broken</em></td>
	</tr>
	<tr>
		<td>If Undelivered Please Return to:</td></td>
	</tr> 
	<tr>
		<td>
			$shippingPackage.facility.name <br/>
			#set($warehouseAddress = ${shippingPackage.facility.getPartyAddressByType('SHIPPING')})
			$warehouseAddress.addressLine1 #if($warehouseAddress.addressLine2), $warehouseAddress.addressLine2 #end 
			$warehouseAddress.city -$warehouseAddress.pincode, ${cache.getCache("locationCache").getStateByCode($warehouseAddress.stateCode).name}<br/>
			Tel: $warehouseAddress.phone
		</td>
	</tr>
</table>