#if($saleOrder.customerName == 'Jade e-service pvt. Ltd' || $saleOrder.customerName == 'Jade eServices Pvt Ltd' || $saleOrder.customerName == 'AM Market Places Private Limited')
	<table border="0">
		<tr>
			<td>
				<img src="/object-store/view/${invoice.fromParty.binaryObject.id}" height="30" width="150" align="center"/>
			</td>
		</tr>
	</table>
	<br/>
	<table border="0" style="font-size:9px;">
		<tr>
			<td valign="top" style="font-size:12px;" colspan="2" align="center">
				#if($saleOrder.invoiceInfo && $saleOrder.invoiceInfo.toLowerCase() == 'retail invoice')
					RETAIL INVOICE
				#else
					TAX INVOICE
				#end
			</td>
		</tr>
		<tr>
			<td colspan="2"> </td>
		</tr>
		#set ($myHashMap = {})
		$myHashMap.put("Jade e-service pvt. Ltd","07570424873")
		$myHashMap.put("Jade eServices Pvt Ltd","07570424873")
		<tr>
			<td valign="top" width="55%">
				Bill To: <br/>
				${saleOrder.billingAddress.name}<br/>
				${saleOrder.billingAddress.addressLine1}<br/>
				#if(${saleOrder.billingAddress.addressLine2})${saleOrder.billingAddress.addressLine2}<br/> #end
				${saleOrder.billingAddress.city} - ${saleOrder.billingAddress.pincode}<br/> 
				${cache.getCache("locationCache").getStateByCode(${saleOrder.billingAddress.stateCode}).name}<br/>
				#if($myHashMap.get(${saleOrder.billingAddress.name}))Jabong TIN No. : $myHashMap.get(${saleOrder.billingAddress.name}) #end
			</td>
			<td valign="top">
				#set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('BILLING')})
				<span style="font-weight:bold;">Invoice No.: ${invoice.code}</span><br/>
				<em>Invoice date</em>: ${dateutils.dateToString($invoice.created,'dd-MMM-yyyy')} <br/>
				<span style="font-weight:bold;">${invoice.fromParty.name}</span><br/>
				$warehouseAddress.addressLine1 #if($warehouseAddress.addressLine2)$warehouseAddress.addressLine2<br/> #end
				$warehouseAddress.city  $warehouseAddress.pincode<br/>
				$warehouseAddress.state.name<br/>
				TIN NO: ${invoice.fromParty.tin} 
			</td>	
		</tr>
		<tr>
			<td colspan="2"> </td>
		</tr>
		<tr>
			<td valign="top" colspan="2">
				<span>Order Date</span>: ${dateutils.dateToString($saleOrder.created,'dd-MMM-yyyy')}<br/>
				<span>PO: </span>${saleOrder.displayOrderCode}<br>
			</td>
		</tr>
	</table>
	<br/>
	<table border="1" cellspacing="0">
		<tr style="font-size:9px;font-weight:bold;" cellpadding="0 0 2 2">
			<td width="25%">Vendor SKU</td>
			<td width="23%">Description</td>
			<td width="8%">Qty</td>
			<td width="8%">Per</td>
			<td width="12" align="center">MRP</td>
			<td width="12%">Rate</td>
			<td width="12%">Total Amount</td>
		</tr>
		#set($finalTotal=$numberutils.newBigDecimal(0))
		#set($totalQty=0)
		#set($taxCform=$numberutils.newBigDecimal(0))
		#set($totalTax=$numberutils.newBigDecimal(0))
		#set($subTotal=$numberutils.newBigDecimal(0))
		#foreach($invoiceItem in $invoice.invoiceItems)
			#set($cstOrVat=$invoiceItem.vat.add($invoiceItem.cst))
			#set($totalQty = $totalQty+$invoiceItem.quantity)
			#set($finalTotal=$finalTotal.add($invoiceItem.total))
			#set($subTotal=$subTotal.add($invoiceItem.subtotal))
			#if($invoiceItem.total.subtract($cstOrVat).intValue() == 0)
				#set($cstPercent = 0 )
			#else
				#set($cstPercent=$numberutils.divide($cstOrVat.multiply($numberutils.newBigDecimal(100)), $invoiceItem.total.subtract($cstOrVat)))
			#end
			#set($totalTax=$totalTax.add($invoiceItem.vat).add($invoiceItem.cst))
			<tr style="font-size:9px;" cellpadding="0 0 2 2">
				<td>
					${invoiceItem.itemType.skuCode}<br/>
					<span style="font-size:8px;"><em>#if(${invoiceItem.itemType.JabongCode} && ($saleOrder.customerName == 'Jade e-service pvt. Ltd' || $saleOrder.customerName == 'Jade eServices Pvt Ltd'))Jabong Code: ${invoiceItem.itemType.JabongCode} #end</em></style>
				</td>
				<td>${invoiceItem.itemType.description}</td>
				<td align="center">${invoiceItem.quantity}</td>
				<td>pcs.</td>
				<td align="center">#if(${invoiceItem.itemType.maxRetailPrice})${invoiceItem.itemType.maxRetailPrice} #end</td>
				#set($price = $numberutils.divide(${invoiceItem.subtotal},${invoiceItem.quantity}))
				<td align="center">$price</td>
				<td align="center">${invoiceItem.subtotal}</td>
			</tr>
		#end
		<tr style="font-size:9px;" cellpadding="0 2 2 2">
			<td> </td>
			<td align="center">Total</td>
			<td align="center">$totalQty</td>
			<td colspan="3"> </td>
			<td align="right">$subTotal</td>
		</tr>
	</table>
	<br/>
	
	<table border="0">
		<tr style="font-size:9px;">
			<td valign="top" rowspan="2" width="67%">
				For ${invoice.fromParty.name}
			</td>
			<td style="font-weight:bold;" width="20%" cellpadding="0 2 2 2" border="1 0 0 1">
				SUB TOTAL
			</td>
			<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 0 0" align="right">
				$subTotal			
			</td>
		</tr>
		
		<tr style="font-size:9px;">
			<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 0 0 1">
				CST/VAT-5%		
			</td>
			<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 0 0" align="right">
				$totalTax	
			</td>
		</tr>
		<tr style="font-size:9px;">
			<td valign="bottom">
				Authorised Signatory 
			</td>
			<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 0 1 1">
				TOTAL			
			</td>
			<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 1 0" align="right">
				$finalTotal
			</td>
		</tr>
		<tr style="font-size:9px;">
			<td style="font-weight:bold;" colspan="3" cellpadding="0 2 2 2" align="right">
				Total Amount in Words: $numberutils.toWords($finalTotal.intValue())
			</td>
		</tr>
	</table>
	<table style="font-size:9px;">
		<tr>
			<td style="font-weight:bold;">Terms & Conditions: </td>
		</tr>
		<tr>
			<td style="text-align:justified;">
				1) 18 % interest  will be charged on all invoices not paid within 30 days from the  date of invoice.<br/>
				2) Our responsibility ceases soon after the goods leave from our premises.
			</td>
		</tr>
		<tr>
			<td style="font-weight:bold;">Notes: </td>
		</tr>
		<tr>
			<td style="text-align:justified;">
				1. Make all cheques payable to ${invoice.fromParty.name}<br/>
				2. If you have any questions concerning this invoice please contact us @ praveen@besiva.com/mala@besiva.com<br/>
				3. All Disputes arising out of this bill shall be subject to Delhi Jurisdiction
			</td>
		</tr>
		<tr>
			<td style="font-weight:bold;" align="center">THANK YOU FOR YOUR BUSINESS</td>
		</tr>
	</table>
#else
	#set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('BILLING')})
	<table border="0" style="font-size:8px;" align="center">
		<tr>
			<td cellpadding="0 0 0 4" width="29%">
				<img src="/object-store/view/${invoice.fromParty.binaryObject.id}" width="150" height="35" />
			</td>
			<td border="0 1 0 0" width="1%"></td>
			<td cellpadding="0 0 0 4" width="40%">
				${invoice.fromParty.name}<br/>
				${warehouseAddress.addressLine1} #if($warehouseAddress.addressLine2)${warehouseAddress.addressLine2}, #{end} 
				${warehouseAddress.city} - ${warehouseAddress.pincode} India <br/>Tin No. $invoice.fromParty.tin
			</td>
			<td cellpadding="0 0 0 5" width="30%">
				<img src="https://dev.unicommerce.com/barcode/code128c/26/1/${shippingPackage.code}"/>
			</td>
		</tr>
		<tr>
			<td colspan="4"><br/></td>
		</tr>
		<tr>
			<td colspan="4" align="center" style="font-weight:bold;font-size:12px;">RETAIL INVOICE</td>
		</tr>
	</table>
	<br/>
	<table style="font-size:9px;" align="center" border=".5">
		<tr cellpadding="4 2 4 4" valign="top">
			<td>
				Order # $saleOrder.displayOrderCode<br/>
				Invoice # $invoice.code<br/>
				Order Date: ${dateutils.dateToString($saleOrder.created, 'dd/MM/yyyy')}
			</td>
			<td>
				Payment Method: #if($saleOrder.cashOnDelivery)
				Cash On Delivery
				#else
				PREPAID
				#end
			</td>
		</tr>
		<tr cellpadding="4 2 4 4" valign="middle">
			<td>
				SHIP TO:
			</td>
			<td>
				BILL TO:
			</td>
		</tr>
		<tr cellpadding="4 2 4 4" valign="top">
			<td>
				${shippingPackage.shippingAddress.name}<br/>
				${shippingPackage.shippingAddress.addressLine1} 
				#if(${shippingPackage.shippingAddress.addressLine2})${shippingPackage.shippingAddress.addressLine2}<br/>#end
				${shippingPackage.shippingAddress.city}, ${shippingPackage.shippingAddress.pincode}<br/>
				India<br/>
				T: ${shippingPackage.shippingAddress.phone}
			</td>
			<td>
				${saleOrder.billingAddress.name}<br/>
				${saleOrder.billingAddress.addressLine1} 
				#if(${saleOrder.billingAddress.addressLine2})${saleOrder.billingAddress.addressLine2}<br/>#end
				${saleOrder.billingAddress.city}, ${saleOrder.billingAddress.pincode}<br/>
				India<br/>
				T: ${saleOrder.billingAddress.phone}<br/>	
			</td>
		</tr>
	</table>

	<table style="font-size:8px;" align="center">
		<tr style="font-size:9px;font-weight:bold;" cellpadding="0 0 2 2">
			<td border="0 0 .5 .5"  width="20%">Item</td>
			<td border="0 0 .5 0" width="20%">Description</td>
			<td border="0 0 .5 0" width="10%">Color</td>
			<td border="0 0 .5 0" width="10%">Size</td>
			<td border="0 0 .5 0">Qty</td>
			<td border="0 0 .5 0">MRP</td>
			<td border="0 .5 .5 0">Total</td>
		</tr>
		#set($finalTotal=$numberutils.newBigDecimal(0))
		#set($codCharges=$numberutils.newBigDecimal(0))
		#set($shippingCharges=$numberutils.newBigDecimal(0))
		#set($totalQty=0)
		#set($totalDisc=$numberutils.newBigDecimal(0))
		#set($total=$numberutils.newBigDecimal(0))
		#foreach($invoiceItem in $invoice.invoiceItems)
			#set($cstOrVat=$invoiceItem.vat.add($invoiceItem.cst))
			#set($totalQty = $totalQty+$invoiceItem.quantity)
			#set($total=$total.add($invoiceItem.total))
			#set($codCharges = $codCharges.add($invoiceItem.cashOnDeliveryCharges))
			#set($shippingCharges=$shippingCharges.add($invoiceItem.shippingCharges)) 
			#set($totalDisc = $totalDisc.add($invoiceItem.discount))
			#if($invoiceItem.total.subtract($cstOrVat).intValue() == 0)
				#set($cstPercent = 0 )
			#else
				#set($cstPercent=$numberutils.divide($cstOrVat.multiply($numberutils.newBigDecimal(100)), $invoiceItem.total.subtract($cstOrVat)))
			#end
			#set($itemCode="") 
			#set($additionalInfo=$jsonutils.stringToJson($invoiceItem.additionalInfo)) 
			#foreach($item in $additionalInfo)
				#set($itemCode=$itemCode + $item.itemCode.getAsString() + ",")
			#end
			#if($itemCode.length() > 1)
				#set($index = $itemCode.length() - 1)
				#set($itemCode = $itemCode.substring(0, $index))
			#end
			<tr cellpadding="0 0 2 2">
				<td border="0 0 0 .5">
					${invoiceItem.itemType.skuCode}
					#if($itemCode != "")
						<span style="font-size:7px;"><br/><em>Item Code: $itemCode</em></span>
					#end	
				</td>
				<td border="0 0 0 0">${invoiceItem.itemType.name}</td>
				<td border="0 0 0 0">#if(${invoiceItem.itemType.color})${invoiceItem.itemType.color}#end</td>
				<td border="0 0 0 0">#if(${invoiceItem.itemType.size})${invoiceItem.itemType.size}#end</td>
				<td border="0 0 0 0">${invoiceItem.quantity}</td>
				<td border="0 0 0 0">#if(${invoiceItem.quantity.maxRetailPrice})Rs. ${invoiceItem.quantity.maxRetailPrice}#end</td>
				<td border="0 .5 0 0">Rs.${invoiceItem.total}</td>
			</tr>
		#end
		<tr cellpadding="0 2 2 2">
			<td border="0 .5 0 .5" colspan="8"> </td>
		</tr>
		<tr cellpadding="0 2 2 2">
			<td border="0 0 0 .5" colspan="6" align="right" style="font-weight:bold;">Subtotal:</td>
			<td border="0 .5 0 0" align="right" colspan="2">Rs. $total</td>
		</tr>
		<tr cellpadding="0 2 2 2">
			<td border="0 0 0 .5" colspan="6" align="right" style="font-weight:bold;">Shipping Charges:</td>
			<td border="0 .5 0 0" align="right" colspan="2">Rs. $shippingCharges</td>
		</tr>
		<tr cellpadding="0 2 2 2">
			<td border="0 0 0 .5" colspan="6" align="right" style="font-weight:bold;">Cash On Delivery fee:</td>
			<td border="0 .5 0 0" align="right" colspan="2">Rs. $codCharges</td>
		</tr>
		<tr cellpadding="0 2 2 2">
			<td border="0 0 0 .5" colspan="6" align="right" style="font-weight:bold;">Item Discounts</td>
			<td border="0 .5 0 0" align="right" colspan="2">Rs. $totalDisc</td>
		</tr>
		<tr cellpadding="0 2 2 2">
			#set($finalTotal = $total.add($codCharges))
			#set($finalTotal = $finalTotal.add($shippingCharges))
			#set($finalTotal = $finalTotal.subtract($totalDisc))
			<td border="0 0 0 .5" colspan="6" align="right" style="font-weight:bold;">Grand Total (Inclusive of VAT)</td>
			<td border="0 .5 0 0" align="right" colspan="2">Rs. $finalTotal</td>
		</tr>
		<tr cellpadding="0 2 2 2">
			<td border="0 .5 0 .5" colspan="8"> </td>
		</tr>
		#if($shippingPackage.saleOrderItems.iterator().next().giftMessage)
			<tr cellpadding="0 2 2 2">
				<td border="0.5 .5 0 .5" colspan="8">
					Gift Message:$shippingPackage.saleOrderItems.iterator().next().giftMessage
				</td>
			</tr>
		#end
		<tr cellpadding="4 4 4 4">
			<td border=".5 .5 .5 .5" colspan="8" align="center"> TOTAL QUANTITY FOR ORDER: $totalQty</td>
		</tr>
	</table>

	<table style="font-size:9px;" align="center">
		<tr align="center">
			<td><br/></td>
			<td></td>
			<td></td>
		</tr>
		<tr align="center">
			<td colspan="3" align="center" cellpadding="2 2 2 2">
				This is a computer generated receipt. No signature required.
			</td>
		</tr>
		#if($shippingPackage.saleOrder.channel.code == 'MAGENTO')
			<tr align="center">
				<td colspan="3" align="center" border=".5 .5 .5 .5" cellpadding="4 4 4 4" style="font-weight:bold;">
					Have any questions? Email us at: info@besiva.com or call us on 011-41071700
				</td>
			</tr>
			<tr style="font-weight:bold;">
				<td colspan="2">
					www.besiva.com
				</td>
				<td align="right">
				</td>
			</tr>
		#end
	</table>
	#if($shippingPackage.saleOrder.channel.code == 'MAGENTO')
		<table style="font-size:9px;">
			<tr>
				<td style="font-weight:bold;">Notes: </td>
			</tr>
			<tr>
				<td style="text-align:justified;">
					1) If you have any questions concerning this invoice please contact us @ info@besiva.com or call us on 011-41071700<br/>
					2) You have 14 days to return this item.Please refer to our returns policy on 
					our website for more information <br/>
					3) All Disputes arising out of this bill shall be subject to Delhi Jurisdiction
				</td>
			</tr>
		</table>
	#end
#end