#set($finalTotal=$numberutils.newBigDecimal(0))
<table border="0">
	<tr>
		<td style="font-weight:bold;font-size:12px;" align="center">
			INVOICE
		</td>
	</tr>
	</tr>
</table>

<br/>


<table border="0.7" style="font-size:8px;">
	<tr>
		<td valign="top" width="45%" cellpadding="0 0 0 0">
			<table>
				<tr>
					<td cellpadding="0 2 2 2" colspan="2" valign="top">
						Exporter:<br/>
						${invoice.fromParty.name}<br/>
						#set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('BILLING')})
						$warehouseAddress.addressLine1 #if($warehouseAddress.addressLine2)$warehouseAddress.addressLine2<br/> #end
						$warehouseAddress.city - $warehouseAddress.pincode<br/>
						${cache.getCache("locationCache").getStateByCode(${warehouseAddress.stateCode}).name}<br/>
						TIN NO: ${invoice.fromParty.tin} 
					</td>
				</tr>
				<tr valign="top">
					<td cellpadding="2 2 2 2" colspan="2">
						Consignee<br/>
						${shippingPackage.shippingAddress.name}<br/>
						${shippingPackage.shippingAddress.addressLine1}
						#if(${shippingPackage.shippingAddress.addressLine2})${shippingPackage.shippingAddress.addressLine2}<br/> #end
						${shippingPackage.shippingAddress.city} - ${shippingPackage.shippingAddress.pincode}<br/>
						#if($shippingPackage.shippingAddress.countryCode == 'IN') 
							${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name}<br/>
						#else
							${shippingPackage.shippingAddress.stateCode}
						#end
					</td>
				</tr>
				<tr valign="top">
					<td cellpadding="2 2 2 2">
						Pre-Carriage by
					</td>
					<td cellpadding="2 2 2 2">
						Place of Receipt by pre-carrier
					</td>
				</tr>
				<tr valign="top">
					<td cellpadding="2 2 2 2">
						Vessel/Flight No.
					</td>
					<td cellpadding="2 2 2 2">
						Port of Loading
					</td>
				</tr>
				<tr valign="top">
					<td cellpadding="2 2 2 2">
						Port of Discharge : DEL<br/>
					</td>
					<td cellpadding="2 2 2 2">
						Final Destination: #if($shippingPackage.finalDestination)$shippingPackage.finalDestination #end
					</td>
				</tr>
			</table>
		</td>
		
		<td valign="top" width="55%" cellpadding="0 0 0 0">
			<table>
				<tr>
					<td cellpadding="2 2 2 2" valign="top">
						Invoice No. & Date<br/>
						${invoice.code}, ${dateutils.dateToString($invoice.created,'dd/mm/yy')}
					</td>
					<td cellpadding="2 2 2 2" valign="top">
						Exporter Ref. 0311074235
					</td>
				</tr>
				<tr>
					<td cellpadding="2 2 2 2" colspan="2" valign="top">
						Buyer's Order No. & Date<br/>
						${saleOrder.displayOrderCode}, ${dateutils.dateToString($saleOrder.created,'dd/MM/yy')}
					</td>
				</tr>
				<tr valign="top">
					<td cellpadding="2 2 2 2" colspan="2">
						Other reference(s)
					</td>
				</tr>
				<tr>
					<td cellpadding="2 2 2 2" colspan="2"valign="top">
						Buyer(if other than consignee)<br/>
						${saleOrder.billingAddress.name}<br/>
						${saleOrder.billingAddress.addressLine1}
						#if(${saleOrder.billingAddress.addressLine2})${saleOrder.billingAddress.addressLine2}<br/> #end
						${saleOrder.billingAddress.city} - ${saleOrder.billingAddress.pincode}<br/>
						#if($saleOrder.billingAddress.countryCode == 'IN') 
							${cache.getCache("locationCache").getStateByCode(${saleOrder.billingAddress.stateCode}).name}<br/>
						#else
							${saleOrder.billingAddress.stateCode}
						#end
					</td>
				</tr>
				<tr valign="top">
					<td cellpadding="2 2 2 2">
						Country of origin of goods: India
					</td>
					<td cellpadding="2 2 2 2">
						Country of final destination: ${cache.getCache("locationCache").getCountryByCode(${shippingPackage.shippingAddress.countryCode}).name}
					</td>
				</tr>
				<tr valign="top">
					<td cellpadding="2 2 2 2" colspan="2" border="0 0 0 0">
						Terms of Delivery & payment<br/><br/><br/>
						Payment Terms:
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table border="0.7" style="font-size:8px;">
	<tr>
		<td cellpadding="0 0 0 0">
			<table border="0">
				<tr valign="top">
					<td cellpadding="0 0 2 2" width="15%">Marks & Number<br/>Container No.</td>
					<td cellpadding="0 0 2 2" width="15%">Number & kind of<br/>Packages</td>
					<td cellpadding="0 0 2 2" width="12%">SKU</td>
					<td cellpadding="0 0 2 2">Description of Goods</td>
					<td cellpadding="0 0 2 2" width="8%" border="0 0 0 0.7">Quantity</td>
					<td cellpadding="0 0 2 2" width="10%" border="0 0 0 0.7">Rate</td>
					<td cellpadding="0 0 2 2" width="10%" border="0 0 0 0.7">Amount</td>
				</tr>
				#set($currencyConversion = $numberutils.newBigDecimal(1))
				#if($shippingPackage.currencyConversion)
					#set($currencyConversion = $shippingPackage.currencyConversion)
				#end
				#foreach($invoiceItem in $invoice.invoiceItems)
					#if(!$invoiceItem.itemType.ownWareHouse)
					#set($finalTotal=$finalTotal.add($invoiceItem.total))
						<tr valign="top">
							<td cellpadding="0 0 2 2">$foreach.count</td>
							<td cellpadding="0 0 2 2">-</td>
							<td cellpadding="0 0 2 2">${invoiceItem.itemType.skuCode}</td>
							<td cellpadding="0 0 2 2">${invoiceItem.itemType.name}</td>
							<td cellpadding="0 0 2 2" border="0 0 0 0.7">${invoiceItem.quantity}</td>
							#set($invoiceItem.total = $invoiceItem.total.multiply($currencyConversion))
							#set($rate = ${invoiceItem.total} / ${invoiceItem.quantity})
							<td cellpadding="0 0 2 2" border="0 0 0 0.7">$rate</td>
							<td cellpadding="0 0 2 2" border="0 0 0 0.7">${invoiceItem.total}</td>
						</tr>
					#end	
				#end
				<tr valign="top">
					<td cellpadding="0 0 2 2"> </td>
					<td cellpadding="0 0 2 2"> </td>
					<td cellpadding="0 0 2 2"> </td>
					<td cellpadding="0 0 2 2"> </td>
					<td cellpadding="0 0 2 2" border="0 0 0 0.7"> </td>
					<td cellpadding="0 0 2 2" border="0 0 0 0.7"> </td>
					<td cellpadding="0 0 2 2" border="0 0 0 0.7"> </td>
				</tr>
				<tr valign="top">
					<td cellpadding="0 0 2 2"> </td>
					<td cellpadding="0 0 2 2"> </td>
					<td cellpadding="0 0 2 2"> </td>
					<td cellpadding="0 0 2 2"> </td>
					<td cellpadding="0 0 2 2" border="0 0 0 0.7"> </td>
					<td cellpadding="0 0 2 2" border="0 0 0 0.7">FREIGHT<br/>Insurance</td>
					<td cellpadding="0 0 2 2" border="0 0 0 0.7"> </td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table border="0.7" style="font-size:8px;">
	<tr>
		<td cellpadding="0 0 0 0">
			<table border="0">
				<tr>
					<td cellpadding="0 0 2 2" width="60%" valign="top">Amount chargeable:</td>
					<td cellpadding="0 0 2 2"> </td>
					<td cellpadding="0 0 2 2" width="10%" valign="top">Total</td>
					<td cellpadding="0 0 2 2" width="10%" border="0.7" valign="top">$finalTotal</td>
				</tr>
				<tr>
					<td cellpadding="30 1 2 2" valign="top">Declaration:</td>
					<td cellpadding="0 0 2 2"> </td>
					<td cellpadding="0 0 2 2"> </td>
					<td cellpadding="0 0 2 2"> </td>
				</tr>
				<tr>
					<td cellpadding="0 0 2 2" valign="top" colspan="4">
						We declare that invoice shows the actual price of goods<br/>
						described and that all particulars are true & correct.
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td border="0" style="font-size:8px;">
			This is a system generated invoice. This does not require any signature.
		</td>
	</tr>
</table>


