<div>
	<style class="xl9b" style="font-size:9px;font-weight:bold;" />
	<style class="xl9" style="font-size:9px;"/>
	<style class="xl12" style="font-size:12px;"/>
	<style class="xl12b" style="font-size:12px;font-weight:bold;"/>
	<style class="xl8" style="font-size:8px;"/>
	<style class="xl8b" style="font-size:8px;font-weight:bold;"/>
	<style class="xl14" style="font-size:14px;font-weight:bold;"/>
	<style class="xlb" style="font-weight:bold;"/>
</div>

#set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('BILLING')})
<table border="0" align="center">
	<tr class="xl9">
		<td colspan="3" align="center" valign="top">
			Invoice - $invoice.code
		</td>
	</tr>
	<tr>
		<td cellpadding="0 0 0 2" width="33%" valign="middle">
			<img src="/object-store/view/${invoice.fromParty.binaryObject.id}" width="120" height="40"/>
		</td>
		<td cellpadding="0 0 0 2" width="32%" class="xl12b" align="center" valign="middle">
			RETAIL INVOICE
		</td>
		<td width="35%" class="xl8" align="right">
			${invoice.fromParty.name}<br/>
			${warehouseAddress.addressLine1} #if($warehouseAddress.addressLine2)${warehouseAddress.addressLine2}, #{end}<br/> 
			${warehouseAddress.city}(${cache.getCache("locationCache").getStateByCode(${warehouseAddress.stateCode}).name})<br/> 
			${warehouseAddress.pincode}<br/>
			VAT/CST TIN: #if($invoice.fromParty.tin)$invoice.fromParty.tin #end<br/>
			PAN: #if($invoice.fromParty.pan)$invoice.fromParty.pan #end<br/>
		</td>
	</tr>
	<tr>
		<td colspan="3"><br/></td>
	</tr>
</table>

<br/>

<table align="center" border="0">
	<tr cellpadding="4" class="xl9b">
		<td valign="top" border="1 0 1 1">
			STYLIST ID:  N/A<br/>
			Order # $saleOrder.displayOrderCode<br/>
			TOTAL QUANTITY # $shippingPackage.noOfItems
		</td>
		<td valign="top" border="1 1 1 0">
			INVOICE DATE: ${dateutils.dateToString($invoice.created, 'MMM dd, yyyy')}<br/>
			INVOICE # $invoice.code<br/>
			ORDER DATE: ${dateutils.dateToString($saleOrder.created, 'MMM dd, yyyy')}
		</td>
	</tr>
	<tr cellpadding="4" class="xl9b" border="1">
		<td>
			SOLD TO:
		</td>
		<td>
			SHIP TO:
		</td>
	</tr>
	<tr cellpadding="4" class="xl9">
		<td border="1 0 1 1" valign="top">
			${saleOrder.billingAddress.name}<br/>
			${saleOrder.billingAddress.addressLine1} 
			#if(${saleOrder.billingAddress.addressLine2})${saleOrder.billingAddress.addressLine2}<br/>#end
			${saleOrder.billingAddress.city}, ${cache.getCache("locationCache").getStateByCode(${saleOrder.billingAddress.stateCode}).name}, 
			${saleOrder.billingAddress.pincode}<br/>
			India<br/>
			T: ${saleOrder.billingAddress.phone}<br/>	
		</td>
		<td border="1 1 1 0" valign="top">
			${shippingPackage.shippingAddress.name}<br/>
			${shippingPackage.shippingAddress.addressLine1} 
			#if(${shippingPackage.shippingAddress.addressLine2})${shippingPackage.shippingAddress.addressLine2}<br/>#end
			${shippingPackage.shippingAddress.city}, ${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name}, 
			${shippingPackage.shippingAddress.pincode}<br/>
			India<br/>
			T: ${shippingPackage.shippingAddress.phone}
		</td>
	</tr>
</table>

<br/>

<table align="center" border="0">
	<tr cellpadding="4" class="xl8b" border="1">
		<td valign="top">
			PAYMENT METHOD:
		</td>
		<td valign="top">
			SHIPPING METHOD:
		</td>
	</tr>
	<tr cellpadding="4">
		<td valign="top" border="0 0 1 1" class="xl12b">
			#if($saleOrder.cashOnDelivery)
				CASH ON DELIVERY(Rs $shippingPackage.collectableAmount)
			#else
				PREPAID
			#end
		</td>
		<td valign="top" border="0 1 1 0" class="xl9">
			FLAT RATE - FIXED<br/>
			(TOTAL SHIPPING CHARGES RS $shippingPackage.shippingCharges)
		</td>
	</tr>
</table>

<br/>
<table align="center">
	<tr class="xl9b" cellpadding="2" align="center">
		<td border="1 0 1 1" width="7%">SL. NO.</td>
		<td border="1 0 1 0" width="20%">PRODUCT CODE</td>
		<td border="1 0 1 0" width="20%">PRODUCT NAME</td>
		<td border="1 0 1 0" width="8%">QTY</td>
		<td border="1 0 1 0" width="10%">PRICE/QTY (Excl. Tax)</td>
		<td border="1 0 1 0" width="10%">TOTAL DISCOUNT</td>
		<td border="1 0 1 0" width="10%">TOTAL VAT/CST</td>
		<td border="1 1 1 0" width="15%">NET SALES PRICE</td>
	</tr>
	#set($finalTotal=$numberutils.newBigDecimal(0))
	#set($codCharges=$numberutils.newBigDecimal(0))
	#set($shippingCharges=$numberutils.newBigDecimal(0))
	#set($totalQty=0)
	#set($totalVat=$numberutils.newBigDecimal(0))
	#set($totalDisc=$numberutils.newBigDecimal(0))
	#set($total=$numberutils.newBigDecimal(0))
	#set($subTotal=$numberutils.newBigDecimal(0))
	#foreach($invoiceItem in $invoice.invoiceItems)
		#set($cstOrVat=$invoiceItem.vat.add($invoiceItem.cst))
		#set($totalVat= $totalVat.add($cstOrVat))
		#set($totalQty = $totalQty+$invoiceItem.quantity)
		#set($total=$total.add($invoiceItem.total).add(${invoiceItem.discount}))
		#set($subTotal=$subTotal.add($invoiceItem.subtotal).add(${invoiceItem.discount}))
		#set($codCharges = $codCharges.add($invoiceItem.cashOnDeliveryCharges))
		#set($shippingCharges=$shippingCharges.add($invoiceItem.shippingCharges)) 
		#set($totalDisc = $totalDisc.add($invoiceItem.discount))
		#set($discPerItem = $numberutils.divide($invoiceItem.discount,$invoiceItem.quantity))
		<tr cellpadding="2" class="xl9">
			<td>$foreach.count</td>
			<td>${invoiceItem.itemType.skuCode}</td>
			<td>${invoiceItem.itemType.name}</td>
			<td>${invoiceItem.quantity}</td>
			<td>${invoiceItem.unitPrice}</td>
			<td>Rs ${invoiceItem.discount}</td>
			<td>Rs $cstOrVat</td>
			<td align="right">Rs ${invoiceItem.subtotal}</td>
		</tr>
	#end
	#set($finalTotal = $total.add($shippingCharges))
	#set($finalTotal = $finalTotal.add($codCharges))
	#set($finalTotal = $finalTotal.subtract($totalDisc))
	<tr cellpadding="2" class="xl9b" align="right">
		<td colspan="7">SUBTOTAL(EXCL. TAX):</td>
		<td>Rs $subTotal</td>
	</tr>
	<tr cellpadding="2" class="xl9b" align="right">
		<td colspan="7">TAX (5.25%):</td>
		<td>+ Rs $totalVat</td>
	</tr>
	<tr cellpadding="2" class="xl9b" align="right">
		<td colspan="7">SUBTOTAL(INCL. TAX):</td>
		<td>Rs $total</td>
	</tr>
	<tr cellpadding="2" class="xl9b" align="right">
		<td colspan="7">TOTAL DISCOUNT:</td>
		<td>- Rs $totalDisc</td>
	</tr>
	<tr cellpadding="2" class="xl9b" align="right">
		<td colspan="7">GRAND TOTAL(INCL. TAX):</td>
		<td>Rs $finalTotal</td>
	</tr>
	<tr cellpadding="2" class="xl9b">
		<td colspan="8">(THIS IS A COMPUTER GENERATED INVOICE HENCE SIGNATURE IS NOT REQUIRED)</td>
	</tr>
</table>
<br/><br/><br/>

<table border="0" align="center">
	<tr class="xl9b">
		<td colspan="3">
			Thank you for your order.
		</td>
	</tr>
	<tr class="xl8">
		<td colspan="3">
			Kindly refer to our website to know about our return & cancellation policy.
			<br/><br/>
		</td>
	</tr>
	<tr class="xl8">
		<td >Toll free 1800 102 5884</td>
		<td align="center">www.juvalia.in</td>
		<td align="right">info@juvalia.in</td>
	</tr>
</table>
