<div>
	<style class="xl9b" style="font-size:9px;font-weight:bold;" />
	<style class="xl9" style="font-size:9px;"/>
	<style class="xl11" style="font-size:11px;"/>
	<style class="xl11b" style="font-size:11px;font-weight:bold;"/>
	<style class="xl8" style="font-size:8px;"/>
	<style class="xl14b" style="font-size:14px;font-weight:bold;"/>
	<style class="xlb" style="font-weight:bold;"/>
</div>	

<table class="xl9" border="0.7">
	<tr valign="top">
		<td cellpadding="5" width="35%"><img src="/object-store/view/${invoice.fromParty.binaryObject.id}"  height="40" width="150"/></td>
		<td width="30%"></td>
		<td width="35%" align="right" colspan="2" cellpadding="3">
			<b>Invoice No.:</b> # $invoice.code<br/>
			<b>Invoice Date:</b> ${dateutils.dateToString($invoice.created,'dd-MMM-yyyy')}<br/><br/><br/>
		</td>
	<tr>
	#set($warehouseAddress = $invoice.fromParty.getPartyAddressByType('SHIPPING'))
	<tr valign="top" cellpadding="3">
		<td width="35%">
			$invoice.fromParty.name<br/>
			$warehouseAddress.addressLine1 #if($warehouseAddress.addressLine2)$warehouseAddress.addressLine2 #end<br/> 
			$warehouseAddress.city - $warehouseAddress.pincode<br/>
			#if(${cache.getCache("locationCache").getStateByCode(${warehouseAddress.stateCode}).name})
				${cache.getCache("locationCache").getStateByCode(${warehouseAddress.stateCode}).name},
			#end
			${cache.getCache("locationCache").getCountryByCode(${warehouseAddress.countryCode}).name}<br/>
			Telephone: $warehouseAddress.phone<br/>
			customercare@myessentials.ca			
		</td>
		<td width="30%">
			<b>GST/HST</b> #000 000<br/>
			<b>QST</b> #000 000<br/>
			<b>Manitoba PST</b> #000 000<br/>
			<b>Saskatchewan PST</b> #000 000<br/>
			<b>PEI PST</b>#000 000<br/>
		</td>
		<td width="10%" class="xl9b" cellpadding="3">
			Shipping Id:
		</td>
		<td valign="top" cellpadding="4">
			<img src="https://dev.unicommerce.com/barcode/code128c/22/1/${shippingPackage.code}"/>
		</td>
	</tr>	
</table>
<table border="0.7">
	<tr class="xl9" valign="top" cellpadding="3">
		<td colspan="2">
			<b color="#B80000">Sold To:</b><br/>
			${saleOrder.billingAddress.name}<br/>
			${saleOrder.billingAddress.addressLine1}
			#if(${saleOrder.billingAddress.addressLine2})${saleOrder.billingAddress.addressLine2}<br/> #end<br/>
			${saleOrder.billingAddress.city} - ${saleOrder.billingAddress.pincode}<br/> 
			#if(${cache.getCache("locationCache").getStateByCode(${saleOrder.billingAddress.stateCode}).name})
				${cache.getCache("locationCache").getStateByCode(${saleOrder.billingAddress.stateCode}).name},
			#end
			${cache.getCache("locationCache").getCountryByCode(${saleOrder.billingAddress.countryCode}).name}<br/>
			${saleOrder.billingAddress.phone}
		</td>
		<td colspan="2">
			<b color="#B80000">Ship To:</b><br/>
			${shippingPackage.shippingAddress.name}<br/>
			${shippingPackage.shippingAddress.addressLine1}
			#if(${shippingPackage.shippingAddress.addressLine2})${shippingPackage.shippingAddress.addressLine2}<br/> #end<br/>
			${shippingPackage.shippingAddress.city} - ${shippingPackage.shippingAddress.pincode}<br/> 
			#if(${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name})
				${cache.getCache("locationCache").getStateByCode(${shippingPackage.shippingAddress.stateCode}).name},
			#end
			${cache.getCache("locationCache").getCountryByCode(${shippingPackage.shippingAddress.countryCode}).name}<br/>
			${shippingPackage.shippingAddress.phone}
		</td>
	</tr>
	<tr class="xl9" valign="top" cellpadding="3">
		<td>
			<b color="#B80000">Order ID:</b><br/>
			$saleOrder.displayOrderCode
		</td>
		<td>
			<b color="#B80000">Order Date:</b><br/>
			${dateutils.dateToString($saleOrder.created,'dd-MMM-yyyy')}
		</td>
		<td>
			<b color="#B80000">Payment Method</b><br/>
			$saleOrder.paymentMethod.name
		</td>
		<td>
			<b color="#B80000">Shipping Method</b><br/>
			$shippingPackage.shippingMethod.name
		</td>
	</tr>
</table>
<table border="0.7">
	<tr>
		<td cellpadding="15" align="center">	
			<table border="0.7">
				<tr class="xl9b" cellpadding="2" bgcolor="#6666FF" color="#FFFFFF" valign="top">
					<td width="50%" align="left">Product(s)</td>
					<td width="20%" align="right">Unit Price</td>
					<td width="10%" align="right">QTY</td>
					<td width="20%" align="right">Total</td>
				</tr>
				#set($finalTotal=$numberutils.newBigDecimal(0))
				#set($totalShipping=$numberutils.newBigDecimal(0))
				#set($subTotal=$numberutils.newBigDecimal(0))
				#foreach($invoiceItem in $invoice.invoiceItems)
					#set($finalTotal=$finalTotal.add($invoiceItem.total))
					#set($totalShipping=$totalShipping.add($invoiceItem.shippingCharges))
					<tr cellpadding="2" class="xl9" valign="top">
						<td align="left">${invoiceItem.itemType.name}</td>
						#set($unitPrice = $numberutils.divide($invoiceItem.total,$invoiceItem.quantity))
						<td align="right">$ ${unitPrice}</td>
						<td align="right">${invoiceItem.quantity}</td>
						<td align="right">$ $invoiceItem.total</td>
					</tr>
				#end
				<tr cellpadding="2" class="xl9" valign="top">
					<td colspan="2" rowspan="3" align="left">Comments:</td>
					<td class="xl9b" align="left">Subtotal</td>
					<td align="right">$ $finalTotal</td>
				</tr>
				<tr cellpadding="2" class="xl9" valign="top">
					<td class="xl9b" align="left">Shipping</td>
					<td align="right">$ $totalShipping</td>
				</tr>
				#set($finalTotal = $finalTotal.add($totalShipping))
				<tr cellpadding="2" class="xl9" valign="top">
					<td class="xl9b" align="left">Total</td>
					<td align="right">$ $finalTotal</td>
				</tr>
			</table>
			<span class="xl14b" color="#B80000">Thank you for shopping with us!</span>
			<br/><br/>
		</td>
	</tr>
</table>
<br/>
<table border="0">
	<tr class="xl9b" valign="top">
		<td>*Prices are inclusive of all the taxes</td>
	</tr>
</table>
	
