#set($prepaidAmount=$numberutils.newBigDecimal(0))
#foreach($saleOrderItem in $shippingPackage.saleOrderItems)
	#set($prepaidAmount=$prepaidAmount.add($saleOrderItem.prepaidAmount))
#end
#if($saleOrder.customer && $saleOrder.customer.code.toLowerCase()=="retail")
	<table border="0" align="center" cellpadding="0 10 10 10">
		<tr>
			<td>
				<table border="0 0 1 0">
					<tr cellpadding="0 0 5 0">
						<td width="55%">
							<span style="font-weight:bold;font-size:20xp">PACKING SLIP</span><br/>
							#if($saleOrder.shipping_city)<span style="font-size: 15px;font-weight:bold;">$saleOrder.shipping_city</span> #end
						</td>
						<td valign="top"><span style="font-size: 9px;">
						#set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('BILLING')}) 
						${warehouseAddress.addressLine1},#if($warehouseAddress.addressLine2)
						${warehouseAddress.addressLine2},#{end}
						${warehouseAddress.city}, ${warehouseAddress.state.name}, ${warehouseAddress.pincode}<br /> 
						</span></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr cellpadding="10 0 0 10">
			<td>
				<table border="0">
					<tr>
						<td width="67%"><span style="font-size: 9px; ">
						<span style="font-weight: bold; ">Invoice Number: </span>
						$invoice.code
						</span></td>
						<td><span style="font-size: 9px; ">
						<span style="font-weight: bold; ">Payment mode: </span>
							#if($saleOrder.payment_type)$saleOrder.payment_type #end
						</span></td>
					</tr>
					<tr>
						<td><span style="font-size: 9px; ">
						<span style="font-weight: bold; ">Invoice Date: </span>
						#if($shippingPackage.dispatchTime)
							${dateutils.dateToString($shippingPackage.dispatchTime,'dd-MMM-yyyy')}
						#else
							${dateutils.dateToString($invoice.created,'dd-MMM-yyyy')}
						#end
						</span></td>
						<td cellpadding="5" rowspan="3" valign="top">
							<span style="font-weight: bold; ">Shipment Id: </span><br/>
							<img src="https://dev.unicommerce.com/barcode/code128c/24/1/${shippingPackage.code}"/><br/>
							#if($shippingPackage.shippingProvider.code.toUpperCase() == 'GATI' && $shippingPackage.trackingNumber)
								<span style="font-weight: bold; ">AWB: </span><br/>
								<img src="https://dev.unicommerce.com/barcode/code39/30/1/${shippingPackage.trackingNumber}"/>
							#end
						</td>
					</tr>
					<tr>
						<td width="67%"><span style="font-size: 9px; ">
						<span style="font-weight: bold; ">Order Number: </span>
						$saleOrder.displayOrderCode
						</span></td>
					</tr>
					<tr>
						<td><span style="font-size: 9px; ">
						<span style="font-weight: bold; ">Order Date: </span>
						${dateutils.dateToString($saleOrder.displayOrderDateTime,'dd-MMM-yyyy')}
						</span></td>
					</tr>
					#if($saleOrder.kamEmailId && $saleOrder.kamEmailId != '')
						<tr>
							<td colspan="2">
								<span style="font-size: 9px; ">
									<span style="font-weight: bold; ">Email: </span>
									#if($saleOrder.kamEmailId == 'flipkart@officeyes.com' || $saleOrder.kamEmailId == 'snapdeal@officeyes.com')
										<span style="font-weight: bold;font-size: 12px;">$saleOrder.kamEmailId</span>
									#else
										$saleOrder.kamEmailId
									#end
								</span>
							</td>
						</tr>
					#end
					<tr colspan="2">
						<td><span style="font-size: 9px; ">
						<span style="font-weight: bold; ">Kind Att: </span>
						${saleOrder.billingAddress.name}
						</span></td>
					</tr>
					<tr>
						<td colspan="2"><span style="font-size: 9px; ">
							<span style="font-weight: bold; ">M/s: </span>
							Hank Retail Pvt. Ltd.
						</span></td>
					</tr>
					#if($saleOrder.tin && $saleOrder.tin != '')
						<tr>
							<td colspan="2">
								<span style="font-size: 9px; ">
									<span style="font-weight: bold; ">TIN: </span>
									$saleOrder.tin
								</span>
							</td>
						</tr>
					#end
					<tr>
						<td colspan="2"><span style="font-size: 9px; ">
						<span style="font-weight: bold; ">Contact Number: </span>
							${saleOrder.billingAddress.phone}
						</span></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<br/><br/>
	<table border="1" cellpadding="10 10 0 10">
		<tr>
			<span style="font-size: 9px; font-weight: bold; ">
				<td align="center" width="12%" cellpadding="0 0 2 0">Sno.</td>
				<td align="center" width="36%" cellpadding="0 0 2 0">Description</td>
				<td align="center" width="20%" cellpadding="0 0 2 0">Variation</td>
				<td align="center" width="20%" cellpadding="0 0 2 0">Brand</td>
				<td align="center" width="12%" cellpadding="0 0 2 0">Qty</td>
			</span>
		</tr>
		#set($totalQty=0)
		#set($finalTotal=$numberutils.newBigDecimal(0))
		#set($tax=$numberutils.newBigDecimal(0))
		#set($taxRate=$numberutils.newBigDecimal(0))
		#set($shippingCharges=$numberutils.newBigDecimal(0))
		
		#foreach($invoiceItem in $invoice.invoiceItems) 
		
			#set($serialNo="")
			#set($additionalInfo=$jsonutils.stringToJson($invoiceItem.additionalInfo)) 
			#foreach($item in $additionalInfo) 
				#if($item.get("customFields")) #set($customFields=$jsonutils.stringToJson($item.get("customFields").getAsString()))
					#set($serialNo=$serialNo + $customFields.get("SerialNo").getAsString() + ",") 
				#end 
			#end
			
			#if($serialNo.length()>1)
				#set($index = $serialNo.length() - 1)
				#set($serialNo = "Serial No. " + $serialNo.substring(0, $index))
			#end
			#set($tax=$invoiceItem.vat.add($invoiceItem.cst))
			#set($taxRate=$invoiceItem.taxPercentage)
			#set($finalTotal=$finalTotal.add($invoiceItem.total)) 
			#set($totalQty=$totalQty+${invoiceItem.quantity})
			#set($shippingCharges=$numberutils.divide($invoiceItem.shippingCharges, $invoiceItem.quantity))
			<tr>
				<span style="font-size: 9px; ">
					<td align="left" cellpadding="2">$foreach.count</td>
					<td align="left" cellpadding="2">${invoiceItem.description}<br/>$serialNo</td>
					<td align="left" cellpadding="2">#if(${invoiceItem.itemType.variation})${invoiceItem.itemType.variation} #end</td>
					<td align="left" cellpadding="2">#if(${invoiceItem.itemType.brand})${invoiceItem.itemType.brand}#end</td>
					<td align="left" cellpadding="2"><span style="">${invoiceItem.quantity}</span></td>
				</span>
			</tr>
		#end
		<tr>
			<span style="font-size: 9px; font-weight: bold; ">
				<td align="left" cellpadding="2"></td>
				<td align="left" cellpadding="2">Total</td>
				<td align="left" cellpadding="2"></td>
				<td align="left" cellpadding="2"></td>
				<td align="left" cellpadding="2">$totalQty</td>
			</span>
		</tr>
	</table>
	<pagebreak/>
#else
	#set($range = [1..2])
	#foreach($i in $range)
		<table border="0" align="center" cellpadding="0 10 10 10">
			<tr>
				<td>
					<table border="0 0 1 0">
						<tr cellpadding="0 0 5 0">
							<td width="37%"><img src="/object-store/view/${invoice.fromParty.binaryObject.id}" /></td>
							<td width="38%" valign="top"><span style="font-size: 9px; ">
							${invoice.fromParty.name}<br /> 
							#set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('BILLING')}) 
							${warehouseAddress.addressLine1},#if($warehouseAddress.addressLine2)
							${warehouseAddress.addressLine2},#{end}
							${warehouseAddress.city}, ${warehouseAddress.state.name}, ${warehouseAddress.pincode}<br /> 
							TIN Number: ${invoice.fromParty.tin}
							</span></td>
							<td style="font-size: 10px;font-weight:bold;" valign="top">
								#if($saleOrder.is_corporate)	
									CATALOGUE: #if($saleOrder.company_name)$saleOrder.company_name #end
								#end
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr cellpadding="10 0 0 10">
				<td>
					<table border="0">
						<tr>
							<td span style="font-size: 9px;font-weight:bold;" align="center" cellpadding="2 2 2 2" colspan="2" valign="top">
								Tax/Retail Invoice cum Delivery Challan
							</td>
						</tr>
						<tr>
							<td width="67%"><span style="font-size: 9px; ">
							<span style="font-weight: bold; ">Invoice Number: </span>
							$invoice.code
							</span></td>
							<td><span style="font-size: 9px; ">
								<span style="font-weight: bold; ">Payment mode: </span>
								#if($saleOrder.payment_type)$saleOrder.payment_type #end
							</span>
							</td>
						</tr>
						<tr>
							<td><span style="font-size: 9px; ">
							<span style="font-weight: bold; ">Invoice Date: </span>
							#if($shippingPackage.dispatchTime)
								${dateutils.dateToString($shippingPackage.dispatchTime,'dd-MMM-yyyy')}
							#else
								${dateutils.dateToString($invoice.created,'dd-MMM-yyyy')}
							#end
							</span></td>
							<td cellpadding="10" rowspan="5" valign="top">
								<span style="font-weight: bold; ">Shipment Id: </span><br/>
								<img src="https://dev.unicommerce.com/barcode/code39/30/1/${shippingPackage.code}"/><br/>
								#if($shippingPackage.shippingProvider.code.toUpperCase() == 'GATI' && $shippingPackage.trackingNumber)
									<span style="font-weight: bold; ">AWB: </span><br/>
									<img src="https://dev.unicommerce.com/barcode/code128c/24/1/${shippingPackage.trackingNumber}"/>
								#end
							</td>
						</tr>
						<tr>
							<td><span style="font-size: 9px; ">
							<span style="font-weight: bold; ">Order Number: </span>
							$saleOrder.displayOrderCode
							</span></td>
						</tr>
						<tr>
							<td><span style="font-size: 9px; ">
							<span style="font-weight: bold; ">Order Date: </span>
							${dateutils.dateToString($saleOrder.displayOrderDateTime,'dd-MMM-yyyy')}
							</span></td>
						</tr>
						<tr>
							<td><span style="font-size: 9px; ">
							<span style="font-weight: bold; ">Kind Att: </span>
							${saleOrder.billingAddress.name}
							</span></td>
						</tr>
						<tr>
							<td><span style="font-size: 9px; ">
								<span style="font-weight: bold; ">M/s: </span>
								#if(${saleOrder.company_name})${saleOrder.company_name} #end
							</span></td>
						</tr>
						#if($saleOrder.tin && $saleOrder.tin != '')
							<tr>
								<td colspan="2">
									<span style="font-size: 9px; ">
										<span style="font-weight: bold; ">TIN: </span>
										$saleOrder.tin
									</span>
								</td>
							</tr>
						#end
						#if($invoice.fromParty.pan && $invoice.fromParty.pan != '')
							<tr>
								<td colspan="2">
									<span style="font-size: 9px; ">
										<span style="font-weight: bold; ">PAN: </span>
										$invoice.fromParty.pan
									</span>
								</td>
							</tr>
						#end
						#if($saleOrder.poNumber && $saleOrder.poNumber != '')
							<tr>
								<td colspan="2">
									<span style="font-size: 9px; ">
										<span style="font-weight: bold; ">PO Number: </span>
										$saleOrder.poNumber
									</span>
								</td>
							</tr>
						#end
						<tr>
							<td colspan="2"><span style="font-size: 9px; ">
							<span style="font-weight: bold; ">Contact Number: </span>
								${saleOrder.billingAddress.phone}
							</span></td>
						</tr>
						<tr>
							<td colspan="2">
								<span style="font-size:9px;">
									<span style="font-weight:bold;">Address: </span>
									${saleOrder.billingAddress.addressLine1}<br/>
									#if($saleOrder.billingAddress.addressLine2)${saleOrder.billingAddress.addressLine2}<br/> #{end}
									${saleOrder.billingAddress.city} - ${saleOrder.billingAddress.pincode}
								</span>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<br/><br/>
		<table border="1" cellpadding="10 10 0 10">
			<tr>
				<span style="font-size: 9px; font-weight: bold; ">
					<td align="center" width="6%" cellpadding="0 0 2 0">Sno.</td>
					<td align="center" cellpadding="0 0 2 0">Description</td>
					<td align="center" width="7%" cellpadding="0 0 2 0">Variation</td>
					<td align="center" width="7%" cellpadding="0 0 2 0">Brand</td>
					<td align="center" width="13%" cellpadding="0 0 2 0">Pre-tax Price</td>
					<td align="center" width="7%" cellpadding="0 0 2 0">Tax Rate</td>
					<td align="center" width="7%" cellpadding="0 0 2 0">Unit Tax</td>
					<td align="center" width="8%" cellpadding="0 0 2 0">Qty</td>
					<td align="center" width="10%" cellpadding="0 0 2 0">Total amount payable</td>
				</span>
			</tr>
			#set($totalQty=0)
			#set($finalTotal=$numberutils.newBigDecimal(0))
			#set($shippingCharges=$numberutils.newBigDecimal(0))
			
			#foreach($invoiceItem in $invoice.invoiceItems) 
			
				#set($serialNo="")
				#if($invoiceItem.quantity < 100)
					#set($additionalInfo=$jsonutils.stringToJson($invoiceItem.additionalInfo))
					#foreach($item in $additionalInfo) 
						#if($item.get("customFields")) #set($customFields=$jsonutils.stringToJson($item.get("customFields").getAsString()))
							#set($serialNo=$serialNo + $customFields.get("SerialNo").getAsString() + ",") 
						#end 
					#end
				#end
				
				#if($serialNo.length()>1)
					#set($index = $serialNo.length() - 1)
					#set($serialNo = "Serial No. " + $serialNo.substring(0, $index))
				#end
				
				#set($tax=$numberutils.newBigDecimal(0))
				#set($inviTotal=$invoiceItem.subtotal)
				#set($unitTax=$numberutils.newBigDecimal(0))
				#set($taxRate=$numberutils.newBigDecimal(0))
				#if($saleOrder.sez_cst && $invoiceItem.cst > 0)
					#set($finalTotal=$finalTotal.add($invoiceItem.subtotal))
				#elseif($saleOrder.sez_vat && $invoiceItem.vat > 0)
					#set($finalTotal=$finalTotal.add($invoiceItem.subtotal))
				#else
					#set($tax=$invoiceItem.vat.add($invoiceItem.cst))
					#set($unitTax = $numberutils.divide($tax,$invoiceItem.quantity))
					#set($taxRate=$invoiceItem.taxPercentage)
					#set($finalTotal=$finalTotal.add($invoiceItem.total))
					#set($inviTotal=$invoiceItem.total)
				#end
				#set($totalQty=$totalQty+${invoiceItem.quantity})
				#set($shippingCharges=$numberutils.divide($invoiceItem.shippingCharges, $invoiceItem.quantity))
				<tr>
					<span style="font-size: 9px; ">
						<td align="left" width="6%" cellpadding="2">$foreach.count</td>
						<td align="left" width="28%" cellpadding="2">${invoiceItem.description}<br/>$serialNo</td>
						<td align="left" width="7%" cellpadding="2">#if(${invoiceItem.itemType.variation})${invoiceItem.itemType.variation} #end</td>
						<td align="left" width="7%" cellpadding="2">#if(${invoiceItem.itemType.brand})${invoiceItem.itemType.brand}#end</td>
						<td align="left" width="13%" cellpadding="2">${invoiceItem.unitPrice}</td>
						<td align="left" width="7%" cellpadding="2">$taxRate.setScale(2)</td>
						<td align="left" width="7%" cellpadding="2"><span style="">$unitTax</span></td>
						<td align="left" width="8%" cellpadding="2"><span style="">${invoiceItem.quantity}</span></td>
						<td align="left" width="10%" cellpadding="2">${inviTotal}</td>
					</span>
				</tr>
			#end
			<tr>
				<span style="font-size: 9px; font-weight: bold; ">
					<td align="left" width="6%" cellpadding="10 10 10 10"></td>
					<td align="left" cellpadding="10 10 10 10"></td>
					<td align="left" width="7%" cellpadding="10 10 10 10"></td>
					<td align="left" width="7%" cellpadding="10 10 10 10"></td>
					<td align="left" width="13%" cellpadding="10 10 10 10"></td>
					<td align="left" width="7%" cellpadding="10 10 10 10"></td>
					<td align="left" width="7%" cellpadding="10 10 10 10"></td>
					<td align="left" width="8%" cellpadding="10 10 10 10"></td>
					<td align="left" width="10%" cellpadding="10 10 10 10"></td>
				</span>
			</tr>
			<tr>
				<span style="font-size: 9px;font-weight:bold; ">
					<td align="left" width="6%" cellpadding="2"></td>
					<td align="left" cellpadding="2">Shipping Charges(Rs. Incl. of Service Tax)</td>
					<td align="left" width="7%" cellpadding="2"></td>
					<td align="left" width="7%" cellpadding="2"></td>
					<td align="left" width="13%" cellpadding="2">
						#if($shippingCharges.intValue() > 0)
							$shippingCharges
						#else
							Free
						#end
					</td>
					<td align="left" width="7%" cellpadding="2"></td>
					<td align="left" width="7%" cellpadding="2"></td>
					<td align="left" width="8%" cellpadding="2"></td>
					<td align="left" width="10%" cellpadding="2"></td>
				</span>
			</tr>
			#set($finalTotal=$finalTotal.add($shippingCharges))	
			#if($prepaidAmount > 0)
				<tr>
					<span style="font-size: 9px;font-weight:bold; ">
						<td align="left" width="6%" cellpadding="2"></td>
						<td align="left" cellpadding="2">Prepaid Amount</td>
						<td align="left" width="7%" cellpadding="2"></td>
						<td align="left" width="7%" cellpadding="2"></td>
						<td align="left" width="13%" cellpadding="2">$prepaidAmount</td>
						<td align="left" width="7%" cellpadding="2"></td>
						<td align="left" width="7%" cellpadding="2"></td>
						<td align="left" width="8%" cellpadding="2"></td>
						<td align="left" width="10%" cellpadding="2"></td>
					</span>
				</tr>
			#end
			<tr>
				<span style="font-size: 9px; font-weight: bold; ">
					<td align="left" width="6%" cellpadding="2"></td>
					<td align="left" width="28%" cellpadding="2">Total</td>
					<td align="left" width="7%" cellpadding="2"></td>
					<td align="left" width="7%" cellpadding="2"></td>
					<td align="left" width="13%" cellpadding="2"></td>
					<td align="left" width="7%" cellpadding="2"></td>
					<td align="left" width="7%" cellpadding="2"></td>
					<td align="left" width="8%" cellpadding="2">$totalQty</td>
					<td align="left" width="10%" cellpadding="2">$math.round($finalTotal)</td>
				</span>
			</tr>
		</table>
		
		<table border="0" cellpadding="0 10 0 10">
			<tr>
				<td colspan="2"><span style="font-size: 9px; font-weight:bold;">Total in Words: $numberutils.toWords($math.round($finalTotal)).toUpperCase() RUPEES ONLY</span></td>
			</tr>
			<tr>
				<td width="8%"><span style="font-size: 9px; ">Note</span></td>
				<td></td>
			</tr>
			<tr>
				<td><span style=" font-size: 9px;">1</span></td>
				<td><span style="font-size: 9px;font-weight: bold;">All Taxes included</span></td>
			</tr>
			<tr>
				<td><span style=" font-size: 9px;">2</span></td>
				<td><span style="font-size: 9px;font-weight: bold;">Includes delivery</span></td>
			</tr>
			<tr>
				<td><span style=" font-size: 9px;">3</span></td>
				<td><span style="font-size: 9px;font-weight: bold;">This is computer generated invoice. No signature or stamp is required.</span></td>
			</tr>
			#if($saleOrder.creditPeriod)
				<tr>
					<td><span style=" font-size: 9px;">4</span></td>
					<td><span style="font-size: 9px;font-weight: bold;">Credit Period for the payment of this invoice is $saleOrder.creditPeriod days.</span></td>
				</tr>
			#end
		</table>
		<pagebreak/>
	#end
#end	
#set($range = [1..2])
#foreach($i in $range)
	<table border="0" align="center" cellpadding="0 10 10 10">
		<tr>
			<td>
				<table border="0 0 1 0">
					<tr cellpadding="0 0 5 0">
						<td width="37%">
							<img src="/object-store/view/${invoice.fromParty.binaryObject.id}" /><br/>
						</td>
						<td width="38%" valign="top"><span style="font-size: 9px; ">
						${invoice.fromParty.name}<br /> 
						#set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('BILLING')}) 
						${warehouseAddress.addressLine1},#if($warehouseAddress.addressLine2)
						${warehouseAddress.addressLine2},#{end}
						${warehouseAddress.city}, ${warehouseAddress.state.name}, ${warehouseAddress.pincode}<br /> 
						TIN Number: ${invoice.fromParty.tin}
						</span></td>
						<td style="font-size: 10px;font-weight:bold;" valign="top"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr cellpadding="10 0 0 10">
			<td>
				<table border="0">
					<tr>
						<td span style="font-size: 9px;font-weight:bold;" align="center" cellpadding="2 2 2 2" colspan="2" valign="top">
							DELIVERY CHALLAN
						</td>
					</tr>
					<tr>
						<td width="67%"><span style="font-size: 9px; ">
						<span style="font-weight: bold; ">Packaged Date: </span>
						${dateutils.dateToString($invoice.created,'dd-MMM-yyyy')}
						</span></td>
						<td><span style="font-size: 9px; ">
						<span style="font-weight: bold; ">Payment mode: </span>
							#if($saleOrder.payment_type)$saleOrder.payment_type #end
						</span></td>
					</tr>
					<tr>
						<td><span style="font-size: 9px; ">
						<span style="font-weight: bold; ">Order Number: </span>
						$saleOrder.displayOrderCode
						</span></td>
						<td cellpadding="10" rowspan="5" valign="top">
							<span style="font-weight: bold; ">Shipment Id: </span><br/>
							<img src="https://dev.unicommerce.com/barcode/code39/30/1/${shippingPackage.code}"/><br/>
							#if($shippingPackage.shippingProvider.code.toUpperCase() == 'GATI' && $shippingPackage.trackingNumber)
								<span style="font-weight: bold; ">AWB: </span><br/>
								<img src="https://dev.unicommerce.com/barcode/code128c/24/1/${shippingPackage.trackingNumber}"/>
							#end
						</td>
					</tr>
					<tr>
						<td><span style="font-size: 9px; ">
						<span style="font-weight: bold; ">Order Date: </span>
						${dateutils.dateToString($saleOrder.displayOrderDateTime,'dd-MMM-yyyy')}
						</span></td>
					</tr>
					<tr>
						<td><span style="font-size: 9px; ">
						<span style="font-weight: bold; ">Invoice Number: </span>
						$invoice.code
						</span></td>
					</tr>
					<tr>
						<td><span style="font-size: 9px; ">
						<span style="font-weight: bold; ">Kind Att: </span>
						${shippingPackage.shippingAddress.name}
						</span></td>
					</tr>
					<tr>
						<td><span style="font-size: 9px; ">
							<span style="font-weight: bold; ">M/s: </span>
							#if(${saleOrder.company_name})${saleOrder.company_name} #end
						</span></td>
					</tr>
					#if($saleOrder.tin && $saleOrder.tin != '')
						<tr>
							<td colspan="2">
								<span style="font-size: 9px; ">
									<span style="font-weight: bold; ">TIN: </span>
									$saleOrder.tin
								</span>
							</td>
						</tr>
					#end
					<tr>
						<td colspan="2"><span style="font-size: 9px; ">
						<span style="font-weight: bold; ">Contact Number: </span>
							${shippingPackage.shippingAddress.phone}
						</span></td>
					</tr>
					<tr>
						<td colspan="2">
							<span style="font-size:9px;">
								<span style="font-weight:bold;">Address: </span>
								${shippingPackage.shippingAddress.addressLine1}<br/>
								#if($shippingPackage.shippingAddress.addressLine2)${shippingPackage.shippingAddress.addressLine2}<br/> #{end}
								${shippingPackage.shippingAddress.city} - ${shippingPackage.shippingAddress.pincode}
							</span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<br/><br/>
	<table border="1" cellpadding="10 10 0 10">
		<tr>
			<span style="font-size: 9px; font-weight: bold; ">
				<td align="center" width="6%" cellpadding="0 0 2 0">Sno.</td>
				<td align="center" cellpadding="0 0 2 0">Description</td>
				<td align="center" width="7%" cellpadding="0 0 2 0">Variation</td>
				<td align="center" width="7%" cellpadding="0 0 2 0">Brand</td>
				<td align="center" width="13%" cellpadding="0 0 2 0">Pre-tax Price</td>
				<td align="center" width="7%" cellpadding="0 0 2 0">Tax Rate</td>
				<td align="center" width="7%" cellpadding="0 0 2 0">Unit Tax</td>
				<td align="center" width="8%" cellpadding="0 0 2 0">Qty</td>
				<td align="center" width="10%" cellpadding="0 0 2 0">Total amount payable</td>
			</span>
		</tr>
		#set($totalQty=0)
		#set($finalTotal=$numberutils.newBigDecimal(0))
		#set($shippingCharges=$numberutils.newBigDecimal(0))
		
		#foreach($invoiceItem in $invoice.invoiceItems) 
		
			#set($serialNo="")
			#if($invoiceItem.quantity < 100)
				#set($additionalInfo=$jsonutils.stringToJson($invoiceItem.additionalInfo))
				#foreach($item in $additionalInfo) 
					#if($item.get("customFields")) #set($customFields=$jsonutils.stringToJson($item.get("customFields").getAsString()))
						#set($serialNo=$serialNo + $customFields.get("SerialNo").getAsString() + ",") 
					#end 
				#end
			#end
			#if($serialNo.length()>1)
				#set($index = $serialNo.length() - 1)
				#set($serialNo = "Serial No. " + $serialNo.substring(0, $index))
			#end
			#set($tax=$numberutils.newBigDecimal(0))
			#set($inviTotal=$invoiceItem.subtotal)
			#set($unitTax=$numberutils.newBigDecimal(0))
			#set($taxRate=$numberutils.newBigDecimal(0))
			#if($saleOrder.sez_cst && $invoiceItem.cst > 0)
				#set($finalTotal=$finalTotal.add($invoiceItem.subtotal))
			#elseif($saleOrder.sez_vat && $invoiceItem.vat > 0)
				#set($finalTotal=$finalTotal.add($invoiceItem.subtotal))
			#else
				#set($tax=$invoiceItem.vat.add($invoiceItem.cst))
				#set($unitTax = $numberutils.divide($tax,$invoiceItem.quantity))
				#set($taxRate=$invoiceItem.taxPercentage)
				#set($finalTotal=$finalTotal.add($invoiceItem.total))
				#set($inviTotal=$invoiceItem.total)
			#end
			#set($totalQty=$totalQty+${invoiceItem.quantity})
			#set($shippingCharges=$numberutils.divide($invoiceItem.shippingCharges, $invoiceItem.quantity))
			<tr>
				<span style="font-size: 9px; ">
					<td align="left" width="6%" cellpadding="2">$foreach.count</td>
					<td align="left" cellpadding="2">${invoiceItem.description}<br/>$serialNo</td>
					<td align="left" width="7%" cellpadding="2">#if(${invoiceItem.itemType.variation})${invoiceItem.itemType.variation} #end</td>
					<td align="left" width="7%" cellpadding="2">#if(${invoiceItem.itemType.brand})${invoiceItem.itemType.brand}#end</td>
					<td align="left" width="13%" cellpadding="2">${invoiceItem.unitPrice}</td>
					<td align="left" width="7%" cellpadding="2">$taxRate.setScale(2)</td>
					<td align="left" width="7%" cellpadding="2"><span style="">$unitTax</span></td>
					<td align="left" width="8%" cellpadding="2"><span style="">${invoiceItem.quantity}</span></td>
					<td align="left" width="10%" cellpadding="2">${inviTotal}</td>
				</span>
			</tr>
		#end
		<tr>
			<span style="font-size: 9px; font-weight: bold; ">
				<td align="left" width="6%" cellpadding="10 10 10 10"></td>
				<td align="left" cellpadding="10 10 10 10"></td>
				<td align="left" width="7%" cellpadding="10 10 10 10"></td>
				<td align="left" width="7%" cellpadding="10 10 10 10"></td>
				<td align="left" width="13%" cellpadding="10 10 10 10"></td>
				<td align="left" width="7%" cellpadding="10 10 10 10"></td>
				<td align="left" width="7%" cellpadding="10 10 10 10"></td>
				<td align="left" width="8%" cellpadding="10 10 10 10"></td>
				<td align="left" width="10%" cellpadding="10 10 10 10"></td>
			</span>
		</tr>
		<tr>
			<span style="font-size: 9px;font-weight:bold; ">
				<td align="left" width="6%" cellpadding="2"></td>
				<td align="left" cellpadding="2">Shipping Charges(Rs. Incl. of Service Tax)</td>
				<td align="left" width="7%" cellpadding="2"></td>
				<td align="left" width="7%" cellpadding="2"></td>
				<td align="left" width="13%" cellpadding="2">
					#if($shippingCharges.intValue() > 0)
						$shippingCharges
					#else
						Free
					#end
				</td>
				<td align="left" width="7%" cellpadding="2"></td>
				<td align="left" width="7%" cellpadding="2"></td>
				<td align="left" width="8%" cellpadding="2"></td>
				<td align="left" width="10%" cellpadding="2"></td>
			</span>
		</tr>
		#set($finalTotal=$finalTotal.add($shippingCharges))
		<tr>
			<span style="font-size: 9px; font-weight: bold; ">
				<td align="left" width="6%" cellpadding="2"></td>
				<td align="left" cellpadding="2">Total</td>
				<td align="left" width="7%" cellpadding="2"></td>
				<td align="left" width="7%" cellpadding="2"></td>
				<td align="left" width="13%" cellpadding="2"></td>
				<td align="left" width="7%" cellpadding="2"></td>
				<td align="left" width="7%" cellpadding="2"></td>
				<td align="left" width="8%" cellpadding="2">$totalQty</td>
				<td align="left" width="10%" cellpadding="2">$math.round($finalTotal)</td>
			</span>
		</tr>
	</table>
	
	<table border="0" cellpadding="0 10 0 10">
		<tr>
			<td colspan="2"><span style="font-size: 9px; font-weight:bold;">Total in Words: $numberutils.toWords($math.round($finalTotal)).toUpperCase() RUPEES ONLY</span></td>
		</tr>
		<tr>
			<td width="8%"><span style="font-size: 9px; ">Note</span></td>
			<td></td>
		</tr>
		<tr>
			<td><span style=" font-size: 9px;">1</span></td>
			<td><span style="font-size: 9px;font-weight: bold;">All Taxes included</span></td>
		</tr>
		<tr>
			<td><span style=" font-size: 9px;">2</span></td>
			<td><span style="font-size: 9px;font-weight: bold;">Includes delivery</span></td>
		</tr>
		<tr>
			<td><span style="font-size: 9px;">3</span></td>
			<td><span style="font-size: 9px;font-weight: bold;">This is computer generated invoice. No signature or stamp is required.</span><br/></td>
		</tr>
		<tr style="font-size: 9px;text-align:justified;" valign="top">
			<td>4</td>
			<td style="font-weight: bold;">
				"Please check the quantity and condition of the items before signing this challan. 
				If you find any item missing or damaged, please write accordingly next to the product on the above list and sign against the same.
				OfficeYes will not be responsible for claims of missing/damaged products without the acknowledgment on the challan."
			</td>
		</tr>
	</table>
	<pagebreak/>
#end