<table border="0">
	<tr>
		<td cellpadding="0 0 0 150">
			<img src="/object-store/view/${invoice.fromParty.binaryObject.id}"/>
		</td>
	</tr>
</table>

<br/>


<table border="0" style="font-size:9px;">
	<tr>
		<td valign="top" style="font-weight:bold;font-size:12px;" colspan="2" align="center">
			#if($saleOrder.invoiceInfo && $saleOrder.invoiceInfo.toLowerCase() == 'retail invoice')
				RETAIL INVOICE
			#else
				TAX INVOICE
			#end
		</td>
	</tr>
	<tr>
		<td colspan="2"> </td>
	</tr>
	#set ($myHashMap = {})
	$myHashMap.put("Jade Eservices Pvt. Ltd.","07570424873")
	$myHashMap.put("Reindeer Software solutions Pvt. Ltd.","06901831596")
	$myHashMap.put("KOOVS MARKETING CONSULTING PRIVATE LIMITED.","07740409114C")
	<tr>
		<td valign="top" style="font-weight:bold;" width="55%">
			${saleOrder.billingAddress.name}<br/>
			${saleOrder.billingAddress.addressLine1}<br/>
			#if(${saleOrder.billingAddress.addressLine2})${saleOrder.billingAddress.addressLine2}<br/> #end
			${saleOrder.billingAddress.city} - ${saleOrder.billingAddress.pincode}<br/> 
			${cache.getCache("locationCache").getStateByCode(${saleOrder.billingAddress.stateCode}).name}<br/>
			${saleOrder.billingAddress.pincode}<br/>
			TIN No. : #if($myHashMap.get(${saleOrder.billingAddress.name}))$myHashMap.get(${saleOrder.billingAddress.name}) #end
			 
		</td>
		<td valign="top">
			#set($warehouseAddress = ${invoice.fromParty.getPartyAddressByType('BILLING')})
			<span style="font-weight:bold;">Invoice No.: ${invoice.code}</span><br/>
			<em>Invoice date</em>: ${dateutils.dateToString($invoice.created,'dd-MMM-yyyy')} <br/>
			<span style="font-weight:bold;">${invoice.fromParty.name}</span><br/>
			$warehouseAddress.addressLine1 #if($warehouseAddress.addressLine2)$warehouseAddress.addressLine2<br/> #end
			$warehouseAddress.city  $warehouseAddress.pincode<br/>
			$warehouseAddress.state.name<br/>
			<span style="font-weight:bold;">TIN NO: ${invoice.fromParty.tin}</span> 
		</td>	
	</tr>
	<tr>
		<td colspan="2"> </td>
	</tr>
	<tr>
		<td valign="top" colspan="2">
			<span style="font-weight:bold;">Order Date</span>: ${dateutils.dateToString($saleOrder.created,'dd-MMM-yyyy')}<br/>
			<span style="font-weight:bold;">PO: </span>${saleOrder.displayOrderCode}<br>
		</td>
	</tr>
</table>
<br/>
<table border="1" cellspacing="0">
	<tr style="font-size:9px;font-weight:bold;" cellpadding="0 0 2 2">
		<td width="10%">Order Date</td>
		<td width="23%">Vendor SKU</td>
		<td width="6%">Qty</td>
		<td width="23%">Product Name</td>
		<td width="9" align="center">MRP</td>
		<td width="11%">Net Discounted Value</td>
		<td width="10%">Total Value</td>
	</tr>
	#set($finalTotal=$numberutils.newBigDecimal(0))
	#set($totalQty=0)
	#set($taxCform=$numberutils.newBigDecimal(0))
	#set($totalTax1=$numberutils.newBigDecimal(0))
	#set($totalTax2=$numberutils.newBigDecimal(0))
	#set($subTotal=$numberutils.newBigDecimal(0))
	#foreach($invoiceItem in $invoice.invoiceItems)
		#set($cstOrVat=$invoiceItem.vat.add($invoiceItem.cst))
		#set($totalQty = $totalQty+$invoiceItem.quantity)
		#set($finalTotal=$finalTotal.add($invoiceItem.total))
		#set($subTotal=$subTotal.add($invoiceItem.subtotal))
		#if($invoiceItem.total.subtract($cstOrVat).intValue() == 0)
			#set($cstPercent = 0 )
		#else
			#set($cstPercent=$numberutils.divide($cstOrVat.multiply($numberutils.newBigDecimal(100)), $invoiceItem.total.subtract($cstOrVat)))
		#end
		#if($cstPercent.intValue()==2)
			#set($taxCform=$taxCform.add($invoiceItem.vat).add($invoiceItem.cst))
		#elseif($cstPercent.intValue()==5)
			#set($totalTax1=$totalTax1.add($invoiceItem.vat).add($invoiceItem.cst))
		#else
			#set($totalTax2=$totalTax2.add($invoiceItem.vat).add($invoiceItem.cst))
		#end
		<tr style="font-size:9px;" cellpadding="0 0 2 2">
			<td>${dateutils.dateToString($saleOrder.created,'dd-MMM-yy')}</td>
			<td>${invoiceItem.itemType.skuCode}</td>
			<td align="center">${invoiceItem.quantity}</td>
			<td>${invoiceItem.itemType.name}</td>
			<td align="center">#if(${invoiceItem.itemType.maxRetailPrice})${invoiceItem.itemType.maxRetailPrice} #end</td>
			#set($price = $numberutils.divide(${invoiceItem.subtotal},${invoiceItem.quantity}))
			<td align="center">$price</td>
			<td align="center">${invoiceItem.subtotal}</td>
		</tr>
	#end
	<tr style="font-size:9px;" cellpadding="0 2 2 2">
		<td> </td>
		<td align="center">Total</td>
		<td align="center">$totalQty</td>
		<td colspan="3"> </td>
		<td align="right">$subTotal</td>
	</tr>
</table>
<br/>

<table border="0">
	<tr style="font-size:9px;">
		<td valign="top" rowspan="3" width="67%">
			<img src="/object-store/view/21" width="60" height="28" />
		</td>
		<td style="font-weight:bold;" width="20%" cellpadding="0 2 2 2" border="1 0 0 1">
			SUB TOTAL
		</td>
		<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 0 0" align="right">
			$subTotal			
		</td>
	</tr>
	#if($cstPercent.intValue()==2)
		#set($taxCform=$taxCform.add($totalTax1).add($totalTax2))
		<tr style="font-size:9px;">
			<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 0 0 1">
				Tax @ 2%		
			</td>
			<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 0 0" align="right">
				$taxCform	
			</td>
		</tr>
		<tr style="font-size:9px;">
			<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 0 0 1">
			</td>
			<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 0 0" align="right">
			</td>
		</tr>
	#else
		<tr style="font-size:9px;">
			<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 0 0 1">
				CST/VAT-5%		
			</td>
			<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 0 0" align="right">
				$totalTax1	
			</td>
		</tr>
		<tr style="font-size:9px;">
			<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 0 0 1">
				CST/VAT-12.5%		
			</td>
			<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 0 0" align="right">
				$totalTax2	
			</td>
		</tr>
	#end
	<tr style="font-size:9px;">
		<td valign="bottom">
			Authorised Signatory 
		</td>
		<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 0 1 1">
			TOTAL			
		</td>
		<td style="font-weight:bold;" cellpadding="0 2 2 2" border="1 1 1 0" align="right">
			$finalTotal
		</td>
	</tr>
	<tr style="font-size:9px;">
		<td style="font-weight:bold;" colspan="3" cellpadding="0 2 2 2" align="right">
			Total Amount in Words: $numberutils.toWords($finalTotal.intValue())
		</td>
	</tr>
</table>




