#set($skuToSkuDetails = {})
#set($skuToCount = {})
#set($displayName = "")
#foreach($picklist in $picklists)
	#foreach($pickBucketSlot in $picklist.pickBucketSlots)
		#set($displayName = $pickBucketSlot.shippingPackage.facility.displayName)
	    #foreach($saleOrderItem in $pickBucketSlot.shippingPackage.saleOrderItems)
	        #if(!$skuToSkuDetails[$saleOrderItem.itemType.skuCode]) 
	            #set($skuToSkuDetails[$saleOrderItem.itemType.skuCode] = $saleOrderItem.itemType)
	        #end
	        #if(!$skuToCount[$saleOrderItem.itemType.skuCode])
	            #set($skuToCount[$saleOrderItem.itemType.skuCode] = 1)
	        #else
	        	#set($count = $skuToCount[$saleOrderItem.itemType.skuCode] + 1)
	            #set($skuToCount[$saleOrderItem.itemType.skuCode] = $count)
	        #end
	    #end
    #end
#end
<span style="font-size:14px;">Lazada Picksheet ${dateutils.dateToString($dateutils.getCurrentDate(),'dd MMM yyyy hh:mm')}</span>
<br/>
<span>$displayName</span>
<br/><br/>
<table class="abc" id="dataTable" class="dataTable" border="1">
<tr>
<th width="7%">S.No.</th>
<th>Seller SKU</th>
<th>Lazada SKU</th>
<th>Item Name</th>
<th width="10%">Brand</th>
<th width="7%">Qty</th>
<th>Image</th>
</tr>

#foreach($skuCode in $skuToSkuDetails.keySet())
#set($itemType = $skuToSkuDetails[$skuCode])
<tr>
<td>${foreach.count}</td>
<td>
	#if($itemType.facilitySkuCode.indexOf('(') != -1)
		$itemType.facilitySkuCode.substring(0, $itemType.facilitySkuCode.indexOf('('))
	#{else}
		$itemType.facilitySkuCode
	#{end}
</td>
<td>$itemType.skuCode</td>
<td>$itemType.name</td>
<td>$itemType.brand</td>
<td>$skuToCount[$skuCode]</td>
<td>#if($itemType.imageUrl)<img src="$itemType.imageUrl"/>#{end}</td>
</tr>
#end
</table>
