#set($skuToSkuDetails = {})
#set($skuToCount = {})
#foreach($shippingPackage in $shippingPackages)
    #foreach($saleOrderItem in $shippingPackage.saleOrderItems)
        #if(!$skuToSkuDetails[$saleOrderItem.itemType.skuCode]) 
            #set($skuToSkuDetails[$saleOrderItem.itemType.skuCode] = $saleOrderItem.itemType)
        #end
        #if(!$skuToCount[$saleOrderItem.itemType.skuCode])
            #set($skuToCount[$saleOrderItem.itemType.skuCode] = 1)
        #else
        	#set($count = $skuToCount[$saleOrderItem.itemType.skuCode] + 1)
            #set($skuToCount[$saleOrderItem.itemType.skuCode] = $count)
        #end
    #end
#end
<table class="abc" id="dataTable" class="dataTable" border="1">
<tr>
<th width="7%">S.No.</th>
<th>SKU</th>
<th>Item Name</th>
<th width="10%">Brand</th>
<th width="7%">Qty</th>
<th>Image</th>
</tr>

#foreach($skuCode in $skuToSkuDetails.keySet())
#set($itemType = $skuToSkuDetails[$skuCode])
<tr>
<td>${foreach.count}</td>
<td>${skuCode}</td>
<td>$itemType.name</td>
<td>$itemType.brand</td>
<td>$skuToCount[$skuCode]</td>
<td>#if($itemType.imageUrl)<img src="$itemType.imageUrl"/>#{end}</td>
</tr>
#end
</table>