#set($facility=${cache.getCache('facilityCache').currentFacility})
#set($facilityAddress=$facility.getPartyAddressByType('SHIPPING'))
<table border="1">
	<tr style="font-size:11px;font-weight:bold;">
		<td align="center" cellpadding="0 0 5 0">
			$facility.name<br/>
			<span style="font-size:9px;font-weight:bold">
				$facilityAddress.addressLine1, $facilityAddress.addressLine2, $facilityAddress.city<br/>
				TIN No. #if($facility.tin)$facility.tin #end
			</span>
		</td>
	</tr>
	<tr>
		<td cellpadding="0 0 0 0">
			<table border="0 0 0 0">
				<tr style="font-size:11px;font-weight:bold;text-decoration:underline;">
					<td colspan="4" align="center">
						OUTBOUND GATE PASS
					</td>
				</tr>
				<tr>
					<td colspan="4" align="center"> </td>
				</tr>
				<tr style="font-size:9px;" valign="top">
					<td style="font-weight:bold;" width="15%" cellpadding="5 0 0 10">To Party:</td>
					<td cellpadding="5 0 0 6" width="35%" style="font-size:10px;">
						<span style="font-weight: bold;">$gatePass.toParty.name</span><br/>
						#set($partyAddress = $gatePass.toParty.getPartyAddressByType('SHIPPING'))
						#if($partyAddress)
							$partyAddress.addressLine1 #if($partyAddress.addressLine2)$partyAddress.addressLine2 #end
							$partyAddress.city<br/>
							${cache.getCache('locationCache').getStateByCode($partyAddress.stateCode).name} - $partyAddress.pincode
						#end
					</td>
					<td style="font-weight:bold;"  width="20%" cellpadding="5 0 0 10">GatePass Number:</td>
					<td cellpadding="5 0 0 10" width="30%"><img src="https://dev.unicommerce.com/barcode/code39/18/1/${gatePass.code}" /></td>
				</tr>	
				<tr style="font-size:9px;" valign="top">
					<td style="font-weight:bold;" cellpadding="0 0 0 10">Type</td>
					<td cellpadding="0 0 0 6">$gatePass.type</td>
					<td style="font-weight:bold;" cellpadding="0 0 0 10">Status:</td>
					<td cellpadding="0 0 0 10"  >$gatePass.statusCode</td>
				</tr>
				<tr style="font-size:9px;" valign="top">
					<td style="font-weight:bold;" cellpadding="0 0 0 10" >Created By:</td>
					<td cellpadding="0 0 0 6">$gatePass.user.name</td>
					<td style="font-weight:bold;" cellpadding="0 0 0 10">Reference Number:</td>
					<td cellpadding="0 0 0 10" >$gatePass.referenceNumber</td>
				</tr>
				#set($qty=0)
				#foreach($gatePassItems in $gatePass.outboundGatePassItems)
					#set($qty=$qty+$gatePassItems.quantity)
				#end
				<tr style="font-size:9px;" valign="top" cellpadding="0 0 0 10">
					<td style="font-weight:bold;" cellpadding="0 0 0 10">Created At:</td>
					<td cellpadding="0 0 0 6">$dateutils.dateToString($gatePass.created,'dd/mm/yy')</td>
					<td style="font-weight:bold;" cellpadding="0 0 0 10">Quantity:</td>
					<td cellpadding="0 0 0 10">$qty</td>
				</tr>
				<tr style="font-size:9px;" valign="top" cellpadding="0 0 0 10">
					<td style="font-weight:bold;"  cellpadding="0 0 0 10">Purpose:</td>
					<td cellpadding="0 0 0 6" colspan="3">$gatePass.purpose</td>
				</tr>
				<tr>
					<td colspan="4" > </td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table border="1">
	<tr style="font-size:8px;font-weight:bold;">
		<td align="center" cellpadding="0 0 2 0" width="7%">SL No.</td>
		<td align="center" cellpadding="0 0 2 0" width="20%">Item SKU</td>
		<td align="center" cellpadding="0 0 2 0">Item Type</td>
		<td align="center" cellpadding="0 0 2 0">
			#if($gatePass.outboundGatePassItems.iterator().next().item)
				Item Code
			#else
				Qty
			#end
		</td>
		<td align="center" cellpadding="0 0 2 0">GRN No.</td>
		<td align="center" cellpadding="0 0 2 0" width="15%">MRP(Rs.)</td>
	</tr>
	#set($finalTotal=$numberutils.newBigDecimal(0))
	#foreach($gatePassItems in $gatePass.outboundGatePassItems)
		<tr style="font-size:8px;">
			<td align="center" cellpadding="0 0 2 0">$foreach.count</td>
			<td align="center" cellpadding="0 1 2 1">$gatePassItems.itemType.skuCode</td>
			<td align="center" cellpadding="0 0 2 0">$gatePassItems.itemType.name</td>
			#if($gatePass.outboundGatePassItems.iterator().next().item)
				<td align="center" cellpadding="0 0 2 0">$gatePassItems.item.code</td>
			#else 
				<td align="center" cellpadding="0 0 2 0">$gatePassItems.quantity</td>
			#end
			<td align="center" cellpadding="0 0 2 0">
				#if($gatePassItems.item.inflowReceiptItem.inflowReceipt.code)
					$gatePassItems.item.inflowReceiptItem.inflowReceipt.code
				#else 
					-
				#end
			</td>
			#if($gatePassItems.item.inflowReceiptItem)
				#set($total = $numberutils.divide($gatePassItems.item.inflowReceiptItem.total, $gatePassItems.item.inflowReceiptItem.quantity))
				#set($finalTotal = $finalTotal.add($total))
				<td align="center" cellpadding="0 0 2 0">$total</td>
			#else
				#set($total = 0.0)
				#set($finalTotal = $finalTotal.add($total))
				<td align="center" cellpadding="0 0 2 0">-</td>
			#end
		</tr>
	#end
	<tr style="font-size:8px;">
		<td align="right" colspan="5" cellpadding="0 15 2 0" style="font-weight:bold;">
			Total
		</td>
		<td align="center" cellpadding="0 0 2 0">
			$finalTotal
		</td>
	</tr>
	<tr  style="font-size:9px;font-weight: bold;" align="center">
		<td colspan="3" valign="top" cellpadding="2 0 75 0">
			Authorized by:
		</td>
		<td colspan="3" valign="top" cellpadding="2 0 75 0">
			Checked by:
		</td>
	</tr>
</table>