#set($facility=${cache.getCache('facilityCache').currentFacility})
#set($facilityAddress=$facility.getPartyAddressByType('SHIPPING'))
#set($firstItem = $gatePass.outboundGatePassItems.iterator().next().item)
	
#if($gatePass.type.toUpperCase() == 'NON_RETURNABLE' && $firstItem.statusCode.toUpperCase() == 'QC_REJECTED')
	<table border="1">
		<tr style="font-size:12px;font-weight:bold;">
			<td colspan="2" align="center" cellpadding="0 0 5 0">
				$facility.name<br/>
				<span style="font-size:9px;font-weight:bold">
					$facilityAddress.addressLine1, $facilityAddress.addressLine2, $facilityAddress.city<br/>
					TIN No. #if($facility.tin)$facility.tin #end
				</span>
			</td>
		</tr>
		
		<tr style="font-size:14px;font-weight:bold;" cellpadding="0 0 5 0">
			<td colspan="2" align="center">DEBIT NOTE</td>
		</tr>
		#set($partyAddress = ${gatePass.toParty.getPartyAddressByType('SHIPPING')})
		<tr style="font-size:9px;" valign="top">
			<td "width="60%" cellpadding="1 0 10 2">
				<span style="font-weight:bold;">
					To<br/>
					$gatePass.toParty.name<br/>
					$partyAddress.addressLine1<br/>
					#if($partyAddress.addressLine2)$partyAddress.addressLine2 <br/> #end 
					$partyAddress.city<br/>
					TIN No. #if($gatePass.toParty.tin)$gatePass.toParty.tin #end
				</span>
			</td>
			<td style="font-weight:bold;" cellpadding="1 0 0 2">
				DEBIT NOTE NO.- $gatePass.code<br/>
				Date: ${dateutils.dateToString($gatePass.created, 'dd.MM.yyyy')}<br/>
			</td>
		</tr>	
	</table>
	<table border="0 0 0 0">
		<tr style="font-size:8px;font-weight:bold;" align="center" border="1">
			<td align="center" cellpadding="0 0 2 0" width="7%">SL<br/>No.</td>
			<td align="center" cellpadding="0 0 2 0" width="16%">Product Code</td>
			<td align="center" cellpadding="0 0 2 0" width="14%">Vendor SkuCode</td>
			<td align="center" cellpadding="0 0 2 0" width="33%">DESCRIPTION</td>
			<td align="center" cellpadding="0 0 2 0" width="5%">Qty</td>
			<td align="center" cellpadding="0 0 2 0" width="13%">GRN Number</td>
			<td align="right" cellpadding="0 2 2 0" width="10%">AMOUNT<br/>RS.</td>
		</tr>
		
		#set($finalTotal=$numberutils.newBigDecimal(0))
		#foreach($gatePassItem in $gatePass.outboundGatePassItems)
			#set($total=$numberutils.divide($gatePassItem.item.inflowReceiptItem.total,$gatePassItem.item.inflowReceiptItem.quantity))
			<tr style="font-size:9px;">
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 1">$foreach.count</td>
				<td align="left" cellpadding="0 0 2 2" border="0 1 0 0">${gatePassItem.item.itemType.skuCode}-${gatePassItem.item.code}</td>
				<td align="center" cellpadding="0 0 2 2" border="0 1 0 0">$gatePassItem.item.inflowReceiptItem.purchaseOrderItem.vendorSkuCode</td>
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 0">$gatePassItem.item.itemType.name</td>
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 0">1</td>
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 0">${gatePassItem.item.inflowReceiptItem.inflowReceipt.code}</td>
				<td align="right" cellpadding="0 4 2 0" border="0 1 0 0">$total</td>
			</tr>
			#set($finalTotal=$finalTotal.add($total))
		#end
	
		
		<tr style="font-size:9px;" height="8%">
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 1"> </td>
				<td align="left" cellpadding="0 0 2 2" border="0 1 0 0"> </td>
				<td align="left" cellpadding="0 0 2 2" border="0 1 0 0"> </td>
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 0"> </td>
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 0"> </td>
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 0"> </td>
				<td align="right" cellpadding="0 4 2 0" border="0 1 0 0"> </td>
		</tr>
		<tr style="font-size:9px;">
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 1"> </td>
				<td align="left" cellpadding="0 0 2 2" border="0 1 0 0"> </td>
				<td align="center" cellpadding="0 0 2 2" border="0 1 0 0" style="font-weight:bold;"> </td>
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 0"> </td>
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 0"> </td>
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 0"> </td>
				<td align="right" cellpadding="0 4 2 0" border="0 1 0 0"> </td>
		</tr>
		
		<tr style="font-size:9px;">
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 1"> </td>
				<td align="left" cellpadding="0 0 2 2" border="0 1 0 0"> </td>
				<td align="center" cellpadding="0 0 2 2" border="0 1 0 0"> </td>
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 0"> </td>
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 0"> </td>
				<td align="center" cellpadding="0 0 2 0" border="0 1 0 0"> </td>
				<td align="right" cellpadding="0 4 2 0" border="0 1 0 0"> </td>
		</tr>
		<tr style="font-size:9px;font-weight:bold;" align="center" border="1">
			<td align="center" cellpadding="0 0 2 0" colspan="4"> </td>
			<td align="center" cellpadding="0 0 2 0"></td>
			<td align="center" cellpadding="0 0 2 0">Grand Total Rs.</td>
			<td align="right" cellpadding="0 2 2 0" >$finalTotal</td>
		</tr>
		<tr style="font-size:9px;font-weight:bold;" border="1">
			<td  cellpadding="0 0 2 2" colspan="5">
				Amount in words: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $numberutils.toWords($finalTotal.intValue())
			</td>
			
			<td align="center" cellpadding="0 0 2 0"> </td>
			<td align="right" cellpadding="0 2 2 0" > </td>
		</tr>
	</table>
	<table border="1">
		<tr>
			<td colspan="5"><br/></td>
		</tr>
		<tr >
			<td colspan="5"><br/></td>
		</tr>
		<tr style="font-size:9px;font-weight:bold;">
			<td width="35%" cellpadding="0 0 0 2"> </td>
			<td width="13%" cellpadding="0 0 2 2">Exice Duty:<br/>Not Applicable</td>
			<td width="15%" cellpadding="0 0 2 2">Freight Charges<br/>Inclusive</td>
			<td width="12%" cellpadding="0 0 0 2"> </td>
			<td width="15%" cellpadding="0 0 2 2">Form:<br/>As Applicable</td>
		</tr>
		<tr style="font-size:9px;font-weight:bold;">
			<td cellpadding="0 0 0 1"></td>
			<td cellpadding="0 0 2 2" colspan="2" rowspan="2" valign="top">Packing and Forwarding:<br/>Proper Packing by you</td>
			<td cellpadding="0 0 2 2" colspan="2" rowspan="2" valign="top">Delivery through:<br/>As per your arrangement</td>
		</tr>
		<tr valign="top" style="font-size:7px;font-weight:bold;">
			#if($firstItem)
				<td cellpadding="0 0 0 2">
					Note:DN raised for Vendor Invoice No: $firstItem.inflowReceiptItem.inflowReceipt.vendorInvoiceNumber, 
					Date: ${dateutils.dateToString($firstItem.inflowReceiptItem.inflowReceipt.vendorInvoiceDate, 'dd.MM.yyyy')}, 
					PO No: $firstItem.inflowReceiptItem.inflowReceipt.purchaseOrder.code
				</td>
			#else
				<td cellpadding="0 0 0 2">Note:DN raised for Vendor Invoice No: -, Date: -, PO No: -</td>
			#end
		</tr>
		<tr valign="top" style="font-weight:bold;font-size:9px;">
			<td cellpadding="0 0 0 2"> </td>
			<td cellpadding="0 0 0 2"> </td>
			<td cellpadding="0 0 0 2"> </td>
			<td cellpadding="0 0 0 25" colspan="2" align="center">For $facility.name<br/>
			<img src="https://dev.unicommerce.com/object-store/view/9" /><br/>
			(AUTHORIZED SIGNATORY)</td>
		</tr>
	</table>
	
#else

	<table border="1">
		<tr style="font-size:11px;font-weight:bold;">
			<td align="center" cellpadding="0 0 5 0">
				$facility.name<br/>
				<span style="font-size:9px;font-weight:bold">
					$facilityAddress.addressLine1, $facilityAddress.addressLine2, $facilityAddress.city<br/>
					TIN No. #if($facility.tin)$facility.tin #end
				</span>
			</td>
		</tr>
		<tr>
			<td cellpadding="0 0 0 0">
				<table border="0 0 0 0">
					<tr style="font-size:11px;font-weight:bold;text-decoration:underline;">
						<td colspan="4" align="center">
							OUTBOUND GATE PASS
						</td>
					</tr>
					<tr>
						<td colspan="4" align="center"> </td>
					</tr>
					<tr style="font-size:9px;" valign="top">
						<td style="font-weight:bold;" width="15%" cellpadding="5 0 0 10">To Party:</td>
						<td cellpadding="5 0 0 6" width="35%" style="font-weight: bold;font-size:10px;">$gatePass.toParty.name</td>
						<td style="font-weight:bold;"  width="20%" cellpadding="5 0 0 10">GatePass Number:</td>
						<td cellpadding="5 0 0 10" width="30%"><img src="https://dev.unicommerce.com/barcode/code39/18/1/${gatePass.code}" /></td>
					</tr>	
					<tr style="font-size:9px;" valign="top">
						<td style="font-weight:bold;" cellpadding="0 0 0 10">Type</td>
						<td cellpadding="0 0 0 6">$gatePass.type</td>
						<td style="font-weight:bold;" cellpadding="0 0 0 10">Status:</td>
						<td cellpadding="0 0 0 10"  >$gatePass.statusCode</td>
					</tr>
					<tr style="font-size:9px;" valign="top">
						<td style="font-weight:bold;" cellpadding="0 0 0 10" >Created By:</td>
						<td cellpadding="0 0 0 6">$gatePass.user.name</td>
						<td style="font-weight:bold;" cellpadding="0 0 0 10">Reference Number:</td>
						<td cellpadding="0 0 0 10" >$gatePass.referenceNumber</td>
					</tr>
					#set($qty=0)
					#foreach($gatePassItems in $gatePass.outboundGatePassItems)
						#set($qty=$qty+1)
					#end
					<tr style="font-size:9px;" valign="top" cellpadding="0 0 0 10">
						<td style="font-weight:bold;" cellpadding="0 0 0 10">Created At:</td>
						<td cellpadding="0 0 0 6">$gatePass.created</td>
						<td style="font-weight:bold;" cellpadding="0 0 0 10">Quantity:</td>
						<td cellpadding="0 0 0 10">$qty</td>
					</tr>
					<tr style="font-size:9px;" valign="top" cellpadding="0 0 0 10">
						<td style="font-weight:bold;"  cellpadding="0 0 0 10">Purpose:</td>
						<td cellpadding="0 0 0 6" colspan="3">$gatePass.purpose</td>
					</tr>
					<tr>
						<td colspan="4" > </td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table border="1">
		<tr style="font-size:8px;font-weight:bold;">
			<td align="center" cellpadding="0 0 2 0" width="7%">SL No.</td>
			<td align="center" cellpadding="0 0 2 0">Item Code</td>
			<td align="center" cellpadding="0 0 2 0" width="14%">Item SKU</td>
			<td align="center" cellpadding="0 0 2 0">Item Type</td>
			<td align="center" cellpadding="0 0 2 0">GRN No.</td>
			<td align="center" cellpadding="0 0 2 0" width="15%">MRP(Rs.)</td>
		</tr>
		#set($finalTotal=$numberutils.newBigDecimal(0))
		#foreach($gatePassItems in $gatePass.outboundGatePassItems)
			<tr style="font-size:8px;">
				<td align="center" cellpadding="0 0 2 0">$foreach.count</td>
				<td align="center" cellpadding="0 0 2 0">$gatePassItems.item.code</td>
				<td align="center" cellpadding="0 0 2 0">$gatePassItems.item.itemType.skuCode</td>
				<td align="center" cellpadding="0 0 2 0">$gatePassItems.item.itemType.name</td>
				<td align="center" cellpadding="0 0 2 0">$gatePassItems.item.inflowReceiptItem.inflowReceipt.code</td>
				#set($total = $numberutils.divide($gatePassItems.item.inflowReceiptItem.total, $gatePassItems.item.inflowReceiptItem.quantity))
				#set($finalTotal = $finalTotal.add($total))
				<td align="center" cellpadding="0 0 2 0">$total</td>
			</tr>
		#end
		<tr style="font-size:8px;">
			<td align="right" colspan="5" cellpadding="0 15 2 0" style="font-weight:bold;">
				Total
			</td>
			<td align="center" cellpadding="0 0 2 0">
				$finalTotal
			</td>
		</tr>
		<tr  style="font-size:9px;font-weight: bold;" align="center">
			<td colspan="3" valign="top" cellpadding="2 0 75 0">
				Authorized by:
			</td>
			<td colspan="3" valign="top" cellpadding="2 0 75 0">
				Checked by:
			</td>
		</tr>
	</table>
#end	